.RadAutoCompleteBox_Windows7 {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 16px; }
  .RadAutoCompleteBox_Windows7 .racTokenList {
    border-color: #b8cbde;
    color: #000000;
    background-color: #ffffff; }
  .RadAutoCompleteBox_Windows7 .racDisabled {
    border-color: #d9d9d9;
    color: #a7a7a7;
    background-color: #ffffff; }
  .RadAutoCompleteBox_Windows7 .racToken {
    border-radius: 3px;
    background-image: url('Common/radGradientButtonSprite.png');
    border-color: #c2cedb;
    color: #1e395b;
    background-color: #dde8f6;
    background-image: linear-gradient(#f4f8fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%); }
  .RadAutoCompleteBox_Windows7 .racTokenHovered {
    border-color: #c2dbfb;
    color: #1e395b;
    background-color: #e7ecf5;
    background-image: linear-gradient(#fcfdfe 0%, #f7f8fb 50%, #edf2f9 50%, #e7ecf5 100%); }
  .RadAutoCompleteBox_Windows7 .racTokenSelected {
    border-color: #9bc9ff;
    color: #1e395b;
    background-color: #dde8f6;
    background-image: linear-gradient(#f3f7fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%); }
  .RadAutoCompleteBox_Windows7 .racDisabled .racToken {
    border-color: #dddddd;
    color: #a7a7a7;
    background-color: #e7e7e7;
    background-image: linear-gradient(#f7f7f7 0%, #e7e7e7 100%); }
  .RadAutoCompleteBox_Windows7 .racRemoveTokenLink {
    background-image: url('Common/radActionsSprite.png');
    background-position: -2px -1342px; }
  * + html .RadAutoCompleteBox_Windows7 .racInput {
    color: #000000;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBox_Windows7 .racEmptyMessage {
    color: #a7a7a7; }
  .RadAutoCompleteBox_Windows7 .racLoadingIcon {
    background-image: url('Common/loading_small.gif'); }

.RadAutoCompleteBoxPopup_Windows7 {
  border-color: #c1dbfc;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBoxPopup_Windows7 .racHeader,
  .RadAutoCompleteBoxPopup_Windows7 .racFooter {
    border-color: #aabfd6;
    color: #000000;
    background-color: #f1f5fb; }
  .RadAutoCompleteBoxPopup_Windows7 .racShowAll {
    border-color: #aabfd6;
    color: #000000;
    background-color: #f1f5fb; }
  .RadAutoCompleteBoxPopup_Windows7 .racItemHovered {
    color: #1e395b;
    background-color: #eef6ff; }
