.RadComboBox_Windows7 {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBox_Windows7 .rcbInputCell, .RadComboBox_Windows7 .rcbArrowCell {
    background-image: url('Common/radFormSprite.png'); }
  .RadComboBox_Windows7 .rcbInput {
    color: #000000;
    font-size: 12px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 16px; }
  .RadComboBox_Windows7 .rcbEmptyMessage {
    color: #a7a7a7; }
  .RadComboBox_Windows7 .rcbHovered .rcbInput {
    color: #000000; }
  .RadComboBox_Windows7 .rcbFocused .rcbInput {
    color: #000000; }
  .RadComboBox_Windows7 .rcbReadOnly .rcbInput {
    color: #1e395b; }
  .RadComboBox_Windows7 .rcbHovered .rcbReadOnly .rcbInput {
    color: #1e395b; }
  .RadComboBox_Windows7 .rcbFocused .rcbReadOnly .rcbInput {
    color: #1e395b; }

.RadComboBoxDropDown_Windows7 {
  border-color: #aabfd6;
  color: #333333;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBoxDropDown_Windows7 .rcbHovered {
    color: #1e395b;
    background-color: #eef6ff; }
  .RadComboBoxDropDown_Windows7 .rcbSelected {
    color: #1e395b;
    background-color: #c3dcfc; }
  .RadComboBoxDropDown_Windows7 .rcbLoading {
    color: #1e395b;
    background-color: #eef6ff; }
  .RadComboBoxDropDown_Windows7 .rcbItem em {
    color: #1e395b;
    background-color: #eef6ff; }
  .RadComboBoxDropDown_Windows7 .rcbCheckAllItems {
    border-color: #aabfd6;
    color: #000000;
    background-color: #f1f5fb; }
  .RadComboBoxDropDown_Windows7 .rcbMoreResults {
    border-color: #aabfd6;
    color: #000000;
    background-color: #f1f5fb; }
  .RadComboBoxDropDown_Windows7 .rcbSeparator {
    color: #000000;
    background: #f1f5fb; }
