.RadDropDownList_Windows7 {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadDropDownList_Windows7 .rddlInner {
    border-radius: 3px;
    border-color: #c2cedb;
    color: #1e395b;
    background-color: #dde7f5;
    background-image: url('Common/radGradientButtonSprite.png');
    background-image: linear-gradient(#f4f8fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%); }
  .RadDropDownList_Windows7 .rddlEmptyMessage,
  .RadDropDownList_Windows7 .rddlDefaultMessage {
    color: #a7a7a7; }
  .RadDropDownList_Windows7 .rddlIcon {
    background-image: url('Common/radActionsSprite.png');
    background-position: -22px -20px; }
  .RadDropDownList_Windows7 .rddlHovered {
    border-color: #c2dbfb;
    color: #1e395b;
    background-color: #edf2f9;
    background-image: linear-gradient(#fcfdfe 0%, #f7f8fb 50%, #edf2f9 50%, #e7ecf5 100%); }
    .RadDropDownList_Windows7 .rddlHovered .rddlIcon {
      background-position: -22px -20px; }
  .RadDropDownList_Windows7 .rddlFocused {
    border-color: #9bc9ff;
    color: #1e395b;
    background-color: #dde7f5;
    background-image: linear-gradient(#f3f7fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%); }
    .RadDropDownList_Windows7 .rddlFocused .rddlIcon {
      background-position: -22px -20px; }

.rddlPopup_Windows7 {
  border-color: #c1dbfc;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .rddlPopup_Windows7 .rddlHeader,
  .rddlPopup_Windows7 .rddlFooter {
    border-color: #aabfd6;
    color: #000000;
    background-color: #f1f5fb; }
  .rddlPopup_Windows7 .rddlItemHovered {
    color: #1e395b;
    background-color: #eef6ff; }
  .rddlPopup_Windows7 .rddlItemSelected {
    color: #1e395b;
    background-color: #c3dcfc; }
  .rddlPopup_Windows7 .rddlItemLoading {
    color: #1e395b;
    background-color: #eef6ff; }
