.RadGantt_Windows7 {
  border-color: #aabfd6;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadGantt_Windows7 .k-loading-color {
    background-color: #ffffff; }
  .RadGantt_Windows7 .k-loading-image {
    background-image: url('Common/loading.gif'); }
  .RadGantt_Windows7 .rgtHeader {
    border-color: #aabfd6;
    color: #1e395b;
    background-color: #dde8f6;
    background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6); }
  .RadGantt_Windows7 .rgtFooter {
    border-color: #aabfd6;
    color: #1e395b;
    background-color: #dde8f6; }
  .RadGantt_Windows7 .rgtTreelist {
    background-color: #f7f9fc; }
  .RadGantt_Windows7 .rgtTreelist .radAlt {
    background-color: #eaf1f8; }
  .RadGantt_Windows7 .rgtTreelist .radStateFocused {
    box-shadow: inset 0 0 5px #8fb0d6; }
  .RadGantt_Windows7 .rgtTreelist .radStateSelected {
    color: #1e395b;
    background-color: #c2dcfc;
    background-image: linear-gradient(#daeafc, #c2dcfc); }
  .RadGantt_Windows7 .rgtTreelist .radStateSelected td {
    border-top-color: #1e395b;
    border-bottom-color: #1e395b; }
  .RadGantt_Windows7 .rgtSplitbar {
    border-color: #aabfd6;
    background-color: #f1f5fb; }
  .RadGantt_Windows7 .rgtSplitbar .radResizeHandle {
    border-radius: 2px;
    background-color: #aabfd6; }
  .RadGantt_Windows7 .rgtSplitbarHover {
    border-color: #88a5c5;
    background-color: #c9d9f0; }
  .RadGantt_Windows7 .radLine {
    background-color: #1e395b; }
  .RadGantt_Windows7 .radArrowE, .RadGantt_Windows7 .radArrowW {
    color: #1e395b; }
  .RadGantt_Windows7 .radLine.radStateSelected {
    background-color: #000000;
    box-shadow: 0 1px 3px #898989; }
  .RadGantt_Windows7 .radLine.radStateSelected .radArrowE, .RadGantt_Windows7 .radLine.radStateSelected .radArrowW {
    color: #000000; }
  .RadGantt_Windows7 .radMarqueeColor {
    background-color: rgba(214, 232, 238, 0.7); }
  .RadGantt_Windows7 .rgtTaskDot:after {
    border-color: #1e395b;
    background-color: #1e395b; }
  .RadGantt_Windows7 .rgtTaskDot:hover:after {
    border-color: #1e395b;
    background-color: #fff; }
  .RadGantt_Windows7 .rgtResource {
    background-color: #ffffff; }
  .RadGantt_Windows7 .rgtResource.radAlt {
    background-color: #f5f7f9; }
  .RadGantt_Windows7 .rgtTaskMilestone {
    border-color: #75879e;
    background-color: #97a6ba;
    background-image: linear-gradient(135deg, #c3cbd6, #97a6ba); }
  .RadGantt_Windows7 .rgtTaskMilestone.radStateSelected {
    border-color: #8daed5;
    background-color: #d1e2f6;
    background-image: linear-gradient(135deg, #ebf3fd, #d1e2f6); }
  .RadGantt_Windows7 .rgtTaskSummary {
    border-color: #c3cbd6;
    background-color: #c3cbd6; }
  .RadGantt_Windows7 .rgtComplete {
    border-color: #97a6ba;
    background-color: #97a6ba; }
  .RadGantt_Windows7 .rgtTaskSummary.radStateSelected {
    border-color: #c3dcfc;
    background-color: #c3dcfc; }
  .RadGantt_Windows7 .radStateSelected .rgtComplete {
    border-color: #99bdea;
    background-color: #99bdea; }
  .RadGantt_Windows7 .rgtTaskSingle {
    border-color: #8daed5;
    border-radius: 3px;
    background-color: #cce1fc;
    background-image: linear-gradient(#eaf2fd, #cce1fc); }
  .RadGantt_Windows7 .rgtTaskComplete {
    border-color: #8daed5;
    background-color: #c3dcfc; }
  .RadGantt_Windows7 .rgtTaskSingle .radResizeHandle:after {
    background-color: #1e395b; }
  .RadGantt_Windows7 .rgtTaskSingle.radStateSelected, .RadGantt_Windows7 .rgtTaskSingle.radStateSelected .rgtTaskComplete {
    border-color: #1e395b; }

.radSkin_Windows7 {
  color: #333333;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .radSkin_Windows7 .k-popup, .radSkin_Windows7.k-popup, .radSkin_Windows7 .radPopup, .radSkin_Windows7.radPopup {
    border-color: #c1dbfc;
    color: #000000;
    background-color: #ffffff; }
  .radSkin_Windows7 .radDragClue, .radSkin_Windows7.radDragClue {
    border-color: #c1dbfc;
    border-radius: 3px;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(130, 130, 130, 0.5); }
  .radSkin_Windows7 .radList > .radStateHovered, .radSkin_Windows7 .k-list > .k-state-hover {
    color: #1e395b;
    background-color: #eef6ff; }
  .radSkin_Windows7 .radList > .radStateFocused, .radSkin_Windows7 .k-list > .k-state-focused {
    box-shadow: inset 0 0 5px #8fb0d6; }
  .radSkin_Windows7 .radList > .radStateSelected, .radSkin_Windows7 .k-list > .k-state-selected {
    color: #1e395b;
    background-color: #c3dcfc; }
  .radSkin_Windows7 .radGrid td {
    border-color: #e8eaec; }
  .radSkin_Windows7 .radGridHeader, .radSkin_Windows7 .radGridHeaderWrap {
    border-color: #c2cedb;
    background-color: #f1f5fb; }
  .radSkin_Windows7 .radGridHeader th {
    border-color: #c2cedb;
    color: #4c607a;
    background-color: #f1f5fb;
    background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #e4edf8); }
  .radSkin_Windows7 .radFauxRows .radAlt {
    background-color: #f5f7f9; }
  .radSkin_Windows7 .radFauxColumns .radNonwork {
    background-color: rgba(218, 240, 251, 0.4); }
  .radSkin_Windows7 .k-grid {
    border-color: #aabfd6;
    color: #333333;
    background-color: #ffffff; }
  .radSkin_Windows7 .k-grid-header, .radSkin_Windows7 .k-grid-header-wrap {
    border-color: #c2cedb;
    background-color: #f1f5fb; }
  .radSkin_Windows7 .k-grid-header .k-header {
    border-color: #c2cedb;
    color: #4c607a;
    background-color: #f1f5fb;
    background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #e4edf8); }
  .radSkin_Windows7 .k-grid-content .k-alt {
    background-color: #f5f7f9; }
  .radSkin_Windows7 .k-grid-content td {
    border-color: #aabfd6; }
  .radSkin_Windows7 .k-icon, .radSkin_Windows7 .radIcon {
    background-image: url('Common/radActionsSprite.png'); }
  .radSkin_Windows7 .k-tooltip, .radSkin_Windows7 .radTooltip {
    border-color: #c0cedf;
    border-radius: 5px;
    color: #1e395b;
    background-color: #c0cedf;
    background-image: linear-gradient(#eef4fb, #c0cedf);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
    .radSkin_Windows7 .k-tooltip .k-callout-n, .radSkin_Windows7 .k-tooltip .radCalloutN, .radSkin_Windows7 .radTooltip .k-callout-n, .radSkin_Windows7 .radTooltip .radCalloutN {
      border-bottom-color: #c0cedf; }
    .radSkin_Windows7 .k-tooltip .k-callout-e, .radSkin_Windows7 .k-tooltip .radCalloutE, .radSkin_Windows7 .radTooltip .k-callout-e, .radSkin_Windows7 .radTooltip .radCalloutE {
      border-left-color: #c0cedf; }
    .radSkin_Windows7 .k-tooltip .k-callout-s, .radSkin_Windows7 .k-tooltip .radCalloutS, .radSkin_Windows7 .radTooltip .k-callout-s, .radSkin_Windows7 .radTooltip .radCalloutS {
      border-top-color: #c0cedf; }
    .radSkin_Windows7 .k-tooltip .k-callout-w, .radSkin_Windows7 .k-tooltip .radCalloutW, .radSkin_Windows7 .radTooltip .k-callout-w, .radSkin_Windows7 .radTooltip .radCalloutW {
      border-right-color: #c0cedf; }
  .radSkin_Windows7 .k-tooltip-validation {
    border-color: #ffffff;
    color: #d51923;
    background-color: #ffffff;
    background-image: none; }
    .radSkin_Windows7 .k-tooltip-validation .k-callout-n, .radSkin_Windows7 .k-tooltip-validation .radCalloutN {
      border-bottom-color: #ffffff; }
  .radSkin_Windows7 .k-button, .radSkin_Windows7 .radButton {
    border-radius: 5px;
    border-color: #c2cedb;
    color: #1e395b;
    background-color: #dde8f6;
    background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6); }
  .radSkin_Windows7 .radToolbar .radButton {
    border-color: transparent;
    color: inherit;
    background-color: transparent;
    background-image: none; }
  .radSkin_Windows7 .k-button:hover, .radSkin_Windows7 .radButton:hover, .radSkin_Windows7 .radButton.radStateHovered, .radSkin_Windows7 .radStateHovered > .radButton {
    border-color: #c2dbfb;
    color: #1e395b;
    background-color: #e7ecf5;
    background-image: linear-gradient(#fcfdfe, #f7f8fb 50%, #edf2f9 50%, #e7ecf5); }
  .radSkin_Windows7 .k-button:focus, .radSkin_Windows7 .radButton:focus, .radSkin_Windows7 .radButton.radStateSelected, .radSkin_Windows7 .radStateSelected > .radButton {
    border-color: #9bc9ff;
    color: #1e395b;
    background-color: #dde8f6;
    background-image: linear-gradient(#f3f7fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6); }
  .radSkin_Windows7 .k-textbox, .radSkin_Windows7 .radTextbox {
    border-color: #b8cbde;
    color: #000000;
    background-color: #ffffff; }
  .radSkin_Windows7 .k-numeric-wrap {
    border-color: #c2cedb;
    color: #000000;
    background-color: #ffffff; }
    .radSkin_Windows7 .k-numeric-wrap .k-link {
      border-color: #c2cedb;
      color: #1e395b;
      background-color: #dde8f6;
      background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6); }
    .radSkin_Windows7 .k-numeric-wrap .k-link:hover {
      border-color: #c2dbfb;
      color: #1e395b;
      background-color: #e7ecf5;
      background-image: linear-gradient(#fcfdfe, #f7f8fb 50%, #edf2f9 50%, #e7ecf5); }
    .radSkin_Windows7 .k-numeric-wrap .k-link.k-state-selected {
      border-color: #9bc9ff;
      color: #1e395b;
      background-color: #dde8f6;
      background-image: linear-gradient(#f3f7fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6); }
  .radSkin_Windows7 .k-dropdown-wrap {
    border-color: #c2cedb;
    color: #000000;
    background-color: #ffffff;
    background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6); }
    .radSkin_Windows7 .k-dropdown-wrap.k-state-hover {
      border-color: #c2dbfb;
      color: #1e395b;
      background-color: #e7ecf5;
      background-image: linear-gradient(#fcfdfe, #f7f8fb 50%, #edf2f9 50%, #e7ecf5); }
    .radSkin_Windows7 .k-dropdown-wrap.k-state-active {
      border-color: #9bc9ff;
      color: #1e395b;
      background-color: #dde8f6;
      background-image: linear-gradient(#f3f7fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6); }
  .radSkin_Windows7 .k-picker-wrap {
    border-color: #c2cedb;
    color: #000000;
    background-color: #ffffff; }
    .radSkin_Windows7 .k-picker-wrap .k-select {
      border-color: #c2cedb;
      color: #1e395b;
      background-color: #dde8f6;
      background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6); }
    .radSkin_Windows7 .k-picker-wrap .k-select:hover {
      border-color: #c2dbfb;
      color: #1e395b;
      background-color: #e7ecf5;
      background-image: linear-gradient(#fcfdfe, #f7f8fb 50%, #edf2f9 50%, #e7ecf5); }
  .radSkin_Windows7 .radCalendar {
    border-color: #aabfd6;
    color: #000000;
    background-color: #f1f5fb; }
    .radSkin_Windows7 .radCalendar .k-header, .radSkin_Windows7 .radCalendar .k-footer {
      border-color: #c2cedb; }
    .radSkin_Windows7 .radCalendar .k-header {
      background-color: #f1f5fb;
      background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #e4edf8); }
    .radSkin_Windows7 .radCalendar th {
      border-color: #c2cedb; }
    .radSkin_Windows7 .radCalendar td {
      border-color: transparent; }
    .radSkin_Windows7 .radCalendar td.k-other-month {
      color: #898989; }
    .radSkin_Windows7 .radCalendar td.k-state-hover {
      border-color: #bdd9fb;
      color: #1e395b;
      background-color: #edf4fd;
      background-image: linear-gradient(#f9fbfd, #edf4fd); }
    .radSkin_Windows7 .radCalendar td.k-state-focused {
      box-shadow: inset 0 0 5px #8fb0d6; }
    .radSkin_Windows7 .radCalendar td.k-state-selected {
      border-color: #8fb0d6;
      color: #1e395b;
      background-color: #c2dcfc;
      background-image: linear-gradient(#daeafc, #c2dcfc); }
  .radSkin_Windows7.k-window {
    border-color: #c1dbfc;
    color: #000000;
    background-color: #ffffff; }
  .radSkin_Windows7 .k-window-titlebar {
    border-color: #c2cedb;
    background-color: #f1f5fb;
    background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #e4edf8); }
  .radSkin_Windows7 .radPopupEditForm .rgtButtonsContainer {
    border-color: #c2cedb; }
