.RadImageEditor_Windows7 {
  border-color: #aabfd6;
  background-color: #f1f5fb; }
  .RadImageEditor_Windows7 .rieStatusBarInfo .rieLabel {
    color: #5a6779; }
  .RadImageEditor_Windows7 .rieStatusBarInfo span {
    color: #1e395b; }

/* ImageEditor Dialogs using RadDock as Wrapper */
.RadDock_Windows7.rieDialogs .rbPrimaryIcon, .RadImageEditor_Windows7 .rieResizeHandle, .RadImageEditor_Windows7 .rieBackgroundImg .rtbIcon {
  background-image: url('../Common/ImageEditor/rieToolsLight.png');
  _background-image: url('../Common/ImageEditor/rieToolsLightIE6.png'); }

.RadDock_Windows7.rieDialogs .rieThumbsBottomRow td, .RadDock_Windows7.rieDialogs .rieDialogsThumbsLeft, .RadDock_Windows7.rieDialogs .riePrintContent img {
  border-color: #c1dbfc; }

.RadDock_Windows7.rieDialogs .rieThumbsLink, .RadImageEditor_Windows7 .rieContentArea {
  border-color: #b8cbde; }

.RadDock_Windows7.rieDialogs .rieActiveThumbsLink, .RadDock_Windows7.rieDialogs .rieThumbsLink:hover, .RadImageEditor_Windows7 .rieHighlightVertical, .RadImageEditor_Windows7 .rieHighlightHorizontal {
  border-color: #c1dbfc;
  background-color: #e7ecf5; }

.RadDock_Windows7.rieDialogs .riePrintContent {
  border-color: #aabfd6;
  background-color: #f1f5fb; }

.RadDock_Windows7.rieDialogs .rdContent {
  color: #000000; }

.rieBottomCell {
  border-color: #aabfd6; }

