.RadImageGallery_Windows7 {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: normal;
  color: black; }
  .RadImageGallery_Windows7 .rigDescriptionBox {
    background-color: #e5ecf5;
    background-color: rgba(229, 236, 245, 0.7); }
  .RadImageGallery_Windows7 .rigToolbar,
  .RadImageGallery_Windows7 .rigCloseButton,
  .RadImageGallery_Windows7 .rigDrawerButton {
    background-color: #f1f5fb;
    background-color: rgba(241, 245, 251, 0.8); }
  .RadImageGallery_Windows7 .rigProgressBar div {
    background-color: #6c94c6; }
  .RadImageGallery_Windows7 .rigPager {
    background-color: #f1f5fb;
    color: black; }
    .RadImageGallery_Windows7 .rigPager a {
      color: black; }
    .RadImageGallery_Windows7 .rigPager a.rigCurrentPage {
      color: #000;
      border-color: #898989;
      background: #fff; }
  .RadImageGallery_Windows7 .rigIcon {
    background-image: url('Common/radActionsSprite.png'); }
  .RadImageGallery_Windows7 .rigDotList > a {
    border-color: #8daed5; }
  .RadImageGallery_Windows7 .rigDotList a span {
    background-color: white; }
  .RadImageGallery_Windows7 .rigDotList a.rigCurrentItem span {
    background-color: #6c94c6;
    border-color: white; }
  .RadImageGallery_Windows7 .rigTooltip {
    background-color: #eef4fb;
    border-color: #a0afc3; }
    .RadImageGallery_Windows7 .rigTooltip:after {
      border-top-color: #eef4fb; }
  .RadImageGallery_Windows7 .rigPrevButton,
  .RadImageGallery_Windows7 .rigNextButton,
  .RadImageGallery_Windows7 .rigScrollPrevIcon,
  .RadImageGallery_Windows7 .rigScrollNextIcon,
  .RadImageGallery_Windows7 .rigCloseIcon {
    background-image: url('LightBox/sprite.png'); }
  .RadImageGallery_Windows7 .rigPrevButton {
    background-position: 0 -140px; }
  .RadImageGallery_Windows7 .rigNextButton {
    background-position: -60px -140px; }
  .RadImageGallery_Windows7 .rigScrollPrevIcon {
    background-position: -79px  -49px; }
  .RadImageGallery_Windows7 .rigScrollNextIcon {
    background-position: -104px -49px; }
  .RadImageGallery_Windows7.RadImageGallery_RightOutside .rigScrollPrevIcon,
  .RadImageGallery_Windows7.RadImageGallery_RightOutside .rigScrollNextIcon,
  .RadImageGallery_Windows7 .rigThumbnailsBoxVertical .rigScrollPrevIcon,
  .RadImageGallery_Windows7 .rigThumbnailsBoxVertical .rigScrollNextIcon {
    background-position: -62px -89px; }
  .RadImageGallery_Windows7 .RadImageGallery_RightOutside .rigScrollNextIcon,
  .RadImageGallery_Windows7 .rigThumbnailsBoxVertical .rigScrollNextIcon {
    background-position: -96px -89px; }
  .RadImageGallery_Windows7 .rigCloseIcon {
    background-position: -79px -12px; }
  .RadImageGallery_Windows7 .rigActionButton:hover .rigCloseIcon {
    background-position: -101px -12px; }
  .RadImageGallery_Windows7 .rigDrawerIcon {
    background-position: -52px -60px; }
  .RadImageGallery_Windows7 .rigPlayIcon {
    background-position: 1px -1999px; }
  .RadImageGallery_Windows7 .rigPauseIcon {
    background-position: 1px -2019px; }
  .RadImageGallery_Windows7 .rigFullScrIcon {
    background-position: 1px -2099px; }
  .RadImageGallery_Windows7 .rigExtFullScrIcon {
    background-position: 1px -2119px; }
  .RadImageGallery_Windows7 .rigActionButton:hover .rigPlayIcon {
    background-position: -19px -1999px; }
  .RadImageGallery_Windows7 .rigActionButton:hover .rigPauseIcon {
    background-position: -19px -2019px; }
  .RadImageGallery_Windows7 .rigActionButton:hover .rigFullScrIcon {
    background-position: -19px -2099px; }
  .RadImageGallery_Windows7 .rigActionButton:hover .rigExtFullScrIcon {
    background-position: -19px -2119px; }
  .RadImageGallery_Windows7 .rigShowThumbnIcon {
    background-position: 0px -2159px; }
  .RadImageGallery_Windows7 .rigHideThumbnIcon {
    background-position: 0px -2179px; }
  .RadImageGallery_Windows7 .rigActionButton:hover .rigShowThumbnIcon {
    background-position: -20px -2159px; }
  .RadImageGallery_Windows7 .rigActionButton:hover .rigHideThumbnIcon {
    background-position: -20px -2179px; }
