.RadLightBox_Windows7 {
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  color: black; }
  .RadLightBox_Windows7 .rltbWrapper {
    background: white; }
  .RadLightBox_Windows7 .rltbDescriptionBox {
    color: black; }
  .RadLightBox_Windows7 .rltbPager {
    color: #8a8a8a; }
  .RadLightBox_Windows7 .rltbDescOverlayTop,
  .RadLightBox_Windows7 .rltbDescOverlayBottom {
    background-color: #e5ecf5;
    background-color: rgba(229, 236, 245, 0.7);
    color: black; }
    .RadLightBox_Windows7 .rltbDescOverlayTop .rltbPager,
    .RadLightBox_Windows7 .rltbDescOverlayBottom .rltbPager {
      color: #4d4d4d; }
  .RadLightBox_Windows7 .rltbToolbar .rltbActionButton {
    background: #e2eaf4; }
    .RadLightBox_Windows7 .rltbToolbar .rltbActionButton:hover {
      background: #cde4ff; }
  .RadLightBox_Windows7 .rltbIcon {
    background-image: url('Common/radActionsSprite.png'); }
  .RadLightBox_Windows7 .rltbMaximizeIcon {
    background-position: 0px -2100px; }
  .RadLightBox_Windows7 .rltbRestoreIcon {
    background-position: 0px -2120px; }
  .RadLightBox_Windows7 .rltbClose,
  .RadLightBox_Windows7 .rltbCloseIcon,
  .RadLightBox_Windows7 .rltbPrevButton,
  .RadLightBox_Windows7 .rltbNextButton {
    background-image: url('LightBox/sprite.png'); }
  .RadLightBox_Windows7 .rltbClose {
    background-position: 0 -89px; }
  .RadLightBox_Windows7 .rltbCloseButton:hover .rltbCloseIcon {
    background-position: -40px 0; }
  .RadLightBox_Windows7 .rltbPrevButton {
    background-position: -40px -40px; }
  .RadLightBox_Windows7 .rltbNextButton {
    background-position: 0 -40px; }
