.RadNotification_Windows7 {
  border-color: #b8cbde;
  color: #000000;
  background-color: #ffffff;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* base overwrites */ }
  .RadNotification_Windows7.rnShadows {
    box-shadow: 2px 2px 3px #dde6f1; }
  .RadNotification_Windows7 .rnTitleBar {
    border-bottom-color: transparent;
    background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #e4edf8);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f8fa', endColorstr='#e4edf8',GradientType=0 ); }
  .RadNotification_Windows7 .rnCommands a {
    background-image: url('Common/radActionsSprite.png'); }
  .RadNotification_Windows7 .rnTitleBarTitle {
    color: #000000; }
  .RadNotification_Windows7 .rnContentWrapper {
    border-top-color: #b8cbde; }
  .RadNotification_Windows7 .rnCommands li {
    margin-right: 0.08333em; }
