.RadUploadProgressArea_Windows7 {
  color: black;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadUploadProgressArea_Windows7 .ruProgressHeader {
    background-image: -webkit-linear-gradient(top, #f1f5fb 0%, #f1f5fb 100%);
    background-image: -moz-linear-gradient(top, #f1f5fb 0%, #f1f5fb 100%);
    background-image: -ms-linear-gradient(top, #f1f5fb 0%, #f1f5fb 100%);
    background-image: -o-linear-gradient(top, #f1f5fb 0%, #f1f5fb 100%);
    background-image: linear-gradient(top, #f1f5fb 0%, #f1f5fb 100%); }
  .RadUploadProgressArea_Windows7 .ruActions {
    border-color: #b8cbde;
    color: black;
    background-color: #f1f5fb; }
  .RadUploadProgressArea_Windows7 .ruButton {
    border-color: #c2cedb;
    color: #1e395b;
    background-color: #dde8f6;
    background-image: -webkit-linear-gradient(top, #f4f8fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%);
    background-image: -moz-linear-gradient(top, #f4f8fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%);
    background-image: -ms-linear-gradient(top, #f4f8fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%);
    background-image: -o-linear-gradient(top, #f4f8fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%);
    background-image: linear-gradient(top, #f4f8fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%);
    border-radius: 3px;
    font-size: 12px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadUploadProgressArea_Windows7 .ruButtonHover {
    border-color: #c2dbfb;
    color: #1e395b;
    background-color: #e7ecf5;
    background-image: -webkit-linear-gradient(top, #fcfdfe 0%, #f7f8fb 50%, #edf2f9 50%, #e7ecf5 100%);
    background-image: -moz-linear-gradient(top, #fcfdfe 0%, #f7f8fb 50%, #edf2f9 50%, #e7ecf5 100%);
    background-image: -ms-linear-gradient(top, #fcfdfe 0%, #f7f8fb 50%, #edf2f9 50%, #e7ecf5 100%);
    background-image: -o-linear-gradient(top, #fcfdfe 0%, #f7f8fb 50%, #edf2f9 50%, #e7ecf5 100%);
    background-image: linear-gradient(top, #fcfdfe 0%, #f7f8fb 50%, #edf2f9 50%, #e7ecf5 100%); }
  .RadUploadProgressArea_Windows7 .ruProgress {
    border-color: #a5b3c5;
    color: #4c607a;
    background-color: #ffffff; }
  .RadUploadProgressArea_Windows7 .ruCurrentFile {
    color: #0066cc; }
  .RadUploadProgressArea_Windows7 .ruBar {
    border-color: #abc1de; }
    .RadUploadProgressArea_Windows7 .ruBar div {
      border-color: #ffffff;
      background-image: url('Upload/ruProgress.gif'); }
