.RadSearchBox_Windows7 {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSearchBox_Windows7 .rsbInner {
    border-radius: 3px;
    border-color: #b8cbde;
    color: #000000;
    background-color: #ffffff; }
  .RadSearchBox_Windows7 .rsbEmptyMessage {
    color: #a7a7a7; }
  .RadSearchBox_Windows7 .rsbButton {
    border-radius: 2px;
    background-image: url('Common/radGradientButtonSprite.png');
    background-image: linear-gradient(transparent, transparent); }
    .RadSearchBox_Windows7 .rsbButton:hover {
      border-color: #c2dbfb;
      color: #1e395b;
      background-color: #e7ecf5;
      background-image: linear-gradient(#fcfdfe, #f7f8fb 50%, #edf2f9 50%, #e7ecf5); }
    .RadSearchBox_Windows7 .rsbButton:focus {
      border-color: #9bc9ff;
      color: #1e395b;
      background-color: #dde8f6;
      background-image: linear-gradient(#f3f7fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6); }
  .RadSearchBox_Windows7 .rsbButtonSearch {
    border-radius: 0 3px 3px 0; }
    .RadSearchBox_Windows7 .rsbButtonSearch .rsbIcon {
      background-image: url('Common/radActionsSprite.png');
      background-position: -2px -1882px; }
  .RadSearchBox_Windows7 .rsbSCInner {
    border-radius: 3px 0 0 3px;
    background-image: url('Common/radGradientButtonSprite.png');
    border-color: #c2cedb;
    color: #1e395b;
    background-color: #dde8f6;
    background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6); }
  .RadSearchBox_Windows7 .rsbSCIcon {
    background-image: url('Common/radActionsSprite.png');
    background-position: -2px -422px; }
  .RadSearchBox_Windows7 .rsbSCHovered {
    border-color: #c2dbfb;
    color: #1e395b;
    background-color: #e7ecf5;
    background-image: linear-gradient(#fcfdfe, #f7f8fb 50%, #edf2f9 50%, #e7ecf5); }
  .RadSearchBox_Windows7 .rsbSCFocused {
    border-color: #9bc9ff;
    color: #1e395b;
    background-color: #dde8f6;
    background-image: linear-gradient(#f3f7fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6); }
  .RadSearchBox_Windows7 .rsbSCDisabled {
    border-color: #dddddd;
    color: #a7a7a7;
    background-color: #e7e7e7;
    background-image: linear-gradient(#f7f7f7, #e7e7e7); }
  .RadSearchBox_Windows7 .rsbLoadingIcon {
    background-image: url('Common/loading_small.gif'); }

.rsbPopup_Windows7 {
  border-color: #aabfd6;
  color: #333333;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .rsbPopup_Windows7 .rsbShowAll {
    border-color: #aabfd6;
    color: #000000;
    background-color: #f1f5fb; }
  .rsbPopup_Windows7 .rsbListItemHovered {
    color: #1e395b;
    background-color: #eef6ff; }
  .rsbPopup_Windows7 .rsbListItemSelected {
    color: #1e395b;
    background-color: #c3dcfc; }
  .rsbPopup_Windows7 .rsbListItemLoading {
    color: #1e395b;
    background-color: #eef6ff; }
