.RadSocialShare_Windows7 {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid #b8cbde;
  background-color: #f1f5fb; }
  .RadSocialShare_Windows7 .sshLinkItem .sshText {
    color: black; }
  .RadSocialShare_Windows7 .sshLinkItem:hover .sshText {
    color: black; }

.RadComboBoxDropDown_Windows7 .rcbItem .sshLinkItem .sshText,
.RadComboBoxDropDown_Windows7 .rcbHovered .sshLinkItem .sshText {
  color: black; }

