.RadSplitter_Windows7 {
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /* Borders */
  /* When ShowContentDuringLoad="false" */
  /* RadSplitBar/RadSlidingPane resize elements */
  /* RadSlidingPane tab */
  /* RadSlidingPane tab */
  /* RadSplitBar buttons */
  /* RadSlidingPane buttons */
  /* RadSlidingPane header */
  /* RadSlidingPane title text */
  /* RadSlidingPane header elements */ }
  .RadSplitter_Windows7,
  .RadSplitter_Windows7 .rspPaneTabContainer,
  .RadSplitter_Windows7 .rspPane,
  .RadSplitter_Windows7 .rspResizeBar,
  .RadSplitter_Windows7 .rspSlideContainerResize,
  .RadSplitter_Windows7 .rspPaneHorizontal,
  .RadSplitter_Windows7 .rspResizeBarHorizontal,
  .RadSplitter_Windows7 .rspSlideContainerResizeHorizontal {
    border-color: #b8cbde; }
  .RadSplitter_Windows7 .rspLoading {
    background-image: url('Common/loading.gif'); }
  .RadSplitter_Windows7 .rspResizeBar,
  .RadSplitter_Windows7 .rspSlideContainerResize,
  .RadSplitter_Windows7 .rspResizeBarOver,
  .RadSplitter_Windows7 .rspSlideContainerResizeOver {
    background-image: url('Splitter/ResizeBarVerticalSprites.gif');
    background-color: white;
    border-right-color: #b8cbde; }
  .RadSplitter_Windows7 .rspResizeBarHorizontal,
  .RadSplitter_Windows7 .rspSlideContainerResizeHorizontal {
    background-image: url('Splitter/ResizeBarHorizontalSprites.gif');
    background-color: white;
    border-bottom-color: #b8cbde; }
  .RadSplitter_Windows7 .rspPaneTabContainer,
  .RadSplitter_Windows7 .rspSlideHeaderDockIcon,
  .RadSplitter_Windows7 .rspSlideHeaderUndockIcon,
  .RadSplitter_Windows7 .rspSlideHeaderCollapseIcon,
  .RadSplitter_Windows7 .rspCollapseBarExpand,
  .RadSplitter_Windows7 .rspCollapseBarCollapse,
  .RadSplitter_Windows7 .rspCollapseBarHorizontalExpand,
  .RadSplitter_Windows7 .rspCollapseBarHorizontalCollapse {
    background-image: url('Splitter/ExpandCollapseBarsCommands.gif'); }
  .RadSplitter_Windows7 .rspSlideHeader,
  .RadSplitter_Windows7 .rspSlideTitleContainer,
  .RadSplitter_Windows7 .rspBottom .rspPaneTabContainer,
  .RadSplitter_Windows7 .rspTop .rspPaneTabContainer {
    background-image: url('Splitter/slideTitleContainerBgr.gif');
    background-repeat: repeat-x; }
  .RadSplitter_Windows7 .rspBottom .rspPaneTabContainer,
  .RadSplitter_Windows7 .rspTop .rspPaneTabContainer {
    background-position: 0 -1px; }
  .RadSplitter_Windows7 .rspSlideTitle,
  .RadSplitter_Windows7 .rspPaneTabText {
    color: black; }
  .RadSplitter_Windows7 .rspSlideTitleContainer,
  .RadSplitter_Windows7 .rspSlideHeaderIconWrapper {
    border-bottom: 1px solid #b8cbde; }

