.RadToolTip_Windows7.rtLoading {
  background: url('Common/loading.gif') no-repeat center; }
.RadToolTip_Windows7 .rtWrapper .rtWrapperTopLeft,
.RadToolTip_Windows7 .rtWrapper .rtWrapperTopRight,
.RadToolTip_Windows7 .rtWrapper .rtWrapperBottomLeft,
.RadToolTip_Windows7 .rtWrapper .rtWrapperBottomRight,
.RadToolTip_Windows7 .rtWrapper .rtWrapperTopCenter,
.RadToolTip_Windows7 .rtWrapper .rtWrapperBottomCenter,
.RadToolTip_Windows7 table.rtShadow .rtWrapperTopLeft,
.RadToolTip_Windows7 table.rtShadow .rtWrapperTopRight,
.RadToolTip_Windows7 table.rtShadow .rtWrapperBottomLeft,
.RadToolTip_Windows7 table.rtShadow .rtWrapperBottomRight,
.RadToolTip_Windows7 table.rtShadow .rtWrapperTopCenter,
.RadToolTip_Windows7 table.rtShadow .rtWrapperBottomCenter,
.RadToolTip_Windows7 .rtCloseButton {
  background-image: url('ToolTip/ToolTipSprites.png'); }
.RadToolTip_Windows7 .rtWrapper .rtWrapperLeftMiddle,
.RadToolTip_Windows7 .rtWrapper .rtWrapperRightMiddle,
.RadToolTip_Windows7 table.rtShadow .rtWrapperLeftMiddle,
.RadToolTip_Windows7 table.rtShadow .rtWrapperRightMiddle {
  background-image: url('ToolTip/ToolTipVerticalSprites.png'); }
.RadToolTip_Windows7 .rtWrapper .rtWrapperContent {
  background-color: #eef4fb;
  color: black; }
.RadToolTip_Windows7 .rtTitlebar {
  color: black; }
.RadToolTip_Windows7 .rtCallout {
  background-image: url('ToolTip/Callouts.gif'); }

