.RadWizard_Windows7 {
  color: #000000;
  background: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
.RadWizard_Windows7 .rwzButton {
  border-radius: 0.25em;
  background-color: #c5c5c5;
  background-image: url('Common/radGradientButtonSprite.png');
  border-color: #c2cedb;
  color: #1e395b;
  background-color: #dde8f6;
  background-image: linear-gradient(#f4f8fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6); }
  .RadWizard_Windows7 .rwzButton.rwzHovered {
    background-color: #c6c6c6;
    border-color: #c2dbfb;
    color: #1e395b;
    background-color: #e7ecf5;
    background-image: linear-gradient(#fcfdfe, #f7f8fb 50%, #edf2f9 50%, #e7ecf5); }
  .RadWizard_Windows7 .rwzButton.rwzClicked {
    border-color: #9bc9ff;
    color: #1e395b;
    background-color: #dde8f6;
    background-image: linear-gradient(#f3f7fa, #e9f2fb 50%, #dde7f5 50%, #dde8f6); }
  .RadWizard_Windows7 .rwzButton.rwzDisabled {
    border-color: #dddddd;
    color: #a7a7a7;
    background-color: #e7e7e7;
    background-image: linear-gradient(#f7f7f7, #e7e7e7); }
.RadWizard_Windows7 .rwzBreadCrumb {
  color: #3b3b3b; }
  .RadWizard_Windows7 .rwzBreadCrumb .rwzLI {
    border-color: #c2cedb; }
  .RadWizard_Windows7 .rwzBreadCrumb .rwzLink {
    border: 1px solid #f0f0f0;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: url('Wizard/rwzTab.png') repeat-x 0 50%; }
    @media screen\9 {
      .RadWizard_Windows7 .rwzBreadCrumb .rwzLink {
        color: #000000; } }
  .RadWizard_Windows7 .rwzBreadCrumb .rwzCallout {
    top: -1px;
    bottom: -1px;
    background: url('Wizard/rwzCallout.png') no-repeat 100% 50%; }
  .RadWizard_Windows7 .rwzBreadCrumb .rwzHovered {
    color: #1e395b;
    border-color: #c2dbfb; }
    .RadWizard_Windows7 .rwzBreadCrumb .rwzHovered .rwzLink {
      background-image: url('Wizard/rwzTabHover.png'); }
    .RadWizard_Windows7 .rwzBreadCrumb .rwzHovered .rwzCallout {
      background-image: url('Wizard/rwzCalloutHover.png'); }
  .RadWizard_Windows7 .rwzBreadCrumb .rwzSelected {
    color: #000;
    border-color: #9bc9ff; }
    .RadWizard_Windows7 .rwzBreadCrumb .rwzSelected .rwzLink {
      border-color: #acd1fe;
      background-image: url('Wizard/rwzTabSelect.png'); }
    .RadWizard_Windows7 .rwzBreadCrumb .rwzSelected .rwzCallout {
      background-image: url('Wizard/rwzCalloutSelect.png'); }
  .RadWizard_Windows7 .rwzBreadCrumb .rwzDisabled {
    color: #a5a5a5;
    border-color: #dddddd; }
    .RadWizard_Windows7 .rwzBreadCrumb .rwzDisabled .rwzLink {
      border-color: #ddd;
      background-image: url('Wizard/rwzTabDisable.png'); }
    .RadWizard_Windows7 .rwzBreadCrumb .rwzDisabled .rwzCallout {
      background-image: url('Wizard/rwzCalloutDisable.png'); }
.RadWizard_Windows7 .rwzProgressBar {
  border-radius: 0.25em;
  border-color: #b8cbde;
  background-color: #fff; }
.RadWizard_Windows7 .rwzProgress {
  border-radius: 0.16667em 0em 0em 0.16667em;
  background-color: #c5ddfc; }

.RadWizard_Windows7.rwzHorizontal .rwzFirst {
  border-radius: 0.33333em 0em 0em 0.33333em; }
  .RadWizard_Windows7.rwzHorizontal .rwzFirst .rwzLink {
    border-radius: 0.25em 0em 0em 0.25em; }
.RadWizard_Windows7.rwzHorizontal .rwzLast {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Windows7.rwzHorizontal .rwzLast .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }
.RadWizard_Windows7.rwzHorizontal .rwzFirst.rwzLast {
  border-radius: 0.33333em; }
  .RadWizard_Windows7.rwzHorizontal .rwzFirst.rwzLast .rwzLink {
    border-radius: 0.25em; }
.RadWizard_Windows7.rwzHorizontal .rwzProgressBar {
  background-image: linear-gradient(#f1f5fb, #feffff); }
.RadWizard_Windows7.rwzHorizontal .rwzProgress {
  background-image: linear-gradient(#edf5fe, #c5ddfc); }

.RadWizard_Windows7.rwzVertical .rwzFirst {
  border-radius: 0.33333em 0.33333em 0em 0em; }
  .RadWizard_Windows7.rwzVertical .rwzFirst .rwzLink {
    border-radius: 0.25em 0.25em 0em 0em; }
.RadWizard_Windows7.rwzVertical .rwzLast {
  border-radius: 0em 0em 0.33333em 0.33333em; }
  .RadWizard_Windows7.rwzVertical .rwzLast .rwzLink {
    border-radius: 0em 0em 0.25em 0.25em; }
.RadWizard_Windows7.rwzVertical .rwzSelected,
.RadWizard_Windows7.rwzVertical .rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.RadWizard_Windows7.rwzVertical .rwzFirst.rwzLast.rwzSelected, .RadWizard_Windows7.rwzVertical .rwzFirst.rwzLast.rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.RadWizard_Windows7.rwzVertical .rwzProgressBar {
  background-image: linear-gradient(90deg, #f1f5fb, #feffff); }
.RadWizard_Windows7.rwzVertical .rwzProgress {
  background-image: linear-gradient(90deg, #edf5fe, #c5ddfc); }

.RadWizard_Windows7.rwzRightBreadCrumb .rwzBreadCrumb .rwzCallout,
.RadWizard_Windows7.RadWizard_rtl .rwzBreadCrumb .rwzCallout {
  background: url('Wizard/rwzCalloutRtl.png') no-repeat 0 50%; }
.RadWizard_Windows7.rwzRightBreadCrumb .rwzBreadCrumb .rwzHovered .rwzCallout,
.RadWizard_Windows7.RadWizard_rtl .rwzBreadCrumb .rwzHovered .rwzCallout {
  background-image: url('Wizard/rwzCalloutHoverRtl.png'); }
.RadWizard_Windows7.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzCallout,
.RadWizard_Windows7.RadWizard_rtl .rwzBreadCrumb .rwzSelected .rwzCallout {
  background-image: url('Wizard/rwzCalloutSelectRtl.png'); }
.RadWizard_Windows7.rwzRightBreadCrumb .rwzBreadCrumb .rwzDisabled .rwzCallout,
.RadWizard_Windows7.RadWizard_rtl .rwzBreadCrumb .rwzDisabled .rwzCallout {
  background-image: url('Wizard/rwzCalloutDisableRtl.png'); }

.RadWizard_Windows7.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzFirst,
.RadWizard_Windows7.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzFirst {
  border-radius: 0em 0.33333em 0em 0em; }
  .RadWizard_Windows7.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzFirst .rwzLink,
  .RadWizard_Windows7.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzFirst .rwzLink {
    border-radius: 0em 0.25em 0em 0em; }
.RadWizard_Windows7.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzLast,
.RadWizard_Windows7.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzLast {
  border-radius: 0em 0em 0.33333em 0em; }
  .RadWizard_Windows7.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzLast .rwzLink,
  .RadWizard_Windows7.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzLast .rwzLink {
    border-radius: 0em 0em 0.25em 0em; }
.RadWizard_Windows7.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast,
.RadWizard_Windows7.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Windows7.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast .rwzLink,
  .RadWizard_Windows7.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }

.RadWizard_Windows7.RadWizard_rtl.rwzHorizontal .rwzFirst {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Windows7.RadWizard_rtl.rwzHorizontal .rwzFirst .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }
.RadWizard_Windows7.RadWizard_rtl.rwzHorizontal .rwzLast {
  border-radius: 0.33333em 0em 0em 0.33333em; }
  .RadWizard_Windows7.RadWizard_rtl.rwzHorizontal .rwzLast .rwzLink {
    border-radius: 0.25em 0em 0em 0.25em; }
