/* <RadMenu / Simple> */
.RadMenu_Simple ul.rmRootGroup,
.RadMenu_Simple div.rmRootGroup {
  padding: 1px 0;
  border: 1px solid #7c7c7c;
  background-color: #e4e4e4; }

/* <Root items> */
.RadMenu_Simple,
.RadMenu_Simple a.rmLink {
  font: normal 12px/20px "Segoe UI", Arial, sans-serif;
  color: #000;
  text-decoration: none; }

.RadMenu_Simple .rmLink {
  padding: 1px 12px; }

.RadMenu_Simple .rmHorizontal .rmLink {
  margin-left: 1px; }

.RadMenu_Simple .rmHorizontal a.rmRootLink .rmText {
  padding-right: 0; }

.RadMenu_Simple a.rmRootLink .rmText {
  padding-left: 0; }

.RadMenu_Simple_Context a.rmRootLink .rmText {
  padding-left: 28px; }

.RadMenu_Simple_rtl ul.rmVertical .rmText {
  padding-left: 30px;
  padding-right: 0; }

.RadMenu_Simple .rmItem a.rmLink:hover,
.RadMenu_Simple .rmItem a.rmFocused,
.RadMenu_Simple .rmItem a.rmSelected,
.RadMenu_Simple .rmItem a.rmSelected:hover,
.RadMenu_Simple .rmItem a.rmExpanded,
.RadMenu_Simple .rmItem a.rmExpanded:hover {
  background: #ffe79c;
  border: 1px solid #c98400;
  padding: 0 11px; }

.RadMenu_Simple .rmItem .rmRootLink.rmExpanded,
.RadMenu_Simple .rmItem .rmRootLink.rmExpanded:hover {
  background: #ffa517;
  border: 1px solid #ca4b0c;
  padding: 0 11px; }

.RadMenu_Simple .rmVertical .rmLink.rmRootLink {
  padding-right: 1px; }

.RadMenu_Simple .rmVertical .rmLink.rmRootLink:hover,
.RadMenu_Simple .rmVertical .rmLink.rmRootLink.rmSelected,
.RadMenu_Simple .rmVertical .rmLink.rmRootLink.rmFocused,
.RadMenu_Simple .rmVertical .rmLink.rmRootLink.rmExpanded {
  padding-right: 0; }

.RadMenu_Simple .rmItem a.rmDisabled,
.RadMenu_Simple .rmItem a.rmDisabled:hover {
  color: #7d7d7d;
  background-color: transparent;
  border: 0;
  padding: 1px 12px; }

.RadMenu_Simple .rmVertical .rmLink.rmRootLink.rmDisabled,
.RadMenu_Simple .rmVertical .rmLink.rmRootLink.rmDisabled:hover {
  padding-right: 1px; }

.RadMenu_Simple_rtl .rmVertical .rmLink.rmRootLink.rmDisabled,
.RadMenu_Simple_rtl .rmVertical .rmLink.rmRootLink.rmDisabled:hover {
  padding-right: 12px;
  padding-left: 1px; }

.RadMenu_Simple .rmLeftImage {
  margin-top: 2px; }

* + html ul.rmRoundedCorners .rmItem .rmHorizontal .rmLeftImage {
  margin-left: 5px; }

/* </Root items> */
/* <Submenu items> */
.RadMenu_Simple ul.rmGroup,
.RadMenu_Simple div.rmGroup {
  padding: 2px; }

.RadMenu_Simple .rmScrollWrap.rmGroup {
  padding: 0; }

.RadMenu_Simple .rmGroup,
.RadMenu_Simple .rmMultiColumn,
.RadMenu_Simple .rmGroup .rmVertical {
  border: 1px solid #616161;
  background: #fff url('Menu/rmDropDownStripe.png') repeat-y -1px 0; }

.RadMenu_Simple .rmPopup {
  background: url('Menu/rmDropDownStripe.png') repeat-y -1px 0; }

.RadMenu_Simple .rmContentTemplate {
  background: #fff; }

.RadMenu_Simple .rmItem .rmHorizontal .rmItem {
  margin-bottom: 0; }

.RadMenu_Simple .rmTopFix,
.RadMenu_Simple .rmBottomFix,
.RadMenu_Simple .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Simple .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_Simple .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_Simple_Context.rmRoundedCorners .rmGroup .rmItem {
  background-image: url('Menu/rmDropDownStripe.png');
  background-color: #fff;
  background-repeat: repeat-y;
  background-position: -2px 0; }

.RadMenu_Simple li.rmTopFix,
.RadMenu_Simple li.rmBottomFix {
  background-position: -5px 0; }

.RadMenu_Simple .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Simple .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Simple .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Simple .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Simple .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_Simple_Context .rmHorizontal.rmGroup,
.RadMenu_Simple_Context .rmHorizontal .rmGroup,
.RadMenu_Simple_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Simple_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Simple_Context.rmRoundedCorners .rmScrollWrap .rmVertical {
  background-image: none; }

.RadMenu_Simple .rmRoundedCorners .rmGroupColumn {
  background-color: #fff; }

.RadMenu_Simple .rmBottomLeft,
.RadMenu_Simple .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Simple_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Simple_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Simple .rmRoundedCorners ul.rmGroup,
.RadMenu_Simple .rmRoundedCorners .rmMultiColumn,
.RadMenu_Simple .rmPopup .rmBottomLeft {
  background-image: url('Menu/rmRoundedLeft.png');
  background-color: transparent;
  background-repeat: no-repeat; }

.RadMenu_Simple .rmTopRight,
.RadMenu_Simple .rmBottomRight {
  background-image: url('Menu/rmRoundedRight.png');
  background-color: transparent;
  background-repeat: no-repeat; }

.RadMenu_Simple .rmTopFix,
.RadMenu_Simple .rmBottomFix,
.RadMenu_Simple .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Simple_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Simple .rmGroup .rmFirst {
  border-color: #616161; }

.RadMenu_Simple .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Simple .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_Simple_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Simple_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix {
  background: #FFF; }

.RadMenu_Simple .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Simple .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Simple_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Simple_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow {
  background-color: #FFF;
  border: 0; }

.RadMenu_Simple .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Simple .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Simple_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Simple_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow {
  background-color: #FFF; }

.RadMenu_Simple_rtl .rmBottomLeft,
.RadMenu_Simple_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Simple_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Simple .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Simple .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Simple_Context_rtl ul.rmGroup,
.RadMenu_Simple_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Simple .rmRoundedCorners .rmPopup {
  background-image: url('Menu/rmRoundedLeft_rtl.png');
  background-repeat: no-repeat; }

.RadMenu_Simple_rtl .rmTopRight,
.RadMenu_Simple_rtl .rmBottomRight {
  background-image: url('Menu/rmRoundedRight_rtl.png'); }

.RadMenu_Simple_rtl .rmContentTemplate .rmTopRight,
.RadMenu_Simple_rtl .rmContentTemplate .rmBottomRight {
  background-image: url('Menu/rmRoundedRight.png'); }

.RadMenu_Simple_rtl li.rmTopFix,
.RadMenu_Simple_rtl li.rmBottomFix,
.RadMenu_Simple_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Simple_Context_rtl .rmGroup .rmItem {
  background-position: 101% 0; }

.RadMenu_Simple .rmGroup .rmHorizontal {
  background: #fff; }

.RadMenu_Simple .rmGroup .rmItem a.rmLink {
  padding: 1px; }

.RadMenu_Simple .rmGroup .rmItem a.rmLink:hover,
.RadMenu_Simple .rmGroup .rmItem a.rmFocused,
.RadMenu_Simple .rmGroup .rmItem a.rmSelected,
.RadMenu_Simple .rmGroup .rmItem a.rmExpanded,
.RadMenu_Simple .rmGroup .rmItem a.rmExpanded:hover {
  padding: 0; }

.RadMenu_Simple .rmGroup .rmItem a.rmDisabled,
.RadMenu_Simple .rmGroup .rmItem a.rmDisabled:hover {
  padding: 1px; }

.RadMenu_Simple .rmRootGroup .rmItem .rmHorizontal .rmExpandUp,
.RadMenu_Simple .rmRootGroup .rmItem .rmHorizontal .rmExpandDown,
.RadMenu_Simple .rmRootGroup .rmItem .rmHorizontal .rmExpandLeft,
.RadMenu_Simple .rmRootGroup .rmItem .rmHorizontal .rmExpandRight {
  padding-right: 30px;
  background-image: url('Menu/rmExpandArrows.png');
  background-repeat: no-repeat; }
.RadMenu_Simple .rmRootGroup .rmItem .rmHorizontal .rmExpandUp {
  background-position: right -90px; }
.RadMenu_Simple .rmRootGroup .rmItem .rmHorizontal .rmExpandDown {
  background-position: right -103px; }
.RadMenu_Simple .rmRootGroup .rmItem .rmHorizontal .rmExpandLeft {
  background-position: right -50px; }
.RadMenu_Simple .rmRootGroup .rmItem .rmHorizontal .rmExpandRight {
  background-position: right 0px; }

.RadMenu_Simple .rmVertical .rmExpandRight,
.RadMenu_Simple .rmVertical .rmExpandLeft,
.RadMenu_Simple .rmGroup .rmExpandRight,
.RadMenu_Simple .rmGroup .rmExpandLeft,
.RadMenu_Simple .rmTopArrow,
.RadMenu_Simple .rmBottomArrow,
.RadMenu_Simple .rmLeftArrow,
.RadMenu_Simple .rmRightArrow {
  background: transparent url('Menu/rmExpandArrows.png') no-repeat; }

.RadMenu_Simple .rmLeftArrow,
.RadMenu_Simple .rmRightArrow {
  height: 26px; }

.RadMenu_Simple .rmVertical .rmExpandRight,
.RadMenu_Simple .rmGroup .rmExpandRight {
  background-position: 100% 0; }

.RadMenu_Simple .rmVertical .rmExpandLeft,
.RadMenu_Simple .rmGroup .rmExpandLeft {
  background-position: 0 -48px; }

.RadMenu_Simple a.rmLink:hover .rmExpandRight,
.RadMenu_Simple a.rmFocused .rmExpandRight,
.RadMenu_Simple a.rmSelected .rmExpandRight,
.RadMenu_Simple a.rmExpanded .rmExpandRight {
  background-position: 100% -24px; }

.RadMenu_Simple a.rmLink:hover .rmExpandLeft,
.RadMenu_Simple a.rmFocused .rmExpandLeft,
.RadMenu_Simple a.rmSelected .rmExpandLeft,
.RadMenu_Simple a.rmExpanded .rmExpandLeft {
  background-position: 0 -72px; }

.RadMenu_Simple .rmTopArrow,
.RadMenu_Simple .rmBottomArrow,
.RadMenu_Simple .rmLeftArrow,
.RadMenu_Simple .rmRightArrow {
  background-color: #fff; }

.RadMenu_Simple .rmTopArrow {
  border-bottom: 1px solid #ccc;
  background-position: 50% -95px; }

.RadMenu_Simple .rmBottomArrow {
  border-top: 1px solid #ccc;
  background-position: 50% -109px; }

.RadMenu_Simple .rmLeftArrow {
  border-right: 1px solid #ccc;
  background-position: 50% -48px; }

.RadMenu_Simple .rmRightArrow {
  border-left: 1px solid #ccc;
  background-position: 50% 1px; }

.RadMenu_Simple .rmSeparator .rmText {
  border-color: #808080 #e4e4e4 #e4e4e4 #808080; }

.RadMenu_Simple .rmGroup .rmSeparator .rmText {
  border-color: #999 #fff #fff #999; }

.RadMenu_Simple .rmScrollWrap .rmVertical {
  border: 0; }

/* </RadMenu / Simple> */
.RadMenu_Simple .rmHorizontal .rmRootLink .rmToggle {
  margin-left: 0px;
  margin-right: -8px;
  height: 21px; }
.RadMenu_Simple .rmGroup .rmToggle:hover {
  border-color: #c98400; }
.RadMenu_Simple .rmGroup .rmExpanded .rmToggle {
  border-color: #ca4b0c; }
.RadMenu_Simple .rmGroup .rmDisabled .rmToggle:hover {
  border-color: transparent; }
.RadMenu_Simple .rmHorizontal .rmRootLink .rmIcon {
  background-image: url('Menu/rmExpandArrows.png');
  background-position: 50% -107px; }
  @media screen\9 {
    .RadMenu_Simple .rmHorizontal .rmRootLink .rmIcon {
      background-position: -5px -107px; } }

/* <rtl> */
.RadMenu_Simple_rtl .rmGroup,
.RadMenu_Simple_rtl .rmMultiColumn,
.RadMenu_Simple_rtl .rmGroup .rmVertical {
  background-position: 101% 0; }

.RadMenu_Simple_rtl .rmHorizontal .rmRootLink {
  margin-left: 0;
  margin-right: 1px; }

.RadMenu_Simple_rtl .rmVertical .rmLink.rmRootLink {
  padding-right: 12px;
  padding-left: 1px; }

.RadMenu_Simple_rtl .rmVertical .rmLink.rmRootLink:hover,
.RadMenu_Simple_rtl .rmVertical .rmLink.rmRootLink.rmSelected,
.RadMenu_Simple_rtl .rmVertical .rmLink.rmRootLink.rmFocused,
.RadMenu_Simple_rtl .rmVertical .rmLink.rmRootLink.rmExpanded {
  padding-right: 11px;
  padding-left: 0; }

.RadMenu_Simple_rtl .rmVertical.rmGroup a.rmLink .rmText,
.RadMenu_Simple_rtl .rmGroup .rmVertical a.rmLink .rmText {
  padding-left: 53px;
  padding-right: 30px; }

.RadMenu_Simple_rtl .rmToggleHandles .rmRootLink.rmLink .rmText.rmExpandUp,
.RadMenu_Simple_rtl .rmToggleHandles .rmRootLink.rmLink .rmText.rmExpandDown,
.RadMenu_Simple_rtl .rmToggleHandles .rmRootLink.rmLink .rmText.rmExpandLeft,
.RadMenu_Simple_rtl .rmToggleHandles .rmRootLink.rmLink .rmText.rmExpandRight {
  padding-left: 8px; }

.RadMenu_Simple_rtl .rmHorizontal.rmGroup .rmItem .rmExpandUp,
.RadMenu_Simple_rtl .rmHorizontal.rmGroup .rmItem .rmExpandDown,
.RadMenu_Simple_rtl .rmHorizontal.rmGroup .rmItem .rmExpandLeft,
.RadMenu_Simple_rtl .rmHorizontal.rmGroup .rmItem .rmExpandRight,
.RadMenu_Simple_rtl .rmGroup .rmHorizontal .rmItem .rmExpandUp,
.RadMenu_Simple_rtl .rmGroup .rmHorizontal .rmItem .rmExpandDown,
.RadMenu_Simple_rtl .rmGroup .rmHorizontal .rmItem .rmExpandLeft,
.RadMenu_Simple_rtl .rmGroup .rmHorizontal .rmItem .rmExpandRight {
  padding-right: 3px;
  padding-left: 30px; }
.RadMenu_Simple_rtl .rmHorizontal.rmGroup .rmItem .rmExpandUp,
.RadMenu_Simple_rtl .rmGroup .rmHorizontal .rmItem .rmExpandUp {
  background-position: left -90px; }
.RadMenu_Simple_rtl .rmHorizontal.rmGroup .rmItem .rmExpandDown,
.RadMenu_Simple_rtl .rmGroup .rmHorizontal .rmItem .rmExpandDown {
  background-position: left -103px; }
.RadMenu_Simple_rtl .rmHorizontal.rmGroup .rmItem .rmExpandLeft,
.RadMenu_Simple_rtl .rmGroup .rmHorizontal .rmItem .rmExpandLeft {
  background-position: left -50px; }
.RadMenu_Simple_rtl .rmHorizontal.rmGroup .rmItem .rmExpandRight,
.RadMenu_Simple_rtl .rmGroup .rmHorizontal .rmItem .rmExpandRight {
  background-position: left 0px; }

.RadMenu_Simple_rtl .rmGroup .rmLink:hover .rmLeftImage,
.RadMenu_Simple_rtl .rmGroup .rmLink.rmFocused .rmLeftImage,
.RadMenu_Simple_rtl .rmGroup .rmLink.rmSelected .rmLeftImage,
.RadMenu_Simple_rtl .rmGroup .rmLink.rmExpanded .rmLeftImage {
  right: -1px; }

.RadMenu_Simple_rtl .rmGroup .rmToggle:hover {
  border-left: 0;
  border-right: 1px solid #C98400; }

.RadMenu_Simple_rtl .rmGroup .rmExpanded .rmToggle {
  border-left: 0;
  border-right: 1px solid #CA4B0C; }

.RadMenu_Simple_rtl .rmHorizontal .rmRootLink .rmToggle {
  margin-right: -8px;
  margin-left: -10px; }
  @media screen\9 {
    .RadMenu_Simple_rtl .rmHorizontal .rmRootLink .rmToggle {
      margin-left: 0; } }

/* </rtl> */
