.RadForm_Telerik {
  /* CSS class for styling the decoration zone or the <html /> tag of the page */
  /* Decorate scrollbars */
  /* Decorate <input type="button | submit | reset" /> and <button type="button | submit | reset" /> - look if there is a secondary .rfdButton class applied to the root element */
  /* OPERA width fix - do not remove (and check if it is still necessary) */
  /* Decorate <h4|5|6 /> */
  /* Decorate <label /> */
  /* Decorate <input type="checkbox" /> */
  /* Decorate <input type="radio" /> */
  /* IE6 - we set .gif")%> image instead of .png")%> due to the lack RGBA support */
  /* <fieldset /> and <legend /> */
  /* this selector styles the hover of the side bars of the rounded elements */
  /* Decorate <input type="text | password | search | url | tel | email" /> and <textarea /> */
  /* For all browsers except IE6 we are using attribute selectors - single or double */
  /* Decorate <fieldset /> */
  /* Decorate <fieldset /> and <legend /> */
  /* Because of a glitch in IE the following 2 CSS classes must be declared separately for correct parsing of the textarea class in IE6*/
  /* <select /> */
  /* IE6 disabled state fix - this should not be added to the base stylesheet, but at the bottom of the skin file */
  /* the styling of radiobuttons and checkboxes in Safari and Chrome is already fully achieved with CSS */
  /* ----------------------------------------------- Skin-specific Scrollbar Settings for WebKit ----------------------------------------------- */
  /* the scrollbar face color */
  /*GridView, FormView, DetailsView*/
  /* Validation Summary Control and Login Control  */ }
  .RadForm_Telerik.rfdScrollBars {
    scrollbar-3dlight-color: #a0ad8a;
    scrollbar-arrow-color: #7f7f7f;
    scrollbar-base-color: #f5f5f5;
    scrollbar-darkshadow-color: #5f6e93;
    scrollbar-face-color: #e4e4e4;
    scrollbar-highlight-color: #fff;
    scrollbar-shadow-color: #a0ad8a;
    scrollbar-track-color: #f0f0f0; }
  .RadForm_Telerik.rfdButton a.rfdSkinnedButton, .RadForm_Telerik.rfdButton input[type="button"].rfdDecorated, .RadForm_Telerik.rfdButton input[type="reset"].rfdDecorated, .RadForm_Telerik.rfdButton input[type="submit"].rfdDecorated, .RadForm_Telerik.rfdButton .rfdSkinnedButton button,
  .RadForm_Telerik a.rfdSkinnedButton,
  .RadForm_Telerik .rfdSkinnedButton button,
  .RadForm_Telerik .rfdSkinnedButton input.rfdDecorated, .RadForm_Telerik.rfdButton a.rfdSkinnedButton, .RadForm_Telerik.rfdButton a.rfdSkinnedButton * {
    background-image: url('FormDecorator/ButtonSprites.png');
    color: black; }
  .RadForm_Telerik a.rfdSkinnedButton,
  .RadForm_Telerik .rfdSkinnedButton button,
  .RadForm_Telerik .rfdSkinnedButton input.rfdDecorated {
    _background-image: url('FormDecorator/ButtonSprites.png');
    _color: black; }
  @media screen and (min-width: 1px) {
    .RadForm_Telerik {
      /* 
         the hack below fixes a strange behavior under Opera - 
         input and button have a different CSS display when in anchor tag 
      */ }
      .RadForm_Telerik.rfdButton a.rfdSkinnedButton input {
        display: block;
        float: left; } }
  .RadForm_Telerik.rfdHeading h4, .RadForm_Telerik.rfdHeading h5 {
    color: #316300;
    border-bottom: 1px solid #a0a0a0; }
  .RadForm_Telerik.rfdHeading h6 {
    color: #316300; }
  .RadForm_Telerik.rfdLabel label, .RadForm_Telerik.rfdLabel .rfdAspLabel, .RadForm_Telerik.rfdRadio .rfdRadioUnchecked, .RadForm_Telerik.rfdRadio .rfdRadioChecked, .RadForm_Telerik.rfdCheckbox .rfdCheckboxUnchecked, .RadForm_Telerik.rfdCheckbox .rfdCheckboxChecked {
    color: black; }
  .RadForm_Telerik .rfdCheckboxUnchecked,
  .RadForm_Telerik .rfdCheckboxChecked,
  .RadForm_Telerik .rfdInputDisabled.rfdCheckboxUnchecked,
  .RadForm_Telerik .rfdInputDisabled.rfdCheckboxChecked {
    background-image: url('FormDecorator/CheckBoxSprites.gif'); }
  .RadForm_Telerik .rfdRadioUnchecked,
  .RadForm_Telerik .rfdRadioChecked,
  .RadForm_Telerik .rfdInputDisabled.rfdRadioUnchecked,
  .RadForm_Telerik .rfdInputDisabled.rfdRadioChecked {
    background-image: url('FormDecorator/RadioButtonSprites.png'); }
  .RadForm_Telerik .rfdRadioUnchecked,
  .RadForm_Telerik .rfdInputDisabled.rfdRadioUnchecked:hover,
  .RadForm_Telerik .rfdRadioUnchecked:hover,
  .RadForm_Telerik .rfdRadioChecked,
  .RadForm_Telerik .rfdInputDisabled.rfdRadioChecked:hover,
  .RadForm_Telerik .rfdRadioChecked:hover {
    _background-image: url('FormDecorator/RadioButtonSprites.gif');
    /* IE6 hack */ }
  .RadForm_Telerik.rfdFieldset legend, .RadForm_Telerik.rfdFieldset fieldset legend, .RadForm_Telerik.rfdFieldset table.rfdRoundedWrapper_fieldset legend {
    color: #239500; }
  .RadForm_Telerik table.rfdRoundedWrapper:hover div.rfdRoundedInner {
    background-color: white;
    border-color: #2ebf00 !important; }
  .RadForm_Telerik table.rfdRoundedWrapper:hover .rfdRoundedOuter {
    background-color: #2ebf00 !important; }
  .RadForm_Telerik.rfdTextbox input[type="text"].rfdDecorated, .RadForm_Telerik.rfdTextbox input[type="password"].rfdDecorated, .RadForm_Telerik.rfdTextbox input[type="search"].rfdDecorated, .RadForm_Telerik.rfdTextbox input[type="url"].rfdDecorated, .RadForm_Telerik.rfdTextbox input[type="tel"].rfdDecorated, .RadForm_Telerik.rfdTextbox input[type="email"].rfdDecorated, .RadForm_Telerik.rfdTextarea textarea, .RadForm_Telerik.rfdTextarea textarea[disabled].rfdDecorated:hover, .RadForm_Telerik.rfdTextbox input[disabled][type="text"].rfdDecorated:hover, .RadForm_Telerik.rfdTextbox input[disabled][type="password"].rfdDecorated:hover, .RadForm_Telerik.rfdTextbox input[disabled][type="search"].rfdDecorated:hover, .RadForm_Telerik.rfdTextbox input[disabled][type="url"].rfdDecorated:hover, .RadForm_Telerik.rfdTextbox input[disabled][type="tel"].rfdDecorated:hover, .RadForm_Telerik.rfdTextbox input[disabled][type="email"].rfdDecorated:hover {
    border: 1px solid #8e8e8e;
    background-color: white; }
  .RadForm_Telerik.RadForm.rfdTextbox .rfdDecorated:hover, .RadForm_Telerik.RadForm.rfdTextarea textarea:hover, .RadForm_Telerik.RadForm.rfdTextbox .rfdDecorated:focus, .RadForm_Telerik.RadForm.rfdTextarea textarea:focus {
    border: 1px solid #2ebf00; }
  .RadForm_Telerik.rfdFieldset table.rfdRoundedWrapper_fieldset legend, .RadForm_Telerik.rfdFieldset fieldset.rfdFieldset legend {
    color: #239500; }
  .RadForm_Telerik.rfdFieldset fieldset, .RadForm_Telerik.rfdFieldset table.rfdRoundedWrapper_fieldset fieldset, .RadForm_Telerik.rfdFieldset fieldset.rfdFieldset {
    border: 1px solid #828282;
    background-image: url('FormDecorator/FieldsetBgr.png');
    /* having a background image on a fieldset is not okay with IE */ }
  .RadForm_Telerik table.rfdRoundedWrapper input,
  .RadForm_Telerik table.rfdRoundedWrapper textarea,
  .RadForm_Telerik input.rfdInput,
  .RadForm_Telerik textarea.rfdTextarea {
    border: 1px solid #8e8e8e;
    background: white;
    color: black; }
  .RadForm_Telerik textarea.rfdTextarea,
  .RadForm_Telerik table.rfdRoundedWrapper textarea {
    overflow: auto; }
  .RadForm_Telerik .rfdSelect_Telerik,
  .RadForm_Telerik .rfdSelect_Telerik:hover,
  .RadForm_Telerik .rfdSelect_Telerik .rfdSelectOuter,
  .RadForm_Telerik .rfdSelect_Telerik:hover .rfdSelectOuter,
  .RadForm_Telerik .rfdSelect_Telerik .rfdSelectArrow span,
  .RadForm_Telerik .rfdSelectBox_Telerik .rfdSelect_selected,
  .RadForm_Telerik .rfdSelectBox_Telerik li:hover,
  .RadForm_Telerik .rfdSelect_Telerik.rfdSelectDisabled:hover,
  .RadForm_Telerik .rfdRtl .rfdSelect_Telerik,
  .RadForm_Telerik .rfdRtl .rfdSelect_Telerik:hover,
  .RadForm_Telerik .rfdRtl .rfdSelect_Telerik .rfdSelectOuter,
  .RadForm_Telerik .rfdRtl .rfdSelect_Telerik .rfdSelectOuter:hover {
    background-image: url('FormDecorator/ComboSprites.gif');
    background-repeat: no-repeat;
    background-color: transparent; }
  .RadForm_Telerik .rfdSelect_Telerik .rfdSelectOuter,
  .RadForm_Telerik .rfdSelect_Telerik.rfdSelectDisabled:hover .rfdSelectOuter {
    color: black; }
  .RadForm_Telerik.rfdButton a.rfdInputDisabled:hover {
    _background-position: 0 0; }
  .RadForm_Telerik.rfdButton a.rfdInputDisabled:hover * {
    _background-position: right -21px;
    _color: black; }
  .RadForm_Telerik.rfdTextbox input.rfdIE6TextBox, .RadForm_Telerik.rfdTextbox textarea.rfdIE6TextBox {
    _border: 1px solid #8e8e8e;
    _background-color: white; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadForm_Telerik {
      /* checkboxes */
      /* radio buttons */ }
      .RadForm_Telerik.rfdCheckbox input[type="checkbox"], .RadForm_Telerik.rfdCheckbox input[type="checkbox"][disabled]:hover {
        background-image: url('FormDecorator/CheckBoxSprites.gif'); }
      .RadForm_Telerik.rfdRadio input[type="radio"], .RadForm_Telerik.rfdRadio input[type="radio"][disabled="disabled"]:hover {
        background-image: url('FormDecorator/RadioButtonSprites.png'); } }
  .RadForm_Telerik.rfdScrollBars {
    /* scrollbar track background color */
    /* increment / decrement button settings */ }
    .RadForm_Telerik.rfdScrollBars body::-webkit-scrollbar,
    .RadForm_Telerik.rfdScrollBars body::-webkit-scrollbar-thumb:vertical,
    .RadForm_Telerik.rfdScrollBars body::-webkit-scrollbar-thumb:horizontal,
    .RadForm_Telerik.rfdScrollBars div::-webkit-scrollbar,
    .RadForm_Telerik.rfdScrollBars div::-webkit-scrollbar-thumb:vertical,
    .RadForm_Telerik.rfdScrollBars div::-webkit-scrollbar-thumb:horizontal
    form::-webkit-scrollbar,
    .RadForm_Telerik.rfdScrollBars form::-webkit-scrollbar-thumb:vertical,
    .RadForm_Telerik.rfdScrollBars form::-webkit-scrollbar-thumb:horizontal {
      background-color: #e4e4e4; }
    .RadForm_Telerik.rfdScrollBars ::-webkit-scrollbar-track-piece,
    .RadForm_Telerik.rfdScrollBars ::-webkit-scrollbar-corner {
      background-color: #f0f0f0; }
    .RadForm_Telerik.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement,
    .RadForm_Telerik.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment,
    .RadForm_Telerik.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement,
    .RadForm_Telerik.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment,
    .RadForm_Telerik.rfdScrollBars ::-webkit-scrollbar-thumb:vertical,
    .RadForm_Telerik.rfdScrollBars ::-webkit-scrollbar-thumb:horizontal {
      border-color: #fff #a0ad8a #a0ad8a #fff; }
    .RadForm_Telerik.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement,
    .RadForm_Telerik.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment,
    .RadForm_Telerik.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement,
    .RadForm_Telerik.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment {
      background-image: url('FormDecorator/ButtonSprites.png');
      background-color: #e4e4e4; }
  .RadForm_Telerik.rfdGrids .rfdTable {
    border: 1px solid #828282;
    background: white;
    color: black;
    font: 12px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadForm_Telerik.rfdGrids .rfdTable th {
    border-bottom: 1px solid #828282;
    border-left: 1px solid #828282;
    background: #e6e6e6;
    color: #333; }
  .RadForm_Telerik.rfdGrids .rfdTable a {
    color: #239600; }
  .RadForm_Telerik .rfdValidationSummaryControl,
  .RadForm_Telerik .rfdLoginControl {
    background-color: white;
    border: 1px solid #828282; }
  .RadForm_Telerik a.rfdLoginControl {
    color: black; }
  .RadForm_Telerik a.rfdLoginControl:active {
    color: #155800; }
  .RadForm_Telerik a.rfdLoginControl:hover {
    color: #1e7f00; }
  .RadForm_Telerik a.rfdLoginControl:visited {
    color: #4b4b4b; }

/* dropdown settings */
.rfdSelectBox_Telerik {
  background: white;
  border: 1px solid #828282;
  color: black; }

.rfdSelectBox_Telerik li {
  padding: 0 0 0 3px;
  background-image: none !important; }

.rfdSelectBox.rfdSelectBox_Telerik .rfdSelect_selected,
.rfdSelectBox.rfdSelectBox_Telerik li:hover,
.rfdSelectBox_Telerik .rfdSelect_hovered {
  color: black;
  background-color: #9ddf6c; }

.rfdSelectBox_Telerik .rfdSelectBox_optgroup_label:hover {
  background: none;
  color: black; }

