/* <RadMenu / Telerik> */
.RadMenu_Telerik .rmRootGroup,
.RadMenu_Telerik a.rmLink,
.RadMenu_Telerik .rmGroup .rmText,
.RadMenu_Telerik .rmVertical .rmText,
.RadMenu_Telerik .rmLeftArrow,
.RadMenu_Telerik .rmRightArrow,
.RadMenu_Telerik .rmTopArrow,
.RadMenu_Telerik .rmBottomArrow {
  background-image: url('Menu/rmSprite.png');
  background-color: transparent; }

.RadMenu_Telerik .rmRootGroup {
  border: 1px solid #828282;
  background-repeat: repeat-x;
  background-position: 0 -408px;
  background-color: #e6e6e6; }

/* <Root items> */
.RadMenu_Telerik,
.RadMenu_Telerik a.rmLink {
  font: normal 12px/23px "Segoe UI", Arial, sans-serif;
  color: #000;
  text-decoration: none; }

.RadMenu_Telerik a.rmLink,
.RadMenu_Telerik a.rmDisabled,
.RadMenu_Telerik a.rmDisabled:hover {
  background-position: 0 -72px; }

.RadMenu_Telerik .rmHorizontal .rmFirst a.rmLink.rmRootLink,
.RadMenu_Telerik .rmFirst a.rmLink:hover,
.RadMenu_Telerik .rmLast .rmText,
.RadMenu_Telerik .rmLast a.rmLink:hover .rmText,
.RadMenu_Telerik .rmVertical a.rmLink,
.RadMenu_Telerik .rmVertical .rmText {
  background-repeat: no-repeat;
  background-position: 0 500px; }

.RadMenu_Telerik .rmVertical .rmFirst,
.RadMenu_Telerik .rmVertical .rmLast {
  background: none; }

.RadMenu_Telerik a.rmLink:hover,
.RadMenu_Telerik a.rmFocused,
.RadMenu_Telerik a.rmSelected {
  background-color: #fff; }

.RadMenu_Telerik .rmHorizontal .rmRootLink span.rmText {
  display: inline;
  padding-left: 12px; }

.RadMenu_Telerik_rtl .rmRootLink span.rmText {
  padding-right: 12px; }

.RadMenu_Telerik_Context_rtl .rmRootLink span.rmText {
  padding-right: 28px; }

.RadMenu_Telerik .rmHorizontal a.rmRootLink {
  padding-left: 0; }

.RadMenu_Telerik_rtl .rmHorizontal a.rmRootLink {
  margin-left: 0;
  padding: 0; }

.RadMenu_Telerik .rmHorizontal .rmItem > a.rmRootLink {
  width: 100%; }

.RadMenu_Telerik .rmHorizontal .rmRootLink .rmLeftImage {
  margin: 3px -6px 0 3px; }

.RadMenu_Telerik_rtl .rmHorizontal .rmRootLink .rmLeftImage {
  margin: 3px 3px 0 -6px; }

@media screen\9 {
  .RadMenu_Telerik_rtl .rmHorizontal .rmRootLink .rmLeftImage {
    margin-right: 7px; } }
.RadMenu_Telerik .rmVertical a.rmLink {
  border-width: 1px 0;
  border-style: solid;
  border-color: transparent; }

.RadMenu_Telerik .rmVertical a.rmLink:hover,
.RadMenu_Telerik .rmVertical a.rmFocused,
.RadMenu_Telerik .rmVertical a.rmSelected,
.RadMenu_Telerik .rmVertical a.rmExpanded,
.RadMenu_Telerik .rmVertical a.rmExpanded:hover {
  border-color: #828282; }

.RadMenu_Telerik .rmVertical .rmFirst a.rmLink:hover,
.RadMenu_Telerik .rmVertical .rmFirst a.rmFocused,
.RadMenu_Telerik .rmVertical .rmFirst a.rmSelected,
.RadMenu_Telerik .rmVertical .rmFirst a.rmExpanded,
.RadMenu_Telerik .rmVertical .rmFirst a.rmExpanded:hover {
  border-top-color: transparent; }

.RadMenu_Telerik .rmVertical .rmLast a.rmLink:hover,
.RadMenu_Telerik .rmVertical .rmLast a.rmFocused,
.RadMenu_Telerik .rmVertical .rmLast a.rmSelected,
.RadMenu_Telerik .rmVertical .rmLast a.rmExpanded,
.RadMenu_Telerik .rmVertical .rmLast a.rmExpanded:hover {
  border-bottom-color: transparent; }

.RadMenu_Telerik .rmVertical .rmItem a.rmDisabled:hover {
  border-color: transparent; }

.RadMenu_Telerik a.rmExpanded,
.RadMenu_Telerik a.rmExpanded:hover {
  background-color: #fff; }

.RadMenu_Telerik a.rmDisabled,
.RadMenu_Telerik a.rmDisabled:hover {
  color: #7d7d7d;
  background-color: transparent; }

/* </Root items> */
/* <Submenu items> */
.RadMenu_Telerik .rmGroup,
.RadMenu_Telerik .rmMultiColumn,
.RadMenu_Telerik .rmGroup .rmVertical {
  border: 1px solid #979797;
  background: white url('Menu/rmVSprite.png') repeat-y 0 0; }

.RadMenu_Telerik .rmPopup {
  background: url('Menu/rmVSprite.png') repeat-y 0 0; }

.RadMenu_Telerik .rmContentTemplate {
  background: #fff; }

.RadMenu_Telerik .rmTopFix,
.RadMenu_Telerik .rmBottomFix,
.RadMenu_Telerik .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Telerik .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_Telerik .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_Telerik_Context.rmRoundedCorners .rmGroup .rmItem {
  background-image: url('Menu/rmVSprite.png');
  background-color: #fff;
  background-repeat: repeat-y;
  background-position: -2px 0; }

.RadMenu_Telerik li.rmTopFix,
.RadMenu_Telerik li.rmBottomFix {
  background-position: -5px 0; }

.RadMenu_Telerik .rmTopFix,
.RadMenu_Telerik .rmBottomFix {
  background-position: -4px 0; }

.RadMenu_Telerik .rmPopup .rmTopFix,
.RadMenu_Telerik .rmPopup .rmBottomFix {
  background-image: none; }

.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Telerik .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Telerik .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Telerik .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Telerik .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Telerik_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrap .rmVertical {
  background-image: none; }

.RadMenu_Telerik .rmScrollWrap {
  margin-bottom: -1px; }

.RadMenu_Telerik .rmRoundedCorners .rmGroupColumn {
  background-color: #fff; }

.RadMenu_Telerik .rmBottomLeft,
.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Telerik_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Telerik .rmRoundedCorners ul.rmGroup,
.RadMenu_Telerik .rmRoundedCorners .rmMultiColumn {
  background-image: url('Menu/rmRoundedLeft.png');
  background-color: transparent;
  background-repeat: no-repeat; }

.RadMenu_Telerik .rmPopup .rmBottomLeft {
  background-image: url('Menu/rmRoundedLeft.png'); }

.RadMenu_Telerik .rmTopRight,
.RadMenu_Telerik .rmBottomRight {
  background-image: url('Menu/rmRoundedRight.png');
  background-color: transparent;
  background-repeat: no-repeat; }

.RadMenu_Telerik .rmTopFix,
.RadMenu_Telerik .rmBottomFix,
.RadMenu_Telerik .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Telerik_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Telerik .rmGroup .rmFirst {
  border-color: #979797; }

.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix {
  background: #FFF; }

.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow {
  background-color: #FFF;
  border: 0; }

.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow {
  background-color: #FFF; }

.RadMenu_Telerik .rmSlide .rmScrollWrap {
  background-image: none; }

.RadMenu_Telerik_rtl .rmGroup,
.RadMenu_Telerik_rtl .rmMultiColumn,
.RadMenu_Telerik_rtl .rmGroup .rmVertical {
  background-position: 100% 0; }

.RadMenu_Telerik .rmRootGroup li.rmItem .rmGroup {
  padding-bottom: 0; }

.RadMenu_Telerik .rmRootGroup .rmHorizontal {
  background-image: none; }

.RadMenu_Telerik .rmScrollWrap .rmVertical {
  border: 0; }

.RadMenu_Telerik .rmGroup .rmItem a.rmLink,
.RadMenu_Telerik .rmGroup .rmItem a.rmLink:hover,
.RadMenu_Telerik .rmGroup .rmItem a.rmFocused,
.RadMenu_Telerik .rmGroup .rmItem a.rmSelected,
.RadMenu_Telerik .rmGroup .rmItem a.rmExpanded {
  padding-top: 0;
  padding-bottom: 0;
  border: 0; }

.RadMenu_Telerik .rmGroup .rmLast a.rmLink,
.RadMenu_Telerik .rmGroup .rmLast a.rmLink:hover,
.RadMenu_Telerik .rmGroup .rmLast a.rmFocused,
.RadMenu_Telerik .rmGroup .rmLast a.rmSelected,
.RadMenu_Telerik .rmGroup .rmLast a.rmExpanded {
  padding-bottom: 1px; }

.RadMenu_Telerik .rmGroup a.rmLink,
.RadMenu_Telerik .rmGroup .rmText,
.RadMenu_Telerik .rmGroup .rmItem .rmLink.rmDisabled,
.RadMenu_Telerik .rmGroup .rmItem .rmLink.rmDisabled:hover,
.RadMenu_Telerik .rmGroup .rmItem .rmLink.rmDisabled .rmText,
.RadMenu_Telerik .rmGroup .rmItem .rmLink.rmDisabled:hover .rmText {
  background-position: 0 500px;
  background-repeat: no-repeat;
  background-color: transparent; }

.RadMenu_Telerik .rmGroup a.rmLink:hover,
.RadMenu_Telerik .rmGroup a.rmFocused,
.RadMenu_Telerik .rmGroup a.rmSelected,
.RadMenu_Telerik .rmGroup a.rmExpanded {
  background-position: 0 -168px; }

.RadMenu_Telerik .rmGroup a.rmLink:hover .rmText,
.RadMenu_Telerik .rmGroup a.rmFocused .rmText,
.RadMenu_Telerik .rmGroup a.rmSelected .rmText,
.RadMenu_Telerik .rmGroup a.rmExpanded .rmText {
  background-position: 100% -192px; }

/* <expand arrows> */
.RadMenu_Telerik .rmGroup .rmItem a.rmLink:hover .rmExpandRight,
.RadMenu_Telerik .rmGroup .rmItem a.rmSelected .rmExpandRight,
.RadMenu_Telerik .rmGroup .rmItem a.rmFocused .rmExpandRight,
.RadMenu_Telerik .rmGroup .rmItem a.rmExpanded .rmExpandRight,
.RadMenu_Telerik .rmGroup .rmItem a.rmLink:hover .rmExpandDown,
.RadMenu_Telerik .rmGroup .rmItem a.rmSelected .rmExpandDown,
.RadMenu_Telerik .rmGroup .rmItem a.rmFocused .rmExpandDown,
.RadMenu_Telerik .rmGroup .rmItem a.rmExpanded .rmExpandDown {
  background-position: 100% -240px; }

.RadMenu_Telerik .rmRootGroup a.rmLink.rmRootLink .rmExpandRight,
.RadMenu_Telerik .rmGroup a.rmLink .rmExpandRight,
.RadMenu_Telerik .rmGroup .rmExpandDown,
.RadMenu_Telerik_Context .rmGroup .rmExpandRight,
.RadMenu_Telerik .rmRootGroup .rmItem a.rmDisabled .rmExpandRight,
.RadMenu_Telerik .rmGroup .rmItem a.rmDisabled .rmExpandDown,
.RadMenu_Telerik .rmRootGroup .rmItem a.rmDisabled:hover .rmExpandRight,
.RadMenu_Telerik .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown {
  background-position: 100% -216px; }

.RadMenu_Telerik .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Telerik .rmGroup a.rmDisabled:hover .rmExpandDown {
  background-image: url('Menu/rmSprite.png');
  background-position: 100% -216px; }

/* </expand arrows> */
/* </Submenu items> */
/* <Submenu offsets (Telerik - specific, overlapping submenus)> */
.RadMenu_Telerik .rmSlide {
  margin-top: -1px; }

/* </Submenu offsets> */
/* <Scrolling arrows> */
.RadMenu_Telerik .rmLeftArrow,
.RadMenu_Telerik .rmRightArrow {
  background-color: #E6E6E6; }

.RadMenu_Telerik .rmLeftArrow {
  background-position: -8px -312px;
  border-right: 1px solid #828282; }

.RadMenu_Telerik .rmRightArrow {
  background-position: -482px -216px;
  border-left: 1px solid #828282; }

.RadMenu_Telerik .rmTopArrow,
.RadMenu_Telerik .rmBottomArrow,
.RadMenu_Telerik .rmGroup .rmLeftArrow,
.RadMenu_Telerik .rmGroup .rmRightArrow {
  background-color: #E6E6E6; }

.RadMenu_Telerik .rmTopArrow {
  background-position: 50% -367px;
  border-bottom: 1px solid #828282; }

.RadMenu_Telerik .rmBottomArrow {
  background-position: 50% -391px;
  border-top: 1px solid #828282; }

.rmRoundedCorners_Telerik .rmTopArrow,
.rmRoundedCorners_Telerik .rmBottomArrow,
.RadMenu_Telerik .rmRoundedCorners .rmTopArrow,
.RadMenu_Telerik .rmRoundedCorners .rmBottomArrow {
  border-color: #dcdcdc; }

/* </Scrolling arrows> */
/* <Separators> */
.RadMenu_Telerik .rmRootGroup > .rmSeparator {
  margin-right: -4px; }

.RadMenu_Telerik .rmSeparator .rmText {
  border-color: #a8a8a8 #fff #fff #a8a8a8; }

.RadMenu_Telerik .rmGroup .rmSeparator .rmText {
  border-color: #c5c5c5 #fff #fff #c5c5c5; }

.RadMenu_Telerik .rmHorizontal .rmSeparator {
  z-index: 2; }

.RadMenu_Telerik .rmVertical .rmSeparator .rmText {
  border-width: 1px 0; }

/* </Separators> */
/* </RadMenu / Telerik> */
.RadMenu_Telerik .rmHorizontal .rmRootLink .rmIcon {
  background-image: url('Menu/rmSprite.png');
  background-position: 50% -388px; }
  @media screen\9 {
    .RadMenu_Telerik .rmHorizontal .rmRootLink .rmIcon {
      background-position: -243px -388px; } }

/* <rtl> */
.RadMenu_Telerik_rtl .rmRootGroup > .rmSeparator {
  margin-left: -4px;
  margin-right: 0; }

.RadMenu_Telerik_rtl .rmBottomLeft,
.RadMenu_Telerik_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Telerik_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Telerik .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Telerik_Context_rtl ul.rmGroup,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Telerik .rmRoundedCorners .rmPopup {
  background-image: url('Menu/rmRoundedLeft_rtl.png');
  background-repeat: no-repeat; }

.RadMenu_Telerik_rtl .rmTopRight,
.RadMenu_Telerik_rtl .rmBottomRight {
  background-image: url('Menu/rmRoundedRight_rtl.png'); }

.RadMenu_Telerik_rtl .rmContentTemplate .rmTopRight,
.RadMenu_Telerik_rtl .rmContentTemplate .rmBottomRight {
  background-image: url('Menu/rmRoundedRight.png'); }

.RadMenu_Telerik_rtl li.rmTopFix,
.RadMenu_Telerik_rtl li.rmBottomFix,
.RadMenu_Telerik_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Telerik_Context_rtl .rmGroup .rmItem {
  background-position: 101% 0; }

.RadMenu_Telerik_rtl .rmGroup,
.RadMenu_Telerik_rtl .rmMultiColumn,
.RadMenu_Telerik_rtl .rmGroup .rmVertical {
  background-position: 101% 0; }

.RadMenu_Telerik_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandTop,
.RadMenu_Telerik_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandDown,
.RadMenu_Telerik_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandLeft,
.RadMenu_Telerik_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandRight {
  padding-right: 0px; }

.RadMenu_Telerik_rtl .rmToggleHandles.rmHorizontal .rmExpandUp.rmText,
.RadMenu_Telerik_rtl .rmToggleHandles.rmHorizontal .rmExpandDown.rmText,
.RadMenu_Telerik_rtl .rmToggleHandles.rmHorizontal .rmExpandLeft.rmText,
.RadMenu_Telerik_rtl .rmToggleHandles.rmHorizontal .rmExpandRight.rmText {
  padding-left: 24px; }

.RadMenu_Telerik_rtl .rmHorizontal .rmRootLink .rmToggle {
  margin-right: -22px; }

.RadMenu_Telerik_rtl .rmHorizontal a.rmRootLink.rmLink {
  background-position: 100% -96px; }

.RadMenu_Telerik_rtl .rmVertical a.rmLink.rmRootLink.rmSelected,
.RadMenu_Telerik_rtl .rmVertical a.rmLink.rmRootLink.rmExpanded {
  background-position: 100% -144px; }

.RadMenu_Telerik_rtl .rmGroup .rmItem a.rmLink:hover,
.RadMenu_Telerik_rtl .rmGroup .rmItem a.rmFocused,
.RadMenu_Telerik_rtl .rmGroup .rmItem a.rmSelected,
.RadMenu_Telerik_rtl .rmGroup .rmItem a.rmExpanded {
  background-position: 100% -264px; }

.RadMenu_Telerik_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_Telerik_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_Telerik_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_Telerik_rtl .rmGroup a.rmExpanded .rmText {
  background-position: 0 -288px; }

.RadMenu_Telerik_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_Telerik_rtl .rmRootGroup .rmExpandLeft,
.RadMenu_Telerik_rtl .rmGroup .rmExpandDown {
  background-position: 0 -312px; }

.RadMenu_Telerik_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandTop,
.RadMenu_Telerik_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandDown,
.RadMenu_Telerik_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandLeft,
.RadMenu_Telerik_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandRight {
  padding-right: 12px;
  padding-left: 24px; }

.RadMenu_Telerik_rtl .rmSlide .rmHorizontal .rmLink {
  padding-left: 0; }

.RadMenu_Telerik_rtl .rmHorizontal .rmRootLink .rmToggle {
  margin-right: -24px;
  margin-left: -1px; }

.RadMenu_Telerik_rtl .rmGroup .rmItem a.rmLink:hover .rmExpandLeft,
.RadMenu_Telerik_rtl .rmGroup .rmItem a.rmFocused .rmExpandLeft,
.RadMenu_Telerik_rtl .rmGroup .rmItem a.rmSelected .rmExpandLeft,
.RadMenu_Telerik_rtl .rmGroup .rmItem a.rmExpanded .rmExpandLeft,
.RadMenu_Telerik_rtl .rmGroup .rmItem a.rmLink:hover .rmExpandDown,
.RadMenu_Telerik_rtl .rmGroup .rmItem a.rmFocused .rmExpandDown,
.RadMenu_Telerik_rtl .rmGroup .rmItem a.rmSelected .rmExpandDown,
.RadMenu_Telerik_rtl .rmGroup .rmItem a.rmExpanded .rmExpandDown {
  background-image: url('Menu/rmSprite.png');
  background-position: 0 -336px; }

.RadMenu_Telerik_Context_rtl .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_Telerik_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft {
  background-image: url('Menu/rmSprite.png');
  background-position: 0 -312px; }

/* </rtl> */
