.RadRotator_Telerik {
  /*================== The list ========================*/
  /* For vertical carousel, not set, width defaults to auto */
  /* Note if you explicitly set width to auto, this might cause */
  /* problems with Safari */
  /* When LoadOnDemand */ }
  .RadRotator_Telerik .rrClipRegion {
    border-color: #8e8e8e; }
  .RadRotator_Telerik .rrButton {
    background-image: url('Rotator/RotatorButtons.gif');
    background-repeat: no-repeat; }
  .RadRotator_Telerik .rrLoadingSign {
    background: url('Common/loading_small.gif') no-repeat center; }
