.RadTile_Telerik {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: black;
  background-color: #e5e5e5;
  /* Loading image */ }
  .RadTile_Telerik.rtileSelected {
    border-color: #2ebf00; }
  .RadTile_Telerik.rtileHovered {
    border-color: #828282; }
  .RadTile_Telerik.rtileSelected.rtileHovered {
    border-color: rgba(255, 207, 72, 0.7); }
  .RadTile_Telerik.rtileSelected .rtileSelectedIcon {
    background-image: url('Tile/rtileSprite.png');
    _background-image: url('Tile/rtileSpriteIE6.png'); }
  html .RadTile_Telerik.RadTile h6.rtileTitle {
    color: black; }
  .RadTile_Telerik .rtilePeekContent {
    background-color: #e5e5e5; }
  .RadTile_Telerik.rtileLoading,
  .RadTile_Telerik .rtileLoading {
    background-image: url('Common/loading_small.gif'); }

