.RadToolBar_Telerik {
  color: #000000;
  background-color: #ececec;
  font-size: 12px;
  line-height: 20px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadToolBar_Telerik .rtbOuter {
    border-color: #cccccc;
    background-color: #ececec;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }
  .RadToolBar_Telerik .rtbWrap {
    *color: #000000; }
  .RadToolBar_Telerik .rtbChoiceArrow {
    background-image: url('ToolBar/rtbDropArrows.png'); }
  .RadToolBar_Telerik .rtbItemHovered .rtbWrap,
  .RadToolBar_Telerik .rtbItemHovered .rtbOut,
  .RadToolBar_Telerik .rtbItemHovered .rtbMid,
  .RadToolBar_Telerik .rtbItemHovered .rtbIn {
    color: #000000;
    background-image: url('ToolBar/rtbHoverBg.png'); }
  .RadToolBar_Telerik .rtbItemFocused .rtbWrap,
  .RadToolBar_Telerik .rtbItemFocused .rtbOut,
  .RadToolBar_Telerik .rtbItemFocused .rtbMid,
  .RadToolBar_Telerik .rtbItemFocused .rtbIn {
    color: #000000;
    background-image: url('ToolBar/rtbHoverBg.png'); }
  .RadToolBar_Telerik .rtbItemClicked .rtbWrap,
  .RadToolBar_Telerik .rtbItemClicked .rtbOut,
  .RadToolBar_Telerik .rtbItemClicked .rtbMid,
  .RadToolBar_Telerik .rtbItemClicked .rtbIn {
    color: #000000;
    background-image: url('ToolBar/rtbActiveBg.png'); }
  .RadToolBar_Telerik .rtbSplBtnExpanded .rtbWrap,
  .RadToolBar_Telerik .rtbSplBtnExpanded .rtbOut,
  .RadToolBar_Telerik .rtbSplBtnExpanded .rtbMid,
  .RadToolBar_Telerik .rtbSplBtnExpanded .rtbIn,
  .RadToolBar_Telerik .rtbDropDownExpanded .rtbWrap,
  .RadToolBar_Telerik .rtbDropDownExpanded .rtbOut,
  .RadToolBar_Telerik .rtbDropDownExpanded .rtbMid,
  .RadToolBar_Telerik .rtbDropDownExpanded .rtbIn,
  .RadToolBar_Telerik .rtbChecked .rtbWrap,
  .RadToolBar_Telerik .rtbChecked .rtbOut,
  .RadToolBar_Telerik .rtbChecked .rtbMid,
  .RadToolBar_Telerik .rtbChecked .rtbIn {
    color: #000000;
    background-image: url('ToolBar/rtbActiveBg.png'); }
  .RadToolBar_Telerik .rtbSeparator {
    border-color: #939393;
    background-color: #f7f7f7; }

.RadToolBar_Telerik_Horizontal .rtbOuter {
  background-image: url('ToolBar/rtbControlBg.png');
  background-position: 0 100%; }

.RadToolBar_Telerik_Vertical .rtbOuter {
  background-image: url('ToolBar/rtbVerticalControlBg.png');
  background-position: 100% 0; }

.RadToolBarDropDown_Telerik {
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: #000000;
  border-color: #828282;
  background-color: #ffffff;
  background-image: url('ToolBar/rtbDropDownBg.png'); }
  .RadToolBarDropDown_Telerik .rtbTopFix,
  .RadToolBarDropDown_Telerik .rtbBottomFix,
  .RadToolBarDropDown_Telerik .rtbRoundedCorners .rtbGroup {
    background-image: url('ToolBar/rtbDropDownBg.png');
    background-color: #ffffff; }
  .RadToolBarDropDown_Telerik .rtbBottomLeft,
  .RadToolBarDropDown_Telerik .rtbRoundedCorners {
    background-image: url('ToolBar/rtbRoundedLeft.png'); }
  .RadToolBarDropDown_Telerik .rtbTopRight,
  .RadToolBarDropDown_Telerik .rtbBottomRight {
    background-image: url('ToolBar/rtbRoundedRight.png'); }
  .RadToolBarDropDown_Telerik .rtbTopFix,
  .RadToolBarDropDown_Telerik .rtbBottomFix {
    border-color: #828282; }
  .RadToolBarDropDown_Telerik .rtbWrap {
    border-radius: 3px;
    *color: #000000;
    background-image: url('Common/radGradientListSprite.png') \9; }
  .RadToolBarDropDown_Telerik .rtbItemHovered .rtbWrap {
    border-color: #2ebf00;
    color: #000000;
    background-color: #a1e989;
    background-image: linear-gradient(#d3f8c7, #a1e989); }
  .RadToolBarDropDown_Telerik .rtbItemClicked .rtbWrap {
    border-color: #155800;
    color: #000000;
    background-color: #63ab38;
    background-image: linear-gradient(#a0cf7a, #8cc569 50%, #65b33f 50%, #63ab38); }
  .RadToolBarDropDown_Telerik .rtbSeparator {
    border-color: #c5c5c5;
    background-color: #ffffff; }

.RadToolBarDropDown_Telerik_rtl .rtbBottomLeft,
.RadToolBarDropDown_Telerik_rtl .rtbRoundedCorners {
  background-image: url('ToolBar/rtbRoundedLeft_rtl.png'); }

.RadToolBarDropDown_Telerik_rtl .rtbTopRight,
.RadToolBarDropDown_Telerik_rtl .rtbBottomRight {
  background-image: url('ToolBar/rtbRoundedRight_rtl.png'); }

.RadToolBarDropDown_Telerik_rtl .rtbTopFix,
.RadToolBarDropDown_Telerik_rtl .rtbBottomFix,
.RadToolBarDropDown_Telerik_rtl .rtbGroup,
.RadToolBarDropDown_Telerik_rtl .rtbShadows .rtbGroup {
  background-position: 101% 0; }
