.RadTreeView_Telerik {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadTreeView_Telerik .rtIn {
    background-image: url('Common/radGradientListSprite.png');
    background-image: linear-gradient(transparent, transparent); }
  .RadTreeView_Telerik a.rtIn {
    *color: #000000; }
  .RadTreeView_Telerik .rtHover .rtIn {
    border-color: #2ebf00;
    color: #000000;
    background-color: #a2ea8b;
    background-image: linear-gradient(#d2f8c5, #a2ea8b); }
  .RadTreeView_Telerik .rtSelected .rtIn {
    border-color: #155800;
    color: #000000;
    background-color: #65b33f;
    background-image: linear-gradient(#95cf65, #65b33f); }
  .RadTreeView_Telerik .rtEdit .rtIn input {
    *color: #000000; }
  .RadTreeView_Telerik .rtChecked,
  .RadTreeView_Telerik .rtUnchecked,
  .RadTreeView_Telerik .rtIndeterminate {
    background-image: url('Common/radFormToggleSprite.png'); }
  .RadTreeView_Telerik .rtLoadingIcon {
    background-image: url('Common/loading_small.gif'); }
  .RadTreeView_Telerik .rtPlus,
  .RadTreeView_Telerik .rtMinus {
    background-image: url('TreeView/PlusMinus.png'); }

.RadTreeView_Telerik_disabled .rtIn,
.RadTreeView_Telerik .rtDisabled .rtIn {
  color: #ccc; }
