.RadWindow_Telerik {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* Window Background */
  /* Horiznotal */
  /* Vertical */
  /* Window Shadows */
  /* Horiznotal */
  /* Vertical */
  /* Shadows End */
  /* Loading Indicators */
  /* When ShowContentDuringLoad="true" */
  /* When ShowContentDuringLoad="false" */
  /* Shadow Control Buttons */
  /* ctrl buttons when winodw is minimized */
  /* Skin specific overwrites of the base css */ }
  .RadWindow_Telerik .rwTopLeft,
  .RadWindow_Telerik .rwTopRight,
  .RadWindow_Telerik .rwTitlebar,
  .RadWindow_Telerik .rwFooterLeft,
  .RadWindow_Telerik .rwFooterRight,
  .RadWindow_Telerik .rwFooterCenter,
  .RadWindow_Telerik .rwTopResize,
  .RadWindow_Telerik .rwStatusbar div,
  .RadWindow_Telerik .rwStatusbar,
  .RadWindow_Telerik .rwPopupButton,
  .RadWindow_Telerik .rwPopupButton span, .RadWindow_Telerik.rwMinimizedWindow .rwCorner {
    background-image: url('Window/WindowHorizontalSprites.gif'); }
  .RadWindow_Telerik .rwBodyLeft,
  .RadWindow_Telerik .rwBodyRight,
  .RadWindow_Telerik .rwStatusbarRow .rwCorner {
    background-image: url('Window/WindowVerticalSprites.gif'); }
  .RadWindow_Telerik .rwShadow .rwTopLeft,
  .RadWindow_Telerik .rwShadow .rwTopRight,
  .RadWindow_Telerik .rwShadow .rwTitlebar,
  .RadWindow_Telerik .rwShadow .rwFooterLeft,
  .RadWindow_Telerik .rwShadow .rwFooterRight,
  .RadWindow_Telerik .rwShadow .rwFooterCenter,
  .RadWindow_Telerik .rwShadow .rwTopResize,
  .RadWindow_Telerik .rwShadow .rwStatusbar div,
  .RadWindow_Telerik .rwShadow .rwStatusbar,
  .RadWindow_Telerik .rwShadow .rwPopupButton,
  .RadWindow_Telerik .rwShadow .rwPopupButton span,
  .RadWindow_Telerik .rwShadow .rwBodyLeft,
  .RadWindow_Telerik .rwShadow .rwBodyRight,
  .RadWindow_Telerik .rwShadow .rwStatusbarRow .rwBodyLeft,
  .RadWindow_Telerik .rwShadow .rwStatusbarRow .rwBodyRight {
    background-image: url('Window/WindowHorizontalSprites.png'); }
  .RadWindow_Telerik .rwShadow .rwBodyLeft,
  .RadWindow_Telerik .rwShadow .rwBodyRight,
  .RadWindow_Telerik .rwShadow .rwStatusbarRow .rwBodyLeft,
  .RadWindow_Telerik .rwShadow .rwStatusbarRow .rwBodyRight {
    background-image: url('Window/WindowVerticalSprites.png'); }
  .RadWindow_Telerik .rwStatusbar input {
    background-color: #f7f3e9; }
  .RadWindow_Telerik .rwControlButtons a {
    background-image: url('Window/CommandButtonSprites.gif'); }
  .RadWindow_Telerik a.rwIcon {
    background-image: url('Window/WindowHorizontalSprites.gif'); }
  .RadWindow_Telerik table.rwTitlebarControls em {
    color: black; }
  .RadWindow_Telerik input.rwDialogInput {
    border-top: 1px solid #8e8e8e;
    border-right: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    border-left: 1px solid #8e8e8e; }
  .RadWindow_Telerik input.rwDialogInput:hover {
    border-top: 1px solid #2ebf00;
    border-right: 1px solid #2dbc00;
    border-bottom: 1px solid #28a800;
    border-left: 1px solid #2bb300; }
  .RadWindow_Telerik tr td.rwWindowContent {
    background-color: white; }
  .RadWindow_Telerik table tr td.rwLoading {
    background-color: #fafafa; }
  .RadWindow_Telerik tr td.rwWindowContent.rwLoading {
    background-image: url('Common/loading.gif'); }
  .RadWindow_Telerik td input.rwLoading {
    background-image: url('Common/loading_small.gif'); }
  .RadWindow_Telerik .rwShadow .rwControlButtons {
    margin: 4px -2px 0 0; }
  .RadWindow_Telerik .rwShadow .rwControlButtons {
    margin: 4px 1px 0 0\9; }
  .RadWindow_Telerik.rwMinimizedWindowShadow .rwShadow .rwControlButtons {
    margin: 9px -8px 0 0;
    _margin: 9px -5px 0 0; }
  .RadWindow_Telerik .rwShadow .rwControlButtons li {
    float: left;
    padding: 0; }
  .RadWindow_Telerik .rwShadow .rwControlButtons a {
    width: 28px; }
  .RadWindow_Telerik .rwStatusbar div {
    background-position: 0 -95px; }
  .RadWindow_Telerik.rwInactiveWindow .rwShadow .rwTopLeft, .RadWindow_Telerik.rwInactiveWindow .rwShadow .rwTopRight, .RadWindow_Telerik.rwInactiveWindow .rwShadow .rwTitlebar, .RadWindow_Telerik.rwInactiveWindow .rwShadow .rwFooterLeft, .RadWindow_Telerik.rwInactiveWindow .rwShadow .rwFooterRight, .RadWindow_Telerik.rwInactiveWindow .rwShadow .rwFooterCenter, .RadWindow_Telerik.rwInactiveWindow .rwShadow .rwTopResize, .RadWindow_Telerik.rwInactiveWindow .rwShadow .rwStatusbar div, .RadWindow_Telerik.rwInactiveWindow .rwShadow .rwStatusbar, .RadWindow_Telerik.rwInactiveWindow .rwShadow .rwPopupButton, .RadWindow_Telerik.rwInactiveWindow .rwShadow .rwPopupButton span, .RadWindow_Telerik.rwInactiveWindow .rwShadow.rwMinimizedWindow .rwCorner, .RadWindow_Telerik.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopLeft, .RadWindow_Telerik.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTitlebar, .RadWindow_Telerik.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopRight, .RadWindow_Telerik.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterLeft, .RadWindow_Telerik.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterCenter, .RadWindow_Telerik.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterRight {
    background-image: url('Window/WindowHorizontalSprites.gif') !important; }
  .RadWindow_Telerik.rwInactiveWindow .rwShadow .rwBodyLeft, .RadWindow_Telerik.rwInactiveWindow .rwShadow .rwBodyRight, .RadWindow_Telerik.rwInactiveWindow .rwShadow .rwStatusbarRow .rwCorner, .RadWindow_Telerik.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyLeft, .RadWindow_Telerik.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyRight {
    background-image: url('Window/WindowVerticalSprites.gif') !important; }

/* overwwrites some positions when winodw has no titlebar */
div.RadWindow_Telerik.rwNoTitleBar.rwInactiveWindow table.rwShadow tr.rwTitleRow td.rwTopLeft {
  background-position: 7px -280px !important; }

div.RadWindow_Telerik.rwNoTitleBar.rwInactiveWindow table.rwShadow tr.rwTitleRow td.rwTopRight {
  background-position: -8px -280px !important; }

