.RadButton_WebBlue {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* RadButton Web20 Skin */ }
  .RadButton_WebBlue .rbDecorated {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 12px; }
  .RadButton_WebBlue.rbSkinnedButton,
  .RadButton_WebBlue .rbDecorated, .RadButton_WebBlue.rbVerticalButton, .RadButton_WebBlue.rbVerticalButton .rbDecorated,
  .RadButton_WebBlue .rbSplitRight,
  .RadButton_WebBlue .rbSplitLeft {
    background-image: url('Common/radFormSprite.png');
    color: #0d202b; }
  .RadButton_WebBlue .rbToggleCheckbox,
  .RadButton_WebBlue .rbToggleCheckboxChecked,
  .RadButton_WebBlue .rbToggleCheckboxFilled,
  .RadButton_WebBlue .rbToggleRadio,
  .RadButton_WebBlue .rbToggleRadioChecked {
    background-image: url('Common/radFormToggleSprite.png'); }
  .RadButton_WebBlue.rbToggleButton, .RadButton_WebBlue.rbToggleButton.rbDisabled:hover {
    color: #000000; }
  .RadButton_WebBlue.rbToggleButton:hover {
    color: #0e3d4f; }
  .RadButton_WebBlue.RadButton.rbLinkButton {
    background-color: #c2d2dd;
    border: 1px solid #4e667e;
    _border: 1px solid #4e667e !important;
    color: #0d202b; }
    .RadButton_WebBlue.RadButton.rbLinkButton:hover {
      background-color: #bee3f6;
      _border: 1px solid #4e667e !important;
      color: #0e3d4f; }
  .RadButton_WebBlue.RadButton.rbLinkButtonChecked, .RadButton_WebBlue.RadButton.rbLinkButtonChecked:hover {
    background-color: #7abace;
    color: #0d202b;
    border: 1px solid #133c44; }
  .RadButton_WebBlue.rbLinkButton.rbDisabled, .RadButton_WebBlue.rbLinkButton.rbDisabled:hover {
    background-color: #f2f2f3;
    border: 1px solid #c1c4c8;
    color: #777777; }
  .RadButton_WebBlue.rbLinkButton:hover .rbSplitLeft, .RadButton_WebBlue.rbLinkButton:hover .rbSplitRight {
    background-color: #c2d2dd; }
  .RadButton_WebBlue.rbLinkButton .rbSplitRight {
    border-left: 1px solid #4e667e; }
  .RadButton_WebBlue.rbLinkButton .rbSplitRight:hover {
    background-color: #bee3f6;
    border-left: 1px solid #5d9fb7; }
  .RadButton_WebBlue.rbLinkButton .rbSplitRight:active, .RadButton_WebBlue.rbLinkButton .rbSplitRight:focus {
    background-color: #7abace;
    border-left: 1px solid #5d9fb7; }
  .RadButton_WebBlue.rbLinkButton .rbSplitLeft {
    border-right: 1px solid #4e667e; }
  .RadButton_WebBlue.rbLinkButton .rbSplitLeft:hover {
    background-color: #bee3f6;
    border-right: 1px solid #5d9fb7; }
  .RadButton_WebBlue.rbLinkButton .rbSplitLeft:active, .RadButton_WebBlue.rbLinkButton .rbSplitLeft:focus {
    background-color: #7abace;
    border-right: 1px solid #5d9fb7; }
  .RadButton_WebBlue.rbLinkButton.rbDisabled .rbSplitLeft, .RadButton_WebBlue.rbLinkButton.rbDisabled .rbSplitLeft:hover, .RadButton_WebBlue.rbLinkButton.rbDisabled .rbSplitLeft:active, .RadButton_WebBlue.rbLinkButton.rbDisabled .rbSplitLeft:focus {
    border-right: 1px solid #c1c4c8; }
  .RadButton_WebBlue.rbLinkButton.rbDisabled .rbSplitRight, .RadButton_WebBlue.rbLinkButton.rbDisabled .rbSplitRight:hover, .RadButton_WebBlue.rbLinkButton.rbDisabled .rbSplitRight:active, .RadButton_WebBlue.rbLinkButton.rbDisabled .rbSplitRight:focus {
    border-left: 1px solid #c1c4c8; }
  .RadButton_WebBlue.rbLinkButton.rbRounded {
    border-color: #4e667e;
    color: #0d202b;
    background-color: #c2d2dd;
    background-image: linear-gradient(#e0e7ed, #c2d2dd 50%, #a3baca 50%, #d7e2e7); }
  .RadButton_WebBlue.rbLinkButton.rbRounded:hover {
    border-color: #5d9fb7;
    color: #0e3d4f;
    background-color: #bee3f6;
    background-image: linear-gradient(#d4eaf8, #baddf4 50%, #9edaf2 50%, #bee3f6); }
  .RadButton_WebBlue.rbLinkButton.rbRounded:active, .RadButton_WebBlue.rbLinkButton.rbRounded:focus {
    border-color: #133c44;
    color: #0d202b;
    background-color: #7abace;
    background-image: linear-gradient(#8ebcd4, #64a3c0 50%, #368eb1 50%, #7abace); }
  .RadButton_WebBlue.rbLinkButton.rbRounded.rbDisabled, .RadButton_WebBlue.rbLinkButton.rbRounded.rbDisabled:hover, .RadButton_WebBlue.rbLinkButton.rbRounded.rbDisabled:active, .RadButton_WebBlue.rbLinkButton.rbRounded.rbDisabled:focus {
    border-color: #c1c4c8;
    color: #777777;
    background-color: #f2f2f3;
    background-image: linear-gradient(#f4f5f5, #eaecee 50%, #dbdfe2 50%, #f2f2f3);
    background-position: 0 0; }
