.RadComboBox_WebBlue {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBox_WebBlue .rcbInputCell, .RadComboBox_WebBlue .rcbArrowCell {
    background-image: url('Common/radFormSprite.png'); }
  .RadComboBox_WebBlue .rcbInput {
    color: #000000;
    font-size: 12px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 16px; }
  .RadComboBox_WebBlue .rcbEmptyMessage {
    color: #777777; }
  .RadComboBox_WebBlue .rcbHovered .rcbInput {
    color: #0e3d4f; }
  .RadComboBox_WebBlue .rcbFocused .rcbInput {
    color: #0d202b; }
  .RadComboBox_WebBlue .rcbReadOnly .rcbInput {
    color: #0d202b; }
  .RadComboBox_WebBlue .rcbHovered .rcbReadOnly .rcbInput {
    color: #0e3d4f; }
  .RadComboBox_WebBlue .rcbFocused .rcbReadOnly .rcbInput {
    color: #0d202b; }

.RadComboBoxDropDown_WebBlue {
  border-color: #3d556c;
  color: #333333;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBoxDropDown_WebBlue .rcbHovered {
    color: #000000;
    background-color: #e9f8ff; }
  .RadComboBoxDropDown_WebBlue .rcbSelected {
    color: #000000;
    background-color: #9edaf2; }
  .RadComboBoxDropDown_WebBlue .rcbLoading {
    color: #000000;
    background-color: #e9f8ff; }
  .RadComboBoxDropDown_WebBlue .rcbItem em {
    color: #000000;
    background-color: #e9f8ff; }
  .RadComboBoxDropDown_WebBlue .rcbCheckAllItems {
    border-color: #3d556c;
    color: #ffffff;
    background-color: #748ea3; }
  .RadComboBoxDropDown_WebBlue .rcbMoreResults {
    border-color: #3d556c;
    color: #ffffff;
    background-color: #748ea3; }
  .RadComboBoxDropDown_WebBlue .rcbSeparator {
    color: #ffffff;
    background: #748ea3; }
