.RadDropDownTree_WebBlue {
  color: #000000;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadDropDownTree_WebBlue .rddtInner {
    border-radius: 3px;
    background-image: url('Common/radGradientButtonSprite.png');
    border-color: #4e667e;
    color: #0d202b;
    background-color: #d7e2e7;
    background-image: linear-gradient(#e0e7ed 0%, #c2d2dd 50%, #a3baca 50%, #d7e2e7 100%); }
  .RadDropDownTree_WebBlue .rddtEmptyMessage {
    color: #777777;
    font-style: italic; }
  .RadDropDownTree_WebBlue .rddtClearButton {
    background-position: -2px -404px; }
  .RadDropDownTree_WebBlue .rddtIcon {
    background-image: url('Common/radActionsSprite.png');
    background-position: -1px -20px; }
  .RadDropDownTree_WebBlue .rddtHovered {
    border-color: #5d9fb7;
    color: #0e3d4f;
    background-color: #bee3f6;
    background-image: linear-gradient(#d4eaf8 0%, #baddf4 50%, #9edaf2 50%, #bee3f6 100%); }
    .RadDropDownTree_WebBlue .rddtHovered .rddtClearButton {
      background-position: -22px -404px; }
      .RadDropDownTree_WebBlue .rddtHovered .rddtClearButton.rddtClearButtonHovered {
        background-position: -62px -404px; }
    .RadDropDownTree_WebBlue .rddtHovered .rddtIcon {
      background-position: -1px -20px; }
  .RadDropDownTree_WebBlue .rddtFocused {
    border-color: #133c44;
    color: #0d202b;
    background-color: #7abace;
    background-image: linear-gradient(#8ebcd4 0%, #64a3c0 50%, #368eb1 50%, #7abace 100%); }
    .RadDropDownTree_WebBlue .rddtFocused .rddtClearButton {
      background-position: -42px -404px; }
      .RadDropDownTree_WebBlue .rddtFocused .rddtClearButton.rddtClearButtonHovered {
        background-position: -82px -404px; }
    .RadDropDownTree_WebBlue .rddtFocused .rddtIcon {
      background-position: -1px -20px; }
  .RadDropDownTree_WebBlue .rddtDisabled {
    border-color: #c1c4c8;
    color: #777777;
    background-color: #f2f2f3;
    background-image: linear-gradient(#f4f5f5 0%, #eaecee 50%, #dbdfe2 50%, #f2f2f3 100%); }
    .RadDropDownTree_WebBlue .rddtDisabled .rddtIcon {
      background-position: -1px -20px; }

.rddtPopup_WebBlue {
  border-color: #768ca5;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .rddtPopup_WebBlue .rddtHeader,
  .rddtPopup_WebBlue .rddtFooter {
    border-color: #3d556c;
    color: #000000;
    background-color: #748ea3; }
  .rddtPopup_WebBlue .rddtFilter {
    border-color: #3d556c;
    color: #000000;
    background-color: #748ea3; }
    .rddtPopup_WebBlue .rddtFilter .rddtFilterInput {
      font: 12px "Segoe UI", Arial, Helvetica, sans-serif;
      border-color: #768ca5;
      color: #000000;
      background-color: #ffffff; }
    .rddtPopup_WebBlue .rddtFilter .rddtFilterEmptyMessage {
      color: #777777; }
  .rddtPopup_WebBlue .RadTreeView em {
    color: #000000;
    background-color: #e9f8ff; }
