.RadLightBox_WebBlue {
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  color: black; }
  .RadLightBox_WebBlue .rltbWrapper {
    background: white; }
  .RadLightBox_WebBlue .rltbDescriptionBox {
    color: #272522; }
  .RadLightBox_WebBlue .rltbPager {
    color: #8a8a8a; }
  .RadLightBox_WebBlue .rltbDescOverlayTop,
  .RadLightBox_WebBlue .rltbDescOverlayBottom {
    background-color: #a7c0df;
    background-color: rgba(167, 192, 223, 0.6);
    color: black; }
    .RadLightBox_WebBlue .rltbDescOverlayTop .rltbPager,
    .RadLightBox_WebBlue .rltbDescOverlayBottom .rltbPager {
      color: #4d4d4d; }
  .RadLightBox_WebBlue .rltbToolbar .rltbActionButton {
    background: #dae2e8; }
    .RadLightBox_WebBlue .rltbToolbar .rltbActionButton:hover {
      background: #9ddaf2; }
  .RadLightBox_WebBlue .rltbIcon {
    background-image: url('Common/radActionsSprite.png'); }
  .RadLightBox_WebBlue .rltbMaximizeIcon {
    background-position: -40px -2100px; }
  .RadLightBox_WebBlue .rltbRestoreIcon {
    background-position: -40px -2120px; }
  .RadLightBox_WebBlue .rltbClose,
  .RadLightBox_WebBlue .rltbCloseIcon,
  .RadLightBox_WebBlue .rltbPrevButton,
  .RadLightBox_WebBlue .rltbNextButton {
    background-image: url('LightBox/sprite.png'); }
  .RadLightBox_WebBlue .rltbClose {
    background-position: 0 -89px; }
  .RadLightBox_WebBlue .rltbCloseButton:hover .rltbCloseIcon {
    background-position: -40px 0; }
  .RadLightBox_WebBlue .rltbPrevButton {
    background-position: -40px -40px; }
  .RadLightBox_WebBlue .rltbNextButton {
    background-position: 0 -40px; }
