.RadRotator_WebBlue {
  /*================== The list ========================*/
  /* For vertical carousel, not set, width defaults to auto */
  /* Note if you explicitly set width to auto, this might cause */
  /* problems with Safari */
  /* When LoadOnDemand */ }
  .RadRotator_WebBlue .rrClipRegion {
    border-color: #768ca5; }
  .RadRotator_WebBlue .rrButton {
    background-image: url('Rotator/RotatorButtons.gif');
    background-repeat: no-repeat; }
  .RadRotator_WebBlue .rrLoadingSign {
    background: url('Common/loading_small.gif') no-repeat center; }
