.RadToolBar_WebBlue {
  color: #ffffff;
  background-color: #495a70;
  font-size: 12px;
  line-height: 20px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadToolBar_WebBlue .rtbOuter {
    border-color: #4e667e;
    background-color: #495a70;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1); }
  .RadToolBar_WebBlue .rtbWrap {
    *color: #ffffff; }
  .RadToolBar_WebBlue .rtbChoiceArrow {
    background-image: url('ToolBar/rtbDropArrows.png'); }
  .RadToolBar_WebBlue .rtbItemHovered .rtbChoiceArrow,
  .RadToolBar_WebBlue .rtbItemClicked .rtbChoiceArrow,
  .RadToolBar_WebBlue .rtbSplBtnExpanded .rtbChoiceArrow,
  .RadToolBar_WebBlue .rtbDropDownExpanded .rtbChoiceArrow {
    background-image: url('ToolBar/rtbHoverDropArrows.png'); }
  .RadToolBar_WebBlue .rtbItemHovered .rtbWrap,
  .RadToolBar_WebBlue .rtbItemHovered .rtbOut,
  .RadToolBar_WebBlue .rtbItemHovered .rtbMid,
  .RadToolBar_WebBlue .rtbItemHovered .rtbIn {
    color: #0e3d4f;
    background-image: url('ToolBar/rtbHoverBg.png'); }
  .RadToolBar_WebBlue .rtbItemFocused .rtbWrap,
  .RadToolBar_WebBlue .rtbItemFocused .rtbOut,
  .RadToolBar_WebBlue .rtbItemFocused .rtbMid,
  .RadToolBar_WebBlue .rtbItemFocused .rtbIn {
    color: #0e3d4f;
    background-image: url('ToolBar/rtbHoverBg.png'); }
  .RadToolBar_WebBlue .rtbItemClicked .rtbWrap,
  .RadToolBar_WebBlue .rtbItemClicked .rtbOut,
  .RadToolBar_WebBlue .rtbItemClicked .rtbMid,
  .RadToolBar_WebBlue .rtbItemClicked .rtbIn {
    color: #0d202b;
    background-image: url('ToolBar/rtbClickedBg.png'); }
  .RadToolBar_WebBlue .rtbSplBtnExpanded .rtbWrap,
  .RadToolBar_WebBlue .rtbSplBtnExpanded .rtbOut,
  .RadToolBar_WebBlue .rtbSplBtnExpanded .rtbMid,
  .RadToolBar_WebBlue .rtbSplBtnExpanded .rtbIn,
  .RadToolBar_WebBlue .rtbDropDownExpanded .rtbWrap,
  .RadToolBar_WebBlue .rtbDropDownExpanded .rtbOut,
  .RadToolBar_WebBlue .rtbDropDownExpanded .rtbMid,
  .RadToolBar_WebBlue .rtbDropDownExpanded .rtbIn,
  .RadToolBar_WebBlue .rtbChecked .rtbWrap,
  .RadToolBar_WebBlue .rtbChecked .rtbOut,
  .RadToolBar_WebBlue .rtbChecked .rtbMid,
  .RadToolBar_WebBlue .rtbChecked .rtbIn {
    color: #0d202b;
    background-image: url('ToolBar/rtbActiveBg.png'); }
  .RadToolBar_WebBlue .rtbSeparator {
    border-color: #283749;
    background-color: #5c6b7b; }

.RadToolBar_WebBlue_Horizontal .rtbOuter {
  background-image: url('ToolBar/rtbControlBg.png'); }

.RadToolBar_WebBlue_Vertical .rtbOuter {
  background-image: url('ToolBar/rtbVerticalControlBg.png');
  background-color: #52667c; }

.RadToolBarDropDown_WebBlue {
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: #000000;
  border-color: #768ca5;
  background-color: #f0f2f4;
  background-image: url('ToolBar/rtbDropDownBg.png'); }
  .RadToolBarDropDown_WebBlue .rtbTopFix,
  .RadToolBarDropDown_WebBlue .rtbBottomFix,
  .RadToolBarDropDown_WebBlue .rtbRoundedCorners .rtbGroup {
    background-image: url('ToolBar/rtbDropDownBg.png');
    background-color: #f0f2f4; }
  .RadToolBarDropDown_WebBlue .rtbBottomLeft,
  .RadToolBarDropDown_WebBlue .rtbRoundedCorners {
    background-image: url('ToolBar/rtbRoundedLeft.png'); }
  .RadToolBarDropDown_WebBlue .rtbTopRight,
  .RadToolBarDropDown_WebBlue .rtbBottomRight {
    background-image: url('ToolBar/rtbRoundedRight.png'); }
  .RadToolBarDropDown_WebBlue .rtbTopFix,
  .RadToolBarDropDown_WebBlue .rtbBottomFix {
    border-color: #768ca5; }
  .RadToolBarDropDown_WebBlue .rtbWrap {
    border-radius: 3px;
    *color: #000000;
    background-image: url('Common/radGradientListSprite.png') \9; }
  .RadToolBarDropDown_WebBlue .rtbItemHovered .rtbWrap {
    border-color: #5d9fb7;
    color: #0e3d4f;
    background-color: #c0e4f6;
    background-image: linear-gradient(#ddf0fa 0, #bbddf4 50%, #9ddaf2 50%, #c0e4f6 100%); }
  .RadToolBarDropDown_WebBlue .rtbItemClicked .rtbWrap {
    border-color: #133c44;
    color: #0d202b;
    background-color: #7fbdd1;
    background-image: linear-gradient(#9dc5db 0, #66a4c1 50%, #348db0 50%, #7fbdd1 100%); }
  .RadToolBarDropDown_WebBlue .rtbSeparator {
    border-color: #d3dde4;
    background-color: #ffffff; }

.RadToolBarDropDown_WebBlue_rtl .rtbBottomLeft,
.RadToolBarDropDown_WebBlue_rtl .rtbRoundedCorners {
  background-image: url('ToolBar/rtbRoundedLeft_rtl.png'); }

.RadToolBarDropDown_WebBlue_rtl .rtbTopRight,
.RadToolBarDropDown_WebBlue_rtl .rtbBottomRight {
  background-image: url('ToolBar/rtbRoundedRight_rtl.png'); }

.RadToolBarDropDown_WebBlue_rtl .rtbTopFix,
.RadToolBarDropDown_WebBlue_rtl .rtbBottomFix,
.RadToolBarDropDown_WebBlue_rtl .rtbGroup,
.RadToolBarDropDown_WebBlue_rtl .rtbShadows .rtbGroup {
  background-position: 102% 0; }
