.RadWizard_WebBlue {
  color: #000000;
  background: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
.RadWizard_WebBlue .rwzButton {
  border-radius: 0.25em;
  background-color: #c5c5c5;
  background-image: url('Common/radGradientButtonSprite.png');
  border-color: #4e667e;
  color: #0d202b;
  background-color: #c2d2dd;
  background-image: linear-gradient(#e0e7ed, #c2d2dd 50%, #a3baca 50%, #d7e2e7); }
  .RadWizard_WebBlue .rwzButton.rwzHovered {
    background-color: #c6c6c6;
    border-color: #5d9fb7;
    color: #0e3d4f;
    background-color: #bee3f6;
    background-image: linear-gradient(#d4eaf8, #baddf4 50%, #9edaf2 50%, #bee3f6); }
  .RadWizard_WebBlue .rwzButton.rwzClicked {
    border-color: #133c44;
    color: #0d202b;
    background-color: #7abace;
    background-image: linear-gradient(#8ebcd4, #64a3c0 50%, #368eb1 50%, #7abace); }
  .RadWizard_WebBlue .rwzButton.rwzDisabled {
    border-color: #c1c4c8;
    color: #777777;
    background-color: #f2f2f3;
    background-image: linear-gradient(#f4f5f5, #eaecee 50%, #dbdfe2 50%, #f2f2f3); }
.RadWizard_WebBlue .rwzBreadCrumb {
  color: #3b3b3b; }
  .RadWizard_WebBlue .rwzBreadCrumb .rwzLI {
    border-color: #4e667e; }
  .RadWizard_WebBlue .rwzBreadCrumb .rwzLink {
    border: 1px solid #f0f3f4;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: url('Wizard/rwzTab.png') repeat-x 0 50%; }
    @media screen\9 {
      .RadWizard_WebBlue .rwzBreadCrumb .rwzLink {
        color: #000000; } }
  .RadWizard_WebBlue .rwzBreadCrumb .rwzCallout {
    top: -1px;
    bottom: -1px;
    background: url('Wizard/rwzCallout.png') no-repeat 100% 50%; }
  .RadWizard_WebBlue .rwzBreadCrumb .rwzHovered {
    color: #0e3d4f;
    border-color: #5d9fb7; }
    .RadWizard_WebBlue .rwzBreadCrumb .rwzHovered .rwzLink {
      *border-color: #e7f4fc;
      border-color: rgba(255, 255, 255, 0.5);
      background-image: url('Wizard/rwzTabHover.png'); }
    .RadWizard_WebBlue .rwzBreadCrumb .rwzHovered .rwzCallout {
      background-image: url('Wizard/rwzCalloutHover.png'); }
  .RadWizard_WebBlue .rwzBreadCrumb .rwzSelected {
    color: #0d202b;
    border-color: #133c44; }
    .RadWizard_WebBlue .rwzBreadCrumb .rwzSelected .rwzLink {
      *border-color: #accee0;
      border-color: rgba(255, 255, 255, 0.2);
      background-image: url('Wizard/rwzTabSelect.png'); }
    .RadWizard_WebBlue .rwzBreadCrumb .rwzSelected .rwzCallout {
      background-image: url('Wizard/rwzCalloutSelect.png'); }
  .RadWizard_WebBlue .rwzBreadCrumb .rwzDisabled {
    color: #a5a5a5;
    border-color: #58646f; }
    .RadWizard_WebBlue .rwzBreadCrumb .rwzDisabled .rwzLink {
      background-image: url('Wizard/rwzTabDisable.png'); }
    .RadWizard_WebBlue .rwzBreadCrumb .rwzDisabled .rwzCallout {
      background-image: url('Wizard/rwzCalloutDisable.png'); }
.RadWizard_WebBlue .rwzProgressBar {
  border-radius: 0.25em;
  border-color: #b0becf;
  background-color: #fefefe; }
.RadWizard_WebBlue .rwzProgress {
  border-radius: 0.16667em 0em 0em 0.16667em;
  background-color: #3a91b2; }

.RadWizard_WebBlue.rwzHorizontal .rwzFirst {
  border-radius: 0.33333em 0em 0em 0.33333em; }
  .RadWizard_WebBlue.rwzHorizontal .rwzFirst .rwzLink {
    border-radius: 0.25em 0em 0em 0.25em; }
.RadWizard_WebBlue.rwzHorizontal .rwzLast {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_WebBlue.rwzHorizontal .rwzLast .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }
.RadWizard_WebBlue.rwzHorizontal .rwzFirst.rwzLast {
  border-radius: 0.33333em; }
  .RadWizard_WebBlue.rwzHorizontal .rwzFirst.rwzLast .rwzLink {
    border-radius: 0.25em; }
.RadWizard_WebBlue.rwzHorizontal .rwzProgressBar {
  background-image: linear-gradient(#e0e7ed, #fefefe); }
.RadWizard_WebBlue.rwzHorizontal .rwzProgress {
  background-image: linear-gradient(#9ac7d8, #3a91b2); }

.RadWizard_WebBlue.rwzVertical .rwzFirst {
  border-radius: 0.33333em 0.33333em 0em 0em; }
  .RadWizard_WebBlue.rwzVertical .rwzFirst .rwzLink {
    border-radius: 0.25em 0.25em 0em 0em; }
.RadWizard_WebBlue.rwzVertical .rwzLast {
  border-radius: 0em 0em 0.33333em 0.33333em; }
  .RadWizard_WebBlue.rwzVertical .rwzLast .rwzLink {
    border-radius: 0em 0em 0.25em 0.25em; }
.RadWizard_WebBlue.rwzVertical .rwzSelected,
.RadWizard_WebBlue.rwzVertical .rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.RadWizard_WebBlue.rwzVertical .rwzFirst.rwzLast.rwzSelected, .RadWizard_WebBlue.rwzVertical .rwzFirst.rwzLast.rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.RadWizard_WebBlue.rwzVertical .rwzProgressBar {
  background-image: linear-gradient(90deg, #e0e7ed, #fefefe); }
.RadWizard_WebBlue.rwzVertical .rwzProgress {
  background-image: linear-gradient(90deg, #9ac7d8, #3a91b2); }

.RadWizard_WebBlue.rwzRightBreadCrumb .rwzBreadCrumb .rwzCallout,
.RadWizard_WebBlue.RadWizard_rtl .rwzBreadCrumb .rwzCallout {
  background: url('Wizard/rwzCalloutRtl.png') no-repeat 0 50%; }
.RadWizard_WebBlue.rwzRightBreadCrumb .rwzBreadCrumb .rwzHovered .rwzCallout,
.RadWizard_WebBlue.RadWizard_rtl .rwzBreadCrumb .rwzHovered .rwzCallout {
  background-image: url('Wizard/rwzCalloutHoverRtl.png'); }
.RadWizard_WebBlue.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzCallout,
.RadWizard_WebBlue.RadWizard_rtl .rwzBreadCrumb .rwzSelected .rwzCallout {
  background-image: url('Wizard/rwzCalloutSelectRtl.png'); }
.RadWizard_WebBlue.rwzRightBreadCrumb .rwzBreadCrumb .rwzDisabled .rwzCallout,
.RadWizard_WebBlue.RadWizard_rtl .rwzBreadCrumb .rwzDisabled .rwzCallout {
  background-image: url('Wizard/rwzCalloutDisableRtl.png'); }

.RadWizard_WebBlue.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzFirst,
.RadWizard_WebBlue.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzFirst {
  border-radius: 0em 0.33333em 0em 0em; }
  .RadWizard_WebBlue.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzFirst .rwzLink,
  .RadWizard_WebBlue.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzFirst .rwzLink {
    border-radius: 0em 0.25em 0em 0em; }
.RadWizard_WebBlue.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzLast,
.RadWizard_WebBlue.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzLast {
  border-radius: 0em 0em 0.33333em 0em; }
  .RadWizard_WebBlue.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzLast .rwzLink,
  .RadWizard_WebBlue.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzLast .rwzLink {
    border-radius: 0em 0em 0.25em 0em; }
.RadWizard_WebBlue.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast,
.RadWizard_WebBlue.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_WebBlue.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast .rwzLink,
  .RadWizard_WebBlue.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }

.RadWizard_WebBlue.RadWizard_rtl.rwzHorizontal .rwzFirst {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_WebBlue.RadWizard_rtl.rwzHorizontal .rwzFirst .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }
.RadWizard_WebBlue.RadWizard_rtl.rwzHorizontal .rwzLast {
  border-radius: 0.33333em 0em 0em 0.33333em; }
  .RadWizard_WebBlue.RadWizard_rtl.rwzHorizontal .rwzLast .rwzLink {
    border-radius: 0.25em 0em 0em 0.25em; }
