/* 

LaMonte - CSS File

USE THIS STYLE SHEET FOR INNER PAGE

*/



/* Page Navi*/
.wp-pagenavi {padding:20px 0 0; font-size:12px; display:block; margin-bottom:20px;}
.wp-pagenavi .pages{padding-left:10px;}
.wp-pagenavi a, .wp-pagenavi a:visited{padding:3px 8px; margin:0 5px;}
.wp-pagenavi .current{padding:3px 8px; margin:0 5px;}


/* BLOG */
.post{margin-bottom:0px; padding-bottom:60px; }
.post.last .separator{ margin-bottom:0px;}

.single .post{ padding-bottom:20px;}


.posttitle{ margin-bottom:20px;}
.posttitle h2, .posttitle h2 a{font-size:24px; margin:0px;}
.posttitle a:hover{text-decoration:none;}

.postimg img{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.entry-content { }
.entry-content .button{ display:inline-block;}

.entry-utility{padding:12px 0 12px 11px; margin-left:15px; font-size:20px; width:80px; float:right; }
.entry-utility .date{ font-size:26px; margin-bottom:4px;}
.entry-utility .owner{ font-size:11px;}
.entry-utility .month{ display:block; font-size:14px;}

.author{ padding:40px 0 20px; margin-bottom:40px;}
.author img{ float:right; margin-left:30px;}
.author h3{ font-size:16px; margin-bottom:20px;}

.related-post{margin-bottom:20px; float:right}

#comment h3{ margin-bottom:20px; font-size:16px;}
.commentlist{
	list-style-type:none;
	padding:0;
	margin:0;
}
.commentlist ol{
	list-style-type:none;
	padding:30px 0 0 80px;
	margin:0;
}

.commentlist li{
	position:relative;
	padding:0 0 30px 0;
}
.commentlist li li{
	position:relative;
	padding:0;
}

.avatar-img{
	position:absolute;
	top:0;
	right:0;
	padding-bottom:6px;
	
}
.avatar{display:block;
	-webkit-border-radius: 67px;
	-moz-border-radius: 67px;
	border-radius: 67px;
	box-shadow: 0 0 0 7px #fff;
}
.fn{font-size:12px; font-weight:bold;}

.reply a, .reply a:visited{}
.reply a:hover{}
.fn a, .fn a:visited{}

.comment-body{margin:0 100px 0 0; padding:0px 0px 0px;}
.comment-body p{ margin-bottom:5px; margin-top:10px;}
.comment-body .more{ padding:0px 0px;}
#commentform {margin-bottom:20px}
#commentform label{display:block}
#commentform .text-input{
	margin-bottom:8px;
	padding:8px 5px;
	vertical-align:middle;
}
#commentform .textarea{
	margin-bottom:20px;
	padding:8px 5px;
	vertical-align:top;
}

/* Gallery Images */
#gallery .columns{ margin-bottom:30px;}
a.image{
	display:block;
	position:relative;
	overflow:hidden;
	 text-align:right;
	}
a.image img{ display:block;}
.rollover{
	background-color:#fff;
	display:block;
    position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;
	width:100%;
	height:100%;
}
.zoom{
	background:url(../images/link.png);
	background-repeat:no-repeat;
	background-position:center;
	display:block;
    position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;
	width:100%;
	height:100%;
	}


/* CONTACT */
form{margin:0; padding:0;}
fieldset{border:0px;}
#contactform{margin:0 auto; position:relative; }
#contactform label{display:block; width:100%; float:right; padding-bottom:5px; font-weight:bold;}
span.error{color:red;text-align:right; font-size:11px; padding-bottom:15px; display:block;}
#contactform input.text-input{
	margin-bottom:15px;
	vertical-align:middle;
	width:50%;
	float:right;
	padding:10px;
}
#contactform textarea{ width:97%; float:right;} 
#message{ margin-right:0px; font-weight:bold;}
#message h2	{}
#message p{margin:6px 0px; }

#contactform .button{
	cursor:pointer;
	margin-top:30px;

 }
 
.contact{ margin-top:30px;}
.contact h3{ font-size:18px; font-weight:normal; margin-bottom:20px}
.contact span{ font-size:18px;}
