.RadImageGallery_Web20 {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: normal;
  color: black; }
  .RadImageGallery_Web20 .rigDescriptionBox {
    background-color: #e7f1ff;
    background-color: rgba(231, 241, 255, 0.7); }
  .RadImageGallery_Web20 .rigToolbar,
  .RadImageGallery_Web20 .rigCloseButton,
  .RadImageGallery_Web20 .rigDrawerButton {
    background-color: #3f5f94;
    background-color: rgba(63, 95, 148, 0.8);
    color: white; }
  .RadImageGallery_Web20 .rigProgressBar div {
    background-color: #85c843; }
  .RadImageGallery_Web20 .rigPager {
    background-color: #e3eeff;
    color: black; }
    .RadImageGallery_Web20 .rigPager a {
      color: black; }
    .RadImageGallery_Web20 .rigPager a.rigCurrentPage {
      color: #000;
      border-color: #898989;
      background: #fff; }
  .RadImageGallery_Web20 .rigIcon {
    background-image: url('Common/radActionsSprite.png'); }
  .RadImageGallery_Web20 .rigDotList > a {
    border-color: #6788be; }
  .RadImageGallery_Web20 .rigDotList a span {
    background-color: white; }
  .RadImageGallery_Web20 .rigDotList a.rigCurrentItem span {
    background-color: #69ba19;
    border-color: white; }
  .RadImageGallery_Web20 .rigTooltip {
    background-color: #e9f2ff;
    border-color: #6788be; }
    .RadImageGallery_Web20 .rigTooltip:after {
      border-top-color: #e9f2ff; }
  .RadImageGallery_Web20 .rigPrevButton,
  .RadImageGallery_Web20 .rigNextButton,
  .RadImageGallery_Web20 .rigScrollPrevIcon,
  .RadImageGallery_Web20 .rigScrollNextIcon,
  .RadImageGallery_Web20 .rigCloseIcon {
    background-image: url('LightBox/sprite.png'); }
  .RadImageGallery_Web20 .rigPrevButton {
    background-position: 0 -140px; }
  .RadImageGallery_Web20 .rigNextButton {
    background-position: -60px -140px; }
  .RadImageGallery_Web20 .rigScrollPrevIcon {
    background-position: -79px  -49px; }
  .RadImageGallery_Web20 .rigScrollNextIcon {
    background-position: -104px -49px; }
  .RadImageGallery_Web20.RadImageGallery_RightOutside .rigScrollPrevIcon,
  .RadImageGallery_Web20.RadImageGallery_RightOutside .rigScrollNextIcon,
  .RadImageGallery_Web20 .rigThumbnailsBoxVertical .rigScrollPrevIcon,
  .RadImageGallery_Web20 .rigThumbnailsBoxVertical .rigScrollNextIcon {
    background-position: -62px -89px; }
  .RadImageGallery_Web20 .RadImageGallery_RightOutside .rigScrollNextIcon,
  .RadImageGallery_Web20 .rigThumbnailsBoxVertical .rigScrollNextIcon {
    background-position: -96px -89px; }
  .RadImageGallery_Web20 .rigCloseIcon {
    background-position: -79px -12px; }
  .RadImageGallery_Web20 .rigActionButton:hover .rigCloseIcon {
    background-position: -101px -12px; }
  .RadImageGallery_Web20 .rigDrawerIcon {
    background-position: -52px -60px; }
  .RadImageGallery_Web20 .rigPlayIcon {
    background-position: 1px -1999px; }
  .RadImageGallery_Web20 .rigPauseIcon {
    background-position: 1px -2019px; }
  .RadImageGallery_Web20 .rigFullScrIcon {
    background-position: 1px -2099px; }
  .RadImageGallery_Web20 .rigExtFullScrIcon {
    background-position: 1px -2119px; }
  .RadImageGallery_Web20 .rigActionButton:hover .rigPlayIcon {
    background-position: -19px -1999px; }
  .RadImageGallery_Web20 .rigActionButton:hover .rigPauseIcon {
    background-position: -19px -2019px; }
  .RadImageGallery_Web20 .rigActionButton:hover .rigFullScrIcon {
    background-position: -19px -2099px; }
  .RadImageGallery_Web20 .rigActionButton:hover .rigExtFullScrIcon {
    background-position: -19px -2119px; }
  .RadImageGallery_Web20 .rigShowThumbnIcon {
    background-position: 0px -2159px; }
  .RadImageGallery_Web20 .rigHideThumbnIcon {
    background-position: 0px -2179px; }
  .RadImageGallery_Web20 .rigActionButton:hover .rigShowThumbnIcon {
    background-position: -20px -2159px; }
  .RadImageGallery_Web20 .rigActionButton:hover .rigHideThumbnIcon {
    background-position: -20px -2179px; }
