.RadListBox_Web20 {
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadListBox_Web20 .rlbGroup,
  .RadListBox_Web20 .rlbTemplateContainer {
    border-color: #6788be;
    color: #000000;
    background-color: #ffffff; }
  .RadListBox_Web20 .rlbCheckAllItems {
    color: #000000;
    background-color: #93b4df; }
  .RadListBox_Web20 .rlbCheckAllItemsHovered {
    color: #000000;
    background-color: #c5d9f1; }
  .RadListBox_Web20 .rlbItem {
    line-height: 18px; }
  .RadListBox_Web20 .rlbHighlight {
    color: #000000;
    background-color: #e7f1ff; }
  .RadListBox_Web20 .rlbItem.rlbHovered {
    color: #000000;
    background: #e7f1ff; }
  .RadListBox_Web20 .rlbItem.rlbSelected {
    color: #000000;
    background: #d4ffbc; }

.RadListBox_Web20 .rlbHeader,
.RadListBox_Web20 .rlbFooter {
  border-color: #c7dcf9; }

.RadListBox_Web20 .rlbHeader {
  background-color: #ECF4FF; }

.RadListBox_Web20 .rlbFooter {
  background-color: #FFF; }

.RadListBox_Web20 .rlbDropClue {
  background-image: url('ListBox/rlbDropClue.png'); }

.RadListBox_Web20 .rlbGroup .rlbDropClueAbove {
  border-top-color: #8e8e8e; }

.RadListBox_Web20 .rlbGroup .rlbDropClueBelow {
  border-bottom-color: #8e8e8e; }

/* Buttons normal state vertical layout*/
.RadListBox_Web20 .rlbButton {
  color: #ffffff; }
.RadListBox_Web20 .rlbButtonText {
  background-image: url('ListBox/rlbSprite.png'); }
.RadListBox_Web20 .rlbButton:hover .rlbButtonTL,
.RadListBox_Web20 .rlbButton:hover .rlbButtonTR,
.RadListBox_Web20 .rlbButton:hover .rlbButtonBL,
.RadListBox_Web20 .rlbButton:hover .rlbButtonBR {
  background-image: url('ListBox/rlbButtonHover.png'); }
.RadListBox_Web20 .rlbButton .rlbButtonTL,
.RadListBox_Web20 .rlbButton .rlbButtonTR,
.RadListBox_Web20 .rlbButton .rlbButtonBL,
.RadListBox_Web20 .rlbButton .rlbButtonBR,
.RadListBox_Web20 .rlbDisabled:hover .rlbButtonTL,
.RadListBox_Web20 .rlbDisabled:hover .rlbButtonTR,
.RadListBox_Web20 .rlbDisabled:hover .rlbButtonBL,
.RadListBox_Web20 .rlbDisabled:hover .rlbButtonBR {
  background-image: url('ListBox/rlbButtonNormal.png'); }
.RadListBox_Web20 .rlbButton:hover {
  color: #0f3789; }
.RadListBox_Web20 .rlbDisabled,
.RadListBox_Web20 .rlbDisabled:hover {
  color: #777777; }

.RadListBox_Web20 .rlbMoveUp .rlbButtonText {
  background-position: 0 0; }
.RadListBox_Web20 .rlbMoveUp:hover .rlbButtonText {
  background-position: -400px 0; }
.RadListBox_Web20 .rlbMoveUpDisabled .rlbButtonText,
.RadListBox_Web20 .rlbMoveUpDisabled:hover .rlbButtonText {
  background-position: -200px 0; }
.RadListBox_Web20 .rlbMoveDown .rlbButtonText {
  background-position: 0 -25px; }
.RadListBox_Web20 .rlbMoveDown:hover .rlbButtonText {
  background-position: -400px -25px; }
.RadListBox_Web20 .rlbMoveDownDisabled .rlbButtonText,
.RadListBox_Web20 .rlbMoveDownDisabled:hover .rlbButtonText {
  background-position: -200px -25px; }
.RadListBox_Web20 .rlbMoveToTop .rlbButtonText {
  background-position: 0 -275px; }
.RadListBox_Web20 .rlbMoveToTop:hover .rlbButtonText {
  background-position: -400px -275px; }
.RadListBox_Web20 .rlbMoveToTopDisabled .rlbButtonText,
.RadListBox_Web20 .rlbMoveToTopDisabled:hover .rlbButtonText {
  background-position: -200px -275px; }
.RadListBox_Web20 .rlbMoveToBottom .rlbButtonText {
  background-position: 0 -300px; }
.RadListBox_Web20 .rlbMoveToBottom:hover .rlbButtonText {
  background-position: -400px -300px; }
.RadListBox_Web20 .rlbMoveToBottomDisabled .rlbButtonText,
.RadListBox_Web20 .rlbMoveToBottomDisabled:hover .rlbButtonText {
  background-position: -200px -300px; }
.RadListBox_Web20 .rlbDelete .rlbButtonText {
  background-position: 0 -50px; }
.RadListBox_Web20 .rlbDelete:hover .rlbButtonText {
  background-position: -400px -50px; }
.RadListBox_Web20 .rlbDeleteDisabled .rlbButtonText,
.RadListBox_Web20 .rlbDeleteDisabled:hover .rlbButtonText {
  background-position: -200px -50px; }
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferTo .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText {
  background-position: 0 -100px; }
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText {
  background-position: 0 -75px; }
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferTo:hover .rlbButtonText {
  background-position: -400px -100px; }
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferTo:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferFrom:hover .rlbButtonText {
  background-position: -400px -75px; }
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText {
  background-position: -200px -100px; }
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText {
  background-position: -200px -75px; }
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText {
  background-position: 0 -150px; }
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText {
  background-position: 0 -125px; }
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferAllTo:hover .rlbButtonText {
  background-position: -400px -150px; }
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferAllFrom:hover .rlbButtonText {
  background-position: -400px -125px; }
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText {
  background-position: -200px -150px; }
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText {
  background-position: -200px -125px; }
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText {
  background-position: 0 -200px; }
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferTo .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText {
  background-position: 0 -175px; }
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferTo:hover .rlbButtonText {
  background-position: -400px -200px; }
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferTo:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferFrom:hover .rlbButtonText {
  background-position: -400px -175px; }
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText {
  background-position: -200px -200px; }
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText {
  background-position: -200px -175px; }
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText {
  background-position: 0 -250px; }
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText {
  background-position: 0 -225px; }
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferAllTo:hover .rlbButtonText {
  background-position: -400px -250px; }
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferAllFrom:hover .rlbButtonText {
  background-position: -400px -225px; }
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText {
  background-position: -200px -250px; }
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_Web20 .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText {
  background-position: -200px -225px; }

/*# sourceMappingURL=ListBox.Web20.css.map */
