/* <RadMenu / Web20> */
.RadMenu_Web20 .rmRootGroup,
.RadMenu_Web20 a.rmLink,
.RadMenu_Web20 .rmText,
.RadMenu_Web20 .rmLeftArrow,
.RadMenu_Web20 .rmRightArrow,
.RadMenu_Web20 .rmTopArrow,
.RadMenu_Web20 .rmBottomArrow {
  background-image: url('Menu/rmSprite.png');
  background-color: transparent; }

.RadMenu_Web20 .rmRootGroup {
  border: 1px solid #6788be;
  background-color: #93b4df; }

.RadMenu_Web20 .rmHorizontal {
  background-repeat: repeat-x;
  background-position: 0 0; }

.RadMenu_Web20 .rmVertical {
  background-image: none; }

/* <Root items> */
.RadMenu_Web20,
.RadMenu_Web20 a.rmLink {
  font: normal 12px/23px "Segoe UI", Arial, sans-serif;
  text-decoration: none; }

.RadMenu_Web20 .rmLink {
  color: #fff; }

.RadMenu_Web20 a.rmLink,
.RadMenu_Web20 .rmText {
  background-position: 0 1050px;
  background-repeat: no-repeat; }

.RadMenu_Web20 a.rmLink:hover,
.RadMenu_Web20 a.rmFocused,
.RadMenu_Web20 a.rmSelected {
  color: #0d202b;
  background-position: 0 -72px; }

.RadMenu_Web20 .rmVertical .rmRootLink.rmLink:hover,
.RadMenu_Web20 .rmVertical .rmRootLink.rmFocused,
.RadMenu_Web20 .rmVertical .rmRootLink.rmExpanded {
  background-position: 1% -72px; }

.RadMenu_Web20 a.rmLink:hover .rmText,
.RadMenu_Web20 a.rmFocused .rmText,
.RadMenu_Web20 a.rmSelected .rmText {
  background-position: 100% -96px; }

.RadMenu_Web20 .rmVertical .rmRootLink:hover .rmText,
.RadMenu_Web20 .rmVertical .rmRootLink.rmFocused .rmText,
.RadMenu_Web20 .rmVertical .rmRootLink.rmSelected .rmText {
  background-position: 99% -96px; }

.RadMenu_Web20 a.rmExpanded,
.RadMenu_Web20 a.rmExpanded:hover {
  color: #0d202b;
  background-position: 0 -120px; }

.RadMenu_Web20 a.rmExpanded .rmText,
.RadMenu_Web20 a.rmExpanded:hover .rmText {
  background-position: 100% -144px; }

.RadMenu_Web20 a.rmDisabled,
.RadMenu_Web20 a.rmDisabled:hover {
  color: #aaa; }

.RadMenu_Web20 a.rmDisabled:hover,
.RadMenu_Web20 a.rmDisabled:hover .rmText {
  background: none; }

/* </Root items> */
/* <Submenu items> */
.RadMenu_Web20 .rmGroup,
.RadMenu_Web20 .rmMultiColumn,
.RadMenu_Web20 .rmGroup .rmVertical {
  border: 1px solid #6788BE;
  background: white url('Menu/rmVSprite.png') repeat-y -1px 0; }

.RadMenu_Web20 .rmPopup {
  background: url('Menu/rmVSprite.png') repeat-y -1px 0; }

.RadMenu_Web20 .rmContentTemplate {
  background: #fff; }

.RadMenu_Web20 .rmTopFix,
.RadMenu_Web20 .rmBottomFix,
.RadMenu_Web20 .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Web20 .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_Web20 .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_Web20_Context.rmRoundedCorners .rmGroup .rmItem {
  background-image: url('Menu/rmVSprite.png');
  background-color: #fff;
  background-repeat: repeat-y;
  background-position: -2px 0; }

.RadMenu_Web20 .rmSlide .rmHorizontal .rmItem {
  margin-bottom: 0; }

.RadMenu_Web20 li.rmTopFix,
.RadMenu_Web20 li.rmBottomFix {
  background-position: -5px 0; }

.RadMenu_Web20 .rmPopup .rmTopFix,
.RadMenu_Web20 .rmPopup .rmBottomFix {
  background-image: none; }

.RadMenu_Web20 .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Web20 .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Web20 .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Web20 .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Web20 .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_Web20_Context .rmHorizontal.rmGroup,
.RadMenu_Web20_Context .rmHorizontal .rmGroup,
.RadMenu_Web20_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Web20_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Web20_Context.rmRoundedCorners .rmScrollWrap .rmVertical {
  background-image: none; }

.RadMenu_Web20 .rmRoundedCorners .rmGroupColumn {
  background-color: #fff; }

.RadMenu_Web20 .rmBottomLeft,
.RadMenu_Web20 .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Web20_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Web20_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Web20 .rmRoundedCorners ul.rmGroup,
.RadMenu_Web20 .rmRoundedCorners .rmMultiColumn,
.RadMenu_Web20 .rmPopup .rmBottomLeft {
  background-image: url('Menu/rmRoundedLeft.png');
  background-color: transparent;
  background-repeat: no-repeat; }

.RadMenu_Web20 .rmTopRight,
.RadMenu_Web20 .rmBottomRight {
  background-image: url('Menu/rmRoundedRight.png');
  background-color: transparent;
  background-repeat: no-repeat; }

.RadMenu_Web20 .rmTopFix,
.RadMenu_Web20 .rmBottomFix,
.RadMenu_Web20 .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Web20_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Web20 .rmGroup .rmFirst {
  border-color: #6788BE; }

.RadMenu_Web20 .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Web20 .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_Web20_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Web20_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix {
  background: #FFF; }

.RadMenu_Web20 .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Web20 .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Web20_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Web20_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow {
  background-color: #FFF;
  border: 0; }

.RadMenu_Web20 .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Web20 .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Web20_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Web20_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow {
  background-color: #FFF; }

.RadMenu_Web20 .rmGroup a.rmLink {
  color: #000; }

.RadMenu_Web20 .rmSlide .rmScrollWrap {
  background-image: none; }

.RadMenu_Web20 .rmRootGroup .rmHorizontal {
  background-image: none; }

.RadMenu_Web20 .rmScrollWrap .rmVertical {
  border: 0; }

.RadMenu_Web20 .rmGroup a.rmLink:hover,
.RadMenu_Web20 .rmGroup .rmItem a.rmFocused,
.RadMenu_Web20 .rmGroup .rmItem a.rmSelected,
.RadMenu_Web20 .rmGroup .rmItem a.rmExpanded {
  color: #0f3789; }

.RadMenu_Web20 .rmGroup a.rmDisabled,
.RadMenu_Web20 .rmGroup a.rmDisabled:hover {
  color: #8a8a8a; }

.RadMenu_Web20 .rmGroup .rmItem a.rmLink,
.RadMenu_Web20 .rmGroup .rmItem a.rmLink:hover,
.RadMenu_Web20 .rmGroup .rmItem a.rmFocused,
.RadMenu_Web20 .rmGroup .rmItem a.rmSelected,
.RadMenu_Web20 .rmGroup .rmItem a.rmExpanded {
  padding-top: 0;
  padding-bottom: 0;
  border: 0; }

.RadMenu_Web20 .rmGroup a.rmLink,
.RadMenu_Web20 .rmGroup .rmText,
.RadMenu_Web20 .rmGroup .rmItem a.rmDisabled,
.RadMenu_Web20 .rmGroup .rmItem a.rmDisabled:hover,
.RadMenu_Web20 .rmGroup .rmItem a.rmDisabled .rmText,
.RadMenu_Web20 .rmGroup .rmItem a.rmDisabled:hover .rmText {
  background-position: 0 500px;
  background-repeat: no-repeat;
  background-color: transparent; }

.RadMenu_Web20 .rmGroup a.rmLink:hover,
.RadMenu_Web20 .rmGroup a.rmFocused,
.RadMenu_Web20 .rmGroup a.rmSelected,
.RadMenu_Web20 .rmGroup a.rmExpanded {
  background-position: 0 -168px; }

.RadMenu_Web20 .rmGroup a.rmLink:hover .rmText,
.RadMenu_Web20 .rmGroup a.rmFocused .rmText,
.RadMenu_Web20 .rmGroup a.rmSelected .rmText,
.RadMenu_Web20 .rmGroup a.rmExpanded .rmText {
  background-position: 100% -192px; }

/* <expand arrows> */
.RadMenu_Web20 .rmVertical .rmExpandRight,
.RadMenu_Web20 .rmGroup .rmExpandRight,
.RadMenu_Web20 .rmGroup .rmExpandDown {
  background-position: 100% -216px; }

.RadMenu_Web20 .rmVertical .rmRootLink .rmExpandRight {
  background-position: 99% -216px; }

.RadMenu_Web20 a.rmLink.rmRootLink:hover .rmExpandLeft,
.RadMenu_Web20 a.rmRootLink.rmSelected .rmExpandLeft,
.RadMenu_Web20 a.rmRootLink.rmExpanded .rmExpandLeft {
  background-image: url('Menu/rmRootExpand.png');
  background-position: 100% 0px; }

.RadMenu_Web20 .rmVertical a.rmLink.rmRootLink:hover .rmExpandRight,
.RadMenu_Web20 .rmVertical a.rmRootLink.rmSelected .rmExpandRight,
.RadMenu_Web20 .rmVertical a.rmRootLink.rmExpanded .rmExpandRight {
  background-image: url('Menu/rmRootExpand.png');
  background-position: 99% 0px; }

.RadMenu_Web20 .rmVertical a.rmLink.rmRootLink:hover .rmExpandLeft,
.RadMenu_Web20 .rmVertical a.rmRootLink.rmSelected .rmExpandLeft,
.RadMenu_Web20 .rmVertical a.rmRootLink.rmExpanded .rmExpandLeft {
  background-position: 0 0px; }

.RadMenu_Web20 a.rmLink:hover .rmExpandRight,
.RadMenu_Web20 a.rmFocused .rmExpandRight,
.RadMenu_Web20 a.rmExpanded .rmExpandRight,
.RadMenu_Web20 a.rmSelected .rmExpandRight,
.RadMenu_Web20 a.rmLink:hover .rmExpandLeft,
.RadMenu_Web20 a.rmFocused .rmExpandLeft,
.RadMenu_Web20 a.rmExpanded .rmExpandLeft,
.RadMenu_Web20 a.rmSelected .rmExpandLeft {
  background-image: url('Menu/rmSprite.png'); }

.RadMenu_Web20 .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Web20 .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Web20 .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Web20 .rmVertical a.rmFocused .rmExpandRight {
  background-position: 100% 0; }

.RadMenu_Web20 .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_Web20 .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_Web20 .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_Web20 .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_Web20 .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_Web20 .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_Web20 .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_Web20 .rmGroup a.rmExpanded .rmExpandDown {
  background-image: url('Menu/rmSprite.png');
  background-position: 100% -240px; }

.RadMenu_Web20 .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Web20 .rmGroup a.rmDisabled:hover .rmExpandDown {
  background-image: url('Menu/rmSprite.png');
  background-position: 100% -216px; }

.RadMenu_Web20 .rmVertical .rmLink.rmRootLink.rmDisabled:hover .rmExpandRight {
  background-image: url('Menu/rmSprite.png');
  background-position: 99% -216px; }

.RadMenu_Web20 .rmVertical .rmLink.rmRootLink.rmDisabled:hover .rmExpandLeft {
  background-image: url('Menu/rmSprite.png');
  background-position: 0 -312px; }

/* </expand arrows> */
/* </Submenu items> */
/* <Submenu offsets (Web20 - specific, overlapping submenus)> */
.RadMenu_Web20 .rmSlide {
  margin-top: -1px; }

/* </Submenu offsets> */
/* <Scrolling arrows> */
.RadMenu_Web20 .rmLeftArrow,
.RadMenu_Web20 .rmRightArrow {
  background-color: #ECF4FF; }

.RadMenu_Web20 .rmLeftArrow {
  background-position: -8px -312px;
  border-right: 1px solid #6788be; }

.RadMenu_Web20 .rmRightArrow {
  background-position: -482px -216px;
  border-left: 1px solid #6788be; }

.RadMenu_Web20 .rmTopArrow,
.RadMenu_Web20 .rmBottomArrow,
.RadMenu_Web20 .rmGroup .rmLeftArrow,
.RadMenu_Web20 .rmGroup .rmRightArrow {
  background-color: #ECF4FF; }

.RadMenu_Web20 .rmTopArrow:hover,
.RadMenu_Web20 .rmBottomArrow:hover,
.RadMenu_Web20 .rmGroup .rmLeftArrow:hover,
.RadMenu_Web20 .rmGroup .rmRightArrow:hover {
  background-color: #d3e5ff; }

.RadMenu_Web20 .rmTopArrow {
  background-position: 50% -367px;
  border-bottom: 1px solid #6788be; }

.RadMenu_Web20 .rmBottomArrow {
  background-position: 50% -391px;
  border-top: 1px solid #6788be; }

.rmRoundedCorners_Web20 .rmTopArrow,
.rmRoundedCorners_Web20 .rmBottomArrow,
.RadMenu_Web20 .rmRoundedCorners .rmTopArrow,
.RadMenu_Web20 .rmRoundedCorners .rmBottomArrow {
  border-color: #9db2d5; }

/* </Scrolling arrows> */
/* <Separators> */
.RadMenu_Web20 .rmSeparator .rmText {
  border-color: #517fb1 #91a7d0 #93b4df #517fb1; }

.RadMenu_Web20 .rmGroup .rmSeparator .rmText {
  border-color: #6788be #fff #fff #6788be; }

/* </Separators> */
/* </RadMenu / Web20> */
.RadMenu_Web20 .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandTop,
.RadMenu_Web20 .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandDown,
.RadMenu_Web20 .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandLeft,
.RadMenu_Web20 .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandRight {
  padding-right: 24px; }
.RadMenu_Web20 .rmHorizontal .rmRootLink .rmToggle {
  margin-left: -24px; }
.RadMenu_Web20 .rmHorizontal .rmRootLink .rmIcon {
  background-image: url('Common/radActionsSprite.png');
  background-position: -2px -22px; }
.RadMenu_Web20 .rmHorizontal .rmRootLink:hover .rmIcon, .RadMenu_Web20 .rmHorizontal .rmRootLink.rmFocused .rmIcon, .RadMenu_Web20 .rmHorizontal .rmRootLink.rmSelected .rmIcon, .RadMenu_Web20 .rmHorizontal .rmRootLink.rmExpanded .rmIcon {
  background-position: -22px -22px; }
.RadMenu_Web20 .rmHorizontal .rmRootLink.rmDisabled .rmIcon {
  background-position: -2px -22px; }

/* <rtl> */
.RadMenu_Web20_rtl .rmBottomLeft,
.RadMenu_Web20_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Web20_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Web20 .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Web20 .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Web20_Context_rtl ul.rmGroup,
.RadMenu_Web20_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Web20 .rmRoundedCorners .rmPopup {
  background-image: url('Menu/rmRoundedLeft_rtl.png');
  background-repeat: no-repeat; }

.RadMenu_Web20_rtl .rmTopRight,
.RadMenu_Web20_rtl .rmBottomRight {
  background-image: url('Menu/rmRoundedRight_rtl.png'); }

.RadMenu_Web20_rtl .rmContentTemplate .rmTopRight,
.RadMenu_Web20_rtl .rmContentTemplate .rmBottomRight {
  background-image: url('Menu/rmRoundedRight.png'); }

.RadMenu_Web20_rtl li.rmTopFix,
.RadMenu_Web20_rtl li.rmBottomFix,
.RadMenu_Web20_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Web20_Context_rtl .rmGroup .rmItem {
  background-position: 101% 0; }

.RadMenu_Web20_rtl .rmGroup,
.RadMenu_Web20_rtl .rmMultiColumn,
.RadMenu_Web20_rtl .rmGroup .rmVertical {
  background-position: 101% 0; }

.RadMenu_Web20_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandTop,
.RadMenu_Web20_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandDown,
.RadMenu_Web20_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandLeft,
.RadMenu_Web20_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandRight {
  padding-right: 0px; }

.RadMenu_Web20_rtl .rmToggleHandles.rmHorizontal .rmExpandUp.rmText,
.RadMenu_Web20_rtl .rmToggleHandles.rmHorizontal .rmExpandDown.rmText,
.RadMenu_Web20_rtl .rmToggleHandles.rmHorizontal .rmExpandLeft.rmText,
.RadMenu_Web20_rtl .rmToggleHandles.rmHorizontal .rmExpandRight.rmText {
  padding-left: 24px; }

.RadMenu_Web20_rtl .rmHorizontal .rmRootLink .rmToggle {
  margin-right: -22px;
  margin-left: -1px; }

.RadMenu_Web20_rtl a.rmLink:hover,
.RadMenu_Web20_rtl a.rmFocused,
.RadMenu_Web20_rtl a.rmSelected,
.RadMenu_Web20_rtl a.rmExpanded {
  background-position: 100% -96px; }

.RadMenu_Web20_rtl .rmVertical .rmRootLink.rmFocused,
.RadMenu_Web20_rtl .rmVertical .rmRootLink.rmSelected,
.RadMenu_Web20_rtl .rmVertical .rmRootLink.rmExpanded {
  background-position: 100% -96px; }

.RadMenu_Web20_rtl .rmVertical .rmRootLink:hover,
.RadMenu_Web20_rtl .rmVertical .rmRootLink.rmFocused,
.RadMenu_Web20_rtl .rmVertical .rmRootLink.rmSelected,
.RadMenu_Web20_rtl .rmVertical .rmRootLink.rmExpanded {
  background-position: 99% -96px; }

.RadMenu_Web20_rtl a.rmLink:hover .rmText,
.RadMenu_Web20_rtl a.rmFocused .rmText,
.RadMenu_Web20_rtl a.rmExpanded .rmText,
.RadMenu_Web20_rtl a.rmSelected .rmText {
  background-position: 0 -72px; }

.RadMenu_Web20_rtl .rmGroup a.rmLink:hover,
.RadMenu_Web20_rtl .rmGroup a.rmFocused,
.RadMenu_Web20_rtl .rmGroup a.rmSelected,
.RadMenu_Web20_rtl .rmGroup a.rmExpanded {
  background-position: 100% -264px; }

.RadMenu_Web20_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_Web20_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_Web20_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_Web20_rtl .rmGroup a.rmExpanded .rmText {
  background-position: 0 -288px; }

.RadMenu_Web20_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_Web20_rtl .rmRootGroup .rmExpandLeft,
.RadMenu_Web20_rtl .rmGroup .rmExpandDown {
  background-position: 0 -312px; }

.RadMenu_Web20_rtl a.rmLink:hover .rmExpandLeft,
.RadMenu_Web20_rtl a.rmSelected .rmExpandLeft,
.RadMenu_Web20_rtl a.rmFocused .rmExpandLeft {
  background-position: 0 -2px; }

.RadMenu_Web20_rtl .rmVertical .rmRootLink.rmFocused .rmText,
.RadMenu_Web20_rtl .rmVertical .rmRootLink.rmSelected .rmText,
.RadMenu_Web20_rtl .rmVertical .rmRootLink.rmExpanded .rmText {
  background-position: 0 -72px; }

.RadMenu_Web20_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_Web20_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_Web20_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_Web20_rtl .rmGroup a.rmExpanded .rmExpandLeft,
.RadMenu_Web20_rtl .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_Web20_rtl .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_Web20_rtl .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_Web20_rtl .rmGroup a.rmExpanded .rmExpandDown {
  background-image: url('Menu/rmSprite.png');
  background-position: 0 -336px; }

.RadMenu_Web20_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft {
  background-image: url('Menu/rmSprite.png');
  background-position: 0 -312px; }

/* </rtl> */
