.RadNotification_Web20 {
  border-color: #6788be;
  color: #000000;
  background-color: #ffffff;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px; }
  .RadNotification_Web20.rnShadows {
    box-shadow: 2px 2px 3px #c5d3ea; }
  .RadNotification_Web20 .rnTitleBar {
    border-bottom-color: #93b4df;
    background-image: linear-gradient(#9db7db, #7b95c6 50%, #698ac0 50%, #92b3de);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9db7db', endColorstr='#92b3de',GradientType=0 ); }
  .RadNotification_Web20 .rnCommands a {
    background-image: url('Common/radActionsSprite.png'); }
  .RadNotification_Web20 .rnTitleBarTitle {
    color: #ffffff; }
  .RadNotification_Web20 .rnContentWrapper {
    border-top-color: #6788be; }
