.RadWizard_Web20 {
  color: #000000;
  background: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
.RadWizard_Web20 .rwzButton {
  border-radius: 0.25em;
  background-color: #c5c5c5;
  background-image: url('Common/radGradientButtonSprite.png');
  border-color: #0f1d48;
  color: #ffffff;
  background-color: #324d92;
  background-image: linear-gradient(#8d9dd2, #5762a3 50%, #3c4d8f 50%, #687dc1); }
  .RadWizard_Web20 .rwzButton.rwzHovered {
    background-color: #c6c6c6;
    border-color: #3f5f94;
    color: #0f3789;
    background-color: #cddcf1;
    background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1); }
  .RadWizard_Web20 .rwzButton.rwzClicked {
    border-color: #0f1d48;
    color: #ffffff;
    background-color: #687dc1;
    background-image: linear-gradient(#8d9dd2, #5762a3 50%, #3c4d8f 50%, #687dc1); }
  .RadWizard_Web20 .rwzButton.rwzDisabled {
    border-color: #747474;
    color: #777777;
    background-color: #bebebe;
    background-image: linear-gradient(#cfcfcf, #b0b0b0 50%, #a1a1a1 50%, #bebebe); }
.RadWizard_Web20 .rwzBreadCrumb {
  color: #ffffff; }
  .RadWizard_Web20 .rwzBreadCrumb .rwzLI {
    border-color: #0f1d48; }
  .RadWizard_Web20 .rwzBreadCrumb .rwzLink {
    border: 1px solid #abbce6;
    background: url('Wizard/rwzTab.png') repeat-x 0 50%; }
    @media screen\9 {
      .RadWizard_Web20 .rwzBreadCrumb .rwzLink {
        color: #000000; } }
  .RadWizard_Web20 .rwzBreadCrumb .rwzCallout {
    top: -1px;
    bottom: -1px;
    background: url('Wizard/rwzCallout.png') no-repeat 100% 50%; }
  .RadWizard_Web20 .rwzBreadCrumb .rwzHovered {
    color: #0f3789;
    border-color: #3f5f94; }
    .RadWizard_Web20 .rwzBreadCrumb .rwzHovered .rwzLink {
      border-color: transparent;
      background-image: url('Wizard/rwzTabHover.png'); }
    .RadWizard_Web20 .rwzBreadCrumb .rwzHovered .rwzCallout {
      background-image: url('Wizard/rwzCalloutHover.png'); }
  .RadWizard_Web20 .rwzBreadCrumb .rwzSelected {
    color: #ffffff;
    border-color: #0f1d48; }
    .RadWizard_Web20 .rwzBreadCrumb .rwzSelected .rwzLink {
      border-color: #eaeff9;
      background-image: url('Wizard/rwzTabSelect.png'); }
    .RadWizard_Web20 .rwzBreadCrumb .rwzSelected .rwzCallout {
      background-image: url('Wizard/rwzCalloutSelect.png'); }
  .RadWizard_Web20 .rwzBreadCrumb .rwzDisabled {
    border-color: #808080;
    color: #777777; }
    .RadWizard_Web20 .rwzBreadCrumb .rwzDisabled .rwzLink {
      border-color: transparent;
      background-image: url('Wizard/rwzTabDisable.png'); }
    .RadWizard_Web20 .rwzBreadCrumb .rwzDisabled .rwzCallout {
      background-image: url('Wizard/rwzCalloutDisable.png'); }
.RadWizard_Web20 .rwzProgressBar {
  border-radius: 0.25em;
  border-color: #a8c0e7;
  background-color: #eaeef5; }
.RadWizard_Web20 .rwzProgress {
  border-radius: 0.16667em 0em 0em 0.16667em;
  background-color: #82c160; }

.RadWizard_Web20.rwzHorizontal .rwzFirst {
  border-radius: 0.33333em 0em 0em 0.33333em; }
  .RadWizard_Web20.rwzHorizontal .rwzFirst .rwzLink {
    border-radius: 0.25em 0em 0em 0.25em; }
.RadWizard_Web20.rwzHorizontal .rwzLast {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Web20.rwzHorizontal .rwzLast .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }
.RadWizard_Web20.rwzHorizontal .rwzFirst.rwzLast {
  border-radius: 0.33333em; }
  .RadWizard_Web20.rwzHorizontal .rwzFirst.rwzLast .rwzLink {
    border-radius: 0.25em; }
.RadWizard_Web20.rwzHorizontal .rwzProgressBar {
  background-image: linear-gradient(#d6dfeb, #eaeef5); }
.RadWizard_Web20.rwzHorizontal .rwzProgress {
  background-image: linear-gradient(#b9dca6, #82c160); }

.RadWizard_Web20.rwzVertical .rwzFirst {
  border-radius: 0.33333em 0.33333em 0em 0em; }
  .RadWizard_Web20.rwzVertical .rwzFirst .rwzLink {
    border-radius: 0.25em 0.25em 0em 0em; }
.RadWizard_Web20.rwzVertical .rwzLast {
  border-radius: 0em 0em 0.33333em 0.33333em; }
  .RadWizard_Web20.rwzVertical .rwzLast .rwzLink {
    border-radius: 0em 0em 0.25em 0.25em; }
.RadWizard_Web20.rwzVertical .rwzSelected,
.RadWizard_Web20.rwzVertical .rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.RadWizard_Web20.rwzVertical .rwzFirst.rwzLast.rwzSelected, .RadWizard_Web20.rwzVertical .rwzFirst.rwzLast.rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.RadWizard_Web20.rwzVertical .rwzProgressBar {
  background-image: linear-gradient(90deg, #d6dfeb, #eaeef5); }
.RadWizard_Web20.rwzVertical .rwzProgress {
  background-image: linear-gradient(90deg, #b9dca6, #82c160); }

.RadWizard_Web20.rwzRightBreadCrumb .rwzBreadCrumb .rwzCallout,
.RadWizard_Web20.RadWizard_rtl .rwzBreadCrumb .rwzCallout {
  background: url('Wizard/rwzCalloutRtl.png') no-repeat 0 50%; }
.RadWizard_Web20.rwzRightBreadCrumb .rwzBreadCrumb .rwzHovered .rwzCallout,
.RadWizard_Web20.RadWizard_rtl .rwzBreadCrumb .rwzHovered .rwzCallout {
  background-image: url('Wizard/rwzCalloutHoverRtl.png'); }
.RadWizard_Web20.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzCallout,
.RadWizard_Web20.RadWizard_rtl .rwzBreadCrumb .rwzSelected .rwzCallout {
  background-image: url('Wizard/rwzCalloutSelectRtl.png'); }
.RadWizard_Web20.rwzRightBreadCrumb .rwzBreadCrumb .rwzDisabled .rwzCallout,
.RadWizard_Web20.RadWizard_rtl .rwzBreadCrumb .rwzDisabled .rwzCallout {
  background-image: url('Wizard/rwzCalloutDisableRtl.png'); }

.RadWizard_Web20.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzFirst,
.RadWizard_Web20.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzFirst {
  border-radius: 0em 0.33333em 0em 0em; }
  .RadWizard_Web20.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzFirst .rwzLink,
  .RadWizard_Web20.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzFirst .rwzLink {
    border-radius: 0em 0.25em 0em 0em; }
.RadWizard_Web20.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzLast,
.RadWizard_Web20.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzLast {
  border-radius: 0em 0em 0.33333em 0em; }
  .RadWizard_Web20.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzLast .rwzLink,
  .RadWizard_Web20.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzLast .rwzLink {
    border-radius: 0em 0em 0.25em 0em; }
.RadWizard_Web20.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast,
.RadWizard_Web20.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Web20.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast .rwzLink,
  .RadWizard_Web20.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }

.RadWizard_Web20.RadWizard_rtl.rwzHorizontal .rwzFirst {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Web20.RadWizard_rtl.rwzHorizontal .rwzFirst .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }
.RadWizard_Web20.RadWizard_rtl.rwzHorizontal .rwzLast {
  border-radius: 0.33333em 0em 0em 0.33333em; }
  .RadWizard_Web20.RadWizard_rtl.rwzHorizontal .rwzLast .rwzLink {
    border-radius: 0.25em 0em 0em 0.25em; }
