.RadButton {
  vertical-align: top;
  /* Primary and Secondary Icon Styles */
  /* Predefined Icons */
  /* Split Button */
  /* Disbaled Button */
  /* Right to Left Support */
  /* Hide element styles the !important is necessary to prevent overriding */ }
  .RadButton.rbButton {
    padding: 0.16667em 0.83333em 0.08333em 0.83333em;
    border-width: 1px;
    border-style: solid;
    vertical-align: top; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadButton.rbButton {
      padding: 0.16667em 0.83333em; } }
  .RadButton::-moz-focus-inner {
    padding: 0;
    border: 0;
    outline: 0; }
  .RadButton.rbHovered {
    cursor: pointer; }
  .RadButton:focus {
    outline: 0; }
  .RadButton.rbSelected {
    outline: 0 none; }
  .RadButton.rbRounded {
    border-radius: 0.25em; }
  .RadButton .rbIcon {
    display: inline-block;
    width: 1.33333em;
    height: 1.33333em;
    vertical-align: text-top; }
  .RadButton .rbPrimaryIcon {
    margin: -0.08333em 0.41667em 0em -0.41667em; }
  .RadButton .rbSecondaryIcon {
    margin: -0.08333em -0.41667em 0em 0.41667em; }
  .RadButton .rbIcon:before {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-family: "TelerikWebUI";
    font-size: 1.33333em; }
  .RadButton.rbPrimary, .RadButton.rbSecondary {
    position: relative; }
  .RadButton.rbButton.rbPrimary {
    padding-left: 2.08333em; }
  .RadButton.rbButton.rbSecondary {
    padding-right: 2.08333em; }
  .RadButton.rbPrimary .rbIcon, .RadButton.rbSecondary .rbIcon {
    position: absolute;
    top: 0.25em; }
  .RadButton.rbPrimary .rbIcon:before, .RadButton.rbSecondary .rbIcon:before {
    vertical-align: top; }
  .RadButton.rbPrimary .rbPrimaryIcon {
    left: 0.33333em;
    margin: -0.08333em 0em 0em -0.08333em; }
  .RadButton.rbSecondary .rbSecondaryIcon {
    right: 0.33333em;
    margin: -0.08333em -0.08333em 0em 0em; }
  .RadButton .rbAdd:before {
    content: "\E0CB"; }
  .RadButton .rbRemove:before {
    content: "\E0C3"; }
  .RadButton .rbOk:before {
    content: "\E037"; }
  .RadButton .rbCancel:before {
    content: "\E038"; }
  .RadButton .rbUpload:before {
    content: "\E0C6"; }
  .RadButton .rbDownload:before {
    content: "\E096"; }
  .RadButton .rbPrevious:before {
    content: "\E13E"; }
  .RadButton .rbNext:before {
    content: "\E13B"; }
  .RadButton .rbOpen:before {
    content: "\E0A2"; }
  .RadButton .rbAttach:before {
    content: "\E084"; }
  .RadButton .rbSave:before {
    content: "\E0BD"; }
  .RadButton .rbConfig:before {
    content: "\E0C9"; }
  .RadButton .rbPrint:before {
    content: "\E07E"; }
  .RadButton .rbRefresh:before {
    content: "\E0E6"; }
  .RadButton .rbSearch:before {
    content: "\E0E9"; }
  .RadButton .rbHelp:before {
    content: "\E0FB"; }
  .RadButton .rbCart:before {
    content: "\E0D1"; }
  .RadButton .rbEdit:before {
    content: "\E0D5"; }
  .RadButton .rbRSS:before {
    content: "\E0BC"; }
  .RadButton .rbMail:before {
    content: "\E099"; }
  .RadButton .rbFB:before {
    content: "\E10D"; }
  .RadButton .rbTwitter:before {
    content: "\E10B"; }
  .RadButton .rbLinkedIn:before {
    content: "\E10C"; }
  .RadButton .rbPinterest:before {
    content: "\E10E"; }
  .RadButton .rbYouTube:before {
    content: "\E10F"; }
  .RadButton .rbVimeo:before {
    content: "\E110"; }
  .RadButton .rbBehance:before {
    content: "\E111"; }
  .RadButton .rbDribble:before {
    content: "\E112"; }
  .RadButton .rbGooglePlus:before {
    content: "\E113"; }
  .RadButton .rbCustomIcon {
    background-repeat: no-repeat; }
  .RadButton .rbText {
    vertical-align: text-top; }
  .RadButton.rbCheckBox .rbText, .RadButton.rbRadioButton .rbText, .RadButton.rbToggleButton .rbText {
    vertical-align: middle; }
  .RadButton.rbCheckBox .rbIcon.rbToggleCheckbox, .RadButton.rbCheckBox .rbIcon.rbToggleCheckboxChecked, .RadButton.rbCheckBox .rbIcon.rbToggleCheckboxFilled, .RadButton.rbToggleButton .rbIcon.rbToggleCheckbox, .RadButton.rbToggleButton .rbIcon.rbToggleCheckboxChecked, .RadButton.rbToggleButton .rbIcon.rbToggleCheckboxFilled, .RadButton.rbRadioButton .rbIcon.rbToggleRadio, .RadButton.rbRadioButton .rbIcon.rbToggleRadioChecked {
    margin: 0.075em 0.41667em 0 0; }
  .RadButton .rbToggleCheckbox:before, .RadButton .rbToggleCheckboxChecked:before, .RadButton .rbToggleCheckboxFilled:before, .RadButton .rbToggleRadio:before, .RadButton .rbToggleRadioChecked:before {
    content: ""; }
  .RadButton .rbToggleCheckbox:before {
    content: "\E14E"; }
  .RadButton .rbToggleCheckboxChecked:before {
    content: "\E14D"; }
  .RadButton .rbToggleCheckboxFilled:before {
    content: "\E14F"; }
  .RadButton .rbToggleRadio:before {
    content: "\E14C"; }
  .RadButton .rbToggleRadioChecked:before {
    content: "\E14B"; }
  .RadButton .rbSplitPart {
    display: inline-block;
    width: 1.33333em;
    height: 1.66667em;
    vertical-align: text-top;
    overflow: hidden;
    cursor: pointer; }
  .RadButton .rbSplitPartRight {
    margin: -0.16667em -0.83333em -0.08333em 0.41667em;
    border-radius: 0em 0.25em 0.25em 0em;
    border-left-width: 1px;
    border-left-style: solid;
    float: right; }
  .RadButton .rbSplitPartLeft {
    margin: -0.16667em 0.41667em -0.08333em -0.83333em;
    border-radius: 0.25em 0em 0em 0.25em;
    border-right-width: 1px;
    border-right-style: solid; }
  .RadButton .rbSplitIcon {
    margin: 0.16667em 0em 0em -0.16667em;
    margin: -0.16667em 0 0 -0.41667em\9; }
  .RadButton _:-ms-fullscreen, :root .RadButton .rbSplitIcon {
    margin: -0.16667em 0 0 -0.41667em; }
  .RadButton .rbSplitIcon:before {
    display: inline-block;
    height: 1.83333em;
    vertical-align: text-top;
    font-size: 1.66666em;
    content: "\E00E"; }
  @media \0screen {
    .RadButton .rbSplitIcon:before {
      font-size: 2.1em; } }
  .RadButton.rbButton.rbImageButton {
    background-image: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0 none;
    border-radius: 0; }
  .RadButton.rbDisabled {
    opacity: 0.7;
    cursor: default; }
  .RadButton.rbRtl .rbIcon {
    margin: -0.08333em -0.41667em 0em 0.41667em; }
  .RadButton.rbRtl .rbSplitPart {
    margin: -0.08333em 0.41667em -0.16667em -0.83333em;
    border-left: 0 none;
    border-radius: 0.25em 0em 0em 0.25em;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: transparent; }
  .RadButton.rbRtl .rbSplitPart .rbIcon {
    margin: 0.08333em -0.16667em 0em 0.41667em; }
  .RadButton.rbRtl .rbToggleCheckbox, .RadButton.rbRtl .rbToggleCheckboxChecked, .RadButton.rbRtl .rbToggleCheckboxFilled, .RadButton.rbRtl .rbToggleRadio, .RadButton.rbRtl .rbToggleRadioChecked {
    margin-right: auto;
    margin-left: 0.25em; }
  .RadButton.rbRtl.rbCheckBox .rbIcon.rbToggleCheckbox, .RadButton.rbRtl.rbCheckBox .rbIcon.rbToggleCheckboxChecked, .RadButton.rbRtl.rbCheckBox .rbIcon.rbToggleCheckboxFilled, .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleCheckbox, .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleCheckboxChecked, .RadButton.rbRtl.rbToggleButton .rbIcon.rbToggleCheckboxFilled, .RadButton.rbRtl.rbRadioButton .rbIcon.rbToggleRadio, .RadButton.rbRtl.rbRadioButton .rbIcon.rbToggleRadioChecked {
    margin: 0.075em 0 0 0.41667em; }
  .RadButton .rbHiddenImages {
    position: absolute;
    top: -9999px;
    visibility: hidden; }
  .RadButton .rbHideElement {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important; }

span.RadButton.rbButton {
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  span.RadButton.rbButton {
    padding: 0.08333em 0.83333em; }
  span.RadButton.rbButton .rbText {
    display: inline-block;
    margin-top: 0.08333em; } }

.rbCheckBox, .rbRadioButton, .rbToggleButton {
  background-color: transparent;
  background-image: none;
  border: 0 none;
  padding: 0.25em 0.41667em 0em 0em; }

.rbRtl.rbCheckBox, .rbRtl.rbRadioButton, .rbRtl.rbToggleButton {
  padding: 0.25em 0em 0em 0.41667em; }

.rbCheckBox::-moz-focus-inner, .rbRadioButton::-moz-focus-inner {
  padding: 0;
  border: 0;
  outline: 0; }

