.RadComboBox {
  width: 13.33333em;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .RadComboBox .rcbInner {
    padding: 0.08333em 1.83333em 0.08333em 0.41667em;
    border-width: 1px;
    border-style: solid;
    background-repeat: repeat-x;
    background-position: 0 0;
    display: block;
    position: relative; }
  .RadComboBox .rcbInner.rcbToggleButtonHidden {
    padding-right: 0.41667em; }
  .RadComboBox .rcbInput {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1.5em;
    border: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    background: none;
    font-size: 1em;
    font-family: inherit;
    display: inline-block;
    -webkit-appearance: none;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .RadComboBox .rcbReadOnly .rcbInput, .RadComboBox .rcbDisabled .rcbInput {
    cursor: default; }
  .RadComboBox .rcbEmptyMessage {
    font-style: italic;
    filter: alpha(opacity=80);
    opacity: 0.8; }
  .RadComboBox .rcbHovered .rcbEmptyMessage, .RadComboBox .rcbDisabled .rcbEmptyMessage {
    color: inherit; }
  .RadComboBox .rcbActionButton {
    padding: 0;
    width: 1.5em;
    height: 100%;
    border-width: 0 0 0 1px;
    border-style: solid;
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: 0 0;
    font: inherit;
    position: absolute;
    top: 0;
    right: 0;
    left: auto; }
    .RadComboBox .rcbActionButton::-moz-focus-inner {
      padding: 0;
      border: 0;
      outline: 0; }
    .RadComboBox .rcbActionButton .rcbButtonText {
      display: none; }
    .RadComboBox .rcbActionButton .rcbIcon {
      width: 1em;
      height: 1em;
      font-family: "TelerikWebUI";
      line-height: 1;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      cursor: default; }
    .RadComboBox .rcbActionButton .rcbIconDown:before {
      content: "\e002";
      display: inline-block; }
  .RadComboBox .rcbDisabled {
    filter: alpha(opacity=50);
    opacity: 0.5; }
  .RadComboBox .rcbReadOnly .rcbActionButton {
    border-width: 0; }
  .RadComboBox .rcbLabel {
    float: left;
    vertical-align: baseline;
    padding-right: 10px; }

.RadComboBox_rtl {
  text-align: right; }
  .RadComboBox_rtl .rcbInner {
    padding-right: 0.41667em;
    padding-left: 1.83333em; }
  .RadComboBox_rtl .rcbInner.rcbToggleButtonHidden {
    padding-left: 0.41667em; }
  .RadComboBox_rtl .rcbActionButton {
    border-right-width: 1px;
    border-left-width: 0;
    right: auto;
    left: 0; }
  .RadComboBox_rtl .rcbLabel {
    float: right;
    padding-right: 0;
    padding-left: 10px; }

.rcbSlide {
  display: none;
  position: absolute;
  overflow: hidden; }

.RadComboBoxDropDown {
  border-width: 1px;
  border-style: solid;
  text-align: left;
  cursor: default;
  position: relative;
  line-height: 1.66667em; }
  .RadComboBoxDropDown input[type="checkbox"] {
    margin: 3px 3px 3px 4px; }
  .RadComboBoxDropDown.rcbAutoWidth {
    min-width: 158px; }
  .RadComboBoxDropDown.rcbAutoWidth .rcbList {
    white-space: nowrap; }
  .RadComboBoxDropDown .rcbItem, .RadComboBoxDropDown .rcbHovered, .RadComboBoxDropDown .rcbDisabled {
    min-height: 1.66667em; }
  .RadComboBoxDropDown.rcbAutoWidthResizer .rcbItem, .RadComboBoxDropDown.rcbAutoWidthResizer .rcbHovered, .RadComboBoxDropDown.rcbAutoWidthResizer .rcbDisabled {
    padding-right: 20px; }
  .RadComboBoxDropDown .rcbScroll {
    height: 100%;
    position: relative;
    overflow: auto; }
  .RadComboBoxDropDown .rcbHeader, .RadComboBoxDropDown .rcbFooter {
    padding: 0.41667em 0.58333em 0.33333em;
    border-width: 0;
    border-style: solid; }
  .RadComboBoxDropDown .rcbHeader {
    margin-bottom: 1px;
    border-bottom-width: 1px; }
  .RadComboBoxDropDown .rcbFooter {
    margin-top: 1px;
    border-top-width: 1px; }
  .RadComboBoxDropDown .rcbList {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative; }
  .RadComboBoxDropDown li {
    line-height: inherit; }
  .RadComboBoxDropDown .rcbItem, .RadComboBoxDropDown .rcbHovered, .RadComboBoxDropDown .rcbDisabled, .RadComboBoxDropDown .rcbLoading, .RadComboBoxDropDown .rcbCheckAllItems, .RadComboBoxDropDown .rcbCheckAllItemsHovered {
    *zoom: 1;
    margin: 0 1px;
    padding: 0em 0.5em;
    background-repeat: repeat-x; }
    .RadComboBoxDropDown .rcbItem:after, .RadComboBoxDropDown .rcbHovered:after, .RadComboBoxDropDown .rcbDisabled:after, .RadComboBoxDropDown .rcbLoading:after, .RadComboBoxDropDown .rcbCheckAllItems:after, .RadComboBoxDropDown .rcbCheckAllItemsHovered:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
    .RadComboBoxDropDown .rcbItem > label, .RadComboBoxDropDown .rcbHovered > label, .RadComboBoxDropDown .rcbDisabled > label, .RadComboBoxDropDown .rcbLoading > label, .RadComboBoxDropDown .rcbCheckAllItems > label, .RadComboBoxDropDown .rcbCheckAllItemsHovered > label {
      margin: -0.16667em -0.5em;
      padding: 0.16667em 0.5em;
      font-weight: normal;
      display: block; }
  .RadComboBoxDropDown .rcbNoWrap .rcbItem, .RadComboBoxDropDown .rcbNoWrap .rcbHovered, .RadComboBoxDropDown .rcbNoWrap .rcbDisabled, .RadComboBoxDropDown .rcbNoWrap .rcbLoading {
    white-space: nowrap; }
  .RadComboBoxDropDown .rcbDisabled {
    cursor: default;
    filter: alpha(opacity=50);
    opacity: 0.5; }
  .RadComboBoxDropDown .rcbLoading {
    text-align: center; }
  .RadComboBoxDropDown em {
    font-style: normal;
    font-weight: bold; }
  .RadComboBoxDropDown .rcbCheckBox, .RadComboBoxDropDown .rcbCheckAllItemsCheckBox {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 0.3em; }
  .RadComboBoxDropDown .rcbImage {
    margin: 0 6px 2px 0;
    vertical-align: middle; }
  .RadComboBoxDropDown .rcbMoreResults {
    margin: 1px 0 0 0;
    padding: 2px 6px;
    border-width: 1px 0 0 0;
    border-style: solid;
    text-align: center;
    cursor: pointer; }
  .RadComboBoxDropDown .rcbMoreResults a {
    margin: 0 2px;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer; }
  .RadComboBoxDropDown .rcbSeparator {
    margin-top: 5px; }
  .RadComboBoxDropDown .rcbSeparatedList .rcbSeparator {
    padding-left: 6px; }
  .RadComboBoxDropDown .rcbSeparatedList .rcbItem, .RadComboBoxDropDown .rcbSeparatedList .rcbHovered, .RadComboBoxDropDown .rcbSeparatedList .rcbDisabled, .RadComboBoxDropDown .rcbSeparatedList .rcbLoading {
    padding-left: 12px; }

.RadComboBoxDropDown_rtl {
  text-align: right;
  direction: rtl; }
  .RadComboBoxDropDown_rtl.rcbAutoWidthResizer .rcbItem, .RadComboBoxDropDown_rtl.rcbAutoWidthResizer .rcbHovered, .RadComboBoxDropDown_rtl.rcbAutoWidthResizer .rcbDisabled {
    padding-left: 20px;
    padding-right: 0.66667em; }
  .RadComboBoxDropDown_rtl .rcbImage {
    margin: 0 0 2px 6px; }
  .RadComboBoxDropDown_rtl .rcbSeparator {
    margin-top: 5px; }
  .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbSeparator {
    padding-right: 6px; }
  .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbItem, .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbHovered, .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbDisabled, .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbLoading {
    padding-right: 12px; }

.RadComboBoxWithLabel .rcbInner {
  display: block;
  overflow: hidden; }
