.RadDockZone {
  position: relative;
  border-style: solid;
  border-width: 1px;
  padding: 4px; }

.RadDockZone {
  box-sizing: content-box;
  -moz-box-sizing: content-box; }

.RadDockZone.rdPlaceHolder {
  border-style: dashed;
  border-width: 1px; }

* > .RadDockZone.rdVertical {
  padding-right: 4px; }

.rdHorizontal .RadDock {
  float: left; }

.rdHorizontal .rdRtl {
  float: right; }

/* float clearing */
.rdzClear {
  clear: both;
  height: 1px;
  margin-bottom: -1px;
  visibility: hidden; }

.RadDockZone_Default {
  border-color: #828282; }

.RadDockZone_Black {
  border-color: #080808; }

.RadDockZone_BlackMetroTouch {
  border-color: #4e4e4e; }

.RadDockZone_Bootstrap {
  border-color: #dddddd; }

.RadDockZone_Glow {
  background-color: #1c262c;
  border: 0; }

.RadDockZone_Metro {
  border-color: #e5e5e5; }

.RadDockZone_MetroTouch {
  border-color: #cdcdcd; }

.RadDockZone_Office2007 {
  border-color: #688caf; }

.RadDockZone_Office2010Black {
  border-color: #4b4b4b; }

.RadDockZone_Office2010Blue {
  border-color: #8ba0bc; }

.RadDockZone_Office2010Silver {
  border-color: #a4abb2; }

.RadDockZone_Outlook {
  border-color: #002d96; }

.RadDockZone_Silk {
  border-color: #828282; }

.RadDockZone_Simple {
  border-color: #b0b0b0; }

.RadDockZone_Sunset {
  border-color: #d2c7b4; }

.RadDockZone_Telerik {
  border-color: #828282; }

.RadDockZone_Transparent {
  border-color: rgba(0, 0, 0, 0.2); }

.RadDockZone_Vista {
  border-color: #a7bac5; }

.RadDockZone_Web20 {
  border-color: #bcd2f1; }

.RadDockZone_WebBlue {
  border-color: #768ca5; }

.RadDockZone_Windows7 {
  border-color: #a5b3c5; }

