.RadDropDownList {
  width: 160px;
  line-height: 1.3333em;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: default;
  *zoom: 1;
  *display: inline; }
  .RadDropDownList .rddlInner {
    padding: 2px 22px 2px 5px;
    border-width: 1px;
    border-style: solid;
    display: block;
    position: relative;
    overflow: hidden; }
    @media screen\9 {
      .RadDropDownList .rddlInner {
        vertical-align: top; } }
  .RadDropDownList .rddlFakeInput {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 16px;
    display: block;
    overflow: hidden; }
  .RadDropDownList .rddlEmptyMessage, .RadDropDownList .rddlDefaultMessage {
    font-style: italic; }
  .RadDropDownList .rddlHovered .rddlEmptyMessage, .RadDropDownList .rddlHovered .rddlDefaultMessage, .RadDropDownList .rddlFocused .rddlEmptyMessage, .RadDropDownList .rddlFocused .rddlDefaultMessage, .RadDropDownList .rddlDisabled .rddlEmptyMessage, .RadDropDownList .rddlDisabled .rddlDefaultMessage {
    color: inherit; }
  .RadDropDownList .rddlIcon {
    width: 16px;
    height: 100%;
    border: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0; }
  .RadDropDownList .rrdlLabel {
    padding-right: 10px;
    vertical-align: top;
    line-height: 22px; }
  .RadDropDownList .rddlDisabled {
    filter: alpha(opacity=50);
    opacity: 0.5; }
  .RadDropDownList .rddlHovered {
    background-position: 0 -1000px\9; }
  .RadDropDownList .rddlFocused {
    background-position: 0 -2000px\9; }
  .RadDropDownList .rddlDisabled {
    background-position: 0 -3000px\9; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .RadDropDownList .rddlHovered, .RadDropDownList .rddlFocused, .RadDropDownList .rddlDisabled {
      background-position: 0 0; }
 }

.RadDropDownList_rtl {
  text-align: right; }

.rddlSlide, .rddlDropDownSlide {
  float: left;
  display: none;
  position: absolute;
  overflow: hidden;
  z-index: 7000; }

.rddlPopup {
  *zoom: 1;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  position: relative;
  cursor: default;
  width: 160px;
  *width: 158px;
  box-sizing: border-box; }
  .rddlPopup:after {
    content: "";
    height: 0;
    clear: both;
    display: block; }
  .rddlPopup .rddlScroll {
    *zoom: 1;
    position: relative;
    overflow: auto; }
    .rddlPopup .rddlScroll:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rddlPopup .rddlHeader, .rddlPopup .rddlFooter {
    *zoom: 1;
    margin: -0.16667em;
    padding: 0.25em 0.41667em;
    background-repeat: repeat-x; }
    .rddlPopup .rddlHeader:after, .rddlPopup .rddlFooter:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rddlPopup .rddlHeader {
    margin-bottom: 0.16667em;
    border-bottom-width: 1px;
    border-bottom-style: solid; }
  .rddlPopup .rddlFooter {
    margin-top: 0.16667em;
    border-top-width: 1px;
    border-top-style: solid; }
  .rddlPopup .rddlList {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    position: relative;
    overflow: auto; }
  .rddlPopup .rddlItem {
    margin: 0;
    padding: 2px 6px;
    min-height: 13px; }
    .rddlPopup .rddlItem > label {
      margin: -2px -6px;
      padding: 2px 6px;
      display: block; }

.rddlPopup_rtl {
  text-align: right;
  direction: rtl; }
