.RadFileExplorer {
  border: 1px solid;
  position: relative;
  /*========================== Address box ===================================*/
  /* Fixes address box when decorated by RFD */
  /*========================== Upload panel styles ===========================*/
  /* file extension sprites (manager dialogs)===================================================================================================== */
  /*========================================= Toolbar related CSS ========================*/
  /* Opacity hack for IE7 */
  /*There are different colors of the grid master table and the grid itself?!?! Cool */
  /* Eliminate the useless border between cells */
  /*========================================= TreeView related CSS ========================*/
  /* Hacks to display the loading image correctly on all browsers*/
  /*========================================= Context Menu related CSS - TODO: RadContextMenu does not allow for CSS items - this must be fixed in the menu in the future ========================*/
  /*==============================================================================================*/
  /* --- SKIN-SPECIFIC SETTINGS --- */
  /* --- The rules below contain skin-specific settings for RadFileExplorer --- */
  /* --- You may set border, color and background to the RadFileExplorer wrapper and the address bar --- */
  /* From Q2, 2010, skin specific CSS files has been created for RFE and all skin specific rules has been removed to the related files */
  /* Overwrites treeview padding for the specific requiermnet in FileExplorer */
  /* Overwrites padding for better presentation and space saving */
  /* Filter TextBox */
  /* The text in the Filter TextBox should be selectable in Firefox 
	.RadGrid .rfeFilterWrapper,
	.RadGrid div .rfeFilterTxt {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}*/
  /* Thumbnail view */
  /* Thumms Icons */
  /* Thumbnail Pager */
  /* page info for page control in thumbnail view */
  /* Thumbnail Filtering */
  /* Thumbnial drag and drop */
  /* Large thumbnails */ }
  .RadFileExplorer, .RadFileExplorer * {
    box-sizing: content-box;
    -moz-box-sizing: content-box; }
  .RadFileExplorer .rgCaption {
    display: none; }
  .RadFileExplorer .rfeCopyCursor .RadGrid .rgDataDiv, .RadFileExplorer .rfeCopyCursor .RadGrid .rgDataDiv .rgRow, .RadFileExplorer .rfeCopyCursor .RadTreeView, .RadFileExplorer .rfeCopyCursor .RadTreeView .rtIn {
    cursor: all-scroll !important; }
  .RadFileExplorer .rfeCopyCursorCSS3 .RadGrid .rgDataDiv, .RadFileExplorer .rfeCopyCursorCSS3 .RadGrid .rgDataDiv .rgRow, .RadFileExplorer .rfeCopyCursorCSS3 .RadTreeView, .RadFileExplorer .rfeCopyCursorCSS3 .RadTreeView .rtIn {
    cursor: copy !important; }
  .RadFileExplorer .rfeAddressBox {
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-left: 0 !important;
    border-right: 0 !important;
    margin: 0;
    padding: 0;
    font-size: 12px;
    *margin-top: -4px;
    *width: 99.3%; }
  html.RadForm.rfdTextbox .RadFileExplorer input.rfeAddressBox[type="text"] {
    width: 100%; }
  .RadForm.rfdTextbox .RadFileExplorer .rfeUploadContainer input[type="text"] {
    width: auto; }
  .RadFileExplorer .ruActions {
    padding: 5px 0; }
  .RadFileExplorer .rfeUploadButtonContainer {
    margin-top: 5px 0 0 0; }
  .RadFileExplorer .rfeUploadButtonContainer input {
    width: 75px; }
  .RadFileExplorer .rfeFileExtension {
    height: 18px;
    line-height: 18px;
    background: transparent url('Common/FileExplorer/FileExtensionSprites.png') no-repeat -7px -681px;
    _background: url('Common/FileExplorer/FileExtensionSpritesIE6.gif') no-repeat -7px -681px !important;
    padding: 0 0 0 20px !important;
    white-space: nowrap; }
  .RadFileExplorer .folder {
    background-position: -7px -1224px !important; }
  .RadFileExplorer .RadFileExplorer .RadToolBar .rtbDisabled {
    opacity: 0.4;
    filter: alpha(opacity=40) \9;
    -ms-filter: "alpha(opacity=40)" \9; }
  .RadFileExplorer .RadToolBar, .RadFileExplorer .RadToolBar .rtbOuter, .RadFileExplorer .RadToolBar .rtbMiddle, .RadFileExplorer .RadToolBar .rtbInner {
    display: block;
    float: none; }
  .RadFileExplorer .RadToolBar .rtbWrap, .RadFileExplorer .RadToolBar .rtbText {
    line-height: 18px;
    /* icon height */ }
  .RadFileExplorer .RadToolBar .rtbText {
    padding: 0 2px 0 22px;
    /* assuming that the space is 3px wide *gasp* */
    display: block; }
  .RadFileExplorer .RadToolBar .rtbUL {
    display: block; }
  .RadFileExplorer .RadToolBar .rtbIconOnly .rtbText {
    padding: 0 0 0 16px;
    /* assuming that the space is 3px wide *gasp* */
    font-size: 17px;
    /* icon height */ }
  .RadFileExplorer .RadToolBar .icnRefresh .rtbText {
    background-position: 0 0; }
  .RadFileExplorer .RadToolBar .icnNewFolder .rtbText {
    background-position: 0 -17px; }
  .RadFileExplorer .RadToolBar .icnDelete .rtbText {
    background-position: 0 -34px; }
  .RadFileExplorer .RadToolBar .icnUpload .rtbText {
    background-position: 0 -51px; }
  .RadFileExplorer .RadToolBar .icnBack .rtbText {
    background-position: 0 -313px; }
  .RadFileExplorer .RadToolBar .icnForward .rtbText {
    background-position: 0 -333px; }
  .RadFileExplorer .RadToolBar .icnOpen .rtbText {
    background-position: 0 -351px; }
  .RadFileExplorer .RadToolBar .icnGridView .rtbText {
    background-position: 0 -390px; }
  .RadFileExplorer .RadToolBar .icnThumbnailsView .rtbText {
    background-position: 0 -410px; }
  .RadFileExplorer .RadToolBar .NoIcon .rtbText {
    padding-left: 0 !important;
    background: none !important;
    zoom: 1; }
  .RadFileExplorer .RadToolBar .NoIcon.rtbChecked {
    color: #fff; }
  .RadFileExplorer .RadGrid {
    background-color: Transparent !important;
    border-width: 0 !important;
    cursor: default !important;
    outline: none; }
  .RadFileExplorer .RadGrid div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .RadFileExplorer .RadGrid td {
    border: 0 solid #f00 !important;
    overflow: hidden; }
  .RadFileExplorer .RadGrid td.rfeFileExtension {
    width: auto;
    height: auto; }
  .RadFileExplorer .RadGrid .rgNoRecords div {
    padding: 4px; }
  .RadFileExplorer .RadGrid .rgSliderLabel {
    display: none; }
  .RadFileExplorer .RadTreeView {
    margin-top: 2px !important; }
  .RadFileExplorer .RadTreeView .rtIn {
    margin-left: 0 !important; }
  .RadFileExplorer .rtTemplate {
    display: inline-block; }
  .RadFileExplorer .RadTreeView .rfeFileExtension {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  .RadFileExplorer .folderup {
    background-position: -7px -1256px !important; }
  .RadFileExplorer .gif {
    background-position: -7px -39px !important; }
  .RadFileExplorer .html, .RadFileExplorer .htm, .RadFileExplorer .xhtml, .RadFileExplorer .hta {
    background-position: -7px -71px !important; }
  .RadFileExplorer .exe, .RadFileExplorer .bat {
    background-position: -7px -967px !important; }
  .RadFileExplorer .rar, .RadFileExplorer .zip, .RadFileExplorer .ace {
    background-position: -7px -102px !important; }
  .RadFileExplorer .psd, .RadFileExplorer .pdd {
    background-position: -7px -135px !important; }
  .RadFileExplorer .js {
    background-position: -7px -167px !important; }
  .RadFileExplorer .vbs {
    background-position: -7px -999px !important; }
  .RadFileExplorer .css {
    background-position: -7px -200px !important; }
  .RadFileExplorer .txt {
    background-position: -7px -232px !important; }
  .RadFileExplorer .asp {
    background-position: -7px -264px !important; }
  .RadFileExplorer .aspx {
    background-position: -7px -296px !important; }
  .RadFileExplorer .sln {
    background-position: -7px -327px !important; }
  .RadFileExplorer .suo {
    background-position: -7px -1344px !important; }
  .RadFileExplorer .config {
    background-position: -7px -360px !important; }
  .RadFileExplorer .cs {
    background-position: -7px -392px !important; }
  .RadFileExplorer .vb {
    background-position: -7px -424px !important; }
  .RadFileExplorer .doc, .RadFileExplorer .docx, .RadFileExplorer .rtf, .RadFileExplorer .dot {
    background-position: -7px -456px !important; }
  .RadFileExplorer .ppt, .RadFileExplorer .pptx {
    background-position: -7px -488px !important; }
  .RadFileExplorer .xls, .RadFileExplorer .xlsx {
    background-position: -7px -519px !important; }
  .RadFileExplorer .ascx {
    background-position: -7px -550px !important; }
  .RadFileExplorer .jpg, .RadFileExplorer .jpeg, .RadFileExplorer .jpe {
    background-position: -7px -584px !important; }
  .RadFileExplorer .png {
    background-position: -7px -615px !important; }
  .RadFileExplorer .mdb {
    background-position: -7px -648px !important; }
  .RadFileExplorer .csproj {
    background-position: -7px -711px !important; }
  .RadFileExplorer .webinfo {
    background-position: -7px -744px !important; }
  .RadFileExplorer .vbproj {
    background-position: -7px -775px !important; }
  .RadFileExplorer .pdf {
    background-position: -7px -808px !important; }
  .RadFileExplorer .bmp {
    background-position: -7px -840px !important; }
  .RadFileExplorer .swf {
    background-position: -7px -872px !important; }
  .RadFileExplorer .tif, .RadFileExplorer .tiff {
    background-position: -7px -904px !important; }
  .RadFileExplorer .mpg, .RadFileExplorer .mpeg, .RadFileExplorer .avi, .RadFileExplorer .gp3, .RadFileExplorer .mov, .RadFileExplorer .mpeg4, .RadFileExplorer .aif, .RadFileExplorer .aiff, .RadFileExplorer .rm, .RadFileExplorer .wmv {
    background-position: -7px -936px !important; }
  .RadFileExplorer .mp3, .RadFileExplorer .mp4, .RadFileExplorer .mid, .RadFileExplorer .midi, .RadFileExplorer .wav, .RadFileExplorer .gp3, .RadFileExplorer .gp4, .RadFileExplorer .gp5, .RadFileExplorer .wma, .RadFileExplorer .ogg {
    background-position: -7px -1031px !important; }
  .RadFileExplorer .fla, .RadFileExplorer .flv {
    background-position: -7px -1063px !important; }
  .RadFileExplorer .dll {
    background-position: -7px -1095px !important; }
  .RadFileExplorer .xml {
    background-position: -7px -1127px !important; }
  .RadFileExplorer .xslt {
    background-position: -7px -1159px !important; }
  .RadFileExplorer .xsl {
    background-position: -7px -1191px !important; }
  .RadFileExplorer .bac {
    background-position: -7px -681px; }
  .RadFileExplorer .RadTreeView .rtIn {
    padding: 1px 4px 0 3px !important; }
  .RadFileExplorer .RadTreeView .rtHover .rtIn, .RadFileExplorer .RadTreeView .rtSelected .rtIn {
    padding: 0 4px 0 2px !important; }
  .RadFileExplorer .RadTreeView .rtTop, .RadFileExplorer .RadTreeView .rtMid, .RadFileExplorer .RadTreeView .rtBot {
    padding: 0 0 0 20px; }
  .RadFileExplorer .RadGrid .rgRow td, .RadFileExplorer .RadGrid .rgAltRow td, .RadFileExplorer .RadGrid .rgEditRow td, .RadFileExplorer .RadGrid .rgFooter td {
    padding-bottom: 2px;
    padding-top: 2px; }
  .RadFileExplorer .rfeFilterWrapper {
    float: right; }
  .RadFileExplorer .rfeFilterLbl {
    float: left;
    margin: 3px 2px 0 0;
    text-align: right; }
  .RadFileExplorer .rfeFilterTxt {
    float: left;
    height: 16px !important;
    line-height: 16px !important;
    margin: 2px;
    font: 12px/16px "segoe ui", arial, sans-serif;
    border: 1px solid; }
  .RadFileExplorer .RadGrid .rfeFilterWrapper, .RadFileExplorer .RadGrid div .rfeFilterTxt {
    -moz-user-select: text; }
  .RadFileExplorer .RadFileExplorer .RadToolBar .rtbIn {
    *vertical-align: top !important; }
  .RadFileExplorer .rfeThumbnailView {
    margin: 0;
    padding: 5px;
    list-style: none;
    overflow-y: scroll;
    *position: relative; }
  .RadFileExplorer .rfeThumbList {
    width: 65px;
    min-height: 65px;
    margin: 3px 1px;
    *margin: 3px;
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    *display: inline; }
  .RadFileExplorer .rfeThumbList a {
    display: block;
    padding: 5px 0 5px;
    border-radius: 4px;
    border: 1px solid transparent; }
  .RadFileExplorer .rfeThumbList a:hover, .RadFileExplorer .rfeThumbList .rfeSelectedLink, .RadFileExplorer .rfeThumbList .rfeSelectedLink:hover {
    background-repeat: repeat-x;
    background-position: 0 -1000px;
    border: 1px solid; }
  .RadFileExplorer .rfeThumbList .rfeSelectedLink, .RadFileExplorer .rfeThumbList .rfeSelectedLink:hover {
    background-position: 0 -2000px; }
  .RadFileExplorer .rfeThumbnailView .rfeLink {
    text-decoration: none;
    text-align: center;
    color: #000;
    /* color on hover is set in skin specific CSS files */ }
  .RadFileExplorer .rfeThumbnailView .rfeFile {
    display: block;
    margin: auto;
    width: 32px;
    height: 32px; }
  .RadFileExplorer .rfeThumbnailView .rfeFile .rfeFileIcon {
    display: block;
    margin: auto;
    width: 32px;
    height: 32px;
    background-image: url('Common/FileExplorer/rfeThumbnailView.png') !important;
    background-repeat: no-repeat; }
  .RadFileExplorer .RadFileExplorer .rfeThumbnailView .rfeImageView {
    background-image: none !important;
    width: 64px;
    height: 64px; }
  .RadFileExplorer .rfeThumbnailView .rfeImageFile img {
    border: 0; }
  .RadFileExplorer .rfeThumbnailView .rfeThumbTitle {
    display: block;
    min-height: 15px;
    line-height: 11px;
    padding: 3px 1px 1px 1px;
    font-size: 11px;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
    word-wrap: break-word; }
  .RadFileExplorer .rfeThumbList .folder {
    background-position: 0 -1376px !important; }
  .RadFileExplorer .rfeThumbList .folderup {
    background-position: 0 -1248px !important; }
  .RadFileExplorer .rfeThumbList .gif {
    background-position: 0 -32px !important; }
  .RadFileExplorer .rfeThumbList .html, .RadFileExplorer .rfeThumbList .htm, .RadFileExplorer .rfeThumbList .xhtml, .RadFileExplorer .rfeThumbList .hta {
    background-position: 0 -64px !important; }
  .RadFileExplorer .rfeThumbList .exe, .RadFileExplorer .rfeThumbList .bat {
    background-position: 0 -960px !important; }
  .RadFileExplorer .rfeThumbList .rar, .RadFileExplorer .rfeThumbList .zip, .RadFileExplorer .rfeThumbList .ace {
    background-position: 0 -96px !important; }
  .RadFileExplorer .rfeThumbList .psd, .RadFileExplorer .rfeThumbList .pdd {
    background-position: 0 -128px !important; }
  .RadFileExplorer .rfeThumbList .js {
    background-position: 0 -160px !important; }
  .RadFileExplorer .rfeThumbList .vbs {
    background-position: 0 -992px !important; }
  .RadFileExplorer .rfeThumbList .css {
    background-position: 0 -193px !important; }
  .RadFileExplorer .rfeThumbList .txt {
    background-position: 0 -225px !important; }
  .RadFileExplorer .rfeThumbList .asp {
    background-position: 0 -257px !important; }
  .RadFileExplorer .rfeThumbList .aspx {
    background-position: 0 -289px !important; }
  .RadFileExplorer .rfeThumbList .sln {
    background-position: 0 -320px !important; }
  .RadFileExplorer .rfeThumbList .suo {
    background-position: 0 -1344px !important; }
  .RadFileExplorer .rfeThumbList .config {
    background-position: 0 -353px !important; }
  .RadFileExplorer .rfeThumbList .cs {
    background-position: 0 -385px !important; }
  .RadFileExplorer .rfeThumbList .vb {
    background-position: 0 -417px !important; }
  .RadFileExplorer .rfeThumbList .doc, .RadFileExplorer .rfeThumbList .docx, .RadFileExplorer .rfeThumbList .rtf, .RadFileExplorer .rfeThumbList .dot {
    background-position: 0 -449px !important; }
  .RadFileExplorer .rfeThumbList .ppt, .RadFileExplorer .rfeThumbList .pptx {
    background-position: 0 -481px !important; }
  .RadFileExplorer .rfeThumbList .xls, .RadFileExplorer .rfeThumbList .xlsx {
    background-position: 0 -512px !important; }
  .RadFileExplorer .rfeThumbList .ascx {
    background-position: 0 -543px !important; }
  .RadFileExplorer .rfeThumbList .jpg, .RadFileExplorer .rfeThumbList .jpeg, .RadFileExplorer .rfeThumbList .jpe {
    background-position: 0 -577px !important; }
  .RadFileExplorer .rfeThumbList .png {
    background-position: 0 -607px !important; }
  .RadFileExplorer .rfeThumbList .mdb {
    background-position: 0 -640px !important; }
  .RadFileExplorer .rfeThumbList .csproj {
    background-position: 0 -704px !important; }
  .RadFileExplorer .rfeThumbList .webinfo {
    background-position: 0 -737px !important; }
  .RadFileExplorer .rfeThumbList .vbproj {
    background-position: 0 -768px !important; }
  .RadFileExplorer .rfeThumbList .pdf {
    background-position: 0 -801px !important; }
  .RadFileExplorer .rfeThumbList .bmp {
    background-position: 0 -833px !important; }
  .RadFileExplorer .rfeThumbList .swf {
    background-position: 0 -865px !important; }
  .RadFileExplorer .rfeThumbList .tif, .RadFileExplorer .rfeThumbList .tiff {
    background-position: 0 -897px !important; }
  .RadFileExplorer .rfeThumbList .mpg, .RadFileExplorer .rfeThumbList .mpeg, .RadFileExplorer .rfeThumbList .avi, .RadFileExplorer .rfeThumbList .gp3, .RadFileExplorer .rfeThumbList .mov, .RadFileExplorer .rfeThumbList .mpeg4, .RadFileExplorer .rfeThumbList .aif, .RadFileExplorer .rfeThumbList .aiff, .RadFileExplorer .rfeThumbList .rm, .RadFileExplorer .rfeThumbList .wmv {
    background-position: 0 -929px !important; }
  .RadFileExplorer .rfeThumbList .mp3, .RadFileExplorer .rfeThumbList .mp4, .RadFileExplorer .rfeThumbList .mid, .RadFileExplorer .rfeThumbList .midi, .RadFileExplorer .rfeThumbList .wav, .RadFileExplorer .rfeThumbList .gp3, .RadFileExplorer .rfeThumbList .gp4, .RadFileExplorer .rfeThumbList .gp5, .RadFileExplorer .rfeThumbList .wma, .RadFileExplorer .rfeThumbList .ogg {
    background-position: 0 -1024px !important; }
  .RadFileExplorer .rfeThumbList .fla, .RadFileExplorer .rfeThumbList .flv {
    background-position: 0 -1056px !important; }
  .RadFileExplorer .rfeThumbList .dll {
    background-position: 0 -1088px !important; }
  .RadFileExplorer .rfeThumbList .xml {
    background-position: 0 -1120px !important; }
  .RadFileExplorer .rfeThumbList .xslt {
    background-position: 0 -1152px !important; }
  .RadFileExplorer .rfeThumbList .xsl {
    background-position: 0 -1184px !important; }
  .RadFileExplorer .rfeThumbList .bac {
    background-position: 0 -673px !important; }
  .RadFileExplorer .rfeThumbnailsContainer {
    position: relative;
    height: 100%;
    min-height: 100%;
    *overflow: scroll;
    *overflow-x: hidden; }
  .RadFileExplorer .rfePageControlContainer {
    width: 100%;
    position: absolute;
    bottom: 3px; }
  .RadFileExplorer .rfePageControl {
    margin: 0 auto; }
  .RadFileExplorer .rfePageInfo {
    font-size: 11px;
    font-family: "Segoe UI", Arial, Helvetica;
    width: 100%;
    text-align: center; }
  .RadFileExplorer .rfePageControlContainer {
    color: #777; }
  .RadFileExplorer .rfePageControlContainer span {
    color: #000; }
  .RadFileExplorer .rfeFilterContainer {
    height: 25px;
    line-height: 25px;
    background-repeat: repeat-x;
    background-position: 0 0;
    text-align: right; }
  .RadFileExplorer .rfeFilterContainer .rfeFilterLbl {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 12px;
    line-height: 17px;
    float: none; }
  .RadFileExplorer .rfeFilterContainer .rfeFilterTxt {
    float: none; }
  html.RadForm.rfdTextbox .RadFileExplorer .rfeFilterContainer input.rfeFilterTxt {
    padding: 1px;
    width: auto; }
  .RadFileExplorer.RadListView {
    border: 0; }
  .RadFileExplorer.RadListView .rfeThumbnailView {
    overflow: auto !important;
    *position: static; }
  .RadFileExplorer .rfeThumbnailView .rlvI {
    position: relative;
    text-align: center; }
  .RadFileExplorer .rfeThumbnailView .rlvI .rfeFileCount {
    display: block;
    width: 100%;
    position: absolute;
    top: 17px;
    left: 0; }
  .RadFileExplorer .rfeThumbnailView .rlvI .rfeFileCount span {
    display: block;
    margin: auto;
    padding: 1px 4px;
    background: #069;
    color: #fff;
    border-radius: 3px;
    font-size: 11px;
    max-width: 32px;
    text-align: center; }
  .RadFileExplorer .rfeThumbnailView .rfeFileDrag .rlvDrag {
    width: auto;
    *position: relative; }
  .RadFileExplorer .rfeThumbnailView .rfeFileDrag .rlvDrag {
    opacity: 0.3;
    filter: alpha(opacity=30);
    background-image: none;
    display: inline-block;
    zoom: 1;
    *display: inline;
    padding: 5px 0px 5px 0px;
    min-height: 65px;
    width: 65px;
    border: 1px solid !important;
    overflow: hidden; }
  .RadFileExplorer .rfeLargeThumbnails .rfeThumbList {
    width: 100px; }
  .RadFileExplorer .rfeLargeThumbnails .rfeThumbList .rfeFile {
    width: 64px;
    height: 44px;
    padding-top: 20px; }
  .RadFileExplorer .rfeLargeThumbnails .rfeThumbList .rfeImageFile.rfeFile {
    height: 64px;
    padding-top: 0; }
  .RadFileExplorer .rfeLargeThumbnails .rfeThumbList .rfeFile img {
    width: 64px;
    height: 64px; }
  .RadFileExplorer .rfeDropZone {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2; }
  .RadFileExplorer .rfeCancelUpload {
    float: right;
    margin-right: 20px; }
  .RadFileExplorer .rfeDropUploadProgress {
    float: right;
    margin-right: 10px; }
  .RadFileExplorer .rfeDropUploadInfoPanel {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: none;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 10px 0;
    color: #333333;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px; }
  .RadFileExplorer .rfePaneGrid {
    position: relative; }

.rfeUploadContainer .RadUpload .ruInputs {
  height: 150px;
  overflow: auto;
  padding: 0 0 10px 0; }

* + html .rfeUploadContainer .RadUpload .ruInputs {
  padding: 1px 0 0 0; }

* + html .rfeUploadContainer .RadUpload .ruInputs input.ruFileInput {
  font: 12px monospace !important; }

* + html .RadFileExplorer .rtLoadingBefore {
  float: left; }

.rfeCheckBoxContainer input[type="checkbox"], .rfeCheckBoxContainer label {
  vertical-align: middle; }

/* Rtl Support */
/* Overwrites treeview padding for the specific requiermnet in FileExplorer */
div.rfeRtl .RadTreeView .rtIn {
  padding: 1px 3px 0 4px !important; }

div.rfeRtl .RadTreeView .rtHover .rtIn, div.rfeRtl .RadTreeView .rtSelected .rtIn {
  padding: 0 2px 0 4px !important; }

div.rfeRtl .RadGrid .rfeFileExtension {
  padding: 0 30px 0 0 !important;
  background-position: right -681px; }

div.rfeRtl .rtTemplate .rfeFileExtension {
  padding: 0 0 0 25px !important;
  margin-right: -7px; }

@media all and (-webkit-min-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0) {
  div.rfeRtl .rtTemplate .rfeFileExtension {
    padding: 0 0 0 32px !important; } }

div.rfeRtl .folder {
  background-position: right -1224px !important; }

div.rfeRtl .folderup {
  background-position: right -1256px !important; }

div.rfeRtl .gif {
  background-position: right -39px !important; }

div.rfeRtl .html, div.rfeRtl .htm, div.rfeRtl .xhtml, div.rfeRtl .hta {
  background-position: right -71px !important; }

div.rfeRtl .exe, div.rfeRtl .bat {
  background-position: right -967px !important; }

div.rfeRtl .rar, div.rfeRtl .zip, div.rfeRtl .ace {
  background-position: right -102px !important; }

div.rfeRtl .psd, div.rfeRtl .pdd {
  background-position: right -135px !important; }

div.rfeRtl .js {
  background-position: right -167px !important; }

div.rfeRtl .vbs {
  background-position: right -999px !important; }

div.rfeRtl .css {
  background-position: right -200px !important; }

div.rfeRtl .txt {
  background-position: right -232px !important; }

div.rfeRtl .asp {
  background-position: right -264px !important; }

div.rfeRtl .aspx {
  background-position: right -296px !important; }

div.rfeRtl .sln {
  background-position: right -327px !important; }

div.rfeRtl .config {
  background-position: right -360px !important; }

div.rfeRtl .cs {
  background-position: right -392px !important; }

div.rfeRtl .vb {
  background-position: right -424px !important; }

div.rfeRtl .doc, div.rfeRtl .docx, div.rfeRtl .rtf, div.rfeRtl .dot {
  background-position: right -456px !important; }

div.rfeRtl .ppt, div.rfeRtl .pptx {
  background-position: right -488px !important; }

div.rfeRtl .xls, div.rfeRtl .xlsx {
  background-position: right -519px !important; }

div.rfeRtl .ascx {
  background-position: right -550px !important; }

div.rfeRtl .jpg, div.rfeRtl .jpeg, div.rfeRtl .jpe {
  background-position: right -584px !important; }

div.rfeRtl .png {
  background-position: right -615px !important; }

div.rfeRtl .mdb {
  background-position: right -648px !important; }

div.rfeRtl .csproj {
  background-position: right -711px !important; }

div.rfeRtl .webinfo {
  background-position: right -744px !important; }

div.rfeRtl .vbproj {
  background-position: right -775px !important; }

div.rfeRtl .pdf {
  background-position: right -808px !important; }

div.rfeRtl .bmp {
  background-position: right -840px !important; }

div.rfeRtl .swf {
  background-position: right -872px !important; }

div.rfeRtl .tif, div.rfeRtl .tiff {
  background-position: right -904px !important; }

div.rfeRtl .mpg, div.rfeRtl .mpeg, div.rfeRtl .avi, div.rfeRtl .gp3, div.rfeRtl .mov, div.rfeRtl .mpeg4, div.rfeRtl .aif, div.rfeRtl .aiff, div.rfeRtl .rm, div.rfeRtl .wmv {
  background-position: right -936px !important; }

div.rfeRtl .mp3, div.rfeRtl .mp4, div.rfeRtl .mid, div.rfeRtl .midi, div.rfeRtl .wav, div.rfeRtl .gp3, div.rfeRtl .gp4, div.rfeRtl .gp5, div.rfeRtl .wma, div.rfeRtl .ogg {
  background-position: right -1031px !important; }

div.rfeRtl .fla, div.rfeRtl .flv {
  background-position: right -1063px !important; }

div.rfeRtl .dll {
  background-position: right -1095px !important; }

div.rfeRtl .xml {
  background-position: right -1127px !important; }

div.rfeRtl .xslt {
  background-position: right -1159px !important; }

div.rfeRtl .xsl {
  background-position: right -1191px !important; }

div.rfeRtl .bac {
  background-position: right -681px; }

/*========================================= TreeView related CSS ========================*/
div.rfeRtl .RadTreeView {
  margin-right: -19px !important; }

div.rfeRtl .RadTreeView .rtPlus, div.rfeRtl .RadTreeView .rtMinus {
  margin: 5px auto -19px 3px; }

div.rfeRtl .RadTreeView .rtSp {
  margin-left: 21px; }

.rfeUploadContainer {
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  margin: 5px 0 5px 5px; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .rfeUploadContainer .RadUpload .ruInputs {
    padding: 1px 0 0 0; }
  .rfeUploadContainer .RadUpload .ruInputs input.ruFileInput {
    font: 12px monospace !important; } }

.rfeUploadInfoPanel {
  border: 1px solid #d7d7d7;
  background: #f5f5f5;
  padding: 2px;
  margin: 5px 5px 5px 0; }

.rfeUploadInfoPanel dt {
  font-weight: bold;
  float: left;
  padding-right: 4px; }

