.RadFilter a,
.RadFilter .rfText,
.RadFilter .rfApply input,
.RadFilter .RadInput,
.RadFilter .RadPicker {
  font-size: 1em; }
.RadFilter,
.RadFilter li {
  min-width: 33.33333em; }
.RadFilter ul,
.RadFilter li {
  margin: 0;
  padding: 0;
  position: relative; }
.RadFilter ul {
  list-style: none;
  line-height: 2em; }
  .RadFilter ul ul ul {
    margin-left: 1.2em; }
.RadFilter li {
  padding: 0 0 1px; }
  .RadFilter li li {
    background-repeat: repeat-y; }
.RadFilter li li .rfDiv {
  padding: 0.2em 0 0 1.2em;
  position: relative; }
.RadFilter .rfMid,
.RadFilter .rfTools {
  white-space: nowrap;
  box-sizing: content-box;
  border-style: solid;
  height: 2em;
  display: inline-block;
  vertical-align: top; }
.RadFilter .rfMid {
  border-width: 1px 0 1px 1px;
  border-radius: 3px 0 0 3px;
  padding-left: 0.5em; }
.RadFilter .rfTools {
  border-width: 1px 1px 1px 0;
  border-radius: 0 3px 3px 0; }
.RadFilter .rfText,
.RadFilter .rddlInner {
  box-sizing: content-box; }
.RadFilter .RadInput {
  vertical-align: bottom;
  padding-left: 0.01em; }
.RadFilter .rfOper,
.RadFilter .rfField,
.RadFilter .rfExp {
  padding: 0 1.5em 0 0;
  text-decoration: none;
  position: relative; }
  .RadFilter .rfOper:before,
  .RadFilter .rfField:before,
  .RadFilter .rfExp:before {
    font-family: "TelerikWebUI";
    font-size: 1.4em;
    line-height: normal;
    display: block;
    position: absolute;
    right: 0;
    top: 0; }
  .RadFilter .rfOper:hover:before, .RadFilter .rfOper:focus:before, .RadFilter .rfOper:active:before,
  .RadFilter .rfField:hover:before,
  .RadFilter .rfField:focus:before,
  .RadFilter .rfField:active:before,
  .RadFilter .rfExp:hover:before,
  .RadFilter .rfExp:focus:before,
  .RadFilter .rfExp:active:before {
    content: "\e00e"; }
.RadFilter .rfOper {
  text-transform: uppercase; }
.RadFilter .rfText {
  border-style: solid;
  border-width: 1px;
  padding: 0.16667em 0.41667em 0.08333em; }
.RadFilter .rfAddGr,
.RadFilter .rfAddExp,
.RadFilter .rfDel {
  display: inline-block;
  overflow: hidden;
  height: 1.8em;
  width: 1.8em;
  margin: 0.09em 0 0.09em 0.25em;
  text-align: center;
  text-decoration: none;
  box-sizing: content-box; }
  .RadFilter .rfAddGr:before,
  .RadFilter .rfAddExp:before,
  .RadFilter .rfDel:before {
    font-family: "TelerikWebUI";
    font-size: 1.15em;
    line-height: 1.7em;
    display: block; }
.RadFilter .rfDel {
  margin-left: 0.33333em;
  margin-right: 0.08333em; }
.RadFilter .rfAddExp:before {
  content: "\e144"; }
.RadFilter .rfAddGr:before {
  content: "\e143"; }
.RadFilter .rfDel:before {
  content: "\e038"; }
.RadFilter .rfPreview,
.RadFilter .rfApply {
  padding: 1.6em 0 0; }
.RadFilter .rfPreviewTop {
  padding: 0 0 1.6em; }
.RadFilter .rfPreview strong {
  font-weight: normal; }
.RadFilter .rfPreview em {
  font-style: normal;
  text-transform: uppercase; }
.RadFilter .rfBr {
  font-weight: bold; }
.RadFilter .rfApply a,
.RadFilter .rfApply span,
.RadFilter .rfApply input {
  cursor: pointer; }
.RadFilter .rfApply a,
.RadFilter .rfApply span {
  display: inline-block;
  padding: 0 4px 0 0;
  text-decoration: none;
  border-radius: 3px;
  border: solid 1px #000; }
.RadFilter .rfApply input {
  font-size: 1em;
  height: 1.75em;
  margin: 0;
  padding: 0em 0.41667em 0.16667em 0.66667em;
  border: 0 none;
  background: none transparent;
  vertical-align: top; }
.RadFilter .rfLines li li:before {
  content: "";
  position: absolute;
  left: 0.6em;
  top: 0;
  height: 100%;
  border-left: 1px solid #999; }
.RadFilter li li.rfLast:before {
  display: none; }
.RadFilter .rfLines li li .rfDiv:before {
  content: "";
  position: absolute;
  left: 0.6em;
  top: 50%;
  width: 0.6em;
  border-top: 1px solid #999; }
.RadFilter .rfLast .rfDiv:after {
  content: "";
  position: absolute;
  left: 0.6em;
  top: 0;
  height: 50%;
  border-left: 1px solid #999; }

.RadFilterRTL ul ul ul {
  margin-right: 1.66667em; }
.RadFilterRTL li li .rfDiv {
  padding: 0 1.66667em 0 0; }
.RadFilterRTL .rfOper,
.RadFilterRTL .rfField,
.RadFilterRTL .rfExp {
  padding: 0 0 0 1em; }
.RadFilterRTL .rfAddGr,
.RadFilterRTL .rfAddExp {
  margin-left: 0;
  margin-right: 0.25em; }
.RadFilterRTL .rfDel {
  margin-left: 0.08333em;
  margin-right: 0.33333em; }
