.RadForm .rfdRealInput {
  position: fixed;
  left: -99999px;
  top: 0; }
.RadForm, .RadForm.rfdTextbox input[type="text"].rfdDecorated, .RadForm.rfdTextbox input[type="password"].rfdDecorated {
  box-sizing: content-box;
  -moz-box-sizing: content-box; }
.RadForm a.rfdSkinnedButton, .RadForm a.rfdSkinnedButton * {
  cursor: default;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 22px;
  line-height: 22px;
  text-decoration: none;
  display: inline-block;
  border: 0 !important;
  text-align: center;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif !important;
  white-space: nowrap; }
.RadForm a.rfdSkinnedButton:focus {
  outline: 1px dotted #ccc; }
.RadForm a.rfdSkinnedButton, .RadForm a.rfdInputDisabled.rfdSkinnedButton:hover {
  padding: 0 4px 0 0; }
.RadForm.rfdTextbox input[type="text"].rfdDecorated, .RadForm.rfdTextbox input[type="password"].rfdDecorated, .RadForm.rfdTextarea textarea, .RadForm.rfdTextarea textarea[disabled].rfdDecorated:hover, .RadForm.rfdTextbox input[disabled][type="text"].rfdDecorated:hover, .RadForm.rfdTextbox input[disabled][type="password"].rfdDecorated:hover, .RadForm.rfdLabel label, .RadForm .rfdDecorated, .RadForm .rfdCheckboxChecked, .RadForm .rfdInputDisabled.rfdCheckboxChecked:hover, .RadForm .rfdCheckboxUnchecked, .RadForm .rfdInputDisabled.rfdCheckboxUnchecked:hover, .RadForm.rfdLabel .rfdAspLabel, .RadForm .rfdRadioUnchecked, .RadForm .rfdInputDisabled.rfdRadioUnchecked:hover, .RadForm .rfdRadioUnchecked:hover, .RadForm .rfdRadioChecked, .RadForm .rfdInputDisabled.rfdRadioChecked:hover, .RadForm .rfdRadioChecked:hover, .RadForm .riTextBox, .RadForm .rfdValidationSummaryControl, .RadForm .rfdLoginControl, .RadForm legend {
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
.RadForm.rfdHeading h4, .RadForm.rfdHeading h5, .RadForm.rfdHeading h6 {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 6px 0 1px 0;
  line-height: normal; }
.RadForm.rfdHeading h4 {
  font-size: 14px; }
.RadForm.rfdHeading h5 {
  font-size: 13px; }
.RadForm.rfdHeading h6 {
  font-size: 12px; }
.RadForm.rfdTextbox input[type="text"].rfdDecorated, .RadForm.rfdTextbox input[type="password"].rfdDecorated, .RadForm.rfdTextbox input[type="search"].rfdDecorated, .RadForm.rfdTextbox input[type="url"].rfdDecorated, .RadForm.rfdTextbox input[type="tel"].rfdDecorated, .RadForm.rfdTextbox input[type="email"].rfdDecorated {
  width: 154px;
  *width: 148px;
  height: 17px;
  padding: 2px 2px 1px;
  line-height: normal;
  vertical-align: top; }
.RadForm.rfdTextbox .RadInput input[type="text"].rfdDecorated, .RadForm.rfdTextbox .RadInput input[type="password"].rfdDecorated, .RadForm.rfdTextbox .RadInput input[type="search"].rfdDecorated, .RadForm.rfdTextbox .RadInput input[type="url"].rfdDecorated, .RadForm.rfdTextbox .RadInput input[type="tel"].rfdDecorated, .RadForm.rfdTextbox .RadInput input[type="email"].rfdDecorated, .RadForm.rfdTextbox .RadInput textarea {
  width: 100%;
  box-sizing: border-box; }
.RadForm.rfdTextarea textarea {
  padding: 2px; }
.RadForm._Telerik_IE9.rfdTextarea textarea {
  padding: 2px 3px; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .RadForm.rfdTextarea textarea {
    padding: 2px 3px; } }
.RadForm.rfdTextbox input.rfeAddressBox[type="text"].rfdDecorated {
  padding: 0; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .RadForm.rfdTextbox .RadColorPicker input[type="text"].rfdDecorated {
    padding-top: 1px;
    padding-bottom: 0;
    height: 19px;
    line-height: 19px; } }
.RadForm.rfdTextbox .rfdSkinnedButton input, .RadForm.rfdTextbox .rfdSkinnedButton button, .RadForm.rfdTextbox .rfdInputDisabled {
  border: 0;
  background-color: transparent; }
.RadForm.rfdTextbox input[type="button"].rfdDecorated, .RadForm.rfdTextbox input[type="reset"].rfdDecorated, .RadForm.rfdTextbox input[type="submit"].rfdDecorated {
  border: 0; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .RadForm.rfdTextbox input[type="button"].rfdDecorated, .RadForm.rfdTextbox input[type="reset"].rfdDecorated, .RadForm.rfdTextbox input[type="submit"].rfdDecorated {
    border-radius: 0;
    margin: 0 -1px 0 0 !important; } }
.RadForm.rfdButton input[type="button"].rfdDecorated, .RadForm.rfdButton input[type="reset"].rfdDecorated, .RadForm.rfdButton input[type="submit"].rfdDecorated, .RadForm.rfdButton .rfdSkinnedButton button {
  background-position: left -22px;
  height: 22px;
  line-height: 22px;
  border: 0;
  padding: 0 6px 0 10px;
  *padding-right: 0;
  margin-right: 0; }
.RadForm.rfdButton a.rfdSkinnedButton, .RadForm.rfdButton a.rfdInputDisabled.rfdSkinnedButton:hover {
  background-position: right 0; }
.RadForm.rfdButton a.rfdSkinnedButton:hover {
  background-position: right -44px; }
.RadForm.rfdButton a.rfdSkinnedButton:hover * {
  background-position: left -66px; }
.RadForm.rfdButton a.rfdClickedButton, .RadForm.rfdButton a.rfdClickedButton:hover {
  background-position: right -88px; }
.RadForm.rfdButton .rfdSkinnedButton.rfdClickedButton .rfdDecorated {
  -ms-background-position-x: 1px !important;
  -ms-background-position-y: -109px !important; }
.RadForm.rfdButton a.rfdSkinnedButton.rfdClickedButton * {
  background-position: left -110px !important; }
.RadForm.rfdButton a.rfdSkinnedButton:hover *, .RadForm .rfdButton a.rfdSkinnedButton:hover * {
  *background-position: left -66px; }
.RadForm .rfdButtonType {
  padding-left: 5px; }
.RadForm .rfdCheckboxChecked, .RadForm .rfdCheckboxUnchecked, .RadForm .rfdRadioUnchecked, .RadForm .rfdRadioChecked {
  line-height: 20px;
  padding: 0 0 0 20px;
  zoom: 1;
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat; }
.RadForm .rfdCheckboxUnchecked {
  background-position: 0 0; }
.RadForm .rfdCheckboxUnchecked:hover {
  background-position: 0 -200px; }
.RadForm .rfdCheckboxChecked {
  background-position: 0 -420px; }
.RadForm .rfdCheckboxChecked:hover {
  background-position: 0 -640px; }
.RadForm .rfdCheckboxUnchecked.rfdInputDisabled, .RadForm .rfdCheckboxUnchecked.rfdInputDisabled:hover {
  background-position: 0 -860px; }
.RadForm .rfdCheckboxChecked.rfdInputDisabled, .RadForm .rfdCheckboxChecked.rfdInputDisabled:hover {
  background-position: 0 -1080px; }
.RadForm .rfdRadioUnchecked {
  background-position: 1px 0; }
.RadForm .rfdRadioUnchecked:hover {
  background-position: 1px -220px; }
.RadForm .rfdRadioChecked {
  background-position: 1px -440px; }
.RadForm .rfdRadioChecked:hover {
  background-position: 1px -640px; }
.RadForm .rfdRadioUnchecked.rfdInputDisabled, .RadForm .rfdRadioUnchecked.rfdInputDisabled:hover {
  background-position: 1px -860px; }
.RadForm .rfdRadioChecked.rfdInputDisabled, .RadForm .rfdRadioChecked.rfdInputDisabled:hover {
  background-position: 1px -1080px; }
.RadForm .rfdSkinnedButton.rfdInputDisabled, .RadForm.rfdTextarea textarea[disabled], .RadForm.rfdTextbox input[type="text"][disabled].rfdDecorated, .RadForm.rfdTextbox input[type="password"][disabled].rfdDecorated, .RadForm .rfdSelectDisabled {
  opacity: 0.6; }
.RadForm .rfdCheckboxChecked.rfdInputDisabled, .RadForm .rfdCheckboxUnchecked.rfdInputDisabled, .RadForm .rfdRadioChecked.rfdInputDisabled, .RadForm .rfdRadioUnchecked.rfdInputDisabled, .RadForm .rfdCheckboxChecked.rfdInputDisabled:hover, .RadForm .rfdCheckboxUnchecked.rfdInputDisabled:hover, .RadForm .rfdRadioChecked.rfdInputDisabled:hover, .RadForm .rfdRadioUnchecked.rfdInputDisabled:hover {
  opacity: 1; }
.RadForm .RadTreeView .rfdCheckboxUnchecked, .RadForm .RadTreeView .rfdCheckboxChecked {
  display: inline-block;
  width: 0;
  vertical-align: middle;
  line-height: 21px;
  height: 21px; }
.RadForm .RadGrid .rfdCheckboxUnchecked, .RadForm .RadGrid .rfdCheckboxChecked {
  display: inline-block; }
.RadForm .rfdRoundedInner {
  width: 1px;
  font-size: 1px;
  background-repeat: no-repeat; }
.RadForm .rfdRoundedOuter {
  width: 1px;
  font-size: 0; }
.RadForm table.rfdRoundedWrapper, .RadForm table.rfdRoundedWrapper_fieldset {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  border-width: 0 !important; }
.RadForm table.rfdRoundedWrapper td {
  padding: 0 !important;
  border: 0 !important;
  width: 1px; }
.RadForm table.rfdRoundedWrapper_fieldset > tbody > tr > td {
  padding: 0 !important;
  border: 0 !important; }
.RadForm table.rfdRoundedWrapper tr td, .RadForm table.rfdRoundedWrapper_fieldset tr td {
  vertical-align: middle; }
.RadForm .rfdRoundedWrapper.rfdPercentageWidth .rfdRoundedContent {
  width: 100%; }
.RadForm .rfdRoundedWrapper.rfdPercentageWidth .rfdRoundedContent .rfdDecorated {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important; }
.RadForm .RadForm table.rfdRoundedWrapper input[type='text'] {
  border-left: none !important;
  border-right: none !important; }
.RadForm .rfdGrids .rfdTable th, .RadForm .rfdGrids .rfdTable td {
  border: 0;
  padding: 5px 7px 4px; }
.RadForm.rfdRtl {
  direction: rtl; }
.RadForm.rfdRtl .rfdRealInput {
  position: fixed !important;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  *display: none;
  *display: block\9;
  *position: static !important;
  *float: right;
  *outline: 0; }
.RadForm.rfdRtl .rfdCheckboxUnchecked, .RadForm.rfdRtl .rfdCheckboxUnchecked, .RadForm.rfdRtl .rfdInputDisabled.rfdCheckboxUnchecked:hover, .RadForm.rfdRtl .rfdInputDisabled.rfdCheckboxUnchecked:hover {
  padding: 0 20px 0 0 !important;
  background-position: right 0 !important; }
.RadForm.rfdRtl .rfdCheckboxUnchecked:hover, .RadForm.rfdRtl .rfdCheckboxUnchecked:hover {
  background-position: right -200px !important; }
.RadForm.rfdRtl .rfdCheckboxChecked, .RadForm.rfdRtl .rfdCheckboxChecked, .RadForm.rfdRtl .rfdInputDisabled.rfdCheckboxChecked:hover, .RadForm.rfdRtl .rfdInputDisabled.rfdCheckboxChecked:hover {
  padding: 0 20px 0 0 !important;
  background-position: right -420px !important; }
.RadForm.rfdRtl .rfdCheckboxChecked:hover, .RadForm.rfdRtl .rfdCheckboxChecked:hover {
  background-position: right -640px !important; }
.RadForm.rfdRtl .rfdRadioUnchecked, .RadForm.rfdRtl .rfdRadioUnchecked, .RadForm.rfdRtl .rfdInputDisabled.rfdRadioUnchecked:hover, .RadForm.rfdRtl .rfdInputDisabled.rfdRadioUnchecked:hover {
  padding: 0 20px 0 0 !important;
  background-position: right 0 !important; }
.RadForm.rfdRtl .rfdRadioUnchecked:hover, .RadForm.rfdRtl .rfdRadioUnchecked:hover {
  background-position: right -220px !important; }
.RadForm.rfdRtl .rfdRadioChecked, .RadForm.rfdRtl .rfdRadioChecked, .RadForm.rfdRtl .rfdInputDisabled.rfdRadioChecked:hover, .RadForm.rfdRtl .rfdInputDisabled.rfdRadioChecked:hover {
  padding: 0 20px 0 0 !important;
  background-position: right -440px !important; }
.RadForm .rfdRtl .rfdRadioChecked:hover, .RadForm.rfdRtl .rfdRadioChecked:hover {
  background-position: right -640px !important; }
.RadForm .rfdSelect {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  cursor: default;
  outline: none;
  -webkit-touch-callout: none;
  user-select: none;
  max-width: 1024px;
  background-position: 0 0;
  padding-left: 2px;
  zoom: 1;
  z-index: 3000;
  vertical-align: top;
  margin-right: 5px;
  *margin-right: 0; }
  .RadForm .rfdSelect:hover {
    background-position: 0 -44px; }
  .RadForm .rfdSelect .rfdSelectOuter, .RadForm .rfdSelect.rfdSelectDisabled:hover .rfdSelectOuter {
    background-position: right -22px;
    display: block;
    line-height: 22px;
    height: 22px;
    white-space: nowrap;
    width: inherit;
    margin-left: 2px; }
  .RadForm .rfdSelect.rfdSelectDisabled:hover {
    background-position: 0 0; }
  .RadForm .rfdSelect .rfdSelectOuter, .RadForm .rfdSelect.rfdSelectDisabled:hover .rfdSelectOuter {
    margin-right: -1px\9; }
  .RadForm .rfdSelect:hover .rfdSelectOuter {
    background-position: right -66px; }
  .RadForm .rfdSelect .rfdSelectOuter span {
    margin-right: 22px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .RadForm .rfdSelect .rfdSelectBox {
    position: absolute;
    overflow-y: auto;
    float: left;
    width: inherit; }
  .RadForm .rfdSelect li {
    padding: 0 0 0 3px;
    line-height: 16px;
    height: 16px;
    background-image: none !important; }
.RadForm .rfdSelectDisabled {
  opacity: 0.4; }
.RadForm .rfdSelectDisabled .rfdSelectText {
  filter: alpha(opacity=40); }
.RadForm.rfdFieldset fieldset {
  background-position: 0 0\9;
  background-repeat: repeat;
  background-repeat: no-repeat\9;
  *background-repeat: no-repeat; }
.RadForm._Telerik_IE9.rfdFieldset fieldset {
  background-repeat: repeat; }
.RadForm._Telerik_IE9.rfdFieldset fieldset, .RadForm fieldset.rfdRoundedCorners {
  background-position: 0 0; }
.RadForm.rfdFieldset legend {
  margin: 0;
  padding: 0;
  width: auto;
  border: 0 none; }
.RadForm .rfdCheckboxChecked, .RadForm .rfdCheckboxUnchecked, .RadForm .rfdRadioUnchecked, .RadForm .rfdRadioChecked {
  line-height: 20px;
  padding: 0;
  padding-left: 20px;
  zoom: 1;
  display: inline-block;
  font-weight: normal;
  margin-bottom: auto; }
.RadForm .rfdRoundedCorners {
  border-radius: 4px; }
* + html .RadForm .rfdSelect {
  vertical-align: middle; }
.RadForm.rfdRtl .rfdSelect {
  padding-left: 18px;
  background-position: 0 -110px; }
.RadForm.rfdRtl .rfdSelect .rfdSelectOuter {
  margin: 0 !important;
  background-position: right -88px; }
.RadForm.rfdRtl .rfdSelect:hover {
  background-position: 0 -154px; }
.RadForm.rfdRtl .rfdSelect .rfdSelectOuter:hover {
  margin: 0 !important;
  background-position: right -132px; }
.RadForm.rfdRtl .rfdSelect .rfdSelectOuter span.rfdSelectText {
  margin: 0;
  padding: 0 5px 0 0; }
.RadForm input.rfdDecorated, .RadForm button.rfdDecorated {
  *padding-left: 4px !important; }
.RadForm .rfdDecorated, .RadForm a.rfdSkinnedButton {
  vertical-align: middle;
  *vertical-align: top; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .RadForm.rfdRadio.rfdLabel label, .RadForm.rfdCheckbox.rfdLabel label {
    padding-left: 0 !important;
    background-image: none !important;
    vertical-align: middle;
    font-weight: normal;
    margin-bottom: auto; }
  .RadForm.rfdRadio input[type="radio"], .RadForm.rfdCheckbox input[type="checkbox"] {
    -khtml-appearance: none;
    position: static;
    width: 20px;
    height: 22px;
    vertical-align: middle;
    margin: 0;
    -webkit-appearance: none;
    outline: none; }
  .RadForm.rfdCheckbox input[type="checkbox"] {
    background-repeat: no-repeat;
    background-position: 0 0; }
  .RadForm.rfdCheckbox input[type="checkbox"]:hover {
    background-position-y: -200px; }
  .RadForm.rfdCheckbox input[type="checkbox"]:checked {
    background-position-y: -420px; }
  .RadForm.rfdCheckbox input[type="checkbox"]:hover:checked {
    background-position-y: -640px; }
  .RadForm.rfdCheckbox input[type="checkbox"][disabled], .RadForm.rfdCheckbox input[type="checkbox"][disabled]:hover {
    background-position-y: -860px; }
  .RadForm.rfdCheckbox input[type="checkbox"][disabled]:checked, .RadForm.rfdCheckbox input[type="checkbox"][disabled]:checked:hover {
    background-position-y: -1080px; }
  .RadForm.rfdRadio input[type="radio"] {
    background-repeat: no-repeat;
    background-position: 0 0; }
  .RadForm.rfdRadio input[type="radio"]:hover {
    background-position-y: -220px; }
  .RadForm.rfdRadio input[type="radio"]:checked {
    background-position-y: -440px; }
  .RadForm.rfdRadio input[type="radio"]:hover:checked {
    background-position-y: -640px; }
  .RadForm.rfdCheckbox input[type="radio"][disabled], .RadForm.rfdCheckbox input[type="radio"][disabled]:hover {
    background-position-y: -860px; }
  .RadForm.rfdCheckbox input[type="radio"][disabled]:checked, .RadForm.rfdCheckbox input[type="radio"][disabled]:checked:hover {
    background-position-y: -1080px; }
  .RadForm input[type="checkbox"], .RadForm input[type="radio"], .RadForm input[type="checkbox"][checked], .RadForm input[type="radio"][checked] {
    border: 0;
    background-color: transparent; } }
.RadForm.rfdScrollBars body::-webkit-scrollbar, .RadForm.rfdScrollBars textarea::-webkit-scrollbar, .RadForm.rfdScrollBars div::-webkit-scrollbar {
  width: 16px;
  height: 16px; }
.RadForm.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement {
  background-position: 1px -132px; }
.RadForm.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment {
  background-position: -10px -132px; }
.RadForm.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement {
  background-position: 0 -145px; }
.RadForm.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment {
  background-position: -11px -145px; }
.RadForm.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement, .RadForm.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment, .RadForm.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement, .RadForm.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment {
  background-repeat: no-repeat;
  height: auto;
  width: auto; }
.RadForm.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement, .RadForm.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment, .RadForm.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement, .RadForm.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment, .RadForm.rfdScrollBars ::-webkit-scrollbar-thumb:vertical, .RadForm.rfdScrollBars ::-webkit-scrollbar-thumb:horizontal {
  border-style: solid;
  border-width: 1px; }
.RadForm .rfdValidationSummaryControl, .RadForm .rfdLoginControl {
  padding: 4px;
  border-radius: 4px;
  border-collapse: separate !important; }
.RadForm .rfdValidationSummaryControl ul {
  padding-left: 65px;
  margin-left: 0;
  min-height: 32px;
  color: #f00;
  background: url('Common/ModalDialogAlert.gif') no-repeat 8px -3px; }

* + html.RadForm.rfdButton a.rfdSkinnedButton:hover {
  background-position: right -44px; }

* + html.RadForm.rfdButton a.rfdSkinnedButton:hover * {
  background-position: left -66px; }

.rfdSelectBox {
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  display: inline-block;
  overflow-x: hidden;
  z-index: 4007;
  border-radius: 3px; }

.rfdSelectBox.rfdSelectTouch {
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch; }

.rfdSelectBox.rfdSelectDisabled:hover {
  background-position: 0 0; }

.rfdSelectBox ul {
  width: inherit; }

.rfdSelectBox ul, .rfdSelectBox li {
  padding: 0;
  margin: 0;
  list-style: none; }

.rfdSelectBox li {
  cursor: default;
  padding: 0 3px;
  line-height: 16px;
  height: 16px;
  text-overflow: ellipsis;
  overflow: hidden; }

.rfdSelectBox .rfdSelect_hovered {
  outline: 1px dotted; }

.rfdSelectBox .rfdSelectBox_optgroup li {
  padding-left: 20px;
  height: 18px;
  line-height: 18px; }

.rfdSelectBox .rfdSelectBox_optgroup .rfdSelectBox_optgroup_label {
  font-style: italic;
  font-weight: bold;
  padding-left: 0; }

.rfdSelectBox.rfdSelectDisabled li:hover {
  background: none; }

.rfdSelectBox .rfdSelectBox_optgroup li {
  padding-left: 12px; }

.rfdSelectBox li.rfdSelectBox_optgroup_label {
  padding-left: 0; }

._Telerik_IE9.rfdButton a.rfdSkinnedButton.rfdClickedButton .rfdDecorated, ._Telerik_IE9 .rfdZone a.rfdSkinnedButton.rfdClickedButton .rfdDecorated, ._Telerik_IE9 .rfdZone a.rfdSkinnedButton.rfdClickedButton input.rfdDecorated {
  -ms-background-position-x: 1px !important;
  -ms-background-position-y: -110px !important; }

._Telerik_IE9.rfdButton .rfdInputDisabled.rfdClickedButton input.rfdDecorated, ._Telerik_IE9 .rfdZone .rfdInputDisabled.rfdSkinnedButton.rfdClickedButton input.rfdDecorated, ._Telerik_IE9 .rfdZone .rfdInputDisabled.rfdSkinnedButton.rfdClickedButton button.rfdDecorated {
  -ms-background-position-x: 0 !important;
  -ms-background-position-y: -22px !important; }

