.RadGrid button,
.RadGrid [type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }
.RadGrid .rgMasterTable, .RadGrid .rgDetailTable, .RadGrid .rgEditForm table {
  border-collapse: separate;
  border-spacing: 0; }
.RadGrid .rgRow,
.RadGrid .rgAltRow,
.RadGrid .rgHeader,
.RadGrid .rgResizeCol,
.RadGrid .rgGroupPanel,
.RadGrid .rgGroupHeader {
  cursor: default; }
.RadGrid input {
  line-height: normal; }
.RadGrid input[type="image"] {
  cursor: pointer; }
.RadGrid .rgRow > td,
.RadGrid .rgAltRow > td,
.RadGrid .rgEditRow > td,
.RadGrid .rgFooter > td,
.RadGrid .rgFilterRow > td,
.RadGrid .rgHeader,
.RadGrid .rgResizeCol,
.RadGrid .rgGroupHeader td {
  padding-left: 7px;
  padding-right: 7px; }
.RadGrid .rgClipCells .rgHeader,
.RadGrid .rgClipCells .rgFilterRow > td,
.RadGrid .rgClipCells .rgRow > td,
.RadGrid .rgClipCells .rgAltRow > td,
.RadGrid .rgClipCells .rgEditRow > td,
.RadGrid .rgClipCells .rgFooter > td {
  overflow: hidden; }
.RadGrid .rgEditRow > td [type="image"] {
  vertical-align: middle; }
.RadGrid .rgBatchChanged {
  position: relative;
  background: url('Common/Grid/dirty.png') 0 0 no-repeat \9; }
.RadGrid .rgBatchChanged:before {
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  border-style: solid;
  border-width: 6px 6px 0 0;
  border-color: #ff0000 transparent transparent transparent; }
.RadGrid .rgBatchContainer {
  max-width: 90%; }
.RadGrid .rgDeletedRow,
.RadGrid .rgDeletedRow td {
  background: transparent !important; }
.RadGrid .rgDeletedRow .rgIcon,
.RadGrid .rgDeletedRow .rgButtonText {
  vertical-align: middle; }
.RadGrid .rgDeletedRow .rgBatchUndoDeleteButton {
  cursor: pointer; }
.RadGrid .rgBatchOverlay {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0; }
.RadGrid .rgBatchUndoDeleteButton {
  position: absolute;
  top: 50%; }
.RadGrid .rgBatchUndoDeleteIcon:before {
  content: "\E0ED"; }
.RadGrid .rgGroupItem input,
.RadGrid .rgCommandRow img,
.RadGrid .rgCommandRow a,
.RadGrid .rgHeader input {
  vertical-align: middle; }
.RadGrid .rgFilterRow img, .RadGrid .rgFilterRow input {
  vertical-align: middle; }
.RadGrid .rgFilterRow .RadAutoCompleteBox {
  display: inline-block;
  vertical-align: middle; }
.RadGrid .rgRow > td,
.RadGrid .rgAltRow > td,
.RadGrid .rgEditRow > td,
.RadGrid .rgFooter > td {
  padding-top: 4px;
  padding-bottom: 3px; }
.RadGrid table.rgMasterTable tr .rgDragCol {
  padding-left: 0;
  padding-right: 0;
  text-align: center; }
.RadGrid .rgDrag {
  width: 15px;
  height: 15px;
  cursor: url('Common/grab.cur'), move; }
.RadGrid div.rgHeaderWrapper {
  border-left: 0 none;
  border-right: 0 none;
  padding: 0;
  overflow: hidden; }
.RadGrid .rgFooterWrapper {
  border-top-style: solid;
  overflow: hidden; }

.RadGrid .rgCommandCell {
  padding: 0.83333em 0.41667em; }
.RadGrid .rgCommandCellLeft {
  float: left; }
.RadGrid .rgCommandCellRight {
  float: right; }
.RadGrid .rgActionButton {
  width: 1.833em;
  font-size: 1em;
  margin: 0 0.083em 0 0;
  padding: 0;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  background: none transparent;
  border: 0 none; }
  .RadGrid .rgActionButton::-moz-focus-inner {
    border: 0;
    padding: 0; }
.RadGrid .rgIcon {
  display: inline-block; }
  .RadGrid .rgIcon:before {
    font-family: "TelerikWebUI";
    text-align: center;
    display: block; }
.RadGrid .rgActionButton .rgButtonText {
  display: none; }
.RadGrid .rgSortDescIcon:before {
  content: "\e00e"; }
.RadGrid .rgSortAscIcon:before {
  content: "\e00d"; }
.RadGrid .rgAddIcon:before,
.RadGrid .rgDropAllow:before {
  content: "\e039"; }
.RadGrid .rgOptionsIcon:before,
.RadGrid .rgOptSelectedIcon:before {
  content: "\e0e1"; }
.RadGrid .rgDragIcon {
  cursor: move;
  display: inline-block;
  padding: 5px; }
.RadGrid .rgDragIcon:before {
  content: '\E098';
  font-size: 1.333em; }
.RadGrid .rgPagerCell {
  padding: 4px; }
  .RadGrid .rgPagerCell > div:after {
    content: '';
    display: block;
    clear: both; }
  .RadGrid .rgPagerCell .rgWrap {
    float: left;
    padding-right: .5em;
    white-space: nowrap; }
  .RadGrid .rgPagerCell .rgWrapRight {
    float: right; }
  .RadGrid .rgPagerCell .rgWrapNone {
    float: none; }
  .RadGrid .rgPagerCell .rgAdvPart {
    line-height: 2.2857; }
  .RadGrid .rgPagerCell .rgInfoPart {
    float: right;
    line-height: 2.2857; }
  .RadGrid .rgPagerCell .RadComboBox {
    min-width: 55px; }
  .RadGrid .rgPagerCell .RadComboBox,
  .RadGrid .rgPagerCell .RadInput,
  .RadGrid .rgPagerCell .riTextBox {
    font: inherit; }
  .RadGrid .rgPagerCell span.rcbInner {
    padding: 0 6px; }
  .RadGrid .rgPagerCell input.rcbInput {
    height: 2.2857em;
    line-height: 2.2857; }
  .RadGrid .rgPagerCell .RadInput,
  .RadGrid .rgPagerCell .rgPagerButton {
    margin-right: 6px; }
  .RadGrid .rgPagerCell .RadInput {
    height: auto;
    vertical-align: top; }
    .RadGrid .rgPagerCell .RadInput .riTextBox {
      padding: 6px 0;
      height: 1.42857em;
      line-height: normal;
      min-height: 0;
      text-align: center;
      box-sizing: content-box; }
  .RadGrid .rgPagerCell .RadSlider {
    float: left; }
  .RadGrid .rgPagerCell .RadSlider,
  .RadGrid .rgPagerCell .RadSlider .rslHorizontal {
    height: 2.2857em !important; }
  .RadGrid .rgPagerCell .rgSliderLabel {
    line-height: 2.2857; }
  .RadGrid .rgPagerCell .rgPagerLabel {
    margin: 0 6px;
    vertical-align: middle; }
  .RadGrid .rgPagerCell .rgPagerTextBox {
    vertical-align: middle; }
  .RadGrid .rgPagerCell .rgNumPart a {
    margin-left: 1px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent; }
    .RadGrid .rgPagerCell .rgNumPart a.rgCurrentPage {
      cursor: default; }
  .RadGrid .rgPagerCell .rgActionButton {
    font-family: "TelerikWebUI";
    width: 1.42857em;
    margin: 0 4px 0 0; }
  .RadGrid .rgPagerCell .rgNumPart a,
  .RadGrid .rgPagerCell .rgPagerButton,
  .RadGrid .rgPagerCell .rgActionButton {
    padding: 6px;
    height: 1.42857em;
    line-height: 1.42857;
    font-size: 1em;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-repeat: no-repeat;
    box-sizing: content-box; }
  .RadGrid .rgPagerCell .rgPageFirst .rgIcon:before {
    content: "\e00b"; }
  .RadGrid .rgPagerCell .rgPagePrev .rgIcon:before {
    content: "\e003"; }
  .RadGrid .rgPagerCell .rgPageNext .rgIcon:before {
    content: "\e000"; }
  .RadGrid .rgPagerCell .rgPageLast .rgIcon:before {
    content: "\e008"; }
.RadGrid .rgStatus {
  float: left;
  border-right: 1px solid; }
.RadGrid .rgStatus div {
  width: 3em;
  height: 2em;
  border: 0;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat; }
.RadGrid .rgEditForm .rgHeader {
  box-sizing: content-box; }
.RadGrid .rgEditForm > table {
  display: inline-block;
  vertical-align: top; }

.rgCellSelectorArea {
  position: absolute;
  z-index: 1000100;
  opacity: 0.1;
  filter: alpha(opacity=10); }

.rgNoScrollImage div.rgHeaderDiv {
  background-image: none; }

.rgMultiHeader {
  overflow: hidden; }
  .rgMultiHeader .rgHeaderDiv {
    margin-left: -1px; }

.rgHeaderWrapper .rgHeaderDiv {
  margin-bottom: -1px;
  margin-right: -1px;
  border-right: 1px solid transparent; }

.rgFooterWrapper .rgFooterDiv {
  margin-top: -1px; }

.RadGrid .rgHeader, .RadGrid th.rgResizeCol {
  padding-top: 5px;
  padding-bottom: 4px;
  text-align: left;
  font-weight: normal; }
.RadGrid .rgHeader a {
  text-decoration: none; }
.RadGrid .rgCheck input {
  height: 15px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  cursor: default; }
.RadGrid .rgRotateHeader {
  vertical-align: top; }
.RadGrid .rgRotateHeader a,
.RadGrid .rgRotateHeader span {
  transform: rotate(90deg);
  transform-origin: 11px 11px;
  writing-mode: tb-rl;
  display: inline-block; }
._Telerik_IE9 .RadGrid .rgRotateHeader a, ._Telerik_IE9 .RadGrid .rgRotateHeader span {
  transform: rotate(0); }

.rfdCheckbox .RadGrid .rgCheck input {
  height: 20px; }

.GridReorderTop,
.GridReorderBottom {
  width: 0.75em;
  height: 0.75em;
  margin: 0 0 0 -5px;
  padding: 0; }

.GridReorderTop:before,
.GridReorderBottom:before {
  font-size: 1.4em;
  line-height: 0.45em;
  font-family: "TelerikWebUI";
  text-align: center;
  content: "\e13d";
  position: absolute;
  bottom: 0; }

.GridReorderBottom:before {
  content: "\e13c";
  line-height: 0.55em; }

.RadGrid .rgFilterRow > td {
  padding-top: 4px;
  padding-bottom: 7px; }
.RadGrid .rgFilter {
  width: 1.833em;
  height: 1.833em;
  line-height: 1.833em;
  margin-left: 0.167em; }
.RadGrid .rgFilterIcon:before {
  content: "\e06c"; }
.RadGrid .rgFilterBox {
  border-width: 1px;
  border-style: solid;
  margin: 0;
  height: 15px;
  padding: 2px 1px 3px;
  font-size: 12px;
  vertical-align: middle;
  box-sizing: content-box; }

.RadGrid .rgFilterRow .RadRating {
  display: inline-block;
  vertical-align: middle; }

.GridContextMenu .rgFilterListMenu,
.GridContextMenu .rgFilterMenu {
  max-width: 200px; }
  html .GridContextMenu .rgFilterListMenu, html
  .GridContextMenu .rgFilterMenu {
    height: auto; }
  html .GridContextMenu .rgFilterListMenu:hover, html
  .GridContextMenu .rgFilterMenu:hover {
    background: none; }
  .GridContextMenu .rgFilterListMenu .RadInput,
  .GridContextMenu .rgFilterListMenu .RadComboBox,
  .GridContextMenu .rgFilterMenu .RadInput,
  .GridContextMenu .rgFilterMenu .RadComboBox {
    margin-bottom: 5px; }
  .GridContextMenu .rgFilterListMenu span.rmLeftImage,
  .GridContextMenu .rgFilterMenu span.rmLeftImage {
    top: 14px; }
.GridContextMenu .rgFilterListMenu .RadListBox {
  width: 160px; }
.GridContextMenu .rgFilterMenu div.rmContent,
.GridContextMenu .rgFilterListMenu div.rmContent {
  overflow: hidden;
  padding-right: 8px; }
.GridContextMenu .rgFilterMenu div.rgEmptyList,
.GridContextMenu .rgFilterListMenu div.rgEmptyList {
  padding: 0; }
.GridContextMenu .rgFilterMenu .rgHCMFilter {
  margin: 0 5px 5px 0; }
.GridContextMenu .rgFilterMenu .rgHCMClear,
.GridContextMenu .rgFilterMenu .rgHCMFilter {
  border-width: 1px;
  border-style: solid; }

.RadMenu.GridContextMenu .rmContent {
  white-space: normal;
  padding-left: 35px;
  padding-right: 10px; }

.GridContextMenu li.rgHCMFilter {
  background: none; }

.GridContextMenu .rmLeftImage {
  background-repeat: no-repeat;
  background-color: transparent; }

.GridContextMenu .rmArrow {
  z-index: 2000; }

.GridContextMenu .rgFreeze .rmLeftImage {
  background-position: -2px -318px; }

.GridContextMenu .rgUnFreeze .rmLeftImage {
  background-position: -2px -360px; }

.RadMenu .rmGroup .rgHCMItem .rmContent {
  width: 161px;
  padding: 6px 5px 5px 30px; }

.rgHCMItem .rgHCMClear, .rgHCMItem .rgHCMShow, .rgHCMItem .rgHCMAnd, .rgHCMItem .rgHCMFilter {
  display: block; }
.rgHCMItem .rgHCMShow, .rgHCMItem .rgHCMAnd {
  padding-top: 5px;
  line-height: 12px; }
.rgHCMItem .rgHCMClear, .rgHCMItem .rgHCMShow, .rgHCMItem .RadComboBox {
  margin: 0 0 5px; }
.rgHCMItem .rgHCMAnd {
  margin: 0 0 5px;
  margin-top: 5px; }
.rgHCMItem .rgHCMFilter {
  margin-top: 11px; }
.rgHCMItem .rgHCMClear, .rgHCMItem .rgHCMFilter {
  width: 160px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 1px 0;
  font-size: 12px;
  cursor: pointer; }

.RadFilterMenu_CheckList .RadListBox {
  display: block;
  margin-bottom: 7px;
  margin-top: 5px;
  width: 200px;
  max-height: 250px;
  overflow: auto;
  border-left: 0 none; }
.RadFilterMenu_CheckList ul.rmGroup li.rmLast {
  padding-bottom: 5px; }
.RadFilterMenu_CheckList .rmGroup div.rmText {
  padding: 0 10px 0 0;
  margin-left: 0; }
.RadFilterMenu_CheckList .rgFilterApply,
.RadFilterMenu_CheckList .rgFilterCancel {
  height: 22px;
  line-height: 22px;
  margin-right: 10px;
  padding: 0 6px 2px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid; }
.RadFilterMenu_CheckList .rgFilterApply {
  margin-left: 5px;
  margin-left: 33px; }

.RadGrid .rgGroupPanel {
  padding: 0.250em 0.333em;
  white-space: nowrap; }
.RadGrid .rgGroupItem {
  padding: 0.167em 0.167em 0px 0.25em;
  line-height: 1.5em; }
.RadGrid .rgGroupItem {
  display: inline-block; }
.RadGrid .rgGroupItem + .rgGroupItem {
  margin-left: 1em;
  position: relative; }
.RadGrid .rgGroupItem + .rgGroupItem:before {
  content: "-";
  left: -0.8em;
  position: absolute; }
.RadGrid .rgUngroupIcon:before {
  content: "\e038"; }
.RadGrid .rgGroupHeaderText {
  padding-left: 1em; }
.RadGrid .rgGroupHeader td {
  padding-top: 0;
  padding-bottom: 0; }
  .RadGrid .rgGroupHeader td p {
    display: inline;
    margin: 0;
    padding: 0 10px; }
  .RadGrid .rgGroupHeader td div div {
    top: -0.8em;
    padding: 0 10px; }
.RadGrid table.rgMasterTable tr .rgGroupCol,
.RadGrid table.rgMasterTable tr .rgExpandCol {
  padding-left: 0;
  padding-right: 0;
  text-align: center; }
.RadGrid .rgCollapseIcon:before {
  content: "\e002"; }
.RadGrid .rgExpandIcon:before {
  content: "\e000"; }
.RadGrid .rgGroupHeader td div div div {
  top: 0;
  padding: 0;
  border: 0; }

.RadGrid .rgUpdate, .RadGrid .rgCancel {
  width: 1.5em;
  height: 1.5em; }
.RadGrid .rgDetailTable {
  border-style: solid;
  border-width: 1px;
  border-right-width: 0; }
.RadGrid .rgAdd,
.RadGrid .rgRefresh {
  vertical-align: bottom; }
.RadGrid .rgCommandRow .rgActionButton {
  position: relative;
  width: auto;
  height: auto;
  margin-right: 0.5em; }
  .RadGrid .rgCommandRow .rgActionButton .rgButtonText {
    display: inline;
    line-height: 1.5em; }
.RadGrid .rgCommandRow *[class*='rgExp'] .rgButtonText {
  display: none; }
.RadGrid .rgCommandRow .rgIcon {
  width: 1.6em;
  line-height: 1.167em;
  margin-right: 0.5em;
  vertical-align: middle; }
.RadGrid .rgExpDOCIcon:before {
  content: "\e145"; }
.RadGrid .rgExpXLSIcon:before {
  content: "\e146"; }
.RadGrid .rgExpCSVIcon:before {
  content: "\e147"; }
.RadGrid .rgExpPDFIcon:before {
  content: "\e148"; }
.RadGrid .rgRefreshIcon:before {
  content: "\e01e"; }
.RadGrid .rgSaveIcon:before {
  content: "\e0bd"; }
.RadGrid .rgCancelIcon:before {
  content: "\e038"; }
.RadGrid .rgUpdateIcon:before {
  content: "\e037"; }
.RadGrid .rgDelIcon:before {
  content: "\e038"; }
.RadGrid .rgEditIcon:before {
  content: "\e0d5"; }

.rgPager thead,
.rgPager caption,
.rgCommandTable thead {
  display: none; }

.RadGridRTL .rgHeader,
.RadGridRTL .rgResizeCol {
  text-align: right; }
.RadGridRTL .rgStatus {
  border-right: 0;
  border-left-width: 1px solid; }
.RadGridRTL .rgWrap {
  float: right; }
.RadGridRTL .rgArrPart1 {
  padding: 0 10px 0 5px; }
.RadGridRTL .rgArrPart2 {
  padding: 0 5px 0 10px; }
.RadGridRTL .rgPageFirst, .RadGridRTL .rgPagePrev {
  margin-right: 0;
  margin-left: 1px; }
.RadGridRTL .rgPageNext, .RadGridRTL .rgPageLast {
  margin-left: 0;
  margin-right: 1px; }
.RadGridRTL .rgNumPart a {
  float: right; }
.RadGridRTL .rgDetailTable {
  border-right-width: 1px;
  border-left-width: 0; }
.RadGridRTL input.rgRefresh, .RadGridRTL input.rgAdd {
  margin: 0 0 0 4px; }
.RadGridRTL .rgInfoPart {
  text-align: left; }
.RadGridRTL .rgSliderLabel {
  float: right; }
.RadGridRTL .rgPager div.RadSlider {
  float: right;
  margin: 0 0 0 10px; }
.RadGridRTL .rgExpandIcon:before {
  content: "\e003"; }
