.RadInput,
.RadInputMgr {
  vertical-align: middle;
  width: 11.429em;
  box-sizing: border-box; }

.RadInput_Multiline {
  width: auto; }

.RadInput .riTextBox {
  height: inherit;
  width: 100%;
  font: inherit; }

.RadInput {
  display: inline-block;
  white-space: nowrap;
  text-align: left;
  position: relative; }
  .RadInput textarea {
    vertical-align: bottom;
    overflow: auto;
    resize: none;
    white-space: pre-wrap; }
  .RadInput.riResizable .riTextBox {
    min-width: 5.41667em;
    min-height: 3.33333em; }
  .RadInput .riResizeIcon {
    width: 7px;
    height: 7px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: -7px; }
  .RadInput.riResizable .riTextBox {
    padding-right: 2px; }
  .RadInput .rfdRoundedContent {
    width: 100% !important; }
  .RadInput .rfdRoundedWrapper {
    table-layout: fixed; }

.RadInput .riTextBox,
.RadInputMgr {
  border-width: 1px;
  border-style: solid;
  padding: 0.08333em 0.41667em 0.16667em;
  vertical-align: middle; }
  .RadInput .riTextBox:disabled,
  .RadInputMgr:disabled {
    opacity: 1; }

.RadPicker .riTextBox {
  padding-right: 2.286em; }

.RadDateTimePicker .riTextBox {
  padding-right: 4.572em; }

textarea.RadInputMgr {
  overflow: auto; }

.RadInput .riEmpty,
.RadInput_Empty {
  font-style: italic; }

.RadInput a {
  display: block;
  width: 1.667em;
  text-decoration: none;
  text-align: center;
  position: relative;
  vertical-align: bottom;
  background-clip: padding-box;
  background-repeat: no-repeat; }
  .RadInput a span {
    display: none; }
.RadInput a,
.RadInput .riLabel,
.RadInput .riTextBox,
.RadInput .riContentWrapper {
  box-sizing: border-box; }
.RadInput .riLabel {
  float: left;
  padding-right: 0.41667em;
  text-overflow: ellipsis;
  overflow: hidden; }
.RadInput .riSelect {
  position: absolute;
  height: 100%;
  right: 1px;
  top: 0; }
.RadInput .riUp:before,
.RadInput .riDown:before,
.RadInput .riButton:before {
  font: 1.5em/1 "TelerikWebUI";
  display: block;
  width: 100%;
  position: absolute;
  margin-top: -0.55em;
  top: 50%; }
.RadInput .riButton {
  vertical-align: top;
  height: 100%;
  margin-left: 0.5em; }
  .RadInput .riButton:before {
    content: "\e023";
    line-height: 1.3em; }
.RadInput .riUp,
.RadInput .riDown {
  height: 50%; }
.RadInput .riUp {
  vertical-align: top;
  border-top: 1px solid transparent; }
  .RadInput .riUp:before {
    content: "\e00d"; }
.RadInput .riDown {
  border-bottom: 1px solid transparent; }
  .RadInput .riDown:before {
    content: "\e00e";
    margin-top: -0.35em; }
.RadInput .riContentWrapper {
  display: block;
  vertical-align: middle;
  overflow: hidden;
  height: inherit; }

.riContButton {
  padding-right: 2.167em; }
  .riContButton a {
    display: inline-block; }
  .riContButton .riDown {
    margin-left: -1.667em; }

.riPassIndicator {
  padding-right: 7.5em; }
  .riPassIndicator .riContentWrapper {
    display: inline-block; }
  .riPassIndicator.riContButton .riContentWrapper {
    position: relative;
    padding-right: 2em; }

.riStrengthBar {
  background: linear-gradient(to left, #66cc33, #f4cc33 50%, #ff3333) repeat-y;
  background-size: 1500px auto;
  display: inline-block;
  width: 7.143em;
  height: 1.429em;
  margin-left: 0.357em;
  color: #000;
  text-align: center;
  vertical-align: middle; }

.riStrengthBarL0 {
  background: none; }

.riStrengthBarL1 {
  background-color: #ff3933;
  background-position: 0 0;
  color: #620000; }

.riStrengthBarL2 {
  background-color: #ff7833;
  background-position: -300px 0;
  color: #922b00; }

.riStrengthBarL3 {
  background-color: #ffbe33;
  background-position: -600px 0;
  color: #9e5900; }

.riStrengthBarL4 {
  background-color: #ddcc33;
  background-position: -900px 0;
  color: #696400; }

.riStrengthBarL5 {
  background-color: #6bcc33;
  background-position: 100% 0;
  color: #236800; }

.RadForm.rfdTextbox input.rfdDecorated.RadInputMgr {
  width: auto; }

.RadInputRTL {
  text-align: right; }
  .RadInputRTL.riResizable .riTextBox {
    padding-right: 5px;
    padding-left: 2px; }
  .RadInputRTL.riContButton .riResizeIcon {
    margin-left: 0;
    margin-right: -27px; }
  .RadInputRTL .riResizeIcon {
    margin-left: 0;
    margin-right: -7px; }
  .RadInputRTL .riLabel {
    padding: 0 0 0 0.41667em;
    float: right; }
