.RadLightBox {
  padding: 10px;
  *background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mPY7QMAAcUBCAwWfXgAAAAASUVORK5CYII=);
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  .RadLightBox .rltbGlowEffect {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #bbb;
    opacity: 0.3;
    filter: alpha(opacity=30);
    border-radius: 15px;
    *display: none; }
  .RadLightBox .rltbWrapper {
    height: 100%;
    padding: 0 10px;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    overflow: hidden; }
  .RadLightBox .rltbItemBox {
    padding: 10px 0;
    position: relative; }
    * + html .RadLightBox .rltbItemBox {
      overflow: hidden; }
  .RadLightBox .rltbDescriptionBox {
    font-size: 13px;
    left: 10px;
    right: 10px;
    *zoom: 1; }
    .RadLightBox .rltbDescriptionBox:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .RadLightBox .rltbDescTop {
    margin-top: 10px; }
  .RadLightBox .rltbDescBottom {
    bottom: 10px;
    position: absolute; }
  .RadLightBox .rltbDescOverlayTop,
  .RadLightBox .rltbDescOverlayBottom {
    padding: 10px;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    z-index: 10; }
  .RadLightBox .rltbDescOverlayBottom {
    bottom: 20px;
    top: auto; }
  .RadLightBox .rltbDescriptionBox h4 {
    margin: 0 0 2px;
    font-size: 13px; }
  .RadLightBox .rltbDescription {
    margin: 0 0 5px; }
  .RadLightBox .rltbToolbar {
    float: right;
    padding-left: 10px; }
  .RadLightBox .rltbToolbar div {
    width: 100px;
    height: 10px;
    background: red; }
  .RadLightBox .rltbActionButton {
    background: none;
    border: 0 none;
    padding: 0;
    cursor: pointer;
    vertical-align: middle; }
  .RadLightBox .rltbActionButton::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .RadLightBox .rltbIcon {
    display: inline-block;
    vertical-align: top; }
  .RadLightBox .rltbToolbar .rltbActionButton {
    height: 28px;
    width: 28px;
    border-radius: 28px;
    border: 0 none;
    padding: 0;
    cursor: pointer;
    margin-right: 5px;
    vertical-align: middle; }
  .RadLightBox .rltbToolbar .rltbIcon {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat; }
  .RadLightBox .rltbButtonText {
    display: none; }
  .RadLightBox .rltbClose {
    position: absolute;
    top: -16px;
    right: -17px;
    padding: 6px 7px 6px 5px;
    z-index: 20;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  .RadLightBox .rltbClose,
  .RadLightBox .rltbCloseButton,
  .RadLightBox .rltbCloseIcon {
    height: 36px;
    width: 36px; }
  .RadLightBox .rltbPrevButton,
  .RadLightBox .rltbNextButton {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -22px;
    height: 44px;
    width: 27px;
    font-size: 1px;
    color: transparent;
    overflow: hidden;
    z-index: 11; }
  .RadLightBox .rltbNextButton {
    left: auto;
    right: 10px; }
  .RadLightBox.rltbMaximized {
    padding: 0; }
  .RadLightBox.rltbMaximized .rltbWrapper {
    border-radius: 0; }
  .RadLightBox.rltbMaximized .rltbClose {
    display: none; }

.rltbOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  filter: alpha(opacity=60);
  background-color: rgba(0, 0, 0, 0.6); }

._Telerik_IE9 .rltbOverlay {
  filter: alpha(opacity=100); }

.RadLightBox .rltbActiveImage {
  vertical-align: top; }

.RadLightBox .rltbDescriptionBox h4 {
  font-size: 1.2em; }

.RadLightBox .rltbPager {
  margin-top: 1.2em;
  display: inline-block; }

.RadLightBox .rltbNextButtonWrapper {
  right: 10px; }

.RadLightBox .rltbPrevButtonWrapper {
  left: 10px; }

.RadLightBox .rltbIcon:before,
.RadLightBox .rltbClose:before,
.RadLightBox .rltbCloseIcon:before,
.RadLightBox .rltbPrevButton:before,
.RadLightBox .rltbNextButton:before,
.RadLightBox .rltbButtonWrapper:before {
  position: absolute;
  display: block;
  width: 1em;
  height: 1em;
  text-align: center;
  vertical-align: middle;
  font: 1em/1 "TelerikWebUI" !important;
  left: 50%;
  top: 50%;
  margin: -.5em 0 0 -.5em; }

div.RadLightBox .rltbWrapper .rltbIcon {
  width: 100%;
  height: 100%; }

.RadLightBox.rltbMaximized .rltbButtonWrapper,
.RadLightBox.rltbMaximized .rltbActionButton {
  z-index: 2147483647; }

.RadLightBox div.rltbDescriptionBox {
  left: 0;
  right: 0;
  padding: 1.3em;
  z-index: 10;
  font-size: 1.0833em; }

.RadLightBox.rltbMaximized .rltbDescriptionBox {
  position: absolute; }

.RadLightBox.rltbMaximized .rltbDescBottom,
.RadLightBox.rltbMaximized .rltbDescOverlayBottom {
  bottom: 0; }

div.RadLightBox .rltbCloseButton {
  width: 2.7em;
  height: 2.7em;
  top: 1.2em;
  right: 1.2em;
  z-index: 100;
  font-size: 1.1112em;
  border-radius: 2.7em; }

div.RadLightBox .rltbCloseIcon {
  font-size: 2.2em; }

.RadLightBox .rltbCloseIcon:before {
  content: '\E038'; }

.RadLightBox .rltbButtonWrapper .rltbActionButton {
  width: 100%;
  height: 100%; }

.RadLightBox .rltbButtonWrapper {
  font-size: 8em;
  text-shadow: 0 0 3px black;
  text-align: center;
  color: white;
  z-index: 1000; }

.RadLightBox .rltbPrevButtonWrapper:before {
  content: '\E013';
  text-indent: -.75em; }

.RadLightBox .rltbNextButtonWrapper:before {
  content: '\E010';
  text-indent: .18em; }

.RadLightBox .rltbMaximizeIcon,
.RadLightBox .rltbRestoreIcon {
  font-size: 2.2em; }

.RadLightBox .rltbMaximizeIcon:before {
  content: '\E11C';
  text-indent: .05em; }

.RadLightBox .rltbRestoreIcon:before {
  content: '\E11D';
  text-indent: .05em; }

.RadLightBox .rltbButtonWrapper {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  width: 1em;
  height: 1em;
  display: inline-block; }

div.RadLightBox .rltbDescOverlayBottom {
  bottom: 0; }

div.RadLightBox .rltbDescTop,
div.RadLightBox .rltbDescOverlayTop {
  top: 0;
  margin: 0; }

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .RadLightBox {
    z-index: 3006;
    left: 0 !important;
    top: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    padding: 0;
    background: #000000; }

  .RadLightBox .rltbItemBox {
    margin: 0 auto;
    padding: 0; }

  .RadLightBox .rltbWrapper {
    padding: 0; }

  div.RadLightBox .rltbWrapper {
    border-radius: 0; }

  .RadLightBox .rltbDescBottom {
    bottom: 0; }

  .RadLightBox .rltbToolbar .rltbMaximizeButton,
  .RadLightBox .rltbToolbar .rltbRestoreButton {
    display: none !important; }

  .rltbOverlay {
    display: none !important; }

  .RadLightBox .rltbCloseButton {
    position: absolute; } }
@media only screen and (min-width: 641px) {
  .RadLightBox,
  .RadLightBox .rltbWrapper {
    position: fixed;
    z-index: 4000;
    width: auto;
    padding: 0;
    vertical-align: top;
    box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.2); }

  .RadLightBox {
    top: 0;
    height: auto;
    padding: 0;
    background: #000000; }

  .RadLightBox .rltbWrapper {
    border-radius: 0;
    position: relative;
    z-index: 10;
    overflow: hidden; }

  .RadLightBox .rltbCloseButton {
    position: fixed; }

  .RadLightBox .rltbDescTop,
  .RadLightBox .rltbDescBottom {
    position: static; }

  .RadLightBox .rltbItemBox {
    top: 0;
    padding: 0; }

  .RadLightBox .rltbToolbar {
    position: relative; }

  div.RadLightBox .rltbToolbar .rltbActionButton {
    position: relative;
    width: 3em;
    height: 3em;
    font-size: 1.028em;
    border-radius: 3em; } }
