.RadListBox .rlbButton, .RadListBox.rlbFixedHeight .rlbGroup, .RadListBox.rlbFixedHeight .rlbTemplate .rlbTemplateContent {
  box-sizing: border-box; }

.RadListBox {
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .RadListBox {
    display: inline-block;
    min-width: 11.66667em;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    cursor: default;
    text-align: left; }
    .RadListBox ul {
      margin: 0;
      padding: 0; }
  .RadListBox .rlbDisabled {
    filter: alpha(opacity=50);
    opacity: 0.5; }
  .RadListBox .rlbButton {
    margin: 0;
    padding: 0.16667em;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    color: inherit;
    font: inherit;
    text-align: left;
    vertical-align: top; }
    .RadListBox .rlbButton::-moz-focus-inner {
      margin: 0;
      padding: 0;
      border: 0; }
    .RadListBox .rlbButton:focus {
      outline: none; }
  .RadListBox[dir="rtl"] .rlbButton {
    text-align: right; }
  .RadListBox .rlbButtonIcon {
    width: 1em;
    height: 1em;
    font-size: 1.5em;
    line-height: 1;
    display: inline-block;
    vertical-align: middle; }
    .RadListBox .rlbButtonIcon:before {
      font-family: "TelerikWebUI";
      line-height: 1;
      display: inline-block; }
  .RadListBox .rlbButtonText {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px; }
  .RadListBox .rlbButtonAreaTop, .RadListBox .rlbButtonAreaBottom, .RadListBox .rlbButtonAreaLeft, .RadListBox .rlbButtonAreaRight {
    box-sizing: border-box; }
    .RadListBox .rlbButtonAreaTop ul, .RadListBox .rlbButtonAreaBottom ul, .RadListBox .rlbButtonAreaLeft ul, .RadListBox .rlbButtonAreaRight ul {
      margin: 0;
      padding: 0;
      list-style: none; }
  .RadListBox .rlbButtonAreaTop li, .RadListBox .rlbButtonAreaBottom li {
    display: inline-block;
    margin-right: 5px; }
  .RadListBox .rlbButtonAreaTop {
    margin-bottom: 5px; }
  .RadListBox .rlbButtonAreaBottom {
    margin-top: 5px; }
  .RadListBox .rlbButtonAreaRight li, .RadListBox .rlbButtonAreaLeft li {
    margin-bottom: 5px; }
  .RadListBox .rlbButtonAreaRight {
    margin-left: 5px;
    float: right; }
  .RadListBox .rlbButtonAreaLeft {
    margin-right: 5px;
    float: left; }
  .RadListBox .rlbMiddle, .RadListBox .rlbBottom {
    display: table;
    height: 100%; }
    .RadListBox .rlbMiddle ul, .RadListBox .rlbBottom ul {
      display: table-cell; }
  .RadListBox .rlbMiddle ul {
    vertical-align: middle; }
  .RadListBox .rlbBottom ul {
    vertical-align: bottom; }
  .RadListBox .rlbBottom .rlbButton {
    margin-top: 3px;
    margin-bottom: 0; }
  .RadListBox .rlbCenter ul {
    text-align: center; }
  .RadListBox .rlbRight ul {
    text-align: right; }
  .RadListBox .rlbNoButtonText.rlbButton {
    width: auto;
    height: auto;
    overflow: hidden; }
  .RadListBox .rlbNoButtonText .rlbButtonText {
    display: none; }
  .RadListBox .rlbGroup {
    overflow: auto;
    border-width: 1px;
    border-style: solid; }
  .RadListBox .rlbList {
    padding: 1px;
    list-style-type: none; }
  .RadListBox .rlbItem {
    padding: 0.08333em 0.33333em;
    border: 1px solid transparent;
    line-height: 1.66667em; }
    .RadListBox .rlbItem label {
      margin-left: -3px;
      color: inherit; }
  .RadListBox .rlbHighlight {
    font-weight: bold; }
  .RadListBox .rlbCheckAllItems {
    padding: 0.25em; }
    .RadListBox .rlbCheckAllItems .rlbCheckAllItemsCheckBox {
      vertical-align: middle; }
  .RadListBox .rlbCheckAllItemsCheckBox, .RadListBox .rlbCheck {
    vertical-align: middle;
    margin: 0em 0.25em 0.25em 0.33333em;
    padding-top: 0;
    font-size: inherit;
    margin: 0\9\0; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .RadListBox .rlbCheckAllItemsCheckBox, .RadListBox .rlbCheck {
        margin-top: -1px; } }
  .RadListBox noindex:-o-prefocus, .RadListBox .rlbCheckAllItemsCheckBox, .RadListBox .rlbCheck {
    margin: 0em 0.25em 0.25em 0.33333em; }
  .RadListBox .rlbImage {
    margin-right: 3px;
    vertical-align: middle; }
  .RadListBox .rlbTemplate {
    display: block; }
  .RadListBox .rlbTemplateContent {
    overflow: hidden;
    border-width: 1px;
    border-style: solid; }
    .RadListBox .rlbTemplateContent .rlbGroup {
      border: 0; }
    .RadListBox .rlbTemplateContent .rlbHeader, .RadListBox .rlbTemplateContent .rlbFooter {
      padding: 3px 7px; }
    .RadListBox .rlbTemplateContent .rlbHeader {
      border-bottom-width: 1px;
      border-bottom-style: solid; }
    .RadListBox .rlbTemplateContent .rlbFooter {
      border-top-width: 1px;
      border-top-style: solid; }
  .RadListBox .rlbIconMoveUp:before {
    content: "\E12C"; }
  .RadListBox .rlbIconMoveDown:before {
    content: "\E12D"; }
  .RadListBox .rlbIconMoveToTop:before {
    content: "\E140"; }
  .RadListBox .rlbIconMoveToBottom:before {
    content: "\E141"; }
  .RadListBox .rlbIconDelete:before {
    content: "\e038"; }
  .RadListBox .rlbIconTransferUp:before {
    content: "\E138"; }
  .RadListBox .rlbIconTransferDown:before {
    content: "\E139"; }
  .RadListBox .rlbIconTransferLeft:before {
    content: "\E13A"; }
  .RadListBox .rlbIconTransferRight:before {
    content: "\E137"; }
  .RadListBox .rlbIconTransferAllUp:before {
    content: "\E134"; }
  .RadListBox .rlbIconTransferAllDown:before {
    content: "\E135"; }
  .RadListBox .rlbIconTransferAllLeft:before {
    content: "\E136"; }
  .RadListBox .rlbIconTransferAllRight:before {
    content: "\E133"; }
  .RadListBox .rlbDropClue {
    width: 0.83333em;
    height: 0.75em;
    line-height: 0.75em;
    position: absolute;
    left: -1.41667em;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    z-index: 10; }
    .RadListBox .rlbDropClue:before {
      font-size: 1.7em;
      content: "\E13B";
      font-family: "TelerikWebUI"; }
  .RadListBox .rlbGroup .rlbDropClueAbove {
    border-top-width: 1px;
    border-top-style: dotted;
    padding-top: 1px; }
  .RadListBox .rlbGroup .rlbDropClueBelow {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    padding-bottom: 1px; }

.RadListBox.rlbFixedHeight .rlbGroup {
  height: 100%; }
.RadListBox.rlbFixedHeight .rlbTemplate {
  height: 100%;
  overflow: hidden; }
  .RadListBox.rlbFixedHeight .rlbTemplate .rlbTemplateContent {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    table-layout: fixed; }
  .RadListBox.rlbFixedHeight .rlbTemplate .rlbBody {
    display: table-row; }
  .RadListBox.rlbFixedHeight .rlbTemplate .rlbHeader, .RadListBox.rlbFixedHeight .rlbTemplate .rlbFooter {
    display: table-cell; }
  .RadListBox.rlbFixedHeight .rlbTemplate .rlbBody {
    height: 100%;
    position: relative; }
    .RadListBox.rlbFixedHeight .rlbTemplate .rlbBody .rlbList {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0; }
    .RadListBox.rlbFixedHeight .rlbTemplate .rlbBody .rlbCheckAllItems + .rlbList {
      top: 2em; }
  .RadListBox.rlbFixedHeight .rlbTemplate div.rlbGroup {
    height: 100%;
    position: relative;
    top: 0; }
  .RadListBox.rlbFixedHeight .rlbTemplate x:-o-prefocus, .RadListBox.rlbFixedHeight .rlbTemplate div.rlbGroup {
    position: static;
    height: auto;
    padding: 0; }

.RadListBoxButtonAreaTop .rlbTemplate, .RadListBoxButtonAreaTop .rlbGroup, .RadListBoxButtonAreaBottom .rlbTemplate, .RadListBoxButtonAreaBottom .rlbGroup {
  clear: both; }

.RadListBoxButtonAreaTop.rlbFixedHeight .rlbGroup, .RadListBoxButtonAreaTop.rlbFixedHeight .rlbTemplate, .RadListBoxButtonAreaBottom.rlbFixedHeight .rlbGroup, .RadListBoxButtonAreaBottom.rlbFixedHeight .rlbTemplate {
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.RadListBoxButtonAreaTop.rlbFixedHeight .rlbGroup, .RadListBoxButtonAreaTop.rlbFixedHeight .rlbTemplate {
  top: 27px; }

.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbGroup, .RadListBoxButtonAreaBottom.rlbFixedHeight .rlbTemplate {
  bottom: 27px; }
.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbButtonAreaBottom {
  position: absolute;
  bottom: 0; }
