.RadMediaPlayer {
  position: relative;
  background-color: #000; }
  .RadMediaPlayer video {
    padding-top: 1px;
    margin-top: -1px; }
  .RadMediaPlayer img {
    border: 0 none; }
  .RadMediaPlayer .rmpPosterImage {
    background: black no-repeat center center; }
  .RadMediaPlayer .rmpTitleBar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 20px;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 2147483647; }
    .RadMediaPlayer .rmpTitleBar .rmpSocialShareBar {
      position: relative;
      z-index: 200;
      margin: 4px 0 0 5px;
      zoom: 1; }
  .RadMediaPlayer .rmpTitleBar h4 {
    float: left;
    margin: 0 60px 0 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #fff; }
  .RadMediaPlayer .rmpTitleBar .rmpButtSet {
    position: absolute;
    right: 5px; }
  .RadMediaPlayer .rmpButtSet .rmpActionButton {
    margin: 0 10px; }
  .RadMediaPlayer .rmpToolbarWrapper {
    height: 40px;
    width: 100% !important;
    position: absolute;
    bottom: 10px;
    left: 0; }
    * + html .RadMediaPlayer .rmpToolbarWrapper {
      z-index: 101; }
  .RadMediaPlayer .rmpToolbar {
    margin: 0 10px;
    height: 30px;
    padding-top: 8px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    position: relative; }
    * + html .RadMediaPlayer .rmpToolbar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
  .RadMediaPlayer.rmpToolbarDocked .rmpToolbarWrapper {
    bottom: 0px; }
  .RadMediaPlayer.rmpToolbarDocked .rmpToolbar {
    margin: 0;
    border-radius: 0; }
  .RadMediaPlayer div.rslTrack {
    cursor: pointer;
    z-index: 101; }
  .RadMediaPlayer .rmpSeekBar {
    height: 22px;
    vertical-align: middle;
    margin: -1px 255px 0 52px; }
    * + html .RadMediaPlayer .rmpSeekBar {
      position: relative;
      z-index: 100; }
    .RadMediaPlayer .rmpSeekBar .RadSlider,
    .RadMediaPlayer .rmpSeekBar .rslHorizontal,
    .RadMediaPlayer .rmpSeekBar .rslTrack {
      width: auto !important; }
    .RadMediaPlayer .rmpSeekBar .rslTrack {
      position: relative;
      height: 6px !important; }
  .RadMediaPlayer .rmpToolTip {
    width: 59px;
    height: 23px;
    position: absolute;
    top: -26px;
    color: #fff;
    text-align: center;
    font-size: 11px;
    line-height: 20px; }
  .RadMediaPlayer .rmpToolbarWrapper > .rmpToolTip {
    margin: 14px 0 0 63px;
    z-index: 101; }
  .RadMediaPlayer.rmpToolbarDocked .rmpToolbarWrapper > .rmpToolTip {
    margin-left: 53px; }
  .RadMediaPlayer .rmpLeftControlsSet {
    position: absolute;
    left: 15px; }
  .RadMediaPlayer .rmpRightControlsSet {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    padding-top: 8px; }
  .RadMediaPlayer .rmpLoadProgressBar {
    height: 6px; }
  .RadMediaPlayer div.rmpToolbar a.rslDraghandle {
    width: 6px;
    height: 14px;
    background-position: 0 0; }
  .RadMediaPlayer div.rslVertical a.rslDraghandle {
    right: auto; }
  .RadMediaPlayer .rmpProgressText {
    font-size: 11px;
    margin-right: 7px; }
  .RadMediaPlayer .rmpOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0; }
  .RadMediaPlayer .rmpVolContr {
    position: relative;
    display: inline-block;
    width: 42px;
    margin-right: 7px;
    text-align: center;
    vertical-align: top;
    z-index: 101; }
    * + html .RadMediaPlayer .rmpVolContr {
      display: inline;
      vertical-align: bottom; }
  .RadMediaPlayer .rmpVolContrHover {
    bottom: 118px;
    padding-top: 118px; }
  .RadMediaPlayer.rmpToolbarDocked .rmpVolContrHover {
    bottom: 112px;
    padding-top: 112px; }
  .RadMediaPlayer .rmpOverlaySolid,
  .RadMediaPlayer .rmpVolContr,
  .RadMediaPlayer .rmpVolContrBarWrapper,
  .RadMediaPlayer .rmpToolbar,
  .RadMediaPlayer .rmpToolbarWrapper {
    background-image: url(data:image/gif;base64,R0lGODlhAQABAHAAACH5BAUAAAAALAAAAAABAAEAAAICRAEAOw==); }
  .RadMediaPlayer .rmpVolContrBar {
    position: absolute;
    bottom: 36px;
    width: 22px;
    padding: 11px 9px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid; }
    .RadMediaPlayer .rmpVolContrBar a.rslDraghandle {
      height: 6px;
      width: 14px;
      margin-top: 0;
      margin-left: -5px;
      background-image: none; }
  .RadMediaPlayer.rmpToolbarDocked .rmpVolContrBar {
    bottom: 30px;
    border-radius: 0; }
  .RadMediaPlayer .rmpVolContrBarWrapper {
    padding-bottom: 45px;
    width: 42px;
    right: 138px;
    bottom: 2px;
    position: absolute;
    z-index: 101; }
    .RadMediaPlayer .rmpVolContrBarWrapper .rmpActionButton {
      position: absolute;
      bottom: 8px;
      left: 10px; }
    .RadMediaPlayer .rmpVolContrBarWrapper .rmpVolContrBar {
      position: static; }
  .RadMediaPlayer.rmpToolbarDocked .rmpVolContrBarWrapper {
    right: 128px;
    bottom: 2px;
    padding-bottom: 39px;
    padding-top: 0; }
  .RadMediaPlayer .rmpVolContrBar .RadSlider div.rslVertical div.rslTrack {
    left: 8px; }
  .RadMediaPlayer .rmpPlaylist {
    position: absolute; }
    .RadMediaPlayer .rmpPlaylist ul, .RadMediaPlayer .rmpPlaylist li, .RadMediaPlayer .rmpPlaylist h4 {
      padding: 0;
      margin: 0; }
    .RadMediaPlayer .rmpPlaylist ul {
      list-style-type: none; }
    .RadMediaPlayer .rmpPlaylist a {
      display: block;
      overflow: hidden;
      text-decoration: none; }
      .RadMediaPlayer .rmpPlaylist a img {
        display: block;
        width: 100px;
        height: 54px;
        border: 0 none; }
      .RadMediaPlayer .rmpPlaylist a span,
      .RadMediaPlayer .rmpPlaylist a img {
        cursor: pointer; }
    .RadMediaPlayer .rmpPlaylist .rmpThumbWrap {
      display: inline-block; }
      * + html .RadMediaPlayer .rmpPlaylist .rmpThumbWrap {
        display: inline; }
    .RadMediaPlayer .rmpPlaylist .rmpTitle {
      display: block;
      overflow: hidden;
      text-transform: uppercase;
      text-align: left; }
  .RadMediaPlayer .rmpPlaylistVertical,
  .RadMediaPlayer .rmpPlaylistVerticalInside {
    top: 40px;
    bottom: 0px;
    right: 0;
    z-index: 100;
    width: 280px;
    overflow: hidden;
    overflow-y: auto; }
    .RadMediaPlayer .rmpPlaylistVertical ul,
    .RadMediaPlayer .rmpPlaylistVerticalInside ul {
      position: relative; }
    .RadMediaPlayer .rmpPlaylistVertical li:first-child,
    .RadMediaPlayer .rmpPlaylistVerticalInside li:first-child {
      border-top: 0 none; }
    .RadMediaPlayer .rmpPlaylistVertical a,
    .RadMediaPlayer .rmpPlaylistVerticalInside a {
      padding: 10px 15px; }
    .RadMediaPlayer .rmpPlaylistVertical .rmpThumbWrap,
    .RadMediaPlayer .rmpPlaylistVerticalInside .rmpThumbWrap {
      float: left;
      margin-right: 10px;
      vertical-align: top; }
    .RadMediaPlayer .rmpPlaylistVertical .rmpTitle,
    .RadMediaPlayer .rmpPlaylistVerticalInside .rmpTitle {
      max-height: 55px; }
    .RadMediaPlayer .rmpPlaylistVertical.rmpPlaylistNavButtons ul,
    .RadMediaPlayer .rmpPlaylistVerticalInside.rmpPlaylistNavButtons ul {
      padding-top: 25px; }
    .RadMediaPlayer .rmpPlaylistVertical.rmpPlaylistNavButtons .rmpPlaylistPrevButtonWrap,
    .RadMediaPlayer .rmpPlaylistVertical.rmpPlaylistNavButtons .rmpPlaylistNextButtonWrap,
    .RadMediaPlayer .rmpPlaylistVerticalInside.rmpPlaylistNavButtons .rmpPlaylistPrevButtonWrap,
    .RadMediaPlayer .rmpPlaylistVerticalInside.rmpPlaylistNavButtons .rmpPlaylistNextButtonWrap {
      position: absolute;
      left: 0;
      width: 100%;
      height: 24px; }
    .RadMediaPlayer .rmpPlaylistVertical.rmpPlaylistNavButtons .rmpPlaylistPrevButtonWrap,
    .RadMediaPlayer .rmpPlaylistVerticalInside.rmpPlaylistNavButtons .rmpPlaylistPrevButtonWrap {
      top: 0;
      z-index: 100; }
    .RadMediaPlayer .rmpPlaylistVertical.rmpPlaylistNavButtons .rmpPlaylistNextButtonWrap,
    .RadMediaPlayer .rmpPlaylistVerticalInside.rmpPlaylistNavButtons .rmpPlaylistNextButtonWrap {
      bottom: 0; }
  .RadMediaPlayer .rmpPlaylistVertical {
    margin-right: -280px;
    top: 0;
    right: 0; }
  .RadMediaPlayer .rmpPlaylistVerticalInside {
    bottom: 60px;
    margin-right: 11px;
    height: auto !important; }
  .RadMediaPlayer.rmpToolbarDocked .rmpPlaylistVerticalInside {
    bottom: 40px;
    margin-right: 0; }
  .RadMediaPlayer .rmpPlaylistNavButtons {
    overflow: hidden; }
    .RadMediaPlayer .rmpPlaylistNavButtons ul {
      display: block;
      overflow: hidden; }
    .RadMediaPlayer .rmpPlaylistNavButtons .rmpPlaylistPrevButton,
    .RadMediaPlayer .rmpPlaylistNavButtons .rmpPlaylistNextButton {
      width: 100%;
      height: 100%; }
  .RadMediaPlayer .rmpPlaylistHorizontal {
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    bottom: 0;
    left: 0;
    text-align: left; }
    .RadMediaPlayer .rmpPlaylistHorizontal ul {
      display: inline-block;
      vertical-align: top;
      white-space: nowrap; }
      * + html .RadMediaPlayer .rmpPlaylistHorizontal ul {
        display: inline; }
    .RadMediaPlayer .rmpPlaylistHorizontal li {
      display: inline-block;
      vertical-align: top; }
      * + html .RadMediaPlayer .rmpPlaylistHorizontal li {
        display: inline; }
      .RadMediaPlayer .rmpPlaylistHorizontal li:first-child {
        margin-left: 0;
        border-left: 0 none; }
      .RadMediaPlayer .rmpPlaylistHorizontal li a {
        width: 100px;
        height: 103px;
        padding: 10px 15px 17px; }
      .RadMediaPlayer .rmpPlaylistHorizontal li .rmpTitle {
        white-space: normal; }
    .RadMediaPlayer .rmpPlaylistHorizontal.rmpPlaylistNavButtons {
      overflow: hidden; }
      .RadMediaPlayer .rmpPlaylistHorizontal.rmpPlaylistNavButtons ul {
        padding-left: 40px; }
      .RadMediaPlayer .rmpPlaylistHorizontal.rmpPlaylistNavButtons .rmpPlaylistPrevButtonWrap,
      .RadMediaPlayer .rmpPlaylistHorizontal.rmpPlaylistNavButtons .rmpPlaylistNextButtonWrap {
        position: absolute;
        top: 0;
        width: 40px;
        height: 100%;
        z-index: 1; }
      .RadMediaPlayer .rmpPlaylistHorizontal.rmpPlaylistNavButtons .rmpPlaylistPrevButtonWrap {
        left: 0; }
      .RadMediaPlayer .rmpPlaylistHorizontal.rmpPlaylistNavButtons .rmpPlaylistNextButtonWrap {
        right: 0; }
      .RadMediaPlayer .rmpPlaylistHorizontal.rmpPlaylistNavButtons .rmpPlaylistPrevButton {
        left: 0; }
      .RadMediaPlayer .rmpPlaylistHorizontal.rmpPlaylistNavButtons .rmpPlaylistNextButton {
        right: 0; }
      .RadMediaPlayer .rmpPlaylistHorizontal.rmpPlaylistNavButtons .rmpPlaylistNextIcon,
      .RadMediaPlayer .rmpPlaylistHorizontal.rmpPlaylistNavButtons .rmpPlaylistPrevIcon {
        vertical-align: middle; }
  .RadMediaPlayer .rmpBanner {
    position: absolute;
    bottom: 60px;
    left: 10px; }
    .RadMediaPlayer .rmpBanner a {
      display: block; }
    .RadMediaPlayer .rmpBanner img {
      vertical-align: top; }
    .RadMediaPlayer .rmpBanner .rmpCloseBannerButton {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0; }
  .RadMediaPlayer .rmpSubtitles {
    position: absolute;
    bottom: 60px;
    left: 20px;
    right: 20px;
    text-align: center; }
  .RadMediaPlayer .rmpSubtitlesInner {
    background: #000;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    color: white;
    text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
    font-size: 1.5em;
    line-height: 1.5;
    padding: 2px 5px; }
  .RadMediaPlayer.rmpFullscreen .rmpSubtitlesInner {
    font-size: 4em; }
  .RadMediaPlayer .rmpActionButton {
    height: 22px;
    width: 22px;
    background: none;
    border: 0 none;
    padding: 0;
    cursor: pointer;
    margin-right: 17px;
    vertical-align: middle; }
  .RadMediaPlayer .rmpOpenPlaylistButton,
  .RadMediaPlayer .rmpClosePlaylistButton {
    width: 25px; }
  .RadMediaPlayer .rmpActionButton::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .RadMediaPlayer .rmpIcon {
    height: 22px;
    width: 22px;
    margin: 0 1px;
    display: inline-block;
    background-repeat: no-repeat; }
  .RadMediaPlayer .rmpButtonText {
    display: none; }
  .RadMediaPlayer .rmpBigPlayButton,
  .RadMediaPlayer .rmpBigPauseButton {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -39px 0 0 -39px;
    width: 78px;
    height: 78px;
    border-radius: 78px; }
  ._Telerik_IE9 .RadMediaPlayer .rmpBigPlayButton, ._Telerik_IE9 .RadMediaPlayer .rmpBigPauseButton {
    filter: none; }
  .RadMediaPlayer .rmpBigPlayIcon,
  .RadMediaPlayer .rmpBigPauseIcon {
    width: 34px;
    height: 34px; }
  .RadMediaPlayer .rmpMuteButton,
  .RadMediaPlayer .rmpVolumeButton {
    margin-right: 0; }
  .RadMediaPlayer .rmpHDButton .rmpIcon,
  .RadMediaPlayer .rmpHDButton {
    width: 27px; }
  .RadMediaPlayer .rmpOpenPlaylistButton .rmpIcon,
  .RadMediaPlayer .rmpClosePlaylistButton .rmpIcon {
    width: 23px; }
  .RadMediaPlayer .rmpAudioWrapper {
    background: transparent 50% 50% no-repeat url('Common/MediaPlayer/Audio.png');
    width: 100%;
    height: 100%;
    position: absolute; }
  .RadMediaPlayer .rmpToolbar,
  .RadMediaPlayer .rslTrack,
  .RadMediaPlayer .rmpVolContr,
  .RadMediaPlayer .rmpVolContrBar,
  .RadMediaPlayer .rslDraghandle,
  .RadMediaPlayer .rslDraghandle span,
  .RadMediaPlayer .rslSelectedregion,
  .RadMediaPlayer .rmpTitleBar {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }

.rmpFullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }
  .rmpFullscreen,
  .rmpFullscreen .rmpTitleBar,
  .rmpFullscreen .rmpToolbarWrapper,
  .rmpFullscreen .rmpSocialShareBar,
  .rmpFullscreen .rmpPlaylist,
  .rmpFullscreen .rmpBigPlayButton,
  .rmpFullscreen .rmpBigPauseButton,
  .rmpFullscreen .rmpOverlay,
  .rmpFullscreen .rmpBanner,
  .rmpFullscreen .rmpToolTip {
    z-index: 2147483647; }
  .rmpFullscreen .rmpTitleBar,
  .rmpFullscreen .rmpToolbarWrapper {
    left: 0; }

@media \0screen {
  .RadMediaPlayer .rmpToolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; } }
