.RadMenu, .RadMenu ul, .RadMenu li, .RadMenu div {
  *zoom: 1; }
  .RadMenu:after, .RadMenu ul:after, .RadMenu li:after, .RadMenu div:after {
    content: "";
    height: 0;
    clear: both;
    display: block; }

.RadMenu {
  white-space: nowrap;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  position: relative;
  z-index: 7000;
  text-align: left; }
  .RadMenu .rmGroup, .RadMenu .rmRootGroup, .RadMenu .rmMultiColumn, .RadMenu .rmVertical, .RadMenu .rmHorizontal, .RadMenu .rmRootScrollGroup {
    margin: 0;
    padding: 0;
    list-style: none; }
  .RadMenu .rmGroup, .RadMenu .rmRootGroup, .RadMenu .rmMultiColumn {
    border-width: 1px;
    border-style: solid;
    background-position: 0 0;
    position: relative;
    left: 0;
    top: 0; }
  .RadMenu .rmMultiColumn {
    box-sizing: content-box; }
    .RadMenu .rmMultiColumn .rmGroup {
      background: transparent; }
    .RadMenu .rmMultiColumn .rmVertical:before {
      display: none; }
  .RadMenu .rmScrollWrap {
    box-sizing: content-box; }
    .RadMenu .rmScrollWrap.rmGroup {
      padding: 0; }
      .RadMenu .rmScrollWrap.rmGroup .rmVertical {
        padding: 0.25em; }
  .RadMenu .rmGroup.rmHorizontal, .RadMenu .rmScrollWrap .rmHorizontal {
    background-image: none; }
  .RadMenu .rmRootGroup.rmVertical:before, .RadMenu .rmRootGroup > .rmVertical:before {
    display: none; }
  .RadMenu.rmRoundedCorners .rmVertical:before, .RadMenu.rmRoundedCorners .rmMultiColumn:before, .RadMenu .rmRoundedCorners .rmVertical:before, .RadMenu .rmRoundedCorners .rmMultiColumn:before {
    border-radius: 5px 0 0 5px; }
  .RadMenu .rmMultiColumn {
    white-space: nowrap; }
  .RadMenu .rmMultiColumn .rmGroup {
    border: 0; }
  .RadMenu .rmGroupColumn {
    display: inline-block;
    vertical-align: top; }
  .RadMenu .rmItem {
    color: inherit;
    display: block;
    position: relative; }
  .RadMenu .rmHorizontal > .rmItem, .RadMenu .rmHorizontal > .rmRootScrollGroup > .rmItem {
    float: left; }
  .RadMenu .rmLink {
    outline: 0;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
    box-sizing: content-box; }
  .RadMenu .rmText {
    vertical-align: middle;
    display: block; }
  .RadMenu .rmImage, .RadMenu .rmLeftImage {
    min-width: 16px;
    vertical-align: middle;
    float: left; }
  .RadMenu span.rmLeftImage {
    display: inline-block;
    width: 16px;
    height: 16px; }
  .RadMenu .rmToggle {
    width: 2em;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: auto;
    right: 0; }
  .RadMenu .rmRootGroup.rmVertical .rmRootLink .rmToggle {
    position: absolute;
    width: 2em;
    height: 100%;
    margin: 0; }
  .RadMenu .rmSeparator {
    display: none; }
  .RadMenu .rmVertical > .rmSeparator {
    margin-left: 0.16667em 0.41667em; }
  .RadMenu .rmVertical > .rmSeparator {
    display: block;
    height: 0;
    width: auto !important;
    margin: 0.16667em;
    border-style: solid;
    border-width: 1px 0;
    font: 0/0 inherit; }
  .RadMenu .rmVertical > .rmSeparator {
    margin-left: 2.5em; }
  .RadMenu .rmHorizontal > .rmSeparator {
    display: block;
    height: 2em;
    margin: 0em 0.16667em;
    border-style: solid;
    border-width: 0 1px; }
  .RadMenu .rmIcon {
    margin: -0.66667em 0em 0em -0.66667em;
    width: 1.33333em;
    height: 1.33333em;
    background-repeat: no-repeat;
    text-indent: -999em;
    display: none;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%; }
  .RadMenu .rmIcon:before, .RadMenu .rmExpand:before {
    display: block;
    font-size: 1.4em;
    font-family: "TelerikWebUI";
    text-indent: 0;
    text-align: center; }
  .RadMenu .rmArrow .rmIcon {
    line-height: 1.4em; }
  .RadMenu .rmRightArrow .rmIcon, .RadMenu .rmRightArrowDisabled .rmIcon {
    margin-left: -0.83333em; }
  .RadMenu .rmToggle .rmIcon {
    display: block; }
  .RadMenu .rmExpand:before {
    content: "";
    width: 1.1em;
    height: 1.1em;
    line-height: 1.1em;
    position: absolute;
    top: 50%;
    left: auto;
    right: 0.12em;
    margin: -0.555em 0 0;
    text-align: center; }
  .RadMenu .rmHorizontal .rmRootLink.rmExpand:before, .RadMenu .rmToggleHandles .rmExpand:before {
    display: none; }
  .RadMenu .rmTopArrow .rmIcon:before {
    content: "\e00d"; }
  .RadMenu .rmHorizontal .rmToggle .rmIcon:before, .RadMenu .rmHorizontal .rmExpand:before, .RadMenu .rmBottomArrow .rmIcon:before {
    content: "\e00e"; }
  .RadMenu .rmLeftArrow .rmIcon:before {
    content: "\e00f"; }
  .RadMenu .rmVertical .rmToggle .rmIcon:before, .RadMenu .rmVertical .rmExpand:before, .RadMenu .rmRightArrow .rmIcon:before {
    content: "\e00c"; }
  .RadMenu .rmSlide {
    display: none;
    overflow: hidden;
    position: absolute; }
  .RadMenu .rmRoundedCorners .rmGroup, .RadMenu.rmRoundedCorners .rmGroup, .RadMenu .rmRoundedCorners .rmMultiColumn, .RadMenu .rmRoundedCorners .rmContentTemplate {
    border-radius: 5px; }
  .RadMenu .rmRoundedCorners .rmGroupColumn > .rmGroup {
    border-radius: 0; }
  .RadMenu .rmGroupColumn > .rmGroup, .RadMenu .rmShadows .rmGroupColumn > .rmGroup {
    box-shadow: none; }
  .RadMenu .rmShadows, .RadMenu .rmShadows .rmMultiColumn {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); }
  .RadMenu .rmRoundedCorners .rmTopArrow {
    border-radius: 4px 4px 0 0; }
  .RadMenu .rmRoundedCorners .rmBottomArrow {
    border-radius: 0 0 4px 4px; }
  .RadMenu .rmRoundedCorners .rmLeftArrow {
    border-radius: 4px 0 0 4px; }
  .RadMenu .rmRoundedCorners .rmRightArrow {
    border-radius: 0 4px 4px 0; }
  .RadMenu .rmArrow {
    position: absolute;
    border-style: solid;
    border-width: 0; }
    .RadMenu .rmArrow .rmIcon {
      display: block; }
  .RadMenu .rmRightArrow, .RadMenu .rmLeftArrow {
    width: 0.83333em;
    height: 100%;
    top: 0; }
  .RadMenu .rmRightArrow {
    border-left-width: 1px;
    left: auto;
    right: 0; }
  .RadMenu .rmLeftArrow {
    border-right-width: 1px;
    left: 0; }
  .RadMenu .rmTopArrow, .RadMenu .rmBottomArrow {
    width: 100%;
    height: 0.83333em;
    left: 0; }
  .RadMenu .rmTopArrow {
    border-bottom-width: 1px;
    top: 0; }
  .RadMenu .rmBottomArrow {
    border-top-width: 1px;
    top: auto;
    bottom: 0; }
  .RadMenu .rmDisabled .rmLink {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }
  .RadMenu .rmDisabled.rmItem .rmLink:hover {
    color: inherit;
    border-color: transparent;
    background: transparent;
    box-shadow: none; }
  .RadMenu .rmDisabled.rmItem .rmToggle:hover {
    border-color: transparent; }
  .RadMenu .rmRightArrowDisabled, .RadMenu .rmLeftArrowDisabled, .RadMenu .rmTopArrowDisabled, .RadMenu .rmBottomArrowDisabled {
    display: none; }
  .RadMenu .rmRootGroup > .rmItem, .RadMenu .rmRootGroup > .rmRootScrollGroup > .rmItem {
    border-width: 0 1px 0 0;
    border-style: solid; }
  .RadMenu .rmRootGroup .rmContent {
    padding: 0.25em 0.9em 0.35em; }
  .RadMenu .rmRootGroup.rmVertical > .rmItem {
    border-left-width: 0;
    border-right-width: 0; }
    .RadMenu .rmRootGroup.rmVertical > .rmItem.rmSeparator {
      margin-left: 2px;
      border-width: 1px 0; }
  .RadMenu .rmRootGroup .rmRootLink {
    padding: 0.25em 0.95em 0.35em; }
    .RadMenu .rmRootGroup .rmRootLink .rmText {
      float: left; }
    .RadMenu .rmRootGroup .rmRootLink .rmToggle {
      width: 1.33em;
      height: 1.33em;
      position: relative;
      float: left;
      margin-right: -0.5em;
      margin-left: 0.33em; }
  .RadMenu .rmRootGroup.rmVertical .rmRootLink {
    padding-right: 2.5em; }
  .RadMenu .rmRootGroup .rmImage, .RadMenu .rmRootGroup .rmLeftImage {
    margin: 0 0.4em 0 -0.4em; }
  .RadMenu .rmPopup, .RadMenu .rmGroup {
    padding: 0.25em;
    position: relative;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); }
    .RadMenu .rmPopup .rmContent, .RadMenu .rmGroup .rmContent {
      padding: 0.25em 4.16667em 0.25em 2.66667em; }
    .RadMenu .rmPopup .rmLink, .RadMenu .rmGroup .rmLink {
      padding: 3px 30px;
      border: 1px solid transparent;
      background-position: 0 0;
      background-repeat: repeat-x; }
    .RadMenu .rmPopup .rmHorizontal .rmLink.rmExpand, .RadMenu .rmPopup.rmHorizontal .rmLink.rmExpand, .RadMenu .rmGroup .rmHorizontal .rmLink.rmExpand, .RadMenu .rmGroup.rmHorizontal .rmLink.rmExpand {
      padding-right: 2.5em; }
    .RadMenu .rmPopup .rmIcon, .RadMenu .rmGroup .rmIcon {
      line-height: 1.4em; }
    .RadMenu .rmPopup .rmImage, .RadMenu .rmPopup .rmLeftImage, .RadMenu .rmGroup .rmImage, .RadMenu .rmGroup .rmLeftImage {
      position: absolute;
      top: 50%;
      left: 4px;
      margin: -8px 0; }
    .RadMenu .rmPopup .rmToggle, .RadMenu .rmGroup .rmToggle {
      border-left: 1px solid transparent; }
  .RadMenu .rmSlide .rmHorizontal .rmLink {
    margin-left: 2px; }
  .RadMenu .rmSlide .rmHorizontal .rmFirst .rmLink {
    margin-left: 0; }
  .RadMenu .rmSlide .rmHorizontal .rmImage + .rmText, .RadMenu .rmSlide .rmHorizontal .rmLeftImage + .rmText {
    padding-left: 1.66667em; }
  .RadMenu .rmSlide .rmScrollWrap {
    padding: 0; }
    .RadMenu .rmSlide .rmScrollWrap .rmHorizontal, .RadMenu .rmSlide .rmScrollWrap .rmVertical {
      padding: 0.16667em; }

.RadMenu_Context {
  display: none;
  overflow: hidden;
  position: absolute; }

.RadMenu_rtl {
  text-align: right;
  direction: rtl; }
  .RadMenu_rtl .rmGroup, .RadMenu_rtl .rmRootGroup, .RadMenu_rtl .rmMultiColumn {
    background-position: top right; }
  .RadMenu_rtl .rmRoundedCorners .rmVertical:before, .RadMenu_rtl .rmRoundedCorners .rmMultiColumn:before {
    border-radius: 0 5px 5px 0; }
  .RadMenu_rtl .rmHorizontal .rmItem {
    float: right; }
  .RadMenu_rtl .rmVertical .rmItem {
    float: none; }
  .RadMenu_rtl .rmText {
    float: right; }
  .RadMenu_rtl .rmToggle {
    left: 0;
    right: auto; }
  .RadMenu_rtl .rmExpand:before {
    left: 0.3em;
    right: auto; }
  .RadMenu_rtl .rmScrollWrap .rmVertical {
    background-position: right 0; }
  .RadMenu_rtl .rmVertical .rmToggle .rmIcon:before, .RadMenu_rtl .rmVertical .rmExpand:before {
    content: "\e00f"; }
  .RadMenu_rtl .rmScrollWrap .rmVertical > li.rmSeparator, .RadMenu_rtl .rmGroup.rmVertical > li.rmSeparator {
    margin-left: 0.16667em;
    margin-right: 2.5em; }
  .RadMenu_rtl .rmRootGroup .rmItem {
    border-left-width: 1px;
    border-right-width: 0;
    border-style: solid; }
  .RadMenu_rtl .rmRootGroup.rmVertical .rmItem {
    border-left-width: 0;
    border-right-width: 0; }
  .RadMenu_rtl .rmRootGroup .rmRootLink .rmToggle {
    margin-left: -0.5em;
    margin-right: 0.33em; }
  .RadMenu_rtl .rmRootGroup .rmRootLink .rmLeftImage {
    margin-top: -1px;
    margin-bottom: -2px; }
  .RadMenu_rtl .rmRootGroup .rmRootLink .rmImage, .RadMenu_rtl .rmRootGroup .rmRootLink .rmLeftImage, .RadMenu_rtl .rmRootGroup .rmRootLink .rmText, .RadMenu_rtl .rmRootGroup .rmRootLink .rmToggle {
    float: right; }
  .RadMenu_rtl .rmRootGroup.rmVertical .rmRootLink {
    padding-right: 0.95em;
    padding-left: 2.5em; }
  .RadMenu_rtl .rmRootGroup .rmImage, .RadMenu_rtl .rmRootGroup .rmLeftImage, .RadMenu_rtl .rmRootGroup .rmHorizontal .rmLeftImage {
    margin-left: 0.4em;
    margin-right: -0.4em; }
  .RadMenu_rtl .rmPopup .rmItem, .RadMenu_rtl .rmGroup .rmItem {
    border: 0; }
  .RadMenu_rtl .rmPopup .rmLink, .RadMenu_rtl .rmGroup .rmLink {
    padding-left: 4.16667em;
    padding-right: 2.66667em; }
  .RadMenu_rtl .rmPopup.rmHorizontal .rmLink.rmExpand, .RadMenu_rtl .rmPopup .rmHorizontal .rmLink.rmExpand, .RadMenu_rtl .rmGroup.rmHorizontal .rmLink.rmExpand, .RadMenu_rtl .rmGroup .rmHorizontal .rmLink.rmExpand {
    padding-right: 1em;
    padding-left: 2.5em; }
  .RadMenu_rtl .rmPopup .rmHorizontal .rmLink, .RadMenu_rtl .rmGroup .rmHorizontal .rmLink {
    margin-right: 0.16667em;
    margin-left: 0; }
  .RadMenu_rtl .rmPopup .rmHorizontal .rmFirst .rmLink, .RadMenu_rtl .rmGroup .rmHorizontal .rmFirst .rmLink {
    margin-right: 0; }
  .RadMenu_rtl .rmPopup .rmImage, .RadMenu_rtl .rmPopup .rmLeftImage, .RadMenu_rtl .rmGroup .rmImage, .RadMenu_rtl .rmGroup .rmLeftImage {
    margin-right: 0;
    left: auto;
    right: 0.41667em; }
  .RadMenu_rtl .rmPopup .rmToggle, .RadMenu_rtl .rmGroup .rmToggle {
    border-right: 1px solid transparent;
    border-left: 0; }
  .RadMenu_rtl .rmSlide .rmHorizontal .rmLink {
    margin-right: 0.16667em;
    margin-left: 0; }
  .RadMenu_rtl .rmSlide .rmHorizontal .rmFirst .rmLink {
    margin-right: 0; }
  .RadMenu_rtl .rmSlide .rmHorizontal .rmImage, .RadMenu_rtl .rmSlide .rmHorizontal .rmLeftImage {
    right: 0.83333em; }
    .RadMenu_rtl .rmSlide .rmHorizontal .rmImage + .rmText, .RadMenu_rtl .rmSlide .rmHorizontal .rmLeftImage + .rmText {
      padding-left: 0;
      padding-right: 1.66667em; }
