.RadPanelBar {
  width: 20.83333em;
  line-height: 1.83333em;
  text-align: left;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }
  .RadPanelBar .rpRootGroup, .RadPanelBar .rpGroup {
    margin: 0;
    padding: 0;
    list-style: none; }
  .RadPanelBar .rpRootGroup {
    border-width: 1px;
    border-style: solid; }
  .RadPanelBar .rpItem {
    display: block; }
  .RadPanelBar .rpItem:after {
    content: "";
    display: block;
    clear: both; }
  .RadPanelBar .rpLink {
    padding: 0 1em;
    color: inherit;
    text-decoration: none;
    outline: 0;
    display: block;
    cursor: pointer; }
    .RadPanelBar .rpLink.rpDisabled {
      cursor: default; }
  .RadPanelBar .rpRootLink {
    line-height: 2.16667em; }
    .RadPanelBar .rpRootLink .rpExpandHandle {
      margin: 0.38462em -0.12821em 0em; }
  .RadPanelBar .rpRootLink, .RadPanelBar .rpHeaderTemplate {
    margin-bottom: -1px;
    border-width: 1px 0;
    border-style: solid; }
  .RadPanelBar .rpFirst .rpRootLink {
    border-top-width: 0; }
  .RadPanelBar .rpLast .rpRootLink, .RadPanelBar .rpLast .rpHeaderTemplate {
    border-bottom-width: 0;
    margin-bottom: 0; }
    .RadPanelBar .rpLast .rpRootLink.rpExpanded, .RadPanelBar .rpLast .rpHeaderTemplate.rpExpanded {
      border-bottom-width: 1px; }
  .RadPanelBar .rpHeaderTemplate {
    padding: 1px; }
  .RadPanelBar .rpContentTemplate:after {
    content: "";
    display: block;
    float: none; }
  .RadPanelBar .rpImage {
    margin: -2px 4px 0 0;
    vertical-align: middle; }
  .RadPanelBar .rpText {
    vertical-align: middle; }
  .RadPanelBar .rpExpandHandle {
    display: none; }
  .RadPanelBar .rpExpandable .rpExpandHandle {
    display: block;
    width: 0.83333em;
    height: 0.83333em;
    line-height: 0.70513em;
    float: right;
    font-size: 1.3em;
    border: 1px solid transparent;
    text-align: center;
    text-indent: -0.25641em; }
    .RadPanelBar .rpExpandable .rpExpandHandle:before {
      content: "\E012";
      font-family: "TelerikWebUI"; }
  .RadPanelBar .rpExpanded .rpExpandHandle:before {
    content: "\E011"; }
  .RadPanelBar .rpSlide {
    display: none;
    width: 100%; }
  .RadPanelBar .rpGroup {
    overflow: hidden;
    overflow-y: auto; }
    .RadPanelBar .rpGroup .rpItem {
      padding: 0.08333em 0.16667em 0em; }
      .RadPanelBar .rpGroup .rpItem.rpFirst {
        padding-top: 0.16667em; }
      .RadPanelBar .rpGroup .rpItem.rpLast {
        padding-bottom: 0.16667em; }
    .RadPanelBar .rpGroup .rpLink {
      border-width: 1px;
      border-style: solid; }
      .RadPanelBar .rpGroup .rpLink.rpDisabled {
        opacity: 0.6; }
    .RadPanelBar .rpGroup .rpExpandHandle {
      border-color: transparent;
      margin: 0.25641em -0.25641em; }
    .RadPanelBar .rpGroup .rpHeaderTemplate {
      border-width: 0;
      background-color: transparent; }
  .RadPanelBar .rpLevel2 .rpLink {
    padding-left: 2.08333em; }
  .RadPanelBar .rpLevel3 .rpLink {
    padding-left: 3.33333em; }

.RadPanelBar_rtl {
  text-align: right; }
.RadPanelBar_rtl .rpImage {
  margin: -2px 0 0 4px;
  vertical-align: middle; }
.RadPanelBar_rtl .rpExpandable .rpExpandHandle {
  float: left;
  direction: ltr; }
