.RadSearchBox {
  width: 13.33333em;
  min-width: 11.66667em;
  text-align: left;
  line-height: 1.16667em;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle; }
  .RadSearchBox input, .RadSearchBox input:focus {
    box-shadow: none;
    outline: none; }
  .RadSearchBox .rsbInner {
    padding: 1px;
    box-sizing: content-box;
    border-width: 1px;
    border-style: solid;
    display: block;
    position: relative; }
  .RadSearchBox.RadSearchBoxWithLabel .rsbInner {
    display: inline-block;
    vertical-align: middle; }
  .RadSearchBox .rsbInput {
    margin: 1px 0.25em;
    padding: 0;
    width: 100%;
    border: 0;
    color: inherit;
    background: none;
    font: inherit;
    display: inline-block;
    vertical-align: middle; }
  .RadSearchBox .rsbEmptyMessage {
    font-style: italic;
    filter: alpha(opacity=80);
    opacity: 0.8; }
  .RadSearchBox .rsbButtons {
    display: inline-block;
    vertical-align: top; }
  .RadSearchBox .rsbButton {
    margin: 0;
    padding: 0;
    font-size: inherit;
    width: 1.3333em;
    height: 1.3333em;
    border: 1px solid transparent;
    color: inherit;
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: 0 0;
    vertical-align: middle;
    position: relative;
    overflow: hidden; }
    @media \0screen {
      .RadSearchBox .rsbButton {
        overflow: visible; } }
    .RadSearchBox .rsbButton::-moz-focus-inner {
      padding: 0;
      border: 0; }
    .RadSearchBox .rsbButton .rsbIcon {
      margin: -0.5em 0 0 -0.5em;
      width: 1em;
      height: 1em;
      font-size: 1.3333em;
      line-height: 1.1;
      position: absolute;
      top: 50%;
      left: 50%; }
    .RadSearchBox .rsbButton .rsbIconSearch:before {
      content: "\e07f";
      width: 1em;
      height: 1em;
      font-family: "TelerikWebUI";
      display: block; }
  .RadSearchBox .rsbLoadingIcon {
    width: 1.3333em;
    height: 1.3333em;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle; }
  .RadSearchBox .rsbButtonSearch {
    width: 1.83333em;
    height: 1.83333em;
    margin: -2px -2px -2px 0;
    font-size: inherit; }
  .RadSearchBox .rsbLabel {
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle; }
  .RadSearchBox .rsbSearchContext {
    display: inline-block;
    margin: -2px 0 -2px -2px;
    cursor: default;
    vertical-align: middle; }
  .RadSearchBox .rsbSCInner {
    line-height: 1.34;
    padding: 2px 20px 2px 4px;
    border-width: 1px;
    border-style: solid;
    background-position: 0 0;
    background-repeat: repeat-x;
    display: block;
    position: relative;
    box-sizing: border-box; }
    .RadSearchBox .rsbSCInner:after {
      content: "";
      display: block;
      clear: both; }
  .RadSearchBox .rsbSCFakeInput {
    width: 100%;
    float: left;
    overflow: hidden; }
  .RadSearchBox .rsbListItemImg, .RadSearchBox .rsbListItemText {
    vertical-align: middle;
    display: inline-block; }
  .RadSearchBox .rsbSCIcon {
    margin: -0.6em 0 0;
    width: 1.2em;
    height: 1.2em;
    font-size: 1.1em;
    line-height: 1.3em;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 0; }
  .RadSearchBox .rsbSCIcon:before {
    content: "\e002";
    width: 1em;
    height: 1em;
    font-family: "TelerikWebUI";
    display: block; }
  .RadSearchBox .rsbListItemImg {
    margin-right: 3px;
    width: 16px;
    height: 16px;
    vertical-align: middle; }
  .RadSearchBox .rsbListItemText {
    vertical-align: middle; }
  .RadSearchBox img {
    vertical-align: baseline; }

.RadSearchBox_rtl {
  text-align: right;
  direction: rtl; }

.rsbSlide, .rsbDropDownSlide {
  float: left;
  display: none;
  position: absolute;
  overflow: hidden;
  z-index: 7000; }

.rsbPopup {
  *zoom: 1;
  padding: 2px;
  min-width: 160px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  position: relative;
  cursor: default; }
  .rsbPopup:after {
    content: "";
    height: 0;
    clear: both;
    display: block; }
  .rsbPopup .rsbScroll {
    *zoom: 1;
    position: relative;
    overflow: auto; }
    .rsbPopup .rsbScroll:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rsbPopup .rsbHeader, .rsbPopup .rsbFooter {
    *zoom: 1;
    border-style: solid; }
    .rsbPopup .rsbHeader:after, .rsbPopup .rsbFooter:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rsbPopup .rsbHeader {
    margin-bottom: 1px;
    border-width: 0 0 1px; }
  .rsbPopup .rsbFooter {
    margin-top: 1px;
    border-width: 1px 0 0; }
  .rsbPopup .rsbShowAll {
    margin: 2px -2px -2px -2px;
    padding: 2px 8px;
    border-width: 1px 0 0;
    border-style: solid;
    text-align: center; }
  .rsbPopup .rsbList {
    margin: 0;
    padding: 0;
    list-style: none;
    *zoom: 1;
    height: 100%;
    position: relative;
    overflow: auto; }
    .rsbPopup .rsbList:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rsbPopup .rsbListItem {
    *zoom: 1;
    margin: 0;
    padding: 0.25em 0.5em;
    min-height: 1em; }
    .rsbPopup .rsbListItem:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rsbPopup .rsbListItemImg {
    margin-right: 3px;
    width: 16px;
    height: 16px;
    vertical-align: middle; }
  .rsbPopup .rsbListItemText {
    vertical-align: middle; }

.rsbPopup_rtl {
  text-align: right;
  direction: rtl; }
