.RadSearchBox {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 160px;
  text-align: left;
  line-height: 18px;
  white-space: nowrap;
  vertical-align: middle; }
  .RadSearchBox input, .RadSearchBox input:focus {
    box-shadow: none;
    outline: none; }
  .RadSearchBox .rsbInner {
    padding: 1px;
    box-sizing: content-box;
    border-width: 1px;
    border-style: solid;
    display: block;
    position: relative; }
  .RadSearchBox.RadSearchBoxWithLabel .rsbInner {
    *display: inline;
    display: inline-block;
    vertical-align: middle;
    *zoom: 1; }
  .RadSearchBox .rsbInput {
    margin: 1px 3px;
    padding: 0;
    width: 100%;
    height: 16px;
    border: 0;
    color: inherit;
    background-color: transparent;
    font-size: 1em;
    line-height: inherit;
    display: inline-block;
    vertical-align: top; }
  .RadSearchBox .rsbEmptyMessage {
    font-style: italic; }
  .RadSearchBox .rsbButtons {
    display: inline-block;
    vertical-align: top; }
  .RadSearchBox .rsbButton {
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    border: 1px solid transparent;
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: 0 0;
    vertical-align: middle;
    position: relative;
    overflow: hidden; }
    @media \0screen {
      .RadSearchBox .rsbButton {
        overflow: visible; } }
    .RadSearchBox .rsbButton::-moz-focus-inner {
      padding: 0;
      border: 0; }
    .RadSearchBox .rsbButton .rsbIcon {
      margin: -8px 0 0 -8px;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 50%; }
  .RadSearchBox .rsbLoadingIcon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle; }
  .RadSearchBox .rsbButtonSearch {
    margin: -2px -2px -2px 0;
    width: 22px;
    height: 22px; }
  .RadSearchBox .rsbLabel {
    padding-right: 10px;
    line-height: 22px;
    display: inline-block;
    vertical-align: middle;
    *zoom: 1; }
  .RadSearchBox .rsbSearchContext {
    display: inline-block;
    margin: -2px 0 -2px -2px;
    cursor: default;
    vertical-align: middle; }
  .RadSearchBox .rsbSCInner {
    padding: 1px 20px 1px 4px;
    border-width: 1px;
    border-style: solid;
    background-position: 0 0;
    background-repeat: repeat-x;
    display: block;
    position: relative;
    box-sizing: content-box;
    vertical-align: middle; }
  .RadSearchBox .rsbSCFakeInput {
    display: inline-block;
    *display: inline;
    width: 100%;
    *width: auto;
    overflow: hidden;
    vertical-align: middle;
    zoom: 1; }
  .RadSearchBox .rsbListItemImg, .RadSearchBox .rsbListItemText {
    vertical-align: middle;
    display: inline-block; }
  .RadSearchBox .rsbSCIcon {
    margin: -8px 0 0 0;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: auto;
    right: 0; }
  .RadSearchBox .rsbListItemImg {
    margin-right: 3px;
    width: 16px;
    height: 16px;
    vertical-align: middle; }
  .RadSearchBox .rsbListItemText {
    vertical-align: middle; }
  .RadSearchBox .rsbButton {
    background-position: 0 1000px\9; }
  .RadSearchBox .rsbButton:hover, .RadSearchBox .rsbSCHovered {
    background-position: 0 -1000px\9; }
  .RadSearchBox .rsbButton:focus, .RadSearchBox .rsbSCFocused {
    background-position: 0 -2000px\9; }
  .RadSearchBox img {
    vertical-align: baseline; }

.RadSearchBox_rtl {
  text-align: right;
  direction: rtl; }

.rsbSlide, .rsbDropDownSlide {
  float: left;
  display: none;
  position: absolute;
  overflow: hidden;
  z-index: 7000; }

.rsbPopup {
  padding: 2px;
  width: 160px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  position: relative;
  cursor: default; }
  .rsbPopup .rsbScroll {
    *zoom: 1;
    position: relative;
    overflow: auto; }
    .rsbPopup .rsbScroll:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rsbPopup .rsbHeader, .rsbPopup .rsbFooter {
    *zoom: 1;
    border-style: solid; }
    .rsbPopup .rsbHeader:after, .rsbPopup .rsbFooter:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rsbPopup .rsbHeader {
    margin-bottom: 1px;
    border-width: 0 0 1px; }
  .rsbPopup .rsbFooter {
    margin-top: 1px;
    border-width: 1px 0 0; }
  .rsbPopup .rsbShowAll {
    margin: 2px -2px -2px -2px;
    padding: 2px 8px;
    border-width: 1px 0 0;
    border-style: solid;
    text-align: center; }
  .rsbPopup .rsbList {
    margin: 0;
    padding: 0;
    list-style: none;
    *zoom: 1;
    height: 100%;
    position: relative;
    overflow: auto; }
    .rsbPopup .rsbList:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rsbPopup .rsbListItem {
    *zoom: 1;
    margin: 0;
    padding: 2px 6px;
    height: auto;
    min-height: 13px; }
    .rsbPopup .rsbListItem:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .rsbPopup .rsbListItemImg {
    margin-right: 3px;
    width: 16px;
    height: 16px;
    vertical-align: middle; }
  .rsbPopup .rsbListItemText {
    vertical-align: middle; }

.rsbPopup_rtl {
  text-align: right;
  direction: rtl; }
