.RadToolBar {
  margin: 0;
  padding: 0;
  text-align: left;
  white-space: nowrap;
  cursor: default;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1; }
  .RadToolBar .rtbWrap, .RadToolBar .rtbOut, .RadToolBar .rtbMid, .RadToolBar .rtbIn, .RadToolBar .rtbIcon, .RadToolBar .rtbText, .RadToolBar .rtbSplBtnActivator, .RadToolBar .rtbChoiceArrow {
    vertical-align: middle;
    display: inline-block; }
  .RadToolBar .rtbOuter {
    padding: 2px;
    border-width: 1px;
    border-style: solid; }
  .RadToolBar .rtbUL {
    margin: 0;
    padding: 0;
    list-style: none; }
  .RadToolBar .rtbWrap {
    color: inherit;
    text-decoration: none;
    outline: 0;
    cursor: pointer; }
  .RadToolBar .rtbWrap:hover, .RadToolBar .rtbWrap:focus {
    outline: 0; }
  .RadToolBar .rtbMid {
    padding: 0 3px 3px 0; }
  .RadToolBar .rtbIn {
    padding: 3px 0 0 3px;
    overflow: hidden; }
  .RadToolBar .rtbText {
    padding: 0 3px;
    vertical-align: middle; }
  .RadToolBar .rtbText u {
    vertical-align: baseline; }
  .RadToolBar .rtbIcon {
    border: 0;
    padding: 2px; }
  .RadToolBar span.rtbIcon {
    padding: 0;
    width: 16px;
    height: 16px; }
  .RadToolBar .rtbChoiceArrow {
    margin: 0 0 0 4px;
    padding: 0 0 0 2px;
    width: 18px;
    height: 20px;
    background-color: transparent;
    background-position: 100% 50%;
    background-repeat: no-repeat; }
  .RadToolBar .rtbWrap, .RadToolBar .rtbOut, .RadToolBar .rtbMid, .RadToolBar .rtbIn {
    background-repeat: no-repeat; }
  .RadToolBar .rtbWrap {
    background-position: 0 100%; }
  .RadToolBar .rtbOut {
    background-position: 100% 0; }
  .RadToolBar .rtbMid {
    background-position: 100% 100%; }
  .RadToolBar .rtbIn {
    background-position: 0 0; }
  .RadToolBar .rtbDropDown .rtbChoiceArrow {
    width: 16px; }
  .RadToolBar .rtbDisabled {
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .RadToolBar .rtbDisabled .rtbWrap {
      border-color: transparent;
      background-color: transparent;
      background-image: none;
      cursor: default; }
  .RadToolBar .rtbSeparator {
    *line-height: 0;
    *font-size: 0;
    *overflow: hidden; }
  .RadToolBar .rtbSeparator .rtbText {
    display: none; }

/* <items> */
.RadToolBar .rtbVOriented {
  text-align: center; }

.RadToolBar .rtbDropDown .rtbVOriented {
  position: relative;
  padding-right: 20px; }

.RadToolBar .rtbSplBtn .rtbVOriented {
  position: relative;
  padding-right: 25px; }

.RadToolBar .rtbVOriented .rtbIcon {
  display: block;
  margin: 0 auto;
  *margin: 0; }

.RadToolBar .rtbVOriented .rtbChoiceArrow {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 0; }

/* Image sprite placeholder size */
.RadToolBarDropDown span.rtbIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0; }

/* <background positions> */
/* </background positions> */
/* </items> */
.RadToolBar_Horizontal .rtbUL, .RadToolBar_Horizontal .rtbItem, .RadToolBar_Horizontal .rtbTemplate, .RadToolBar_Horizontal .rtbSeparator {
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1; }
.RadToolBar_Horizontal .rtbOuter {
  background-position: 0 0;
  background-repeat: repeat-x; }
.RadToolBar_Horizontal .rtbItem {
  margin: 0 0 0 2px; }
.RadToolBar_Horizontal .rtbItem:first-child {
  margin-left: 0; }
.RadToolBar_Horizontal .rtbSeparator {
  margin: 0 0 0 2px;
  width: 1px;
  height: 24px;
  border-left-width: 1px;
  border-left-style: solid; }

.RadToolBar_Vertical .rtbUL, .RadToolBar_Vertical .rtbItem, .RadToolBar_Vertical .rtbTemplate, .RadToolBar_Vertical .rtbSeparator, .RadToolBar_Vertical .rtbWrap, .RadToolBar_Vertical .rtbOut, .RadToolBar_Vertical .rtbMid, .RadToolBar_Vertical .rtbIn {
  display: block; }
.RadToolBar_Vertical .rtbOuter {
  background-position: 0 0;
  background-repeat: repeat-y; }
.RadToolBar_Vertical .rtbItem {
  margin: 2px 0 0 0; }
.RadToolBar_Vertical .rtbItem:first-child {
  margin-top: 0; }
.RadToolBar_Vertical .rtbSeparator {
  margin: 2px 0 0 0;
  *width: 20px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid; }

.rtbSlide {
  padding: 0 8px 10px 0;
  box-sizing: content-box;
  text-align: left;
  display: none;
  position: absolute;
  overflow: hidden; }

.RadToolBarDropDown {
  margin: 0;
  padding: 3px;
  box-sizing: content-box;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  cursor: default;
  background-repeat: repeat-y;
  background-position: -1px 0;
  position: relative; }
  .RadToolBarDropDown.rtbNoBackground {
    padding: 0;
    border-width: 0;
    background-color: transparent;
    background-image: none; }
  .RadToolBarDropDown .rtbGroup {
    padding: 0;
    margin: 0;
    background-position: 0 0;
    background-repeat: repeat-y;
    list-style: none;
    display: block; }
  .RadToolBarDropDown .rtbShadows .rtbGroup, .RadToolBarDropDown .rtbRoundedCorners .rtbGroup {
    padding: 0;
    height: 100%;
    position: relative;
    background-position: -4px 0; }
  .RadToolBarDropDown .rtbItem {
    display: block;
    position: relative; }
  .RadToolBarDropDown .rtbShadows .rtbItem, .RadToolBarDropDown .rtbRoundedCorners .rtbItem {
    z-index: 1; }
  .RadToolBarDropDown .rtbWrap {
    padding: 2px 30px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    color: inherit;
    outline: 0;
    background-repeat: repeat-x;
    background-position: 0 0;
    text-decoration: none;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
  .RadToolBarDropDown .rtbIcon {
    border: 0;
    display: block;
    position: absolute;
    left: 1px;
    top: 0; }
  .RadToolBarDropDown .rtbAccessKey {
    font-size: 10px;
    font-weight: normal;
    float: right;
    padding-right: 8px; }
  .RadToolBarDropDown .rtbDisabled {
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .RadToolBarDropDown .rtbDisabled .rtbWrap {
      cursor: default; }
  .RadToolBarDropDown .rtbItemHovered .rtbWrap {
    background-position: 0 -1000px\9; }
  .RadToolBarDropDown .rtbItemClicked .rtbWrap {
    background-position: 0 -2000px\9; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .RadToolBarDropDown .rtbItemHovered .rtbWrap, .RadToolBarDropDown .rtbItemClicked .rtbWrap {
      background-position: 0 0; }
 }
  .RadToolBarDropDown .rtbSeparator {
    margin: 1px 1px 1px 30px;
    padding: 0;
    height: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    *line-height: 0;
    *font-size: 0;
    display: block;
    overflow: hidden;
    position: relative; }
  .RadToolBarDropDown .rtbTemplate {
    line-height: 22px;
    background-image: none; }
  .RadToolBarDropDown .rtbRoundedCorners {
    padding: 4px 0 0 4px;
    height: 100%;
    border: 0;
    background-position: 0 0; }
  .RadToolBarDropDown .rtbTopFix, .RadToolBarDropDown .rtbTopRight, .RadToolBarDropDown .rtbBottomFix, .RadToolBarDropDown .rtbBottomLeft, .RadToolBarDropDown .rtbBottomRight {
    width: 4px;
    height: 4px;
    border: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    font-size: 0;
    position: absolute;
    overflow: hidden; }
  .RadToolBarDropDown .rtbTopRight {
    height: 100%;
    background-position: 100% 0;
    top: 0;
    right: -4px; }
  .RadToolBarDropDown .rtbBottomLeft {
    width: 100%;
    background-position: 0 100%;
    bottom: -4px;
    left: 0; }
  .RadToolBarDropDown .rtbBottomRight {
    width: 8px;
    background-position: 100% 100%;
    bottom: -4px;
    right: -4px; }
  .RadToolBarDropDown .rtbBottomFix {
    width: auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-position: -5px 0;
    bottom: -4px;
    left: 5px;
    right: 0; }
  .RadToolBarDropDown .rtbTopFix {
    width: auto;
    border-top-width: 1px;
    border-top-style: solid;
    background-position: -5px 0;
    top: 0;
    left: 5px;
    right: 0; }
  .RadToolBarDropDown .rtbShadows .rtbBottomShadowLeft, .RadToolBarDropDown .rtbShadows .rtbBottomShadowRight {
    background-image: url('Common/Menu/ShadowBottom.png'); }
  .RadToolBarDropDown .rtbShadows .rtbTopShadowRight {
    background-image: url('Common/Menu/ShadowRight.png'); }
  .RadToolBarDropDown .rtbShadows .rtbTopShadowRight {
    right: -5px; }
  .RadToolBarDropDown .rtbShadows .rtbBottomShadowLeft {
    bottom: -5px;
    left: 1px; }
  .RadToolBarDropDown .rtbShadows .rtbBottomShadowRight {
    width: 4px;
    height: 5px;
    bottom: -5px;
    right: -5px; }
  .RadToolBarDropDown .rtbRoundedCorners .rtbBottomShadowLeft, .RadToolBarDropDown .rtbRoundedCorners .rtbBottomShadowRight {
    background-image: url('Common/Menu/RoundedShadowBottom.png'); }
  .RadToolBarDropDown .rtbRoundedCorners .rtbTopShadowRight {
    width: 5px;
    background-image: url('Common/Menu/RoundedShadowRight.png');
    right: -8px; }
  .RadToolBarDropDown .rtbRoundedCorners .rtbBottomShadowLeft {
    height: 5px;
    bottom: -8px; }
  .RadToolBarDropDown .rtbRoundedCorners .rtbBottomShadowRight {
    bottom: -8px;
    right: -8px;
    width: 7px;
    height: 8px; }
  .RadToolBarDropDown .rtbTopFix, .RadToolBarDropDown .rtbBottomFix, .RadToolBarDropDown .rtbGroup {
    background-repeat: repeat-y; }
  .RadToolBarDropDown .rtbTopRight, .RadToolBarDropDown .rtbBottomLeft, .RadToolBarDropDown .rtbBottomRight, .RadToolBarDropDown .rtbRoundedCorners {
    background-color: transparent;
    background-repeat: no-repeat; }

.RadToolBar_rtl {
  text-align: right;
  float: right; }
  .RadToolBar_rtl .rtbChoiceArrow {
    margin-left: 0;
    margin-right: 4px;
    padding-left: 0;
    padding-right: 2px;
    background-position: 0 50%; }
  .RadToolBar_rtl .rtbVOriented .rtbChoiceArrow {
    right: auto;
    left: 0; }
  .RadToolBar_rtl .rtbDropDown .rtbVOriented {
    padding-right: 0;
    padding-left: 20px; }
  .RadToolBar_rtl .rtbSplBtn .rtbVOriented {
    padding-right: 0;
    padding-left: 25px; }

.RadToolBarDropDown_rtl {
  text-align: right;
  background-position: 101% 0; }
  .RadToolBarDropDown_rtl .rtbSlide {
    text-align: right; }
  .RadToolBarDropDown_rtl .rtbGroup {
    background-position: 101% 0; }
  .RadToolBarDropDown_rtl .rtbWrap {
    padding-left: 30px;
    padding-right: 32px; }
  .RadToolBarDropDown_rtl .rtbIcon {
    left: auto;
    right: 5px; }
  .RadToolBarDropDown_rtl .rtbText {
    padding: 0 3px 0 30px; }
  .RadToolBarDropDown_rtl .rtbSeparator {
    margin: 1px 30px 1px 1px; }
  .RadToolBarDropDown_rtl .rtbTopFix, .RadToolBarDropDown_rtl .rtbBottomFix {
    background-position: 100% 0; }
