.RadToolBar span.rtbImage, .rtbSlide span.rtbImage {
  display: inline-block;
  width: 16px;
  height: 16px; }

.RadToolBar {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  line-height: 1.42857;
  cursor: default;
  overflow: hidden; }
  .RadToolBar * {
    vertical-align: top; }
  .RadToolBar .rtbUL {
    margin: 0;
    padding: 2px;
    list-style: none;
    display: inline-block; }
  .RadToolBar .rtbLI {
    display: inline-block;
    position: relative;
    white-space: nowrap; }
  .RadToolBar .rtbItem + .rtbItem {
    margin-left: 2px; }
  .RadToolBar .rtbSeparator {
    border-width: 1px;
    border-style: solid; }
  .RadToolBar .rtbButton {
    color: inherit;
    display: block;
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    outline: 0; }
  .RadToolBar .rtbText + .rtbImage {
    margin-left: 3px; }
  .RadToolBar .rtbText {
    display: inline-block; }
  .RadToolBar .rtbImage + .rtbText {
    margin-left: 5px; }
  .RadToolBar .rtbArrow {
    display: inline-block;
    padding: 2px 8px;
    margin: -3px -6px -6px 0; }
  .RadToolBar .rtbMenuButton .rtbArrow .radIcon {
    margin-left: -0.4em;
    margin-right: -0.4em; }
  .RadToolBar .rtbSplitButton .rtbArrow {
    margin-left: 8px;
    border-left-width: 1px;
    border-left-style: solid; }
    .RadToolBar .rtbSplitButton .rtbArrow .radIcon {
      margin-left: -0.25em;
      margin-right: -0.25em; }
  .RadToolBar .radIcon {
    display: inline-block; }
    .RadToolBar .radIcon:before {
      content: "";
      display: inline-block;
      font-family: "TelerikWebUI"; }
    .RadToolBar .radIcon.radIconDown:before {
      content: "\e002"; }
  .RadToolBar .rtbVOriented .rtbSplBtnActivator {
    display: inline-block; }
  .RadToolBar .rtbVOriented .rtbImage {
    display: block;
    margin: 0 auto 2px; }
  .RadToolBar .rtbVOriented .rtbArrow {
    margin-top: 6px; }
  .RadToolBar .rtbDisabled, .RadToolBar.rtbDisabled {
    filter: alpha(opacity=70);
    opacity: 0.7; }

.RadToolBar_Horizontal .rtbSeparator {
  margin: 0 5px;
  padding: 6px 0;
  height: 1.4286em;
  box-sizing: content-box;
  display: inline-block; }

.RadToolBar_Vertical {
  display: inline-block; }
  .RadToolBar_Vertical .rtbUL, .RadToolBar_Vertical .rtbLI {
    display: block; }
  .RadToolBar_Vertical .rtbSeparator {
    display: block;
    margin: 3px 0; }

.rtbSlide {
  margin-top: -1px;
  line-height: 1.4286;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  cursor: default;
  white-space: nowrap; }
  .rtbSlide * {
    vertical-align: top; }
  .rtbSlide .rtbDisabled {
    opacity: 0.7;
    filter: alpha(opacity=70); }
  .rtbSlide .rtbPopup {
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    overflow: hidden;
    position: relative; }
  .rtbSlide .rtbMenu {
    margin: 0;
    padding: 2px;
    list-style: none;
    position: relative; }
    .rtbSlide .rtbMenu > .rtbItem {
      display: block;
      position: relative; }
  .rtbSlide .rtbSeparator {
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 3px; }
  .rtbSlide .rtbLink {
    display: block;
    color: inherit;
    font: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    padding: 3px 20px 3px 30px;
    text-decoration: none; }
  .rtbSlide .rtbImage {
    margin-right: 10px;
    margin-left: -26px; }

.RadToolBar_rtl .rtbItem + .rtbItem {
  margin-left: 0;
  margin-right: 2px; }
.RadToolBar_rtl .rtbImage + .rtbText {
  margin-left: 0;
  margin-right: 5px; }
.RadToolBar_rtl .rtbText + .rtbImage {
  margin-left: 0;
  margin-right: 3px; }
.RadToolBar_rtl .rtbArrow {
  margin: -3px 0 -6px -6px; }
.RadToolBar_rtl .rtbSplitButton .rtbArrow {
  margin-right: 8px;
  margin-left: -6px;
  border-left: 0;
  border-right-width: 1px;
  border-right-style: solid; }

.RadToolBarDropDown_rtl .rtbLink {
  padding: 3px 30px 3px 20px; }
.RadToolBarDropDown_rtl .rtbImage {
  margin-left: 10px;
  margin-right: -26px; }
