.rtlIcon:before,
.rtlDrag:before,
.rtlDragClue:before,
.rtlRightResizer:before {
  display: block;
  font: 1em/1 "TelerikWebUI"; }

.RadTreeList {
  font-size: 12px;
  border: 1px solid;
  position: relative;
  line-height: 1.42857; }
  .RadTreeList .rtlActionButton {
    font-size: 16px;
    background: none;
    border: 0 none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0; }
  .RadTreeList .rtlCommand .rtlActionButton {
    font-size: 32px; }
  .RadTreeList button,
  .RadTreeList [type="button"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0; }
  .RadTreeList .rtlTable {
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
    font-size: 1em; }
  .RadTreeList .rtlTable,
  .RadTreeList .rtlEditForm table {
    border-spacing: 0;
    font-size: 1em; }
  .RadTreeList .rtlCommand {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid; }
  .RadTreeList .rtlHeader th {
    border-style: solid;
    border-width: 0 0 1px 1px;
    text-align: left;
    font-weight: normal;
    overflow: hidden; }
  .RadTreeList .rtlHeader th:first-child {
    border-left-width: 0; }
  .RadTreeList .rtlHeader a {
    text-decoration: none; }
  .RadTreeList .rtlR > td,
  .RadTreeList .rtlA > td,
  .RadTreeList .rtlREdit > td,
  .RadTreeList .rtlRFooter > td,
  .RadTreeList .rtlHeader th {
    padding: 0.9em 0.6em;
    vertical-align: middle; }
  .RadTreeList .rtlR td,
  .RadTreeList .rtlA td,
  .RadTreeList .rtlREdit td,
  .RadTreeList .rtlRFooter td {
    border-style: solid;
    border-width: 0 0 1px 1px;
    overflow: hidden; }
  .RadTreeList .rtlRL td {
    border-bottom-width: 0; }
  .RadTreeList .rtlTable .rtlRBtm td,
  .RadTreeList .rtlTable .rtlRFooter td {
    border-bottom-width: 0; }
  .RadTreeList .rtlTable .rtlL {
    padding: 0; }
    .RadTreeList .rtlTable .rtlL .rtlActionButton {
      font-size: 22px; }
  .RadTreeList .rtlHBorders .rtlROut td {
    border-top-width: 1px; }
  .RadTreeList table.rtlLines td.rtlL, .RadTreeList table.rtlVBorders td.rtlL, .RadTreeList table.rtlLines td.rtlL, .RadTreeList table.rtlVBorders td.rtlL {
    border-width: 0; }
  .RadTreeList .rtlAddIcon:before {
    content: '\E039'; }
  .RadTreeList .rtlEditIcon:before {
    content: '\E0D5'; }
  .RadTreeList .rtlUpdateIcon:before {
    content: '\E037'; }
  .RadTreeList .rtlDelIcon:before,
  .RadTreeList .rtlCancelIcon:before,
  .RadTreeList .rtlClosePopUpIcon:before {
    content: '\e038'; }
  .RadTreeList .rtlExpandIcon:before {
    content: '\e000'; }
  .RadTreeList .rtlSortAscIcon:before {
    content: '\e001'; }
  .RadTreeList .rtlSortDescIcon:before,
  .RadTreeList .rtlCollapseIcon:before {
    content: '\e002'; }
  .RadTreeList .rtlPagerCell > div {
    padding: 4px;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
    .RadTreeList .rtlPagerCell > div .rtlWrap {
      white-space: nowrap;
      align-items: center;
      display: -webkit-flex;
      display: flex;
      flex-shrink: 0; }
    .RadTreeList .rtlPagerCell > div .rtlInfoPart {
      margin: auto 4px;
      display: inline-block; }
    .RadTreeList .rtlPagerCell > div .RadComboBox {
      min-width: 55px; }
    .RadTreeList .rtlPagerCell > div .RadComboBox,
    .RadTreeList .rtlPagerCell > div .RadInput,
    .RadTreeList .rtlPagerCell > div .riTextBox {
      font: inherit; }
    .RadTreeList .rtlPagerCell > div span.rcbInner {
      padding: 0 6px; }
    .RadTreeList .rtlPagerCell > div input.rcbInput {
      height: 2.2857em;
      line-height: 2.2857; }
    .RadTreeList .rtlPagerCell > div .RadInput {
      height: auto;
      line-height: normal; }
      .RadTreeList .rtlPagerCell > div .RadInput .riTextBox {
        padding: 6px 0;
        height: 1.42857em;
        line-height: normal;
        min-height: 0;
        text-align: center;
        box-sizing: content-box; }
      .RadTreeList .rtlPagerCell > div .RadInput + .rtlPagerButton {
        margin-left: 6px; }
    .RadTreeList .rtlPagerCell > div .RadSlider,
    .RadTreeList .rtlPagerCell > div .RadSlider .rslHorizontal {
      height: 2.2857em !important; }
    .RadTreeList .rtlPagerCell > div .rtlSliderLabel {
      line-height: 2.2857; }
    .RadTreeList .rtlPagerCell > div .rtlPagerLabel {
      margin: auto 6px; }
    .RadTreeList .rtlPagerCell > div .rtlNumPart {
      padding: 0 4px; }
    .RadTreeList .rtlPagerCell > div .rtlNumPart a {
      text-align: center;
      display: inline-block;
      text-decoration: none;
      border: 1px solid transparent; }
      .RadTreeList .rtlPagerCell > div .rtlNumPart a.rtlCurrentPage {
        cursor: default; }
      .RadTreeList .rtlPagerCell > div .rtlNumPart a + a {
        margin-left: 4px; }
    .RadTreeList .rtlPagerCell > div [type="submit"] {
      -webkit-appearance: none; }
    .RadTreeList .rtlPagerCell > div .rtlActionButton {
      font-family: "TelerikWebUI"; }
    .RadTreeList .rtlPagerCell > div .rtlActionButton + .rtlActionButton {
      margin-left: 4px; }
    .RadTreeList .rtlPagerCell > div .rtlNumPart a,
    .RadTreeList .rtlPagerCell > div .rtlPagerButton,
    .RadTreeList .rtlPagerCell > div .rtlActionButton {
      padding: 6px;
      width: 1.42857em;
      height: 1.42857em;
      line-height: 1.42857;
      font-size: 1em;
      cursor: pointer;
      background-repeat: no-repeat;
      box-sizing: content-box;
      border-radius: 100%; }
    .RadTreeList .rtlPagerCell > div .rtlPagerButton {
      border-radius: 4px;
      width: auto; }
    .RadTreeList .rtlPagerCell > div .rtlIcon:before {
      font-size: 1em; }
    .RadTreeList .rtlPagerCell > div .rtlPageFirst .rtlIcon:before {
      content: "\e00b"; }
    .RadTreeList .rtlPagerCell > div .rtlPagePrev .rtlIcon:before {
      content: "\e003"; }
    .RadTreeList .rtlPagerCell > div .rtlPageNext .rtlIcon:before {
      content: "\e000"; }
    .RadTreeList .rtlPagerCell > div .rtlPageLast .rtlIcon:before {
      content: "\e008"; }
    @media (max-width: 980px) {
      .RadTreeList .rtlPagerCell > div .rtlHiddenItem {
        display: none !important; } }
    @media (max-width: 540px) {
      .RadTreeList .rtlPagerCell > div.Advanced .rtlInfoPart {
        display: none; } }
    @media (max-width: 380px) {
      .RadTreeList .rtlPagerCell > div.Advanced .rtlPagerButton ~ * {
        display: none; } }
    @media (max-width: 540px) {
      .RadTreeList .rtlPagerCell > div.NextPrev .rtlInfoPart {
        display: none; } }
    @media (max-width: 490px) {
      .RadTreeList .rtlPagerCell > div.NextPrevAndNumeric .rtlAdvPart {
        display: none; }
      .RadTreeList .rtlPagerCell > div.NextPrevAndNumeric .rtlWrap {
        padding: 0; }
      .RadTreeList .rtlPagerCell > div.NextPrevAndNumeric .rtlNumPart {
        margin: 0 auto; } }
    @media (max-width: 640px) {
      .RadTreeList .rtlPagerCell > div.NextPrevAndNumeric .rtlInfoPart {
        display: none; }
      .RadTreeList .rtlPagerCell > div.NextPrevAndNumeric .rtlNumPart {
        margin: 0 auto; } }
    @media (max-width: 1096px) {
      .RadTreeList .rtlPagerCell > div.NextPrevNumericAndAdvanced .rtlInfoPart {
        display: none; } }
    @media (max-width: 730px) {
      .RadTreeList .rtlPagerCell > div.NextPrevNumericAndAdvanced .rtlAdvPart {
        display: none; }
      .RadTreeList .rtlPagerCell > div.NextPrevNumericAndAdvanced .rtlNumPart {
        margin: 0 auto; } }
    @media (max-width: 420px) {
      .RadTreeList .rtlPagerCell > div.NumericPages .rtlInfoPart {
        display: none; } }
    @media (max-width: 420px) {
      .RadTreeList .rtlPagerCell > div.Slider .rtlInfoPart {
        display: none; } }
  .RadTreeList .rtlDrag::before,
  .RadTreeList .rtlDragIcon::before {
    content: "\e149";
    cursor: grab; }
  .RadTreeList .rtlDrag::before {
    content: "\e149";
    cursor: move;
    font-size: 2em;
    line-height: 1.5em;
    left: 0;
    height: 100%;
    padding: 0 6px;
    position: absolute;
    top: 0; }
  .RadTreeList .rtlMobileMenu {
    position: absolute;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none; }
    .RadTreeList .rtlMobileMenu .rtlCommand {
      text-align: center; }
  .RadTreeList .rtlMobileForm {
    overflow: auto;
    padding: 1em 0;
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%; }
    .RadTreeList .rtlMobileForm strong {
      display: block;
      padding-left: 2%;
      margin-bottom: 1em; }
  .RadTreeList .rtlValue,
  .RadTreeList .rtlLabel,
  .RadTreeList .rtlColumnItem {
    box-sizing: border-box; }
  .RadTreeList .rtlLabel {
    display: inline-block;
    padding: 0 2%;
    width: 30%; }
  .RadTreeList .rtlValueDiv {
    display: inline-block;
    width: 64%; }
  .RadTreeList .rtlValue {
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 4px; }
  .RadTreeList .rtlColumnItem {
    border: 1px solid transparent;
    border-radius: 3px;
    display: block;
    height: 3em;
    line-height: 3em;
    margin: 0 1em 1em;
    padding: 0 0.5em 0 4em;
    position: relative;
    width: auto; }
    .RadTreeList .rtlColumnItem input {
      float: right;
      margin-top: 1em; }
  .RadTreeList .rtlBack,
  .RadTreeList .rtlCancel {
    float: left;
    height: 100%; }
  .RadTreeList .rtlMenu,
  .RadTreeList .rtlDone {
    float: right;
    height: 100%; }
  .RadTreeList .rtlCancelIcon:before {
    content: "\e038"; }
  .RadTreeList .rtlBackIcon:before {
    content: "\e013"; }
  .RadTreeList .rtlDoneIcon:before {
    content: "\e037"; }
  .RadTreeList .rtlMenuIcon:before {
    content: "\e090"; }

.RadTreeList .rtlTable .rtlR .rtlDragCol,
.RadTreeList .rtlTable .rtlA .rtlDragCol {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  vertical-align: middle; }

.rtlLeftResizer,
.rtlRightResizer {
  width: 1px;
  position: absolute;
  cursor: e-resize;
  z-index: 9999; }

.rtlRightResizer:before {
  content: "\e14a";
  position: absolute;
  right: -25px;
  top: 0;
  width: 49px;
  height: 40px;
  font-size: 40px;
  line-height: 38px;
  text-align: center; }

.RadTreeListRTL .rtlCollapseIcon:before {
  content: '\e003'; }
.RadTreeListRTL .rtlHeader th {
  text-align: right; }
.RadTreeListRTL .rtlHeader th {
  border-left-width: 0;
  border-right-width: 1px; }
  .RadTreeListRTL .rtlHeader th.rtlCF {
    border-right-width: 0; }
.RadTreeListRTL .rtlR td,
.RadTreeListRTL .rtlA td,
.RadTreeListRTL .rtlREdit td,
.RadTreeListRTL .rtlRFooter td {
  border-left-width: 0;
  border-right-width: 1px; }
.RadTreeListRTL .rtlR td.rtlCF,
.RadTreeListRTL .rtlA td.rtlCF,
.RadTreeListRTL .rtlREdit td.rtlCF,
.RadTreeListRTL .rtlRFooter td.rtlCF {
  border-right-width: 0; }
.RadTreeListRTL .rtlR td.rtlCF,
.RadTreeListRTL .rtlA td.rtlCF,
.RadTreeListRTL .rtlREdit td.rtlCF,
.RadTreeListRTL .rtlRFooter td.rtlCF {
  border-left-width: 0;
  border-right-width: 1px; }

div.RadTreeList_Drag {
  background: transparent;
  border: 0 none;
  z-index: 9999; }

.rtlDragClue:before {
  content: "\e119";
  font-size: 1.7em;
  line-height: 2em;
  margin-left: -0.5em;
  margin-top: -1.2em;
  position: absolute; }

.RadTreeList div.rtlHeader {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  overflow: hidden; }
.RadTreeList .rtlScroller {
  overflow: hidden;
  margin-bottom: -1px;
  border-right-width: 1px;
  border-right-style: solid;
  width: 100%; }
.RadTreeList div.rtlFooter {
  overflow: hidden; }
