.rtlIcon:before {
  position: absolute;
  display: block;
  text-align: center;
  vertical-align: middle;
  font: 1em/1 "TelerikWebUI";
  left: 50%;
  top: 50%;
  margin: -.5em 0 0 -.5em; }

.RadTreeList {
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  /*>>InPlace editing*/
  /*<<InPlace editing*/
  /*>>Buttons*/
  /*>>Sort*/
  /*<<Sort*/
  /*<<Buttons*/ }
  .RadTreeList button,
  .RadTreeList [type="button"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0; }
  .RadTreeList .rtlTable {
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
    font-size: 1em; }
  .RadTreeList .rtlEditForm {
    font-size: 1em;
    line-height: normal; }
    .RadTreeList .rtlEditForm .rtlHeader {
      padding: .2em 0.4em; }
      .RadTreeList .rtlEditForm .rtlHeader + div {
        padding: .4em; }
  .RadTreeList .rtlTable,
  .RadTreeList .rtlEditForm table {
    border-spacing: 0;
    font-size: 1em; }
  .RadTreeList .rtlHeader th {
    border-style: solid;
    border-width: 0 0 1px 0;
    text-align: left;
    font-weight: normal; }
  .RadTreeList .rtlVBorders .rtlHeader th {
    border-left-width: 1px;
    overflow: hidden; }
    .RadTreeList .rtlVBorders .rtlHeader th.rtlCF {
      border-left-width: 0; }
  .RadTreeList .rtlHeader a {
    text-decoration: none; }
  .RadTreeList .rtlR > td,
  .RadTreeList .rtlA > td,
  .RadTreeList .rtlREdit > td,
  .RadTreeList .rtlRFooter > td,
  .RadTreeList .rtlHeader th {
    padding: .3em .6em;
    vertical-align: middle; }
  .RadTreeList .rtlR td,
  .RadTreeList .rtlA td,
  .RadTreeList .rtlREdit td,
  .RadTreeList .rtlRFooter td {
    border-style: solid;
    border-width: 0; }
  .RadTreeList .rtlHBorders .rtlR td,
  .RadTreeList .rtlHBorders .rtlA td,
  .RadTreeList .rtlHBorders .rtlREdit td,
  .RadTreeList .rtlHBorders .rtlRFooter td {
    border-bottom-width: 1px; }
  .RadTreeList .rtlVBorders .rtlR td,
  .RadTreeList .rtlVBorders .rtlA td,
  .RadTreeList .rtlVBorders .rtlREdit td,
  .RadTreeList .rtlVBorders .rtlRFooter td {
    border-left-width: 1px;
    overflow: hidden; }
  .RadTreeList .rtlR td.rtlCF,
  .RadTreeList .rtlA td.rtlCF,
  .RadTreeList .rtlREdit td.rtlCF,
  .RadTreeList .rtlRFooter td.rtlCF {
    border-left-width: 0; }
  .RadTreeList .rtlHVBorders .rtlR td.rtlCF,
  .RadTreeList .rtlHVBorders .rtlA td.rtlCF,
  .RadTreeList .rtlHVBorders .rtlREdit td.rtlCF,
  .RadTreeList .rtlHVBorders .rtlRFooter td.rtlCF {
    border-left-width: 1px; }
  .RadTreeList .rtlHBorders .rtlRL td {
    border-bottom-width: 0; }
  .RadTreeList .rtlTable .rtlRBtm td,
  .RadTreeList .rtlTable .rtlRFooter td {
    border-bottom-width: 0; }
  .RadTreeList .rtlTable td.rtlL {
    padding-left: 0;
    padding-right: 0;
    position: relative; }
  .RadTreeList .rtlHBorders .rtlROut td {
    border-top-width: 1px; }
  .RadTreeList .rtlLines td.rtlL0, .RadTreeList .rtlLines td.rtlL1, .RadTreeList .rtlLines td.rtlL2, .RadTreeList .rtlLines td.rtlL3 {
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  .RadTreeList table.rtlLines td.rtlL, .RadTreeList table.rtlVBorders td.rtlL, .RadTreeList table.rtlLines td.rtlL, .RadTreeList table.rtlVBorders td.rtlL {
    border-width: 0; }
  .RadTreeList .rtlEditForm input,
  .RadTreeList .rtlEditForm .RadInput,
  .RadTreeList .rtlREdit input[type="text"],
  .RadTreeList .rtlREdit .RadInput {
    font-size: 1em !important;
    line-height: 1 !important; }
  .RadTreeList .rtlREdit .RadInput input {
    height: auto !important;
    line-height: 1 !important; }
  .RadTreeList .rtlActionButton {
    position: relative;
    vertical-align: middle;
    width: .85em;
    height: .85em;
    padding: 0;
    -webkit-appearance: none;
    cursor: pointer; }
  .RadTreeList .rtlAdd,
  .RadTreeList .rtlEdit,
  .RadTreeList .rtlUpdate,
  .RadTreeList .rtlCancelButton {
    margin: 0 .2em; }
  .RadTreeList .rtlSortAsc,
  .RadTreeList .rtlSortDesc {
    font-size: 1.4em;
    display: inline-block; }
  .RadTreeList .rtlExpand,
  .RadTreeList .rtlCollapse {
    position: relative;
    top: 50%;
    left: 50%;
    vertical-align: middle; }
  .RadTreeList.RadTreeListRTL .rtlExpand,
  .RadTreeList.RadTreeListRTL .rtlCollapse {
    left: auto;
    right: 50%;
    margin-left: auto; }
  .RadTreeList .rtlbButtonText {
    font-size: 0; }
  .RadTreeList .rtlPagerCell {
    padding: 4px; }
    .RadTreeList .rtlPagerCell:after {
      content: '';
      display: block;
      clear: both; }
    .RadTreeList .rtlPagerCell .rtlWrap {
      float: left;
      padding-right: .5em;
      white-space: nowrap; }
    .RadTreeList .rtlPagerCell .rtlWrapRight {
      float: right; }
    .RadTreeList .rtlPagerCell .rtlWrapNone {
      float: none; }
    .RadTreeList .rtlPagerCell .rtlAdvPart {
      line-height: 2.2857; }
    .RadTreeList .rtlPagerCell .RadComboBox {
      min-width: 55px; }
    .RadTreeList .rtlPagerCell .RadComboBox,
    .RadTreeList .rtlPagerCell .RadInput,
    .RadTreeList .rtlPagerCell .riTextBox {
      font: inherit; }
    .RadTreeList .rtlPagerCell span.rcbInner {
      padding: 0 6px; }
    .RadTreeList .rtlPagerCell input.rcbInput {
      height: 2.2857em;
      line-height: 2.2857; }
    .RadTreeList .rtlPagerCell .RadInput,
    .RadTreeList .rtlPagerCell .rtlPagerButton {
      margin-right: 6px; }
    .RadTreeList .rtlPagerCell .RadInput {
      height: auto;
      vertical-align: top; }
      .RadTreeList .rtlPagerCell .RadInput .riTextBox {
        padding: 6px 0;
        height: 1.42857em;
        line-height: normal;
        min-height: 0;
        text-align: center;
        box-sizing: content-box; }
    .RadTreeList .rtlPagerCell .RadSlider {
      float: left; }
    .RadTreeList .rtlPagerCell .RadSlider,
    .RadTreeList .rtlPagerCell .RadSlider .rslHorizontal {
      height: 2.2857em !important; }
    .RadTreeList .rtlPagerCell .rtlSliderLabel {
      line-height: 2.2857; }
    .RadTreeList .rtlPagerCell .rtlPagerLabel {
      margin: 0 6px;
      vertical-align: middle; }
    .RadTreeList .rtlPagerCell .rtlPagerTextBox {
      vertical-align: middle; }
    .RadTreeList .rtlPagerCell .rtlNumPart a {
      margin-left: 1px;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      border: 1px solid transparent; }
      .RadTreeList .rtlPagerCell .rtlNumPart a.rtlCurrentPage {
        cursor: default; }
    .RadTreeList .rtlPagerCell .rtlActionButton {
      font-family: "TelerikWebUI";
      width: 1.42857em;
      margin: 0 4px 0 0; }
    .RadTreeList .rtlPagerCell .rtlNumPart a,
    .RadTreeList .rtlPagerCell .rtlPagerButton,
    .RadTreeList .rtlPagerCell .rtlActionButton {
      padding: 6px;
      height: 1.42857em;
      line-height: 1.42857;
      font-size: 1em;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      background-repeat: no-repeat;
      box-sizing: content-box; }
    .RadTreeList .rtlPagerCell .rtlPageFirst .rtlIcon:before {
      content: "\e00b"; }
    .RadTreeList .rtlPagerCell .rtlPagePrev .rtlIcon:before {
      content: "\e003"; }
    .RadTreeList .rtlPagerCell .rtlPageNext .rtlIcon:before {
      content: "\e000"; }
    .RadTreeList .rtlPagerCell .rtlPageLast .rtlIcon:before {
      content: "\e008"; }
  .RadTreeList .rtlDragIcon {
    cursor: move;
    display: inline-block;
    padding: 5px; }
  .RadTreeList .rtlDragIcon:before {
    content: '\E098';
    font-size: 1.333em; }

/*>>Grouping*/
.TreeListReorderTop:before {
  content: '\E00E'; }

.TreeListReorderBottom:before {
  content: '\E00D'; }

/*<<Grouping*/
.RadTreeListNoBorder {
  border-width: 0; }
  .RadTreeListNoBorder .rtlHeader th {
    border-top-width: 1px; }
  .RadTreeListNoBorder .rtlTable .rtlHeader th.rtlCF {
    border-left-width: 1px; }
  .RadTreeListNoBorder .rtlTable .rtlCL {
    border-right-width: 1px; }
  .RadTreeListNoBorder .rtlTable .rtlRBtm td {
    border-bottom-width: 1px; }

.RadTreeList .rtlTable .rtlR .rtlDragCol,
.RadTreeList .rtlTable .rtlA .rtlDragCol {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  vertical-align: middle; }

.TreeListToolTip {
  border-width: 1px;
  border-style: solid;
  padding: 3px;
  position: absolute;
  z-index: 10000; }

.rtlResizer {
  background-color: navy;
  width: 1px;
  position: absolute;
  cursor: e-resize; }

.TreeListReorderTop,
.TreeListReorderBottom {
  width: 7px;
  height: 7px;
  margin: 0 0 0 -5px;
  padding: 0; }

.RadTreeListRTL .rtlHeader th {
  text-align: right; }
.RadTreeListRTL .rtlVBorders .rtlHeader th {
  border-left-width: 0;
  border-right-width: 1px; }
  .RadTreeListRTL .rtlVBorders .rtlHeader th.rtlCF {
    border-right-width: 0; }
.RadTreeListRTL .rtlVBorders .rtlR td,
.RadTreeListRTL .rtlVBorders .rtlA td,
.RadTreeListRTL .rtlVBorders .rtlREdit td,
.RadTreeListRTL .rtlVBorders .rtlRFooter td {
  border-left-width: 0;
  border-right-width: 1px; }
.RadTreeListRTL .rtlR td.rtlCF,
.RadTreeListRTL .rtlA td.rtlCF,
.RadTreeListRTL .rtlREdit td.rtlCF,
.RadTreeListRTL .rtlRFooter td.rtlCF {
  border-right-width: 0; }
.RadTreeListRTL .rtlHVBorders .rtlR td.rtlCF,
.RadTreeListRTL .rtlHVBorders .rtlA td.rtlCF,
.RadTreeListRTL .rtlHVBorders .rtlREdit td.rtlCF,
.RadTreeListRTL .rtlHVBorders .rtlRFooter td.rtlCF {
  border-left-width: 0;
  border-right-width: 1px; }
.RadTreeListRTL table.rtlLines td.rtlL0 {
  border-left: 1px solid transparent; }

.RadTreeListNoBorderRTL .rtlTable .rtlHeader .rtlCL,
.RadTreeListNoBorderRTL .rtlTable .rtlR td.rtlCL,
.RadTreeListNoBorderRTL .rtlTable .rtlA td.rtlCL,
.RadTreeListNoBorderRTL .rtlTable .rtlREdit td.rtlCL,
.RadTreeListNoBorderRTL .rtlTable .rtlRFooter td.rtlCL {
  border-right-width: 0;
  border-left-width: 1px; }
.RadTreeListNoBorderRTL .rtlVBorders .rtlHeader .rtlCL,
.RadTreeListNoBorderRTL .rtlVBorders .rtlR td.rtlCL,
.RadTreeListNoBorderRTL .rtlVBorders .rtlA td.rtlCL,
.RadTreeListNoBorderRTL .rtlVBorders .rtlREdit td.rtlCL,
.RadTreeListNoBorderRTL .rtlVBorders .rtlRFooter td.rtlCL {
  border-right-width: 1px; }
.RadTreeListNoBorderRTL .rtlTable .rtlHeader th.rtlCF {
  border-left-width: 0;
  border-right-width: 1px; }

.rtlDrag {
  background: no-repeat 50% -100px;
  position: absolute;
  left: -16px;
  top: 6px;
  width: 16px;
  height: 10px; }

.RadTreeList div.rtlHeader {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  overflow: hidden; }
.RadTreeList .rtlScroller {
  overflow: hidden;
  margin-bottom: -1px;
  border-right-width: 1px;
  border-right-style: solid;
  width: 100%; }
.RadTreeList div.rtlFooter {
  overflow: hidden; }
