@font-face {
  font-family: 'TelerikWebUIEditor';
  src: url('Common/TelerikWebUI/Editor.eot');
  src: url('Common/TelerikWebUI/Editor.eot') format("embedded-opentype"), url('Common/TelerikWebUI/Editor.woff') format("woff"), url('Common/TelerikWebUI/Editor.ttf') format("truetype");
}

@font-face {
  font-family: 'TelerikWebUI';
  src: url('Common/TelerikWebUI.eot');
  src: url('Common/TelerikWebUI.eot') format("embedded-opentype"), url('Common/TelerikWebUI.woff') format("woff"), url('Common/TelerikWebUI.ttf') format("truetype");
}

html, body, form {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Sans-serif;
}

.reHidden {
  display: none !important;
}

fieldset {
  padding: 0;
  margin: 0;
}

/* image manager toolbar icons */
.RadToolBar .rtbText {
  padding: 0 2px 0 22px;
  /* assuming that the space is 3px wide *gasp* */
  line-height: 17px;
  /* icon height */
  display: block;
  background-repeat: no-repeat;
}

.RadToolBar .rtbIconOnly .rtbText {
  padding: 0 0 0 16px;
  /* assuming that the space is 3px wide *gasp* */
  font-size: 17px;
  /* icon height */
}

.RadToolBar .icnImageEditor .rtbText {
  background-position: 2px -369px;
}

/* CHANGE THIS ONE */
.RadToolBar .icnBestFit .rtbText {
  background-position: 0 -68px;
}

.RadToolBar .icnActualSize .rtbText {
  background-position: 0 -85px;
}

.RadToolBar .icnZoomIn .rtbText {
  background-position: 0 -102px;
}

.RadToolBar .icnZoomOut .rtbText {
  background-position: 0 -119px;
}

.reTopcell {
  padding-top: 7px;
}

.reDialog ul,
.reDialog ul li,
.reDialog_toolbar ul,
.radECtrlButtonsList ul,
.reDialog_toolbar_text ul,
.controlsList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.reConfirmCancelButtonsTbl {
  display: block;
  float: right;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

.reConfirmCancelButtonsTbl td {
  padding: 6px;
}

.reConfirmCancelButtonsTbl .reRightMostCell {
  padding-right: 1px;
}

.reConfirmCancelButtonsTbl button {
  width: 75px;
}

/* custom settings for RadTabStrip */
.RadTabStrip ul {
  margin: 8px 0 0 0;
  position: relative;
  top: 0;
  left: 8px;
}

.controlsList li {
  clear: both;
}

.controlsList span {
  display: block;
  float: left;
}

.controlsList .shortInput {
  width: 90px;
}

.controlsList select.shortInput {
  width: 96px;
}

.FormattedCodePreview {
  width: 690px;
  height: 170px;
  clear: both;
  overflow: auto;
}

.reBottomcell {
  text-align: right;
}

/* LinkManager */
#hyperlinkFieldset li,
#emailFieldset li {
  line-height: 26px;
}

.rightAlignedInputLabel,
.propertyLabel {
  width: 120px;
  overflow: hidden;
  text-align: right;
  padding-right: 8px;
  display: inline-block;
  float: left;
  line-height: 21px;
}

/* End of LinkManager */
/* Constrain Proportions button */
.ConstrainProportions button {
  padding: 0;
  margin: 0;
  font-size: 1px;
  border: 0;
  display: block;
  width: 12px;
  height: 38px;
  /* !important is because of the new RadFormDecorator rendering */
  background-image: url('Common/CommonIcons.gif') !important;
  background-position: 0 -766px;
  background-color: transparent;
  margin-left: 4px;
}

.ConstrainProportions.toggle button {
  background-position: -20px -766px;
}

/* FormatCodeBlock */
.FormatCodeBlock input {
  text-align: right;
}

/* TableWizardSpinBox */
.reTableWizardSpinBox {
  font: normal 12px Arial, Verdana, Sans-serif;
  color: #000;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.reTableWizardSpinBox a {
  margin: 1px;
  outline: none;
}

.reTableWizardSpinBox a,
.reTableWizardSpinBox a span {
  display: block;
  width: 23px;
  height: 21px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.reTableWizardSpinBox a:hover {
  background-image: url('Common/CommonIcons.gif');
  background-position: 0 -298px;
}

.reTableWizardSpinBox a span {
  text-indent: -9999px;
  background-image: url('Common/CommonIcons.gif');
}

.reTableWizardSpinBox .reTableWizardSpinBox_Increase {
  background-position: 0 -319px;
}

.reTableWizardSpinBox .reTableWizardSpinBox_Decrease {
  background-position: 0 -340px;
}

/* table design */
.tableDesign {
  table-layout: fixed;
  width: 382px;
  height: 344px;
  border: 1px solid #b0b0b0;
  border-collapse: collapse;
}

.tableDesign td {
  border: 1px solid #b0b0b0;
  vertical-align: top;
}

.tableDesign td div {
  border: 1px solid #fff;
  background: #ececec;
  height: 122px;
  cursor: pointer;
}

.tableDesign .selectedCell {
  background: #cecece;
}

/* Table Properties Toolbar */
.tblBorderPropsToolbar {
  width: 165px;
  height: 22px;
  float: left;
}

.tblBorderPropsToolbar li {
  float: left;
  line-height: 20px;
  clear: none;
}

.tblBorderPropsToolbar li a {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-indent: -9999px;
  margin: 1px;
  text-align: center;
  cursor: default;
  background-image: url('Common/CommonIcons.gif');
  background-repeat: no-repeat;
}

.tblBorderPropsToolbar li a.reAllFourSides {
  background-position: -6px -367px;
}

.tblBorderPropsToolbar li a.reAllRowsAndColumns {
  background-position: -6px -387px;
}

.tblBorderPropsToolbar li a.reNoBorders {
  background-position: -6px -407px;
}

.tblBorderPropsToolbar li a.reNoInteriorBorders {
  background-position: -7px -427px;
}

.tblBorderPropsToolbar li a.reTopAndBottomSidesOnly {
  background-position: -7px -446px;
}

.tblBorderPropsToolbar li a.reTopSideOnly {
  background-position: -7px -466px;
}

.tblBorderPropsToolbar li a.reBetweenRows {
  background-position: -7px -486px;
}

.tblBorderPropsToolbar li a.reBottomSideOnly {
  background-position: -6px -506px;
}

.reVerticalIconList li a {
  background-image: url('Common/CommonIcons.gif');
  background-repeat: no-repeat;
}

.reVerticalIconList li a.reLeftSide {
  background-position: -6px -532px;
}

.reVerticalIconList li a.reBetweenColumns {
  background-position: -6px -554px;
}

.reVerticalIconList li a.reRightAndLeftSidesOnly {
  background-position: -6px -596px;
}

.reVerticalIconList li a.reRightSide {
  background-position: -6px -574px;
}

.tblBorderPropsToolbar .textinput {
  width: 20px;
  height: 18px;
}

/* bordered table */
#TableBorder .propertiesLabel,
#TableBorder .reToolWrapper,
#TableBorder ul {
  margin: 0 0 0 8px;
}

#TableBorder ul ul {
  margin: 2px 0 0 0;
}

.tblBorderTestTable {
  width: 120px;
  height: 120px;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0 0 0 66px;
}

.tableWizardCellProperties .reToolWrapper,
.tableWizardTableProperties .reToolWrapper {
  display: block;
  float: left;
}

/* Find and Replace Dialog Settings */
/* End of Fond and Replace Dialog Settings */
.reDialogLabel span {
  display: block;
  width: 124px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.reDialogLabelShort span {
  display: block;
  width: 86px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.reControlsLayout {
  width: 100%;
  display: block;
}

.reControlsLayout .reLabelCell,
.reControlsLayout .reControlCell {
  padding: 3px;
  vertical-align: middle;
  text-align: left;
}

.FindAndReplaceDialog .reDialogLabel span,
.LinkManager .reDialogLabel span {
  width: 90px;
  text-align: right;
}

.FindAndReplaceDialog #find,
.FindAndReplaceDialog #rFind,
.FindAndReplaceDialog #rReplace {
  width: 204px;
}

.FindAndReplaceDialog #FindButton,
.FindAndReplaceDialog #rFindButton,
.FindAndReplaceDialog #ReplaceButton,
.FindAndReplaceDialog #ReplaceAllButton {
  width: 95px;
}

/* LinkManager */
.LinkManager .reMiddlecell {
  vertical-align: top;
  height: 180px;
  padding-top: 5px;
}

.LinkManager .reLabelCell {
  width: 90px;
}

.LinkManager .reControlCell input {
  width: 240px;
}

.LinkManager .reControlCell select {
  width: 244px;
  *width: 250px;
}

/* Set Image Properties */
.ImageProperties .reImageDialogCaller input {
  width: 136px;
}

/* Help Dialog */
.HelpDialog {
  font-family: "Segoe UI", Arial, Sans-Serif;
}

.HelpDialog h1, .HelpDialog h2 {
  padding: 0;
  margin: 0;
}

.HelpDialog h1 {
  font-size: 18px;
}

.HelpDialog h2 {
  font-size: 14px;
  padding: 4px 0;
}

.HelpDialog .helpTopics {
  width: 695px;
  height: 340px;
  overflow: auto;
}

.HelpDialog .reDescriptionCell {
  padding-left: 8px;
}

/* Page Properties */
.PageProperties .reImageDialogCaller input {
  width: 190px;
}

.PageProperties .reImageDialogCaller .reTool {
  margin-left: 4px;
}

/* About Dialog */
.AboutDialog {
  margin: 4px 0 0 0;
}

.AboutDialog h6 {
  width: 202px;
  height: 63px;
  line-height: 63px;
  background: transparent url('Common/RadEditorLogo.gif') no-repeat;
  text-indent: -9999px;
}

.AboutDialog a {
  color: #000;
}

.reDialog {
  margin: 5px;
}

.NoMarginDialog {
  margin: 0;
}

.NoMarginDialog .reConfirmCancelButtonsTbl {
  margin: 0 15px 0 0;
}

.TableWizard .reConfirmCancelButtonsTbl {
  _margin-right: 50px !important;
}

/* Image Dialog caller */
.reImageDialogCaller .reTool {
  margin-left: 4px;
}

.reImageDialogCaller,
.reImageDialogCaller td {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

#ImageMap_AreaTarget {
  width: 220px;
  *width: 226px !important;
}

/* File Manager dialogs */
.RadFileExplorer {
  border: 0 !important;
}

/* ImageManager dialog settings */
/* Image Editor toolbar item */
.icnImageEditor .rtbText {
  padding-left: 24px !important;
}

.imagePreview {
  text-align: center;
  vertical-align: middle;
  background: transparent;
  clear: both;
  overflow: auto;
  height: 320px;
}

.noImage {
  background: transparent url('Common/NoImageSelected.png') no-repeat center;
}

.selectedFileName {
  font: normal 12px "Segoe UI", Arial, Sans-serif;
  color: #000;
}

.selectedFileName {
  padding: 9px 0;
  text-align: center;
  /*border-top: 1px solid #abadb3;*/
}

.radfe_addressBox {
  float: left;
  *width: 398px !important;
}

.RadSplitter {
  clear: both;
}

.FileExplorerPlaceholder {
  width: 400px;
  vertical-align: top;
}

.ManagerDialog {
  table-layout: fixed;
}

/* Image Properties pane in Image Manager dialog */
.ManagerDialog .ImageProperties .reDialogLabel span {
  width: 92px;
}

.ManagerDialog .ImageProperties .reDialogLabelShort span {
  width: 48px;
}

.ManagerDialog .ImageProperties .reLabelCell {
  width: 40px !important;
  padding: 0;
}

.ManagerDialog .ImageProperties #ImageAlt,
.ManagerDialog .ImageProperties #ImageLongDesc {
  width: 158px !important;
}

.ManagerDialog .ImageProperties .setMarginsTable .reToolWrapper {
  width: 30px !important;
}

.ManagerDialog .ImageProperties .setMarginsCell {
  padding: 0;
}

.ManagerDialog .ImageProperties {
  height: 294px;
}

.ManagerDialog .ImageProperties .reConstrainProportionsWrapper input {
  width: 30px !important;
}

.ManagerDialog .ImageProperties {
  margin: 0 0 0 4px;
}

.DialogSeparator {
  width: 5px;
  font-size: 1px;
}

/* Document Manager */
.ManagerDialog .LinkManager {
  clear: both;
}

.ManagerDialog .LinkManager .reControlsLayout {
  display: block !important;
  margin-top: 70px !important;
}

.ManagerDialog .LinkManager input,
.ManagerDialog .LinkManager select {
  width: 146px !important;
}

.ManagerDialog .LinkManager select {
  *width: 156px !important;
}

.disabled-button,
.disabled-button:hover {
  filter: alpha(opacity=40);
  opacity: .3;
  background: none !important;
}

#propertiesPage,
#flashMultiPage,
#mediaMultiPage {
  clear: both !important;
}

#propertiesPage,
div#flashMultiPage,
#mediaMultiPage {
  height: 400px !important;
}

#silverlightMultiPage #previewPage,
#silverlightMultiPage #propertiesPage {
  height: 344px !important;
  overflow: auto;
}

/* insert table dialog test table */
.tblBorderTestTable {
  border: 1px sotted #abadb3;
}

.tblBorderTestTable td {
  border: 1px sotted #abadb3;
}

.reTableDesignPreviewTableHolder {
  height: 344px;
  overflow: auto;
  padding: 1px 0 0 0 !important;
  margin-top: 4px !important;
}

.tableWizardCellProperties .reImageDialogCaller input {
  width: 100px;
}

.tableDesign {
  border-collapse: separate;
  *border-collapse: collapse;
}

.selectedFileName {
  border-width: 1px 0 0;
  border-style: solid;
}

.radfe_addressBox {
  border: 1px solid;
  border-color: #abadb3 #dbdfe6 #e3e9ef #e2e3ea;
  background: #fff;
}

/*.RadSplitter
{
    border-top: 1px solid #999 !important;
}*/
/* background for the bottom positioned RadTabStrip */
.RadTabStripBottom_Black {
  width: 264px;
  padding-bottom: 6px !important;
}

.rfeUploadContainer {
  height: 310px !important;
  overflow-y: auto;
  margin: 0 0 0 2px !important;
}

.rtbInner {
  width: auto !important;
}

.RadToolBar .rtbWrap,
.RadToolBar .rtbText {
  line-height: 17px !important;
}

.reTableWizardSelectAllBtn {
  display: block;
  text-align: center;
  color: #000;
}

/* Fix RFD and Inputs unified width */
div.reToolWrapper table.reSpinBox input.radfd_skipme {
  width: 18px;
}

/* RAD EDITOR DIALOGS REDESIGN */
.redWrapper {
  padding: 10px;
  /* remove padding from main wrapper */
  /* used when you have two input on the same row */
  /* used when you have an input after tool - colorpicker */
  /* Style constrain properties */
  /* Constrain End */
  /* reDropdown */
  /* Style Dilaog Buttons */
  /* FileBrowserLayout */
  /* FileBrowser Layout End */
  /* Dialog specific */
  /* Image Properties */
  /* Image Map Ediotr */
}

.redWrapper #propertiesPage,
.redWrapper div#flashMultiPage,
.redWrapper iframe#templateIframe,
.redWrapper #silverlightMultiPage,
.redWrapper #mediaMultiPage {
  height: 400px !important;
}

  .redWrapper #DocumentPreviewer {
  height: 460px;
}

  .redWrapper iframe#templateIframe {
  width: 100%;
}

  .redWrapper.redWrapperClean {
  padding: 0;
}

  .redWrapper .redMiddle {
  vertical-align: middle;
}

  .redWrapper .redInlineBlock {
    display: inline-block;
    zoom: 1;
  *display: inline;
}

  .redWrapper .redSection {
    padding: 10px 0;
    border-bottom-width: 1px;
  border-bottom-style: solid;
}

  .redWrapper .redSectionTop {
  padding: 0 0 10px;
}

  .redWrapper .redSectionNoBorder {
  border: 0 none;
}

  .redWrapper .redRow {
    padding-top: 10px;
    *padding-top: 8px;
  zoom: 1;
}

    .redWrapper .redRow:after {
      content: "";
      clear: both;
  display: block;
}

    .redWrapper .redRow:first-child {
  margin-top: 0;
}

  .redWrapper .redRowNoPadding {
  padding-top: 0;
}

  .redWrapper .redShortRow {
    width: 115px;
  zoom: 1;
}

    .redWrapper .redShortRow:after {
      content: "";
      clear: both;
  display: block;
}

  .redWrapper .redMoreShortRow {
    width: 65px;
  zoom: 1;
}

    .redWrapper .redMoreShortRow:after {
      content: "";
      clear: both;
  display: block;
}

.redWrapper .redLabel,
.redWrapper .redSpanLabel {
    width: 105px;
    padding: 0 15px 0 0;
    text-align: right;
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    *display: inline;
  *margin-top: 1px;
}

.redWrapper .redCheckRadioWrapper .redLabel,
.redWrapper .redLabelNormalLineHeight {
  line-height: normal;
}

  .redWrapper .redSecondLabel {
  width: 90px;
}

  .redWrapper .redSecondLabelAfterTool {
    width: 119px; }
  .redWrapper .redSection .redRow .reSpinBox input[type="text"] {
    width: 31px; }
  .redWrapper .redSection .redRow .rfdTextInput, .redWrapper .redSection .redRow textarea {
    width: 208px; }
  .redWrapper .redCheckRadioWrapper {
  margin: 0 0 0 123px;
}

  .redWrapper .redCheckRadioWrapper .redLabel {
    text-align: left;
  width: auto;
}

  .redWrapper .redActionButtonsWrapper {
    margin: 10px 0 0;
  text-align: right;
}

  .redWrapper .redActionButtonsAbsoluteWrapper {
    position: absolute;
    right: 15px;
  bottom: 10px;
}

  .redWrapper .redFBDialogContentButton.redActionButtonsAbsoluteWrapper {
    right: 0;
  bottom: 5px;
}

.redWrapper a.rfdSkinnedButton button,
.redWrapper .redActionButtonsWrapper .rfdSkinnedButton {
  margin: 0 0 0 7px;
}

  .redWrapper .redButtonAlignment {
  text-align: right;
}

  .redWrapper div.redSection h6 {
    text-transform: uppercase;
    margin: 0;
  border: 0 none;
}

.redWrapper .redRightAlign,
.redWrapper .redAlign {
  text-align: right;
}

  .redWrapper .redLeftAlign {
  text-align: left;
}

  .redWrapper .redConstrainWrapper {
  position: relative;
}

  .redWrapper .redConstrainWrapper .redConstrainButton {
    position: absolute;
    width: 19px;
    height: 8px;
    border: 0;
    top: 7px;
    left: 202px;
    background-color: transparent;
    background-image: url('Common/CommonIcons.gif');
  background-position: -6px -695px;
}

  .redWrapper .redConstrainWrapper.redConstrainToggle .redConstrainButton {
  background-position: -7px -715px;
}

.redWrapper .redRow .redConstrainWrapper input.rfdTextInput,
.redWrapper .redRow .redConstrainWrapper .rfdTextInput {
  width: 32px;
}

  .redWrapper .redDimensionPixels {
    display: inline-block;
    *zoom: 1;
  *display: inline;
}

  .redWrapper a.reDropdown {
  width: 204px;
}

  .redWrapper a.reDropdown:hover {
  background-position: right -360px;
}

  .redWrapper .rfdSelect {
  width: 193px !important;
}

  .redWrapper .redButtonsMargin .rfdSkinnedButton {
  *margin: 0 0 0 5px;
}

.redWrapper .reToolWrapper .redRow .reTool,
.redWrapper .redRow .reTool {
    height: 21px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin: -1px 0 0;
  background-position: 0 0;
}

.redWrapper .redRow .reTool span,
.redWrapper .reToolWrapper .redRow .reTool span {
    float: none;
    height: 22px;
    line-hegith: 19px;
  margin: 1px 2px;
}

  .redWrapper .redRow .reToolWrapper .reTool.reSplitButton .BackColor {
  margin-top: -2px;
}

  .redWrapper .reToolWrapper .reTool .split_arrow {
    width: 11px;
  top: -2px;
}

.redWrapper .redRow .reToolWrapper .reTool.reSplitButton:hover,
.redWrapper .redRow .reToolbarWrapper .reTool.reSplitButton:hover {
  background-position: 0 -77px !important;
}

  .redWrapper .reToolWrapper .rfdDecorated {
  margin: 0 10px 0 0;
}

  .redWrapper .redFBWrapper {
    padding: 0;
    margin: 0;
    overflow: auto;
  *overflow: hidden;
}

  .redWrapper .redFBWrapper .redSection {
  border: 0 none;
}

  .redWrapper .redFEWrapper {
    width: 400px;
  float: left;
}

  .redWrapper .redDialogSeparator {
    width: 5px;
    height: 500px;
    font-size: 1px;
  float: left;
}

  .redWrapper .redFBDialogContent {
    width: 398px;
  float: left;
}

  .redWrapper .redFBDialogContent #imageMultiPage {
  height: 405px;
}

  .redWrapper .redFBDialogContentButton {
    padding: 7px 0 0 0;
  text-align: right;
}

  .redWrapper .redFBDialogContentButton .rfdSkinnedButton {
  margin: 0 10px 0 0;
}

  .redWrapper .redMsgContainerFBDialogs {
  width: 220px;
}

  .redWrapper .redMsgContainerFBDialogs #propertyValueDescription {
  padding: 0 5px;
}

  .redWrapper .redMsgContainerFBDialogs #propertyValuePane {
  padding: 5px;
}

  .redWrapper .redMsgContainerFBDialogs #propertyValuePane .rfdTextInput {
  width: 90%;
}

  .redWrapper .redBtnAlignment {
    text-align: right;
  padding-right: 5px;
}

  .redWrapper .redInlineBlock.redMiddle .rfdTextInput {
    width: 178px;
  margin: 0 4px 0 0;
}

  .redWrapper #ImageBorderWidth {
    display: inline-block;
  zoom: 1;
}

  .redWrapper .redSection .redRow .rfdTextInput.redInputTool {
  width: 181px;
}

  .redWrapper.LinkManager .redSection {
  height: 230px;
}

.redWrapper .redImageMapPreview .redSection,
.redWrapper .redImageMapProperties .redSection {
  border-bottom-color: transparent;
}

  .redWrapper .redImageMapPreview {
    width: 334px;
    padding-right: 12px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
  vertical-align: top;
}

  .redWrapper #ImageMap_ImageMapFrame {
    width: 100%;
    height: 334px;
    height: 332px\9;
  border: 0 none;
}

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .redWrapper #ImageMap_ImageMapFrame {
      height: 332px; }
 }
  .redWrapper .redImageMapProperties {
    width: 370px;
    padding-left: 15px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    vertical-align: top;
    border-left-width: 1px;
  border-left-style: solid;
}

  .redWrapper .redImageMapProperties .reImageDialogCaller .rfdTextInput {
  width: 200px;
}

  .redWrapper .redImageMapProperties .reImageDialogCaller .reToolWrapper {
  padding-left: 3px;
}

  .redWrapper #ImageMap_NewArea {
  margin-left: 20px;
}

/* Right to Left Support */
.redRtl {
  direction: rtl;
  overflow: hidden;
  /* Styles for RTL ralted to still not redesigned dialogs, 
			could be necessary to be removed 
			after all dialogs redesign is completed */
}

.redRtl .redWrapper .redFEWrapper,
.redRtl .redWrapper .redDialogSeparator,
.redRtl .redWrapper .redFBDialogContent {
  float: right;
}

.redRtl .redWrapper .redLabel,
.redRtl .redWrapper .redSpanLabel {
    padding: 0 0 0 15px;
  text-align: left;
}

  .redRtl .redInlineBlock.redMiddle .rfdTextInput {
  margin: 0 0 0 4px;
}

  .redRtl .redWrapper .redConstrainWrapper .redConstrainButton {
  left: 135px;
}

  .redRtl .redConstrainWrapper #ImageHeight {
    position: absolute;
  left: 25px;
}

  .redRtl .redConstrainWrapper .redSecondLabel {
  width: 115px;
}

  .redRtl .redConstrainWrapper .redDimensionPixels.redRtlFix {
  margin-right: 43px;
}

  .redRtl .redWrapper .redCheckRadioWrapper {
  margin: 0 123px 0 0;
}

  .redRtl .redWrapper .reTool .split_arrow {
    right: auto;
  left: -2px;
}

  .redRtl .redWrapper .reTool .split_arrow:hover {
    border-left-color: transparent;
    border-right-style: solid;
  border-right-width: 1px;
}

.redRtl .redWrapper .reDropdown,
.redRtl .redWrapper .reDropdown:hover,
.redRtl .redWrapper .reTool_disabled.reDropdown:hover {
  background-position: -25px -360px;
}

.redRtl .redWrapper .redActionButtonsAbsoluteWrapper,
.redRtl .redWrapper .redFBDialogContentButton.redActionButtonsAbsoluteWrapper {
    right: auto;
  left: 15px;
}

  .redRtl .redWrapper .redSectionTop {
  padding: 0 0 17px;
}

.redRtl .reToolWrapper .reDropdown,
.redRtl .reDropdown:hover,
.redRtl .reTool_disabled.reDropdown:hover {
    background-position: -25px -360px;
    padding-left: 10px;
    padding-right: 4px;
  border-radius: 0;
}

  .redRtl .rieRtl .rieContentArea {
  direction: rtl;
}

  .redRtl .redBtnAlignment {
    text-align: left;
  padding-left: 5px;
}

  .redRtl .redAlign {
  text-align: left;
}

  .redRtl .redImageMapPreview {
    width: 330px;
    border-left-style: solid;
    border-left-width: 1px;
    padding-right: 0;
  padding-left: 10px;
}

  .redRtl .redImageMapProperties {
    width: 385px;
    padding-left: 0;
  border-left: 0;
}

  .redRtl #ImageMap_NewArea {
    right: auto;
  left: 15px;
}

  .redRtl #map_props + .redActionButtonsAbsoluteWrapper {
  bottom: 5px;
}

  .redRtl .redImageMapProperties .propertyLabel {
    float: right;
  line-height: 13px;
}

.redRtl .redWrapper .redButtonAlignment,
.redRtl .reBottomcell,
.redRtl #dialogButtons,
.redRtl .rightAlignedInputLabel,
.redRtl .propertyLabel,
.redRtl .reControlCell span,
.redRtl .reDialogLabel,
.redRtl label.sLabel {
  text-align: left;
}

.redRtl .reDialogLabel span,
.redRtl .reLabelCell {
  text-align: left !important;
}

.redRtl .reControlCell,
.redRtl .reToolWrapper .ApplyClass {
  text-align: right;
}

.redRtl .propertyLabel,
.redRtl .reLabelCell,
.redRtl .reBottomcell {
  padding: 5px 0 0 5px !important;
}

.redRtl .reToolWrapper,
.redRtl #sbMainPane,
.redRtl #styleBuilderTabs {
  float: right;
}

  .redRtl .redInlineBlock .reToolWrapper {
  *float: none;
}

  .redRtl #sbMainPane {
  margin: 6px 5px 0 0;
}

.redRtl .reConfirmCancelButtonsTbl,
.redRtl .insertSelectOkCancelButtons {
    float: left;
  padding-left: 5px;
}

.redRtl .reInsertSelectDialogTable .reInsertSelectCssClass #SpinBoxHeight,
.redRtl .reInsertSelectDialogTable .reInsertSelectCssClass #SpinBoxWidth {
  float: right;
}

.redRtl #backgroundPosition .RadComboBox_rtl,
.redRtl .reStyleBuilderSize .RadComboBox_rtl,
.redRtl .reStyleBuilderTextSpacing .RadComboBox_rtl,
.redRtl .reStyleBuilderTextFlow .RadComboBox_rtl,
.redRtl .reStyleBuilderBoxPadding .RadComboBox_rtl,
.redRtl .reStyleBuilderBoxMargin .RadComboBox_rtl {
  margin-right: 10px;
}

  .redRtl fieldset fieldset {
  margin: 0.5em auto 0 0;
}

  .redRtl .reStyleBuilderLists .sLabel.floater {
    float: right;
  text-align: left;
}

.redRtl .reStyleBuilderFonts .inlineLabel.floater,
.redRtl .reStyleBuilderFonts .inlineLabel.floater + div {
  float: right !important;
}

  .redRtl .reStyleBuilderSize .riContentWrapper {
  margin-right: 23px;
}

  .redRtl .reStyleBuilderSize .reInlineBlock.reMetroTouchFix {
  width: 155px;
}

  .redRtl .reStyleBuilderFontAttr div {
  float: right !important;
}

  .redRtl .reStyleBuilderBgImg .sLabel.floater {
  float: right;
}

.redRtl fieldset,
.redRtl fieldset fieldset {
  width: auto;
}

  .redRtl .reStyleBuilderLayoutContent #clip li {
  float: right !important;
}

.redRtl .reStyleBuilderLayoutContent #clip li .RadInputRTL,
.redRtl .reStyleBuilderBoxSize .RadInputRTL,
.redRtl #borderWidthPane .RadInputRTL {
  margin-left: 10px;
}

  .redRtl #BorderContent fieldset {
  float: right;
}

.redBtnAlignment a.rfdSkinnedButton button {
  margin: 0 0 0 7px;
}

/* RTL Styles outside the redWrapper */
.redImageEditor .redRtl .redBtnAlignment {
  text-align: left;
  padding-left: 5px;
}

.redCleanPasteHtmlContent .redRtl iframe html {
  text-align: right;
}

.RadForm .redRtl .redWrapper .rfdCheckboxChecked,
.RadForm .redRtl .redWrapper .rfdCheckboxUnchecked,
.RadForm .redRtl .redWrapper .rfdRadioChecked,
.RadForm .redRtl .redWrapper .rfdRadioUnchecked {
  padding: 0 0 0 1.5em;
}

/* Styles that should be out ot the redWrapper cascade */
.RadForm .redWrapper .rfdCheckboxChecked,
.RadForm .redWrapper .rfdCheckboxUnchecked,
.RadForm .redWrapper .rfdRadioChecked,
.RadForm .redWrapper .rfdRadioUnchecked {
  padding: 0 1.5em 0 0;
}

.reDialogLabelLight span,
.reImgPropertyControlCell span,
.reImgPropertyControlCell input {
  text-align: left;
}

.redFindAndReplace .redInlineBlock {
  *zoom: normal;
}

.redStyleBuilder .RadTabStrip .rtsLI,
.redStyleBuilder .RadTabStrip_rtl .rtsLI {
  width: 100%;
}

.helpTopics {
  border: 1px solid #ccc;
}

.helpTopics .helpTable td {
  padding: 0 7px;
  text-align: left;
}

.helpTopics .reTool .rfdSelect {
  padding: 0;
}

#LinkManagerTab {
  margin: 5px 0 0;
}

.redDocumentManager #LinkManagerTab {
  visibility: visible;
  height: 0;
  overflow: hidden;
}

.RadForm.redImageEditor label span.rfdToggleImage {
  background-image: none;
}

.redImageEditor .redBtnAlignment {
  text-align: right;
  padding-right: 5px;
}

/* Dialogs Dimensions - Base  - for different dimensoins check skin specific file */
.redImageProperties body {
  position: relative;
  width: 400px;
  height: 410px;
}

.redInsertSelectDialog body {
  position: relative;
  width: 560px;
  height: 320px;
}

.redPasteHtml body {
  position: relative;
  width: 510px;
  height: 285px;
}

.redImageManager body {
  position: relative;
  width: 805px;
  height: 502px;
}

.redXhtmlValidator body {
  position: relative;
  width: 800px;
  height: 605px;
}

.redImageMapDialog body {
  position: relative;
  width: 757px;
  height: 455px; }

.redFlashManager body {
  position: relative;
  width: 805px;
  height: 500px;
}

.redSilverlightManager body {
  position: relative;
  width: 805px;
  height: 500px;
}

.redMediaManager body {
  position: relative;
  width: 805px;
  height: 500px;
}

.redInsertExternalVideo body {
  position: relative;
  width: 730px;
  height: 590px;
}

.redDocumentManager body {
  position: relative;
  width: 805px;
  height: 500px;
}

.redTemplateManager body {
  position: relative;
  width: 805px;
  height: 500px;
}

.redFindAndReplace body {
  position: relative;
  width: 385px;
  height: 320px;
}

.redTableWizard body {
  position: relative;
  width: 770px;
  height: 500px;
}

.redLinkManager body {
  position: relative;
  width: 380px;
  height: 330px;
}

.redPageProperties body {
  position: relative;
  width: 420px;
  height: 530px;
}

.redAboutDialog body {
  position: relative;
  width: 490px;
  height: 310px;
}

.redHelp body {
  position: relative;
  width: 700px;
  height: 450px;
}

.redFormatCodeBlock body {
  position: relative;
  width: 740px;
  height: 600px;
}

.redCleanPasteHtmlContent body {
  position: relative;
  width: 600px;
  height: 310px;
}

.redCleanPasteTextContent body {
  position: relative;
  width: 510px;
  height: 300px;
}

.redStyleBuilder body {
  position: relative;
  width: 580px;
  height: 420px;
}

.redImageEditor body {
  position: relative;
  width: 700px;
  height: 510px;
}

.redPasteMarkdown body {
  position: relative;
  width: 510px;
  height: 290px;
}

.redImageManager .rfeUploadContainer {
  overflow-x: hidden;
}

/* Grid overrides */
.RadFileExplorer .RadGrid .rgPager .rgWrap {
  float: none;
}

.RadFileExplorer .RadGrid .rgPager .RadSlider {
  float: none;
}

.RadFileExplorer .RadGrid .rgPager .rgSliderLabel {
  float: left;
}

.RadFileExplorer .RadGrid .rgPager .rgInfoPart {
  text-align: center;
}

/* this a temp fix for the unredisegned dialogs and should be removed after the redesign */
.RadForm .reDialog.FormatCodeBlock,
.RadForm .reDialog.TableWizard .reTableWizardColumns,
.RadForm .reDialog.TableWizard .reTablePropertiesDimensions,
.RadForm .reDialog.TableWizard .reTablePropertiesCssClass,
.RadForm .reDialog.TableWizard .reCellPropertiesPreview,
.RadForm .reDialog.TableWizard .reCellProperties,
.RadForm .reDialog.TableWizard .reTableWizardAccessible,
.RadForm .reDialog.ImageMapEditor,
.RadForm .reDialog.PageProperties {
  margin: 10px 5px 5px \9;
}

.RadForm .reInsertSelectDialogTable .reInsertSelectItemsWrapper,
.RadForm .reInsertSelectDialogTable .reInsertSelectCssClass {
  margin: 10px 5px 5px \9;
}

#dialogControl fieldset {
  margin: 15px 0 5px 0 \9;
}

.RadForm.rfdLabel .radECtrlButtonsList label {
  vertical-align: top\9;
}

/* Mobile Editor */
/* #region MobileDialogTitleBar */
/* #region hbox / vbox (should be removed in t-globl.css file, once it is done) */
.t-hbox {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.t-hbox > .t-spacer, .t-hbox > .t-flex {
  -webkit-flex: 1;
  flex: 1;
}

.t-vbox {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.t-vbox > .t-spacer {
  -webkit-flex: 1;
  flex: 1;
}

/* #endregion */
/* #region MobileDialogTitleBar */
#dialogControl .reMobileDialogTitleBar {
  font-size: 14px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  padding: 4px 10px;
  border-width: 0 0 1px 0;
  border-style: solid;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

  #dialogControl .reMobileDialogTitleBar .reButton {
    vertical-align: top;
  cursor: pointer;
}

  #dialogControl .reMobileDialogTitleBar .reIcon {
  padding: 11px 4px 0;
}

  #dialogControl .reMobileDialogTitleBar h6 {
    margin: 0.5em 0;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    border-width: 0;
  font-size: 16px;
}

  #dialogControl .reMobileDialogTitleBar .reIconCancel:before {
  content: "\E038";
}

  #dialogControl .reMobileDialogTitleBar .reIconOK:before {
  content: "\E037";
}

/* #endregion MobileDialogTitlebar */
/* #region Toollist */
.reMobileDialog {
  font-size: 14px;
  /* Ratio Button */
}

.reMobileDialog html,
.reMobileDialog body,
.reMobileDialog form {
    font-size: 14px;
  -webkit-tap-highlight-color: transparent;
}

.reMobileDialog #dialogControl input,
.reMobileDialog #dialogControl textarea,
.reMobileDialog #dialogControl select,
.reMobileDialog #dialogControl option {
  font-size: initial;
}

  .reMobileDialog .reIcon {
    font-family: "TelerikWebUI";
    font-size: 1.4286em;
    line-height: 1;
    display: inline-block;
  vertical-align: top;
}

  .reMobileDialog .reIcon:before {
  content: "";
}

  .reMobileDialog .reIconSelected:before {
  content: "\E037";
}

  .reMobileDialog .reDropDownBody {
    -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

  .reMobileDialog .reToolDropDown {
  width: 100%;
}

  .reMobileDialog .reToolDropDown > li {
    border: 0;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
  user-select: none;
}

  .reMobileDialog .reToolList {
    margin: 0;
    padding: 0;
  list-style: none;
}

  .reMobileDialog .reToolList > li {
    position: relative;
    min-height: 20px;
    padding: 13px 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    border-width: 0 0 1px;
  border-style: solid;
}

  .reMobileDialog .reToolList + .reToolList {
  margin-top: 10px;
}

  .reMobileDialog .reToolList > li:first-child {
  padding: 13px 20px;
}

  .reMobileDialog .reToolList + .reToolList li:last-child {
  padding: 13px 20px;
}

  .reMobileDialog .reToolList + .reToolList li:first-child {
    border-top-width: 1px;
  border-top-style: solid;
}

.reMobileDialog .reToolList > li .reToolText,
.reMobileDialog .reToolList > li .reToolValue {
    -webkit-flex: 1;
  flex: 1;
}

  .reMobileDialog .reToolList > li .reIcon + .reToolText {
  padding: 0 0 0 10px;
}

  .reMobileDialog .reToolList > li .reToolValue {
  text-align: right;
}

  .reMobileDialog .reToolList > .reIcon {
  margin: 0 10px 0 0;
}

  .reMobileDialog .reToolList > .reIcon.reIconSelected {
  margin: 0;
}

  .reMobileDialog .reToolList > li .reMore {
  margin: -0.1666em -10px -0.1666em 10px;
}

  .reMobileDialog .reToolList .reTool {
    display: -webkit-flex;
    display: flex;
  width: 100%;
}

  .reMobileDialog .reImageManagerHeader + .reToolList {
  margin-top: 0;
}

  .reMobileDialog .reToolList.reImageManagerHeader > li {
  padding: 13px 10px;
}

  .reMobileDialog .reToolList.reImageManagerHeader > li:first-child {
  padding: 13px 20px;
}

  .reMobileDialog .reToolList.reImageManagerHeader > li:last-child {
  padding: 13px 20px 13px 10px;
}

  .reMobileDialog .reToolList + .reToolList li.ruSelectWrap {
    padding: 0;
  border: 0;
}

  .reMobileDialog span.ruFakeInput {
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 10px 0 0;
    width: 180px;
    height: 32px;
    padding: 8px 12px;
    font: inherit;
    border-width: 1px;
    border-style: solid;
  -webkit-appearance: none;
}

  .reMobileDialog span.ruBrowse {
    font-size: 14px;
  padding: 4px 12px 5px;
}

  .reMobileDialog ul.reUploadContainer > li {
  display: block;
}

  .reMobileDialog ul.reUploadContainer #reUploderContainer {
  border-top: 0;
}

  .reMobileDialog .RadButton.reUpload {
    font-size: 14px;
    margin-top: 20px;
  padding: 5px 12px 6px;
}

.reMobileDialog #reUploderContainer .ruInputs .ruFileLI:first-child,
.reMobileDialog .reToolList + .reToolList .rfeThumbList:first-child,
.reMobileDialog .reUploadContainer li:last-child {
  border: 0;
}

  .reMobileDialog .reToolList.reUploadContainer li.reFileExplorerContainer {
  padding: 0;
}

.reMobileDialog.redMobileLinkManager .reToolList > li,
.reMobileDialog.redInsertTable .reToolList > li,
.reMobileDialog.redInsertTable .reToolList + .reToolList li:first-child,
.reMobileDialog.redMobileTableProperties .reToolList > li,
.reMobileDialog.redMobileTableProperties .reToolList + .reToolList li:first-child,
.reMobileDialog.redMobileImageProperties .reToolList > li,
.reMobileDialog.redSizeMargins .reToolList > li,
.reMobileDialog.redSizeMargins .reToolList + .reToolList li:first-child {
  border: 0;
}

.reMobileDialog .reDialogSettings .rfdCheckboxChecked,
.reMobileDialog .reDialogSettings .rfdCheckboxUnchecked,
.reMobileDialog .reDialogSettings .rfdRadioChecked,
.reMobileDialog .reDialogSettings .rfdRadioUnchecked {
  padding: 0;
}

.reMobileDialog .reDialogSettings .rfdCheckboxChecked .rfdToggleImage,
.reMobileDialog .reDialogSettings .rfdCheckboxUnchecked .rfdToggleImage,
.reMobileDialog .reDialogSettings .rfdRadioChecked .rfdToggleImage,
.reMobileDialog .reDialogSettings .rfdRadioUnchecked .rfdToggleImage {
  left: -13px;
}

  .reMobileDialog .rfdSkinnedButton {
    border-radius: 4px; }
  .reMobileDialog input[type="text"], .reMobileDialog .rfdTextInput, .reMobileDialog .reSelect {
    height: auto;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 10px 0 0;
    width: 100%;
    padding: 5px 12px;
    font: inherit;
    border-width: 1px;
  border-style: solid;
}

  .reMobileDialog .reToolList > li .reToolLabel {
    min-width: 30%;
    padding: 9px 0 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
  user-select: none;
}

  .reMobileDialog .reToolInput {
  flex: 2;
}

  .reMobileDialog li.reToolBtn .rfdSkinnedButton {
    width: 100%;
  padding: 6px 12px;
}

  .reMobileDialog .reSpinBoxButtons span {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
  user-select: none;
}

  .reMobileDialog.redSizeMargins .reToolList > li:first-child .reToolValue.reToolInput {
    -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}

  .reMobileDialog .RadButton.rbButton.reRatioLinkButton {
    width: 35px;
    margin: 0 0 -43px 5px;
    padding: 0;
    line-height: normal;
    z-index: 1;
    background-color: transparent;
    background-image: none;
    border: 0;
  box-shadow: none;
}

  .reMobileDialog .RadButton.rbButton.reRatioLinkButton .rbPrimaryIcon {
  margin: -0.08333em 16px 0 -0.41667em;
}

  .reMobileDialog .RadButton.reRatioLinkButton .rbIcon:before {
    width: 35px;
    font-family: TelerikWebUIEditor, monospace;
  font-size: 32px;
}

  .reMobileDialog .reRatioLink:before {
  content: "\e68f";
}

  .reMobileDialog .reRatioUnlink:before {
  content: "\e690";
}

  .reMobileDialog .reIconClearButton:before {
  content: "\E036";
}

  .reMobileDialog .reButton.reAddCustomColor {
    padding: 6px 12px;
  width: 100%;
}

  .reMobileDialog .reColorPicker.reDropDownBody {
    width: 100%;
  padding: 0;
}

  .reMobileDialog .reIconDelete:before {
  content: "\E0C3";
}

  .reMobileDialog .reIconUpload:before {
  content: "\E0C6";
}

  .reMobileDialog .reIconList:before {
  content: "\E077";
}

  .reMobileDialog .reIconThumbnail:before {
  content: "\E0AC";
}

  .reMobileDialog .reIconDisabled:before {
  opacity: 0.5;
}

/* #endregion */
.reMobileDialog .RadFileExplorer .rfeThumbnailView .rfeFile .rfeFileIcon.folder {
  background: none !important;
  font-family: "TelerikWebUI";
}

  .reMobileDialog .RadFileExplorer .rfeThumbnailView .rfeFile .rfeFileIcon.folder:before {
    content: "\e0a1";
  display: inline-block;
}

.reMobileDialog .RadFileExplorer .RadGrid .rfeFileExtension.folder,
.reMobileDialog .RadFileExplorer .RadGrid .rfeFileExtension.jpg,
.reMobileDialog .RadFileExplorer .RadGrid .rfeFileExtension.png,
.reMobileDialog .RadFileExplorer .RadGrid .rfeFileExtension.gif {
  background: none !important;
}

.reMobileDialog .RadFileExplorer .RadGrid .rfeFileExtension.folder:before,
.reMobileDialog .RadFileExplorer .RadGrid .rfeFileExtension.jpg:before,
.reMobileDialog .RadFileExplorer .RadGrid .rfeFileExtension.png:before,
.reMobileDialog .RadFileExplorer .RadGrid .rfeFileExtension.gif:before {
    margin: 0 4px 0 -20px;
    font-size: 1.4286em;
    font-family: "TelerikWebUI";
    display: inline-block;
  vertical-align: middle;
}

.reMobileDialog .RadFileExplorer .RadGrid .rfeFileExtension.folder:before {
  content: "\e0a1";
}

.reMobileDialog .RadFileExplorer .RadGrid .rfeFileExtension.jpg:before,
.reMobileDialog .RadFileExplorer .RadGrid .rfeFileExtension.png:before,
.reMobileDialog .RadFileExplorer .RadGrid .rfeFileExtension.gif:before {
  content: "\e07c";
}

.reMobileDialog .RadFileExplorer .RadGrid .rgRow td,
.reMobileDialog .RadFileExplorer .RadGrid .rgAltRow td,
.reMobileDialog .RadFileExplorer .RadGrid .rgEditRow td,
.reMobileDialog .RadFileExplorer .RadGrid .rgFooter td {
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 14px;
  line-height: 36px;
}

.reMobileDialog .RadFileExplorer .rfeThumbnailView .rfeThumbTitle {
  font-size: 14px; }
