.RadAutoCompleteBox_Vista {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 16px; }
  .RadAutoCompleteBox_Vista .racTokenList {
    border-color: #e2e3ea;
    color: #333333;
    background-color: #ffffff; }
  .RadAutoCompleteBox_Vista .racDisabled {
    border-color: #e3e9ef;
    color: #a5a5a5;
    background-color: #ffffff; }
  .RadAutoCompleteBox_Vista .racToken {
    border-radius: 3px;
    background-image: url('Common/radGradientButtonSprite.png');
    border-color: #707070;
    color: #000000;
    background-color: #d2d2d2;
    background-image: linear-gradient(#f3f3f3 0%, #ececec 50%, #dddddd 50%, #d2d2d2 100%); }
  .RadAutoCompleteBox_Vista .racTokenHovered {
    border-color: #3c7fb1;
    color: #000000;
    background-color: #abdcf7;
    background-image: linear-gradient(#e8f5fd 0%, #dbf1fc 50%, #bee6fd 50%, #abdcf7 100%); }
  .RadAutoCompleteBox_Vista .racTokenSelected {
    border-color: #3c7fb1;
    color: #000000;
    background-color: #ced7dd;
    background-image: linear-gradient(#eff2f4 0%, #eaeef0 50%, #d8e0e5 50%, #ced7dd 100%); }
  .RadAutoCompleteBox_Vista .racDisabled .racToken {
    border-color: #adb2b5;
    color: #8a8a8a;
    background-color: #d2d2d2;
    background-image: linear-gradient(#f3f3f3 0%, #ececec 50%, #dddddd 50%, #d2d2d2 100%); }
  .RadAutoCompleteBox_Vista .racRemoveTokenLink {
    background-image: url('Common/radActionsSprite.png');
    background-position: -2px -1342px; }
  * + html .RadAutoCompleteBox_Vista .racInput {
    color: #333333;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBox_Vista .racEmptyMessage {
    color: #8a8a8a; }
  .RadAutoCompleteBox_Vista .racLoadingIcon {
    background-image: url('Common/loading_small.gif'); }

.RadAutoCompleteBoxPopup_Vista {
  border-color: #979797;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBoxPopup_Vista .racHeader,
  .RadAutoCompleteBoxPopup_Vista .racFooter {
    border-color: #b7bdcd;
    color: #000000;
    background-color: #e0e5f5; }
  .RadAutoCompleteBoxPopup_Vista .racShowAll {
    border-color: #b7bdcd;
    color: #000000;
    background-color: #e0e5f5; }
  .RadAutoCompleteBoxPopup_Vista .racItemHovered {
    color: #000000;
    background-color: #55bbff; }
