.RadRotator_Vista {
  /*================== The list ========================*/
  /* For vertical carousel, not set, width defaults to auto */
  /* Note if you explicitly set width to auto, this might cause */
  /* problems with Safari */
  /* When LoadOnDemand */ }
  .RadRotator_Vista .rrClipRegion {
    border-color: #e2e3ea; }
  .RadRotator_Vista .rrButton {
    background-image: url('Rotator/RotatorButtons.gif');
    background-repeat: no-repeat; }
  .RadRotator_Vista .rrLoadingSign {
    background: url('Common/loading_small.gif') no-repeat center; }
