.RadWindow_Vista {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* Window Background */
  /* Horiznotal */
  /* Vertical */
  /* Window Shadows */
  /* Horiznotal */
  /* Vertical */
  /* Shadows End */
  /* 
		This is a hack to achieve "Aero" look and feel for that particular skin.
		It should be removed for the other skins, as the background coordinates
		are specified in Window.css and are common for all skins*/
  /* End of the "Aero" hack */
  /* overlay element should be minimized when the window is minimized */
  /* Loading Indicators */
  /* When ShowContentDuringLoad="true" */
  /* When ShowContentDuringLoad="false" */
  /* Shadow Control Buttons */
  /* ctrl buttons when winodw is minimized */ }
  .RadWindow_Vista .rwTopLeft, .RadWindow_Vista .rwTopRight, .RadWindow_Vista .rwTitlebar, .RadWindow_Vista .rwFooterLeft, .RadWindow_Vista .rwFooterRight, .RadWindow_Vista .rwFooterCenter, .RadWindow_Vista .rwTopResize, .RadWindow_Vista .rwStatusbar div, .RadWindow_Vista .rwStatusbar, .RadWindow_Vista .rwPopupButton, .RadWindow_Vista .rwPopupButton span, .RadWindow_Vista.rwMinimizedWindow .rwCorner {
    background-image: url('Window/WindowHorizontalSprites.gif'); }
  .RadWindow_Vista .rwBodyLeft, .RadWindow_Vista .rwBodyRight, .RadWindow_Vista .rwStatusbarRow .rwCorner {
    background-image: url('Window/WindowVerticalSprites.gif'); }
  .RadWindow_Vista .rwShadow .rwTopLeft, .RadWindow_Vista .rwShadow .rwTopRight, .RadWindow_Vista .rwShadow .rwTitlebar, .RadWindow_Vista .rwShadow .rwFooterLeft, .RadWindow_Vista .rwShadow .rwFooterRight, .RadWindow_Vista .rwShadow .rwFooterCenter, .RadWindow_Vista .rwShadow .rwTopResize, .RadWindow_Vista .rwShadow .rwStatusbar div, .RadWindow_Vista .rwShadow .rwStatusbar, .RadWindow_Vista .rwShadow .rwPopupButton, .RadWindow_Vista .rwShadow .rwPopupButton span, .RadWindow_Vista .rwShadow .rwBodyLeft, .RadWindow_Vista .rwShadow .rwBodyRight, .RadWindow_Vista .rwShadow .rwStatusbarRow .rwBodyLeft, .RadWindow_Vista .rwShadow .rwStatusbarRow .rwBodyRight {
    background-image: url('Window/WindowHorizontalSprites.png'); }
  .RadWindow_Vista .rwShadow .rwBodyLeft, .RadWindow_Vista .rwShadow .rwBodyRight, .RadWindow_Vista .rwShadow .rwStatusbarRow .rwBodyLeft, .RadWindow_Vista .rwShadow .rwStatusbarRow .rwBodyRight {
    background-image: url('Window/WindowVerticalSprites.png'); }
  .RadWindow_Vista .rwStatusbar input {
    background-color: #f7f3e9; }
  .RadWindow_Vista .rwControlButtons a {
    background-image: url('Window/CommandButtonSprites.gif'); }
  .RadWindow_Vista a.rwIcon {
    background-image: url('Window/WindowHorizontalSprites.gif'); }
  .RadWindow_Vista table.rwTitlebarControls em {
    color: #000000; }
  .RadWindow_Vista table .rwTitlebar, .RadWindow_Vista table .rwTopResize, .RadWindow_Vista.rwMinimizedWindow tr.rwTitleRow td.rwTitlebar, .RadWindow_Vista.rwMinimizedWindow tr.rwTitleRow div.rwTopResize {
    background: url('Window/AeroTitleBarBgr.gif') repeat-x !important; }
  .RadWindow_Vista table .rwTitlebar, .RadWindow_Vista table .rwTopLeft, .RadWindow_Vista table .rwTopRight, .RadWindow_Vista table .rwFooterLeft, .RadWindow_Vista table .rwFooterRight, .RadWindow_Vista table .rwFooterCenter, .RadWindow_Vista table .rwBodyLeft, .RadWindow_Vista table .rwBodyRight {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65) !important;
    opacity: 0.65 !important; }
  .RadWindow_Vista.rwShadow table.rwShadow .rwTitlebar, .RadWindow_Vista.rwShadow table.rwShadow .rwTopLeft, .RadWindow_Vista.rwShadow table.rwShadow .rwTopRight, .RadWindow_Vista.rwShadow table.rwShadow .rwFooterLeft, .RadWindow_Vista.rwShadow table.rwShadow .rwFooterRight, .RadWindow_Vista.rwShadow table.rwShadow .rwFooterCenter, .RadWindow_Vista.rwShadow table.rwShadow .rwBodyLeft, .RadWindow_Vista.rwShadow table.rwShadow .rwBodyRight {
    filter: none !important; }
  .RadWindow_Vista .rwShadow .rwTitlebar, .RadWindow_Vista.rwMinimizedWindow .rwShadow tr.rwTitleRow td.rwTitlebar, .RadWindow_Vista.rwMinimizedWindow .rwShadow tr.rwTitleRow div.rwTopResize {
    background: url('Window/AeroTitleBarBgr.png') repeat-x 0 0 !important; }
  .RadWindow_Vista iframe.minimizedwindowoverlay_Vista {
    /* take into account the borders of the main <div> of the window when setting width / height */
    width: 200px !important;
    height: 30px !important; }
  .RadWindow_Vista input.rwDialogInput {
    border-top: 1px solid #abadb3;
    border-right: 1px solid #dbdfe6;
    border-bottom: 1px solid #e3e9ef;
    border-left: 1px solid #e2e3ea; }
  .RadWindow_Vista input.rwDialogInput:hover {
    border-top: 1px solid #5794bf;
    border-right: 1px solid #b7d5ea;
    border-bottom: 1px solid #c7e2f1;
    border-left: 1px solid #c5daed;
    color: #565656; }
  .RadWindow_Vista tr td.rwWindowContent {
    background-color: #ffffff; }
  .RadWindow_Vista table tr td.rwLoading {
    background-color: #f2f9fc; }
  .RadWindow_Vista tr td.rwWindowContent.rwLoading {
    background-image: url('Common/loading.gif'); }
  .RadWindow_Vista td input.rwLoading {
    background-image: url('Common/loading_small.gif'); }
  .RadWindow_Vista.rwNoTitleBar.RadWindow .rwTopResize {
    background: none !important; }
  .RadWindow_Vista.rwNoTitleBar.rwNoTitleBar .rwTable.rwShadow .rwTitleRow .rwTitlebar {
    background-image: url('Window/WindowHorizontalSprites.png') !important;
    background-position: 0 -525px !important;
    background-repeat: repeat-x !important; }
  .RadWindow_Vista.rwNoTitleBar table.rwTable tr.rwTitleRow td.rwTitlebar, .RadWindow_Vista.rwNoTitleBar.rwInactiveWindow table.rwTable.rwShadow tr.rwTitleRow td.rwTitlebar {
    background-position: 0 -288px !important;
    background-image: url('Window/WindowHorizontalSprites.gif') !important; }
  .RadWindow_Vista .rwShadow .rwControlButtons {
    margin: 5px -2px 0 0; }
  .RadWindow_Vista .rwShadow .rwControlButtons {
    margin: 5px 0 0 0\9; }
  .RadWindow_Vista.rwMinimizedWindowShadow .rwShadow .rwControlButtons {
    margin: 9px -8px 0 0; }
  .RadWindow_Vista .rwShadow .rwControlButtons li {
    float: left;
    padding: 0; }
  .RadWindow_Vista .rwShadow .rwControlButtons a {
    width: 30px; }
  .RadWindow_Vista.rwInactiveWindow .rwShadow .rwTopLeft, .RadWindow_Vista.rwInactiveWindow .rwShadow .rwTopRight, .RadWindow_Vista.rwInactiveWindow .rwShadow .rwTitlebar, .RadWindow_Vista.rwInactiveWindow .rwShadow .rwFooterLeft, .RadWindow_Vista.rwInactiveWindow .rwShadow .rwFooterRight, .RadWindow_Vista.rwInactiveWindow .rwShadow .rwFooterCenter, .RadWindow_Vista.rwInactiveWindow .rwShadow .rwTopResize, .RadWindow_Vista.rwInactiveWindow .rwShadow .rwStatusbar div, .RadWindow_Vista.rwInactiveWindow .rwShadow .rwStatusbar, .RadWindow_Vista.rwInactiveWindow .rwShadow .rwPopupButton, .RadWindow_Vista.rwInactiveWindow .rwShadow .rwPopupButton span, .RadWindow_Vista.rwInactiveWindow .rwShadow.rwMinimizedWindow .rwCorner, .RadWindow_Vista.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopLeft, .RadWindow_Vista.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTitlebar, .RadWindow_Vista.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopRight, .RadWindow_Vista.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterLeft, .RadWindow_Vista.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterCenter, .RadWindow_Vista.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterRight {
    background-image: url('Window/WindowHorizontalSprites.gif') !important; }
  .RadWindow_Vista.rwInactiveWindow .rwShadow .rwBodyLeft, .RadWindow_Vista.rwInactiveWindow .rwShadow .rwBodyRight, .RadWindow_Vista.rwInactiveWindow .rwShadow .rwStatusbarRow .rwCorner, .RadWindow_Vista.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyLeft, .RadWindow_Vista.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyRight {
    background-image: url('Window/WindowVerticalSprites.gif') !important; }
  .RadWindow_Vista.rwInactiveWindow .rwShadow .rwTitlebar, .RadWindow_Vista.rwInactiveWindow .rwShadow .rwTopResize, .RadWindow_Vista.rwInactiveWindow .rwShadow tr.rwTitleRow td.rwTitlebar, .RadWindow_Vista.rwInactiveWindow .rwShadow tr.rwTitleRow div.rwTopResize {
    background-image: url('Window/AeroTitleBarBgr.gif') !important;
    background-repeat: repeat-x !important;
    background-position: 0 8px !important; }
  .RadWindow_Vista.rwNoTitleBar .rwShadow tr.rwTitleRow td.rwTitlebar {
    background-image: url('Window/WindowHorizontalSprites.png') !important; }

div.RadWindow_Vista.rwNoTitleBar.rwInactiveWindow table.rwShadow tr.rwTitleRow td.rwTopRight {
  background-position: -8px -280px !important; }
