.RadWizard_Vista {
  color: #000000;
  background: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
.RadWizard_Vista .rwzButton {
  border-radius: 0.25em;
  background-color: #c5c5c5;
  background-image: url('Common/radGradientButtonSprite.png');
  border-color: #707070;
  color: #000000;
  background-color: #d2d2d2;
  background-image: linear-gradient(#f3f3f3, #ececec 50%, #dddddd 50%, #d2d2d2); }
  .RadWizard_Vista .rwzButton.rwzHovered {
    background-color: #c6c6c6;
    border-color: #3c7fb1;
    color: #000000;
    background-color: #abdcf7;
    background-image: linear-gradient(#e8f5fd, #dbf1fc 50%, #bee6fd 50%, #abdcf7); }
  .RadWizard_Vista .rwzButton.rwzClicked {
    border-color: #3c7fb1;
    color: #000000;
    background-color: #ced7dd;
    background-image: linear-gradient(#eff2f4, #eaeef0 50%, #d8e0e5 50%, #ced7dd); }
  .RadWizard_Vista .rwzButton.rwzDisabled {
    border-color: #adb2b5;
    color: #8a8a8a;
    background-color: #d2d2d2;
    background-image: linear-gradient(#f3f3f3, #ececec 50%, #dddddd 50%, #d2d2d2); }
.RadWizard_Vista .rwzBreadCrumb .rwzLI {
  border-color: #707070; }
.RadWizard_Vista .rwzBreadCrumb .rwzLink {
  border: 1px solid #f0f0f0;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: url('Wizard/rwzTab.png') repeat-x 0 50%; }
  @media screen\9 {
    .RadWizard_Vista .rwzBreadCrumb .rwzLink {
      color: #000000; } }
.RadWizard_Vista .rwzBreadCrumb .rwzCallout {
  top: -1px;
  bottom: -1px;
  background: url('Wizard/rwzCallout.png') no-repeat 100% 50%; }
.RadWizard_Vista .rwzBreadCrumb .rwzHovered {
  border-color: #3c7fb1; }
  .RadWizard_Vista .rwzBreadCrumb .rwzHovered .rwzLink {
    background-image: url('Wizard/rwzTabHover.png'); }
  .RadWizard_Vista .rwzBreadCrumb .rwzHovered .rwzCallout {
    background-image: url('Wizard/rwzCalloutHover.png'); }
.RadWizard_Vista .rwzBreadCrumb .rwzSelected {
  border-color: #3c7fb1; }
  .RadWizard_Vista .rwzBreadCrumb .rwzSelected .rwzLink {
    border-color: #6ddefa;
    box-shadow: 0 0 2px #6ddefa inset;
    background-image: url('Wizard/rwzTabSelect.png'); }
  .RadWizard_Vista .rwzBreadCrumb .rwzSelected .rwzCallout {
    background-image: url('Wizard/rwzCalloutSelect.png'); }
.RadWizard_Vista .rwzBreadCrumb .rwzDisabled {
  border-color: #adb2b5; }
  .RadWizard_Vista .rwzBreadCrumb .rwzDisabled .rwzLink {
    color: #a5a5a5;
    *border-color: #f0f0f0;
    border-color: rgba(255, 255, 255, 0.7);
    background: #d2d2d2;
    box-shadow: none; }
  .RadWizard_Vista .rwzBreadCrumb .rwzDisabled .rwzCallout {
    background-image: url('Wizard/rwzCalloutDisable.png'); }
.RadWizard_Vista .rwzProgressBar {
  border-radius: 0.25em;
  border-color: #e2e3ea;
  background-color: #fff; }
.RadWizard_Vista .rwzProgress {
  border-radius: 0.16667em 0em 0em 0.16667em;
  background-color: #80c6f0; }

.RadWizard_Vista.rwzHorizontal .rwzFirst {
  border-radius: 0.33333em 0em 0em 0.33333em; }
  .RadWizard_Vista.rwzHorizontal .rwzFirst .rwzLink {
    border-radius: 0.25em 0em 0em 0.25em; }
.RadWizard_Vista.rwzHorizontal .rwzLast {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Vista.rwzHorizontal .rwzLast .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }
.RadWizard_Vista.rwzHorizontal .rwzFirst.rwzLast {
  border-radius: 0.33333em; }
  .RadWizard_Vista.rwzHorizontal .rwzFirst.rwzLast .rwzLink {
    border-radius: 0.25em; }
.RadWizard_Vista.rwzHorizontal .rwzProgressBar {
  background-image: linear-gradient(#f6f6f6, #fff); }
.RadWizard_Vista.rwzHorizontal .rwzProgress {
  background-image: linear-gradient(#b8dff7, #80c6f0); }

.RadWizard_Vista.rwzVertical .rwzFirst {
  border-radius: 0.33333em 0.33333em 0em 0em; }
  .RadWizard_Vista.rwzVertical .rwzFirst .rwzLink {
    border-radius: 0.25em 0.25em 0em 0em; }
.RadWizard_Vista.rwzVertical .rwzLast {
  border-radius: 0em 0em 0.33333em 0.33333em; }
  .RadWizard_Vista.rwzVertical .rwzLast .rwzLink {
    border-radius: 0em 0em 0.25em 0.25em; }
.RadWizard_Vista.rwzVertical .rwzSelected,
.RadWizard_Vista.rwzVertical .rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.RadWizard_Vista.rwzVertical .rwzFirst.rwzLast.rwzSelected, .RadWizard_Vista.rwzVertical .rwzFirst.rwzLast.rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.RadWizard_Vista.rwzVertical .rwzProgressBar {
  background-image: linear-gradient(90deg, #f6f6f6, #fff); }
.RadWizard_Vista.rwzVertical .rwzProgress {
  background-image: linear-gradient(90deg, #b8dff7, #80c6f0); }

.RadWizard_Vista.rwzRightBreadCrumb .rwzBreadCrumb .rwzCallout,
.RadWizard_Vista.RadWizard_rtl .rwzBreadCrumb .rwzCallout {
  background: url('Wizard/rwzCalloutRtl.png') no-repeat 0 50%; }
.RadWizard_Vista.rwzRightBreadCrumb .rwzBreadCrumb .rwzHovered .rwzCallout,
.RadWizard_Vista.RadWizard_rtl .rwzBreadCrumb .rwzHovered .rwzCallout {
  background-image: url('Wizard/rwzCalloutHoverRtl.png'); }
.RadWizard_Vista.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzCallout,
.RadWizard_Vista.RadWizard_rtl .rwzBreadCrumb .rwzSelected .rwzCallout {
  background-image: url('Wizard/rwzCalloutSelectRtl.png'); }
.RadWizard_Vista.rwzRightBreadCrumb .rwzBreadCrumb .rwzDisabled .rwzCallout,
.RadWizard_Vista.RadWizard_rtl .rwzBreadCrumb .rwzDisabled .rwzCallout {
  background-image: url('Wizard/rwzCalloutDisableRtl.png'); }

.RadWizard_Vista.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzFirst,
.RadWizard_Vista.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzFirst {
  border-radius: 0em 0.33333em 0em 0em; }
  .RadWizard_Vista.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzFirst .rwzLink,
  .RadWizard_Vista.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzFirst .rwzLink {
    border-radius: 0em 0.25em 0em 0em; }
.RadWizard_Vista.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzLast,
.RadWizard_Vista.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzLast {
  border-radius: 0em 0em 0.25em 0em; }
  .RadWizard_Vista.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzLast .rwzLink,
  .RadWizard_Vista.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzLast .rwzLink {
    border-radius: 0em 0em 0.25em 0em; }
.RadWizard_Vista.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast,
.RadWizard_Vista.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Vista.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast .rwzLink,
  .RadWizard_Vista.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }

.RadWizard_Vista.RadWizard_rtl.rwzHorizontal .rwzFirst {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Vista.RadWizard_rtl.rwzHorizontal .rwzFirst .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }
.RadWizard_Vista.RadWizard_rtl.rwzHorizontal .rwzLast {
  border-radius: 0.33333em 0em 0em 0.33333em; }
  .RadWizard_Vista.RadWizard_rtl.rwzHorizontal .rwzLast .rwzLink {
    border-radius: 0.25em 0em 0em 0.25em; }
