.RadAutoCompleteBox_Outlook {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 16px; }
  .RadAutoCompleteBox_Outlook .racTokenList {
    border-color: #c3d9f9;
    color: #000000;
    background-color: #ffffff; }
  .RadAutoCompleteBox_Outlook .racDisabled {
    border-color: #ccdbed;
    color: #8d8d8d;
    background-color: #ffffff; }
  .RadAutoCompleteBox_Outlook .racToken {
    border-radius: 3px;
    background-image: url('Common/radGradientButtonSprite.png');
    border-color: #003c74;
    color: #000000;
    background-color: #ebe8e3;
    background-image: linear-gradient(#fdfdfd 0%, #ebe8e3 100%); }
  .RadAutoCompleteBox_Outlook .racTokenHovered {
    border-color: #003c74;
    color: #000000;
    background-color: #f3d8a1;
    background-image: linear-gradient(#fcfcfc 0%, #f3d8a1 100%); }
  .RadAutoCompleteBox_Outlook .racTokenSelected {
    border-color: #002d96;
    color: #000000;
    background-color: #e7c073;
    background-image: linear-gradient(#fcfcfc 0%, #e7c073 100%); }
  .RadAutoCompleteBox_Outlook .racDisabled .racToken {
    border-color: #809eba;
    color: #8d8d8d;
    background-color: #ebe8e3;
    background-image: linear-gradient(#fdfdfd 0%, #ebe8e3 100%); }
  .RadAutoCompleteBox_Outlook .racRemoveTokenLink {
    background-image: url('Common/radActionsSprite.png');
    background-position: -2px -1342px; }
  * + html .RadAutoCompleteBox_Outlook .racInput {
    color: #000000;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBox_Outlook .racEmptyMessage {
    color: #808080; }
  .RadAutoCompleteBox_Outlook .racLoadingIcon {
    background-image: url('Common/loading_small.gif'); }

.RadAutoCompleteBoxPopup_Outlook {
  border-color: #89aee5;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBoxPopup_Outlook .racHeader,
  .RadAutoCompleteBoxPopup_Outlook .racFooter {
    border-color: #b7bdcd;
    color: #000000;
    background-color: #d6e5f3; }
  .RadAutoCompleteBoxPopup_Outlook .racShowAll {
    border-color: #b7bdcd;
    color: #000000;
    background-color: #d6e5f3; }
  .RadAutoCompleteBoxPopup_Outlook .racItemHovered {
    color: #000000;
    background-color: #ffeec2; }
