.RadToolBar_Outlook .rtbText {
  background-image: url('FileExplorer/FileExplorerToolbarSprites.png');
  background-repeat: no-repeat; }

/* RAD EDITOR DIALOGS REDESIGN */
.redWrapper .redSection {
  border-bottom-color: #c3d9f9; }
.redWrapper .reTool {
  border-color: #003c74;
  color: #000000;
  background-color: #ebe8e3;
  background-image: linear-gradient(#fdfdfd, #ebe8e3);
  border-color: #003c74; }
.redWrapper .reTool:hover {
  border-color: #003c74;
  color: #000000;
  background-color: #ffd294;
  background-image: linear-gradient(#fff3ca, #ffd294);
  box-shadow: inset 0 0 1px #ffffff; }
.redWrapper .reTool:active, .redWrapper .reTool:focus {
  border-color: #002d96;
  color: #000000;
  background-color: #e7c073;
  background-image: linear-gradient(#fcfcfc, #e7c073);
  box-shadow: inset 0 0 1px #ffffff; }
.redWrapper a.reDropdown:hover {
  background-image: url('Editor/ToolBarSprites.gif');
  background-color: #ffeec2; }
.redWrapper .redDialogSeparator {
  border-left: 1px solid #c3d9f9;
  border-right: 1px solid #c3d9f9;
  background-image: -webkit-linear-gradient(top, #e3eeff 0%, #7ea6e0 100%);
  background-image: -moz-linear-gradient(top, #e3eeff 0%, #7ea6e0 100%);
  background-image: -ms-linear-gradient(top, #e3eeff 0%, #7ea6e0 100%);
  background-image: -o-linear-gradient(top, #e3eeff 0%, #7ea6e0 100%);
  background-image: linear-gradient(top, #e3eeff 0%, #7ea6e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eeff', endColorstr='#7ea6e0',GradientType=0 );
  filter: none;
  background-color: #7ea6e0;
  background-position: 0 0; }
.redWrapper .redMsgContainerFBDialogs #propertyValueDescription, .redWrapper .redMsgContainerFBDialogs #propertyValuePane {
  background-color: #d6e6f4;
  color: #000000; }
.redWrapper .redImageMapProperties {
  border-left-color: #c3d9f9; }

/* Right to Left Support */
.RadForm_Outlook .redRtl .redWrapper .reTool .split_arrow:hover {
  border-right-color: #003c74; }
.RadForm_Outlook .redRtl .reDropdown:hover {
  background-image: url('Editor/ToolbarSprites.gif');
  background-color: #ffeec2; }
.RadForm_Outlook .redRtl .redImageMapPreview {
  border-left-color: #c3d9f9; }

.reLightweightDialog .selectedFileName {
  border-color: #003c74; }

/* Mobile Editor */
.reMobileDialog.RadForm_Outlook {
  font-size: 14px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .reMobileDialog.RadForm_Outlook.rfdZone {
    background-color: #d0dff4; }
  .reMobileDialog.RadForm_Outlook .reMobileDialogTitleBar {
    background-image: linear-gradient(#e3eeff, #7ea6e0);
    border-color: #003c74; }
  .reMobileDialog.RadForm_Outlook .reToolList > li {
    background-color: #ffffff;
    color: #333333;
    border-color: #0059a7; }
  .reMobileDialog.RadForm_Outlook .reIcon {
    color: #000000; }
  .reMobileDialog.RadForm_Outlook .reIconSelected {
    color: #306ac5; }
  .reMobileDialog.RadForm_Outlook .reDialog {
    background-color: #7ea6e0;
    color: #000000; }
  .reMobileDialog.RadForm_Outlook .reToolList.reImageManagerHeader > li, .reMobileDialog.RadForm_Outlook .reToolList > .reColorBoxWrapper, .reMobileDialog.RadForm_Outlook .reColorPicker {
    background-color: #d6e6f4; }
  .reMobileDialog.RadForm_Outlook .reCurrentColor {
    border-color: #003c74; }
  .reMobileDialog.RadForm_Outlook .reSpinBoxButtons span, .reMobileDialog.RadForm_Outlook .reDialog .reButton, .reMobileDialog.RadForm_Outlook .reColorPicker .reButton {
    border-color: #003c74;
    color: #000000;
    background-color: #ebe8e3;
    background-image: linear-gradient(#fdfdfd, #ebe8e3); }
  .reMobileDialog.RadForm_Outlook .reSpinBoxButtons span.reSpinBoxButtonHover, .reMobileDialog.RadForm_Outlook .reDialog .reButton:hover, .reMobileDialog.RadForm_Outlook .reColorPicker .reButton:hover {
    border-color: #002d96;
    color: #000000;
    background-color: #e7c073;
    background-image: linear-gradient(#fcfcfc, #e7c073); }
  .reMobileDialog.RadForm_Outlook span.ruFakeInput, .reMobileDialog.RadForm_Outlook .reSpinBox input, .reMobileDialog.RadForm_Outlook .reSelect {
    background-color: #ffffff;
    border-color: #c3d9f9;
    color: #000000; }

