.RadWizard_Outlook {
  color: #000000;
  background: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
.RadWizard_Outlook .rwzButton {
  border-radius: 0.25em;
  background-color: #c5c5c5;
  background-image: url('Common/radGradientButtonSprite.png');
  border-color: #003c74;
  color: #000000;
  background-color: #ebe8e3;
  background-image: linear-gradient(#fdfdfd, #ebe8e3); }
  .RadWizard_Outlook .rwzButton.rwzHovered {
    background-color: #c6c6c6;
    border-color: #003c74;
    color: #000000;
    background-color: #f3d8a1;
    background-image: linear-gradient(#fcfcfc, #f3d8a1); }
  .RadWizard_Outlook .rwzButton.rwzClicked {
    border-color: #002d96;
    color: #000000;
    background-color: #e7c073;
    background-image: linear-gradient(#fcfcfc, #e7c073); }
  .RadWizard_Outlook .rwzButton.rwzDisabled {
    border-color: #809eba;
    color: #8d8d8d;
    background-color: #ebe8e3;
    background-image: linear-gradient(#fdfdfd, #ebe8e3); }
.RadWizard_Outlook .rwzBreadCrumb {
  color: #000000; }
  .RadWizard_Outlook .rwzBreadCrumb .rwzLI {
    border-color: #003c74; }
  .RadWizard_Outlook .rwzBreadCrumb .rwzLink {
    border: 1px solid #e0dcd3;
    border: 1px solid rgba(214, 208, 197, 0.75);
    background: url('Wizard/rwzTab.png') repeat-x 0 50%; }
    @media screen\9 {
      .RadWizard_Outlook .rwzBreadCrumb .rwzLink {
        color: #000000; } }
  .RadWizard_Outlook .rwzBreadCrumb .rwzCallout {
    top: -1px;
    bottom: -1px;
    background: url('Wizard/rwzCallout.png') no-repeat 100% 50%; }
  .RadWizard_Outlook .rwzBreadCrumb .rwzHovered {
    color: #000000;
    border-color: #003c74; }
    .RadWizard_Outlook .rwzBreadCrumb .rwzHovered .rwzLink {
      border-color: #fbc860;
      box-shadow: 0 0 2px #fbc860 inset;
      background-image: url('Wizard/rwzTabHover.png'); }
    .RadWizard_Outlook .rwzBreadCrumb .rwzHovered .rwzCallout {
      background-image: url('Wizard/rwzCalloutHover.png'); }
  .RadWizard_Outlook .rwzBreadCrumb .rwzSelected {
    color: #000000;
    border-color: #002d96; }
    .RadWizard_Outlook .rwzBreadCrumb .rwzSelected .rwzLink {
      border-color: #e59700;
      box-shadow: 0 0 2px #e59700 inset;
      background-image: url('Wizard/rwzTabSelect.png'); }
    .RadWizard_Outlook .rwzBreadCrumb .rwzSelected .rwzCallout {
      background-image: url('Wizard/rwzCalloutSelect.png'); }
  .RadWizard_Outlook .rwzBreadCrumb .rwzDisabled {
    color: #8d8d8d;
    border-color: #809eba; }
    .RadWizard_Outlook .rwzBreadCrumb .rwzDisabled .rwzLink {
      border-color: transparent;
      background-color: #fefefe;
      background-image: none;
      box-shadow: none; }
    .RadWizard_Outlook .rwzBreadCrumb .rwzDisabled .rwzCallout {
      background-image: url('Wizard/rwzCalloutDisable.png'); }
.RadWizard_Outlook .rwzProgressBar {
  border-radius: 0.25em;
  border-color: #b7bdcd;
  background-color: #fdfefe; }
.RadWizard_Outlook .rwzProgress {
  border-radius: 0.16667em 0em 0em 0.16667em;
  background-color: #346dc6; }

.RadWizard_Outlook.rwzHorizontal .rwzFirst {
  border-radius: 0.33333em 0em 0em 0.33333em; }
  .RadWizard_Outlook.rwzHorizontal .rwzFirst .rwzLink {
    border-radius: 0.25em 0em 0em 0.25em; }
.RadWizard_Outlook.rwzHorizontal .rwzLast {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Outlook.rwzHorizontal .rwzLast .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }
.RadWizard_Outlook.rwzHorizontal .rwzFirst.rwzLast {
  border-radius: 0.33333em; }
  .RadWizard_Outlook.rwzHorizontal .rwzFirst.rwzLast .rwzLink {
    border-radius: 0.25em; }
.RadWizard_Outlook.rwzHorizontal .rwzProgressBar {
  background-image: linear-gradient(#d6e6f4, #fdfefe); }
.RadWizard_Outlook.rwzHorizontal .rwzProgress {
  background-image: linear-gradient(#8daddf, #346dc6); }

.RadWizard_Outlook.rwzVertical .rwzFirst {
  border-radius: 0.33333em 0.33333em 0em 0em; }
  .RadWizard_Outlook.rwzVertical .rwzFirst .rwzLink {
    border-radius: 0.25em 0.25em 0em 0em; }
.RadWizard_Outlook.rwzVertical .rwzLast {
  border-radius: 0em 0em 0.33333em 0.33333em; }
  .RadWizard_Outlook.rwzVertical .rwzLast .rwzLink {
    border-radius: 0em 0em 0.25em 0.25em; }
.RadWizard_Outlook.rwzVertical .rwzSelected,
.RadWizard_Outlook.rwzVertical .rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.RadWizard_Outlook.rwzVertical .rwzFirst.rwzLast.rwzSelected, .RadWizard_Outlook.rwzVertical .rwzFirst.rwzLast.rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.RadWizard_Outlook.rwzVertical .rwzProgressBar {
  background-image: linear-gradient(90deg, #d6e6f4, #fdfefe); }
.RadWizard_Outlook.rwzVertical .rwzProgress {
  background-image: linear-gradient(90deg, #8daddf, #346dc6); }

.RadWizard_Outlook.rwzRightBreadCrumb .rwzBreadCrumb .rwzCallout,
.RadWizard_Outlook.RadWizard_rtl .rwzBreadCrumb .rwzCallout {
  background: url('Wizard/rwzCalloutRtl.png') no-repeat 0 50%; }
.RadWizard_Outlook.rwzRightBreadCrumb .rwzBreadCrumb .rwzHovered .rwzCallout,
.RadWizard_Outlook.RadWizard_rtl .rwzBreadCrumb .rwzHovered .rwzCallout {
  background-image: url('Wizard/rwzCalloutHoverRtl.png'); }
.RadWizard_Outlook.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzCallout,
.RadWizard_Outlook.RadWizard_rtl .rwzBreadCrumb .rwzSelected .rwzCallout {
  background-image: url('Wizard/rwzCalloutSelectRtl.png'); }
.RadWizard_Outlook.rwzRightBreadCrumb .rwzBreadCrumb .rwzDisabled .rwzCallout,
.RadWizard_Outlook.RadWizard_rtl .rwzBreadCrumb .rwzDisabled .rwzCallout {
  background-image: url('Wizard/rwzCalloutDisableRtl.png'); }

.RadWizard_Outlook.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzFirst,
.RadWizard_Outlook.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzFirst {
  border-radius: 0em 0.33333em 0em 0em; }
  .RadWizard_Outlook.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzFirst .rwzLink,
  .RadWizard_Outlook.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzFirst .rwzLink {
    border-radius: 0em 0.25em 0em 0em; }
.RadWizard_Outlook.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzLast,
.RadWizard_Outlook.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzLast {
  border-radius: 0em 0em 0.33333em 0em; }
  .RadWizard_Outlook.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzLast .rwzLink,
  .RadWizard_Outlook.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzLast .rwzLink {
    border-radius: 0em 0em 0.25em 0em; }
.RadWizard_Outlook.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast,
.RadWizard_Outlook.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Outlook.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast .rwzLink,
  .RadWizard_Outlook.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }

.RadWizard_Outlook.RadWizard_rtl.rwzHorizontal .rwzFirst {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Outlook.RadWizard_rtl.rwzHorizontal .rwzFirst .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }
.RadWizard_Outlook.RadWizard_rtl.rwzHorizontal .rwzLast {
  border-radius: 0.33333em 0em 0em 0.33333em; }
  .RadWizard_Outlook.RadWizard_rtl.rwzHorizontal .rwzLast .rwzLink {
    border-radius: 0.25em 0em 0em 0.25em; }
