.RadButton_Default {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* RadButton Default Skin */ }
  .RadButton_Default .rbDecorated {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 12px; }
  .RadButton_Default.rbSkinnedButton,
  .RadButton_Default .rbDecorated, .RadButton_Default.rbVerticalButton, .RadButton_Default.rbVerticalButton .rbDecorated,
  .RadButton_Default .rbSplitRight,
  .RadButton_Default .rbSplitLeft {
    background-image: url('Common/radFormSprite.png');
    color: #333333; }
  .RadButton_Default .rbToggleCheckbox,
  .RadButton_Default .rbToggleCheckboxChecked,
  .RadButton_Default .rbToggleCheckboxFilled,
  .RadButton_Default .rbToggleRadio,
  .RadButton_Default .rbToggleRadioChecked {
    background-image: url('Common/radFormToggleSprite.png'); }
  .RadButton_Default.rbToggleButton, .RadButton_Default.rbToggleButton.rbDisabled:hover {
    color: #333333; }
  .RadButton_Default.rbToggleButton:hover {
    color: black; }
  .RadButton_Default.RadButton.rbLinkButton {
    background-color: #e6e6e6;
    border: 1px solid #cdcdcd;
    _border: 1px solid #cdcdcd !important;
    color: #333333; }
    .RadButton_Default.RadButton.rbLinkButton:hover {
      background-color: #c3c3c3;
      color: black; }
  .RadButton_Default.RadButton.rbLinkButtonChecked, .RadButton_Default.RadButton.rbLinkButtonChecked:hover {
    background-color: gray;
    color: white;
    border: 1px solid #676767; }
  .RadButton_Default.rbLinkButton:hover .rbSplitLeft, .RadButton_Default.rbLinkButton:hover .rbSplitRight {
    background-color: #e6e6e6; }
  .RadButton_Default.rbLinkButton .rbSplitRight {
    border-left: 1px solid #cdcdcd; }
  .RadButton_Default.rbLinkButton .rbSplitRight:hover {
    background-color: #c3c3c3;
    border-left: 1px solid #aaaaaa; }
  .RadButton_Default.rbLinkButton .rbSplitRight:active, .RadButton_Default.rbLinkButton .rbSplitRight:focus {
    background-color: gray;
    border-left: 1px solid #676767; }
  .RadButton_Default.rbLinkButton .rbSplitLeft {
    border-right: 1px solid #cdcdcd; }
  .RadButton_Default.rbLinkButton .rbSplitLeft:hover {
    background-color: #c3c3c3;
    border-right: 1px solid #aaaaaa; }
  .RadButton_Default.rbLinkButton .rbSplitLeft:active, .RadButton_Default.rbLinkButton .rbSplitLeft:focus {
    background-color: gray;
    border-right: 1px solid #676767; }
  .RadButton_Default.rbLinkButton.rbRounded {
    border-color: #cdcdcd;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(white, #e6e6e6); }
  .RadButton_Default.rbLinkButton.rbRounded:hover {
    border-color: #aaaaaa;
    color: black;
    background-color: #c3c3c3;
    background-image: linear-gradient(#dddddd, #c3c3c3); }
  .RadButton_Default.rbLinkButton.rbRounded:active, .RadButton_Default.rbLinkButton.rbRounded:focus {
    border-color: #676767;
    color: white;
    background-color: gray;
    background-image: linear-gradient(#9a9a9a, gray); }
  .RadButton_Default.rbLinkButton.rbRounded.rbDisabled, .RadButton_Default.rbLinkButton.rbRounded.rbDisabled:hover, .RadButton_Default.rbLinkButton.rbRounded.rbDisabled:active, .RadButton_Default.rbLinkButton.rbRounded.rbDisabled:focus {
    background-position: 0 0; }
