.RadTabStrip_Default {
  color: #333333;
  font: 12px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 26px; }
  .RadTabStrip_Default .rtsGhostTab {
    border-color: #8a8a8a;
    border-radius: 5px;
    color: #333333;
    background-color: #fafafa; }
  .RadTabStrip_Default .rtsLI,
  .RadTabStrip_Default .rtsLink {
    color: #333333;
    font: 12px/26px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadTabStrip_Default .rtsLink {
    background-image: none; }
    .RadTabStrip_Default .rtsLink:hover, .RadTabStrip_Default .rtsLink.rtsSelected {
      text-decoration: underline; }
    .RadTabStrip_Default .rtsLink.rtsDisabled {
      text-decoration: none; }
  .RadTabStrip_Default .rtsOut {
    background-image: none; }
  .RadTabStrip_Default .rtsSelected,
  .RadTabStrip_Default .rtsSelected:hover {
    text-decoration: underline; }
  .RadTabStrip_Default .rtsDisabled {
    color: #a5a5a5; }
  .RadTabStrip_Default .rtsLevel {
    background-color: transparent; }
    .RadTabStrip_Default .rtsLevel .rtsFirst .rtsLink {
      background-position: 0 0; }
    .RadTabStrip_Default .rtsLevel .rtsLink {
      background-image: url('TabStrip/TabStripStates.png');
      background-position: 0 -52px; }
      .RadTabStrip_Default .rtsLevel .rtsLink.rtsSelected {
        color: #000000;
        text-decoration: none;
        background-position: 0 -26px; }
      .RadTabStrip_Default .rtsLevel .rtsLink.rtsAfter {
        background-position: 0 -78px; }
    .RadTabStrip_Default .rtsLevel .rtsOut {
      background-image: url('TabStrip/TabStripStates.png');
      background-position: 100% -52px; }
    .RadTabStrip_Default .rtsLevel .rtsLast .rtsOut {
      background-position: 100% 0; }
    .RadTabStrip_Default .rtsLevel .rtsSelected .rtsOut {
      background-position: 100% -78px; }
    .RadTabStrip_Default .rtsLevel .rtsLast .rtsSelected .rtsOut {
      background-position: 100% -26px; }
  .RadTabStrip_Default .rtsNextArrow,
  .RadTabStrip_Default .rtsPrevArrow,
  .RadTabStrip_Default .rtsPrevArrowDisabled,
  .RadTabStrip_Default .rtsNextArrowDisabled {
    background-image: url('TabStrip/TabStripStates.png'); }

.RadTabStripBottom_Default {
  	/*// levels
  	.rtsLevel {
  
  		
  		&.rtsLevel2,
  		&.rtsLevel3,
  		&.rtsLevel4,
  		&.rtsLevel5 {
  			background-image: none;
  		}
  	}*/ }
  .RadTabStripBottom_Default .rtsLevel.rtsLevel2, .RadTabStripBottom_Default .rtsLevel.rtsLevel3 {
    background-image: none; }
  .RadTabStripBottom_Default .rtsLevel {
    background-position: 0 -599px;
    background-repeat: repeat-x; }
    .RadTabStripBottom_Default .rtsLevel .rtsFirst .rtsLink {
      background-position: 0 -182px; }
    .RadTabStripBottom_Default .rtsLevel .rtsLink {
      background-position: 0 -130px; }
      .RadTabStripBottom_Default .rtsLevel .rtsLink.rtsSelected {
        background-position: 0 -156px; }
      .RadTabStripBottom_Default .rtsLevel .rtsLink.rtsAfter {
        background-position: 0 -104px; }
    .RadTabStripBottom_Default .rtsLevel .rtsOut {
      background-position: 100% -130px; }
    .RadTabStripBottom_Default .rtsLevel .rtsLast .rtsOut {
      background-position: 100% -182px; }
    .RadTabStripBottom_Default .rtsLevel .rtsSelected .rtsOut {
      background-position: 100% -104px; }
    .RadTabStripBottom_Default .rtsLevel .rtsLast .rtsSelected .rtsOut {
      background-position: 100% -156px; }

.RadTabStrip_rtl.RadTabStrip_Default .rtsLink {
  padding: 0 9px 0 0; }
.RadTabStrip_rtl.RadTabStrip_Default .rtsOut {
  padding: 0 0 0 9px; }
.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsLink,
.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsOut {
  background-image: url('TabStrip/TabStripStates_rtl.png'); }
.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsFirst .rtsLink {
  background-position: 100% 0; }
.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsLink {
  background-position: 100% -52px; }
  .RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsLink.rtsSelected {
    background-position: 100% -26px; }
  .RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsLink.rtsAfter {
    background-position: 100% -78px; }
.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsOut {
  background-position: 0 -52px; }
.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsLast .rtsOut {
  background-position: 0 0; }
.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsSelected .rtsOut {
  background-position: 0 -78px; }
.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsLast .rtsSelected .rtsOut {
  background-position: 0 -26px; }

.RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsFirst .rtsLink {
  background-position: 100% -182px; }
.RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsLink {
  background-position: 100% -130px; }
  .RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsLink.rtsSelected {
    background-position: 100% -156px; }
  .RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsLink.rtsAfter {
    background-position: 100% -104px; }
.RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsOut {
  background-position: 0 -130px; }
.RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsLast .rtsOut {
  background-position: 0 -182px; }
.RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsSelected .rtsOut {
  background-position: 0 -104px; }
.RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsLast .rtsSelected .rtsOut {
  background-position: 0 -156px; }

.RadTabStrip_Default.RadTabStripVertical .rtsLevel {
  background-image: none; }
  .RadTabStrip_Default.RadTabStripVertical .rtsLevel .rtsLink,
  .RadTabStrip_Default.RadTabStripVertical .rtsLevel .rtsOut {
    background-image: none; }
.RadTabStrip_Default.RadTabStripVertical .rtsLevel1 .rtsLink {
  background-image: url('TabStrip/TabStripVStates.png');
  *zoom: 1; }

.RadTabStrip_Default.RadTabStripLeft .rtsLevel1 .rtsLink {
  background-position: 0 0; }
  .RadTabStrip_Default.RadTabStripLeft .rtsLevel1 .rtsLink:hover {
    background-position: 0 -200px; }
  .RadTabStrip_Default.RadTabStripLeft .rtsLevel1 .rtsLink.rtsSelected {
    background-position: 0 -400px; }
  .RadTabStrip_Default.RadTabStripLeft .rtsLevel1 .rtsLink.rtsAfter {
    background-position: 0 0; }

.RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsLink,
.RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsFirst .rtsLink {
  background-position: 100% 0; }
  .RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsLink:hover,
  .RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsFirst .rtsLink:hover {
    background-position: 100% -200px; }
  .RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsLink.rtsSelected,
  .RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsFirst .rtsLink.rtsSelected {
    background-position: 100% -400px; }
  .RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsLink.rtsAfter,
  .RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsFirst .rtsLink.rtsAfter {
    background-position: 100% 0; }

.RadTabStripTop_Default_Baseline .rtsLevel1,
.RadTabStripBottom_Default_Baseline .rtsLevel1 {
  background-image: url('TabStrip/TabStripStates.png');
  background-position: 0 100%; }

.RadTabStripBottom_Default_Baseline .rtsLevel1 {
  background-position: 0 -599px; }

html .RadTabStrip_Default_disabled .rtsLevel .rtsLink {
  color: #8d8d8d;
  cursor: default; }
  html .RadTabStrip_Default_disabled .rtsLevel .rtsLink:hover {
    background: transparent;
    text-decoration: none; }
    html .RadTabStrip_Default_disabled .rtsLevel .rtsLink:hover .rtsOut {
      background: transparent; }

div.RadTabStrip_Default a.rtsLink:focus {
  outline-color: #6f6f6f; }

div.RadTabStrip_Default a.rtsLink:focus:after {
  border-color: #6f6f6f \9; }

/* </focus cue> */
.rtsDropClue_Default {
  background-image: url('../Common/TabStrip/rtsDropClueSprite.png'); }

.rtsDropClueTop_Default {
  background-position: 0 -20px; }

.rtsDropClueRight_Default {
  background-position: 0 -30px; }

.rtsDropClueBottom_Default {
  background-position: 0 0; }

.rtsDropClueLeft_Default {
  background-position: 0 -10px; }

/*# sourceMappingURL=TabStrip.Default.css.map */
