.RadSiteMap_Black {
  color: #d7d7d7;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSiteMap_Black .rsmManyLevels > .rsmItem > .rsmLink {
    border-color: #080808; }
  .RadSiteMap_Black .rsmTwoLevels > .rsmItem > .rsmLink, .RadSiteMap_Black .rsmThreeLevels > .rsmItem > .rsmLink, .RadSiteMap_Black .rsmManyLevels .rsmLevel1 > .rsmItem > .rsmLink {
    border-color: #080808; }
  .RadSiteMap_Black .rsmOneLevel .rsmLink, .RadSiteMap_Black .rsmTwoLevels .rsmLevel1 .rsmLink, .RadSiteMap_Black .rsmThreeLevels .rsmLevel1 .rsmLink, .RadSiteMap_Black .rsmManyLevels .rsmLevel2 .rsmLink {
    border-radius: 4px; }
    .RadSiteMap_Black .rsmOneLevel .rsmLink:hover, .RadSiteMap_Black .rsmTwoLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Black .rsmThreeLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Black .rsmManyLevels .rsmLevel2 .rsmLink:hover {
      color: #ffffff;
      background-color: #404040;
      background-image: linear-gradient(#5b5b5b, #404040); }
  * + html .RadSiteMap_Black .rsmLink {
    color: #d7d7d7; }
  .RadSiteMap_Black .rsmLevel .rsmNodeLines .rsmItem {
    background-image: url('SiteMap/NodeLines.png'); }
