.RadTabStrip_Black {
  color: #ffffff;
  font: 12px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 26px; }
  .RadTabStrip_Black .rtsGhostTab {
    border-color: #080808;
    border-radius: 5px;
    color: #ffffff;
    background-color: #303030; }
  .RadTabStrip_Black .rtsLevel {
    background: #e5e9ee; }
    .RadTabStrip_Black .rtsLevel.rtsLevel2, .RadTabStrip_Black .rtsLevel.rtsLevel3, .RadTabStrip_Black .rtsLevel.rtsLevel4, .RadTabStrip_Black .rtsLevel.rtsLevel5 {
      background-color: #202020;
      background-repeat: repeat-x; }
  .RadTabStrip_Black .rtsLI,
  .RadTabStrip_Black .rtsLink {
    color: #ffffff;
    font: 12px/26px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadTabStrip_Black .rtsLink {
    background-image: none; }
    .RadTabStrip_Black .rtsLink:hover {
      text-decoration: underline; }
  .RadTabStrip_Black .rtsOut {
    background-image: none; }
  .RadTabStrip_Black .rtsSelected,
  .RadTabStrip_Black .rtsSelected:hover {
    text-decoration: underline; }
  .RadTabStrip_Black .rtsDisabled {
    color: #6f6f6f; }
  .RadTabStrip_Black .rtsLevel1 {
    background-color: transparent;
    background-image: url('TabStrip/TabStripStates.png');
    background-position: 0 100%;
    background-repeat: no-repeat; }
    .RadTabStrip_Black .rtsLevel1 .rtsFirst .rtsLink {
      background-position: 0 0; }
    .RadTabStrip_Black .rtsLevel1 .rtsLink {
      background-image: url('TabStrip/TabStripStates.png');
      background-position: 0 -52px; }
      .RadTabStrip_Black .rtsLevel1 .rtsLink.rtsSelected {
        color: #9eda29;
        text-decoration: none;
        background-position: 0 -26px; }
      .RadTabStrip_Black .rtsLevel1 .rtsLink.rtsAfter {
        background-position: 0 -78px; }
    .RadTabStrip_Black .rtsLevel1 .rtsOut {
      background-image: url('TabStrip/TabStripStates.png');
      background-position: 100% -52px; }
    .RadTabStrip_Black .rtsLevel1 .rtsLast .rtsOut {
      background-position: 100% 0; }
    .RadTabStrip_Black .rtsLevel1 .rtsSelected .rtsOut {
      background-position: 100% -78px; }
    .RadTabStrip_Black .rtsLevel1 .rtsLast .rtsSelected .rtsOut {
      background-position: 100% -26px; }
  .RadTabStrip_Black .rtsNextArrow,
  .RadTabStrip_Black .rtsPrevArrow,
  .RadTabStrip_Black .rtsPrevArrowDisabled,
  .RadTabStrip_Black .rtsNextArrowDisabled {
    background-image: url('TabStrip/TabStripStates.png'); }

.RadTabStrip_rtl.RadTabStrip_Black .rtsLink {
  padding: 0 9px 0 0; }
.RadTabStrip_rtl.RadTabStrip_Black .rtsOut {
  padding: 0 0 0 9px; }
.RadTabStrip_rtl.RadTabStrip_Black .rtsLevel1 .rtsLink,
.RadTabStrip_rtl.RadTabStrip_Black .rtsLevel1 .rtsOut {
  background-image: url('TabStrip/TabStripStates_rtl.png'); }
.RadTabStrip_rtl.RadTabStrip_Black .rtsLevel1 .rtsFirst .rtsLink {
  background-position: 100% 0; }
.RadTabStrip_rtl.RadTabStrip_Black .rtsLevel1 .rtsLink {
  background-position: 100% -52px; }
  .RadTabStrip_rtl.RadTabStrip_Black .rtsLevel1 .rtsLink.rtsSelected {
    background-position: 100% -26px; }
  .RadTabStrip_rtl.RadTabStrip_Black .rtsLevel1 .rtsLink.rtsAfter {
    background-position: 100% -78px; }
.RadTabStrip_rtl.RadTabStrip_Black .rtsLevel1 .rtsOut {
  background-position: 0 -52px; }
.RadTabStrip_rtl.RadTabStrip_Black .rtsLevel1 .rtsLast .rtsOut {
  background-position: 0 0; }
.RadTabStrip_rtl.RadTabStrip_Black .rtsLevel1 .rtsSelected .rtsOut {
  background-position: 0 -78px; }
.RadTabStrip_rtl.RadTabStrip_Black .rtsLevel1 .rtsLast .rtsSelected .rtsOut {
  background-position: 0 -26px; }

.RadTabStrip_rtl.RadTabStripBottom_Black .rtsLevel1 .rtsFirst .rtsLink {
  background-position: 100% -182px; }
.RadTabStrip_rtl.RadTabStripBottom_Black .rtsLevel1 .rtsLink {
  background-position: 100% -130px; }
  .RadTabStrip_rtl.RadTabStripBottom_Black .rtsLevel1 .rtsLink.rtsSelected {
    background-position: 100% -156px; }
  .RadTabStrip_rtl.RadTabStripBottom_Black .rtsLevel1 .rtsLink.rtsAfter {
    background-position: 100% -104px; }
.RadTabStrip_rtl.RadTabStripBottom_Black .rtsLevel1 .rtsOut {
  background-position: 0 -130px; }
.RadTabStrip_rtl.RadTabStripBottom_Black .rtsLevel1 .rtsLast .rtsOut {
  background-position: 0 -182px; }
.RadTabStrip_rtl.RadTabStripBottom_Black .rtsLevel1 .rtsSelected .rtsOut {
  background-position: 0 -104px; }
.RadTabStrip_rtl.RadTabStripBottom_Black .rtsLevel1 .rtsLast .rtsSelected .rtsOut {
  background-position: 0 -156px; }

.RadTabStrip_Black.RadTabStripVertical .rtsLevel {
  background-image: none; }
  .RadTabStrip_Black.RadTabStripVertical .rtsLevel .rtsLink,
  .RadTabStrip_Black.RadTabStripVertical .rtsLevel .rtsOut {
    background-image: none; }
.RadTabStrip_Black.RadTabStripVertical .rtsLevel1 .rtsLink {
  background-image: url('TabStrip/TabStripVStates.png');
  *zoom: 1; }

.RadTabStripBottom_Black .rtsLevel.rtsLevel2, .RadTabStripBottom_Black .rtsLevel.rtsLevel3 {
  background-image: none; }
.RadTabStripBottom_Black .rtsLevel1 {
  background-position: 0 -599px;
  background-repeat: repeat-x; }
  .RadTabStripBottom_Black .rtsLevel1 .rtsFirst .rtsLink {
    background-position: 0 -182px; }
  .RadTabStripBottom_Black .rtsLevel1 .rtsLink {
    background-position: 0 -130px; }
    .RadTabStripBottom_Black .rtsLevel1 .rtsLink.rtsSelected {
      background-position: 0 -156px; }
    .RadTabStripBottom_Black .rtsLevel1 .rtsLink.rtsAfter {
      background-position: 0 -104px; }
  .RadTabStripBottom_Black .rtsLevel1 .rtsOut {
    background-position: 100% -130px; }
  .RadTabStripBottom_Black .rtsLevel1 .rtsLast .rtsOut {
    background-position: 100% -182px; }
  .RadTabStripBottom_Black .rtsLevel1 .rtsSelected .rtsOut {
    background-position: 100% -104px; }
  .RadTabStripBottom_Black .rtsLevel1 .rtsLast .rtsSelected .rtsOut {
    background-position: 100% -156px; }
.RadTabStripBottom_Black .rtsLevel.rtsLevel2, .RadTabStripBottom_Black .rtsLevel.rtsLevel3, .RadTabStripBottom_Black .rtsLevel.rtsLevel4, .RadTabStripBottom_Black .rtsLevel.rtsLevel5 {
  background-image: none; }

.RadTabStrip_Black.RadTabStripLeft .rtsLevel1 .rtsLink {
  background-position: 0 0; }
  .RadTabStrip_Black.RadTabStripLeft .rtsLevel1 .rtsLink:hover {
    background-position: 0 -200px; }
  .RadTabStrip_Black.RadTabStripLeft .rtsLevel1 .rtsLink.rtsSelected {
    background-position: 0 -400px; }
  .RadTabStrip_Black.RadTabStripLeft .rtsLevel1 .rtsLink.rtsAfter {
    background-position: 0 0; }

.RadTabStrip_Black.RadTabStripRight .rtsLevel1 .rtsLink,
.RadTabStrip_Black.RadTabStripRight .rtsLevel1 .rtsFirst .rtsLink {
  background-position: 100% 0; }
  .RadTabStrip_Black.RadTabStripRight .rtsLevel1 .rtsLink:hover,
  .RadTabStrip_Black.RadTabStripRight .rtsLevel1 .rtsFirst .rtsLink:hover {
    background-position: 100% -200px; }
  .RadTabStrip_Black.RadTabStripRight .rtsLevel1 .rtsLink.rtsSelected,
  .RadTabStrip_Black.RadTabStripRight .rtsLevel1 .rtsFirst .rtsLink.rtsSelected {
    background-position: 100% -400px; }
  .RadTabStrip_Black.RadTabStripRight .rtsLevel1 .rtsLink.rtsAfter,
  .RadTabStrip_Black.RadTabStripRight .rtsLevel1 .rtsFirst .rtsLink.rtsAfter {
    background-position: 100% 0; }

html .RadTabStrip_Black_disabled .rtsLevel1 .rtsLink {
  color: #8d8d8d;
  cursor: default; }
  html .RadTabStrip_Black_disabled .rtsLevel1 .rtsLink:hover {
    background: transparent;
    text-decoration: none; }
    html .RadTabStrip_Black_disabled .rtsLevel1 .rtsLink:hover .rtsOut {
      background: transparent; }

/* <focus cue> */
div.RadTabStrip_Black a.rtsLink:focus {
  outline-color: #6f6f6f; }

div.RadTabStrip_Black a.rtsLink:focus:after {
  border-color: #6f6f6f \9; }

/* </focus cue> */
/** DropClues */
.rtsDropClue_Black {
  background-image: url('../Common/TabStrip/rtsDropClueSprite.png'); }

.rtsDropClueTop_Black {
  background-position: 0 -20px; }

.rtsDropClueRight_Black {
  background-position: 0 -30px; }

.rtsDropClueBottom_Black {
  background-position: 0 0; }

.rtsDropClueLeft_Black {
  background-position: 0 -10px; }

/*# sourceMappingURL=TabStrip.Black.css.map */
