.RadTreeMap_Black {
  border-color: #202020;
  color: white;
  background-color: #494949;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadTreeMap_Black .k-treemap-tile {
    border-color: #202020;
    background-color: #494949; }
  .RadTreeMap_Black .k-treemap-title,
  .RadTreeMap_Black .k-treemap-title-vertical {
    border-color: #080808;
    color: white;
    background-color: #161616; }
  .RadTreeMap_Black .k-leaf {
    border-color: #000000;
    color: white;
    background-color: #494949; }
  .RadTreeMap_Black .k-leaf.k-inverse {
    color: #494949;
    background-color: white; }
  .RadTreeMap_Black .k-leaf.k-state-hover {
    box-shadow: inset 0 0 0 5px #494949; }
