.RadButton_Office2007 {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* RadButton Office2007 Skin */ }
  .RadButton_Office2007 .rbDecorated {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 12px; }
  .RadButton_Office2007.rbSkinnedButton,
  .RadButton_Office2007 .rbDecorated, .RadButton_Office2007.rbVerticalButton, .RadButton_Office2007.rbVerticalButton .rbDecorated,
  .RadButton_Office2007 .rbSplitRight,
  .RadButton_Office2007 .rbSplitLeft {
    background-image: url('Common/radFormSprite.png');
    color: #00156e; }
  .RadButton_Office2007 .rbToggleCheckbox,
  .RadButton_Office2007 .rbToggleCheckboxChecked,
  .RadButton_Office2007 .rbToggleCheckboxFilled,
  .RadButton_Office2007 .rbToggleRadio,
  .RadButton_Office2007 .rbToggleRadioChecked {
    background-image: url('Common/radFormToggleSprite.png'); }
  .RadButton_Office2007.rbToggleButton, .RadButton_Office2007.rbToggleButton.rbDisabled:hover {
    color: #000000; }
  .RadButton_Office2007.rbToggleButton:hover {
    color: #000000; }
  .RadButton_Office2007.RadButton.rbLinkButton {
    background-color: #e8f1fc;
    border: 1px solid #a7bedb;
    color: #00156e; }
    .RadButton_Office2007.RadButton.rbLinkButton:hover {
      background-color: #ffe18a;
      color: #000000; }
  .RadButton_Office2007.RadButton.rbLinkButtonChecked, .RadButton_Office2007.RadButton.rbLinkButtonChecked:hover {
    background-color: #fde292;
    color: #000000;
    border: 1px solid #c3bdae; }
  .RadButton_Office2007.rbLinkButton.rbDisabled, .RadButton_Office2007.rbLinkButton.rbDisabled:hover {
    background-color: #e8f1fc;
    border: 1px solid #9ebfdb;
    color: #8d8d8d; }
  .RadButton_Office2007.rbLinkButton:hover .rbSplitLeft, .RadButton_Office2007.rbLinkButton:hover .rbSplitRight {
    background-color: #e8f1fc; }
  .RadButton_Office2007.rbLinkButton .rbSplitRight {
    border-left: 1px solid #a7bedb; }
  .RadButton_Office2007.rbLinkButton .rbSplitRight:hover {
    background-color: #ffe18a;
    border-left: 1px solid #c6ba9d; }
  .RadButton_Office2007.rbLinkButton .rbSplitRight:active, .RadButton_Office2007.rbLinkButton .rbSplitRight:focus {
    background-color: #fde292;
    border-left: 1px solid #c6ba9d; }
  .RadButton_Office2007.rbLinkButton .rbSplitLeft {
    border-right: 1px solid #a7bedb; }
  .RadButton_Office2007.rbLinkButton .rbSplitLeft:hover {
    background-color: #ffe18a;
    border-right: 1px solid #c6ba9d; }
  .RadButton_Office2007.rbLinkButton .rbSplitLeft:active, .RadButton_Office2007.rbLinkButton .rbSplitLeft:focus {
    background-color: #fde292;
    border-right: 1px solid #c6ba9d; }
  .RadButton_Office2007.rbLinkButton.rbDisabled .rbSplitLeft, .RadButton_Office2007.rbLinkButton.rbDisabled .rbSplitLeft:hover, .RadButton_Office2007.rbLinkButton.rbDisabled .rbSplitLeft:active, .RadButton_Office2007.rbLinkButton.rbDisabled .rbSplitLeft:focus {
    border-right: 1px solid #9ebfdb; }
  .RadButton_Office2007.rbLinkButton.rbDisabled .rbSplitRight, .RadButton_Office2007.rbLinkButton.rbDisabled .rbSplitRight:hover, .RadButton_Office2007.rbLinkButton.rbDisabled .rbSplitRight:active, .RadButton_Office2007.rbLinkButton.rbDisabled .rbSplitRight:focus {
    border-left: 1px solid #9ebfdb; }
  .RadButton_Office2007.rbLinkButton.rbRounded {
    border-color: #a7bedb;
    color: #00156e;
    background-color: #e8f1fc;
    background-image: linear-gradient(#e8f1fc, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc); }
  .RadButton_Office2007.rbLinkButton.rbRounded:hover {
    border-color: #c6ba9d;
    color: #000000;
    background-color: #ffe18a;
    background-image: linear-gradient(#fffce8, #ffedb3 50%, #ffd563 50%, #ffe18a); }
  .RadButton_Office2007.rbLinkButton.rbRounded:active, .RadButton_Office2007.rbLinkButton.rbRounded:focus {
    border-color: #c3bdae;
    color: #000000;
    background-color: #fde292;
    background-image: linear-gradient(#ebc59b, #faad60 50%, #f99631 50%, #fde292); }
  .RadButton_Office2007.rbLinkButton.rbRounded.rbDisabled, .RadButton_Office2007.rbLinkButton.rbRounded.rbDisabled:hover, .RadButton_Office2007.rbLinkButton.rbRounded.rbDisabled:active, .RadButton_Office2007.rbLinkButton.rbRounded.rbDisabled:focus {
    border-color: #9ebfdb;
    color: #8d8d8d;
    background-color: #e8f1fc;
    background-image: linear-gradient(#e8f1fc, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc);
    background-position: 0 0; }
