.RadComboBox_Office2007 {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBox_Office2007 .rcbInputCell,
  .RadComboBox_Office2007 .rcbArrowCell {
    background-image: url('Common/radFormSprite.png'); }
  .RadComboBox_Office2007 .rcbInput {
    color: #000000;
    font-size: 12px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 16px; }
  .RadComboBox_Office2007 .rcbEmptyMessage {
    color: #8d8d8d; }
  .RadComboBox_Office2007 .rcbHovered .rcbInput {
    color: #000000; }
  .RadComboBox_Office2007 .rcbFocused .rcbInput {
    color: #000000; }
  .RadComboBox_Office2007 .rcbReadOnly .rcbInput {
    color: #00156e; }
  .RadComboBox_Office2007 .rcbHovered .rcbReadOnly .rcbInput {
    color: #000000; }
  .RadComboBox_Office2007 .rcbFocused .rcbReadOnly .rcbInput {
    color: #000000; }

.RadComboBoxDropDown_Office2007 {
  border-color: #688caf;
  color: #333333;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBoxDropDown_Office2007 .rcbHovered {
    color: #00156e;
    background-color: #ffe27b; }
  .RadComboBoxDropDown_Office2007 .rcbSelected {
    color: #000000;
    background-color: #fcc365; }
  .RadComboBoxDropDown_Office2007 .rcbLoading {
    color: #00156e;
    background-color: #ffe27b; }
  .RadComboBoxDropDown_Office2007 .rcbItem em {
    color: #00156e;
    background-color: #ffe27b; }
  .RadComboBoxDropDown_Office2007 .rcbCheckAllItems {
    border-color: #688caf;
    color: #333333;
    background-color: #c3d8f1; }
  .RadComboBoxDropDown_Office2007 .rcbMoreResults {
    border-color: #688caf;
    color: #333333;
    background-color: #c3d8f1; }
  .RadComboBoxDropDown_Office2007 .rcbSeparator {
    color: #333333;
    background: #c3d8f1; }
