.RadDropDownList_Office2007 {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadDropDownList_Office2007 .rddlInner {
    border-radius: 3px;
    border-color: #a7bedb;
    color: #00156e;
    background-color: #d2e1f4;
    background-image: url('Common/radGradientButtonSprite.png');
    background-image: linear-gradient(#e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%); }
  .RadDropDownList_Office2007 .rddlEmptyMessage,
  .RadDropDownList_Office2007 .rddlDefaultMessage {
    color: #8d8d8d; }
  .RadDropDownList_Office2007 .rddlIcon {
    background-image: url('Common/radActionsSprite.png');
    background-position: -2px -20px; }
  .RadDropDownList_Office2007 .rddlHovered {
    border-color: #c6ba9d;
    color: #000000;
    background-color: #ffd563;
    background-image: linear-gradient(#fffce8 0%, #ffedb3 50%, #ffd563 50%, #ffe18a 100%); }
    .RadDropDownList_Office2007 .rddlHovered .rddlIcon {
      background-position: -22px -20px; }
  .RadDropDownList_Office2007 .rddlFocused {
    border-color: #c3bdae;
    color: #000000;
    background-color: #f99631;
    background-image: linear-gradient(#ebc59b 0%, #faad60 50%, #f99631 50%, #fde292 100%); }
    .RadDropDownList_Office2007 .rddlFocused .rddlIcon {
      background-position: -22px -20px; }

.rddlPopup_Office2007 {
  border-color: #9eb6ce;
  color: #00156e;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .rddlPopup_Office2007 .rddlHeader,
  .rddlPopup_Office2007 .rddlFooter {
    border-color: #688caf;
    color: #00156e;
    background-color: #c3d8f1; }
  .rddlPopup_Office2007 .rddlItemHovered {
    color: #00156e;
    background-color: #ffe27b; }
  .rddlPopup_Office2007 .rddlItemSelected {
    color: #000000;
    background-color: #fcc365; }
  .rddlPopup_Office2007 .rddlItemLoading {
    color: #00156e;
    background-color: #ffe27b; }
