.RadDropDownTree_Office2007 {
  color: #000000;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadDropDownTree_Office2007 .rddtInner {
    border-radius: 3px;
    background-image: url('Common/radGradientButtonSprite.png');
    border-color: #a7bedb;
    color: #00156e;
    background-color: #e8f1fc;
    background-image: linear-gradient(#e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%); }
  .RadDropDownTree_Office2007 .rddtEmptyMessage {
    color: #8d8d8d;
    font-style: italic; }
  .RadDropDownTree_Office2007 .rddtClearButton {
    background-position: -2px -164px; }
  .RadDropDownTree_Office2007 .rddtIcon {
    background-image: url('Common/radActionsSprite.png');
    background-position: -1px -20px; }
  .RadDropDownTree_Office2007 .rddtHovered {
    border-color: #c6ba9d;
    color: #000000;
    background-color: #ffe18a;
    background-image: linear-gradient(#fffce8 0%, #ffedb3 50%, #ffd563 50%, #ffe18a 100%); }
    .RadDropDownTree_Office2007 .rddtHovered .rddtClearButton {
      background-position: -22px -164px; }
      .RadDropDownTree_Office2007 .rddtHovered .rddtClearButton.rddtClearButtonHovered {
        background-position: -62px -164px; }
    .RadDropDownTree_Office2007 .rddtHovered .rddtIcon {
      background-position: -1px -20px; }
  .RadDropDownTree_Office2007 .rddtFocused {
    border-color: #c3bdae;
    color: #000000;
    background-color: #fde292;
    background-image: linear-gradient(#ebc59b 0%, #faad60 50%, #f99631 50%, #fde292 100%); }
    .RadDropDownTree_Office2007 .rddtFocused .rddtClearButton {
      background-position: -42px -164px; }
      .RadDropDownTree_Office2007 .rddtFocused .rddtClearButton.rddtClearButtonHovered {
        background-position: -82px -164px; }
    .RadDropDownTree_Office2007 .rddtFocused .rddtIcon {
      background-position: -1px -20px; }
  .RadDropDownTree_Office2007 .rddtDisabled {
    border-color: #9ebfdb;
    color: #8d8d8d;
    background-color: #e8f1fc;
    background-image: linear-gradient(#e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%); }
    .RadDropDownTree_Office2007 .rddtDisabled .rddtIcon {
      background-position: -1px -20px; }

.rddtPopup_Office2007 {
  border-color: #9eb6ce;
  color: #00156e;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .rddtPopup_Office2007 .rddtHeader,
  .rddtPopup_Office2007 .rddtFooter {
    border-color: #688caf;
    color: #00156e;
    background-color: #c3d8f1; }
  .rddtPopup_Office2007 .rddtFilter {
    border-color: #688caf;
    color: #00156e;
    background-color: #c3d8f1; }
    .rddtPopup_Office2007 .rddtFilter .rddtFilterInput {
      font: 12px "Segoe UI", Arial, Helvetica, sans-serif;
      border-color: #abc1de;
      color: #333333;
      background-color: #ffffff; }
    .rddtPopup_Office2007 .rddtFilter .rddtFilterEmptyMessage {
      color: #8d8d8d;
      font-style: italic; }
  .rddtPopup_Office2007 .RadTreeView em {
    color: #00156e;
    background-color: #ffe27b; }
