.RadImageGallery_Office2007 {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: normal;
  color: black; }
  .RadImageGallery_Office2007 .rigDescriptionBox {
    background-color: #688caf;
    background-color: rgba(104, 140, 175, 0.6);
    color: white; }
  .RadImageGallery_Office2007 .rigToolbar,
  .RadImageGallery_Office2007 .rigCloseButton,
  .RadImageGallery_Office2007 .rigDrawerButton {
    background-color: #d7e6f7;
    background-color: rgba(215, 230, 247, 0.8); }
  .RadImageGallery_Office2007 .rigProgressBar div {
    background-color: #fcc365; }
  .RadImageGallery_Office2007 .rigPager {
    background-color: #ecf3fc;
    color: #00156e; }
    .RadImageGallery_Office2007 .rigPager a {
      color: #00156e; }
    .RadImageGallery_Office2007 .rigPager a.rigCurrentPage {
      color: #000;
      border-color: #898989;
      background: #fff; }
  .RadImageGallery_Office2007 .rigIcon {
    background-image: url('Common/radActionsSprite.png'); }
  .RadImageGallery_Office2007 .rigDotList > a {
    border-color: #5379ac; }
  .RadImageGallery_Office2007 .rigDotList a span {
    background-color: white; }
  .RadImageGallery_Office2007 .rigDotList a.rigCurrentItem span {
    background-color: #ffa614;
    border-color: white; }
  .RadImageGallery_Office2007 .rigTooltip {
    background-color: white;
    border-color: #cdcdcd; }
    .RadImageGallery_Office2007 .rigTooltip:after {
      border-top-color: white; }
  .RadImageGallery_Office2007 .rigPrevButton,
  .RadImageGallery_Office2007 .rigNextButton,
  .RadImageGallery_Office2007 .rigScrollPrevIcon,
  .RadImageGallery_Office2007 .rigScrollNextIcon,
  .RadImageGallery_Office2007 .rigCloseIcon {
    background-image: url('LightBox/sprite.png'); }
  .RadImageGallery_Office2007 .rigPrevButton {
    background-position: 0 -140px; }
  .RadImageGallery_Office2007 .rigNextButton {
    background-position: -60px -140px; }
  .RadImageGallery_Office2007 .rigScrollPrevIcon {
    background-position: -79px  -49px; }
  .RadImageGallery_Office2007 .rigScrollNextIcon {
    background-position: -104px -49px; }
  .RadImageGallery_Office2007.RadImageGallery_RightOutside .rigScrollPrevIcon,
  .RadImageGallery_Office2007.RadImageGallery_RightOutside .rigScrollNextIcon,
  .RadImageGallery_Office2007 .rigThumbnailsBoxVertical .rigScrollPrevIcon,
  .RadImageGallery_Office2007 .rigThumbnailsBoxVertical .rigScrollNextIcon {
    background-position: -62px -89px; }
  .RadImageGallery_Office2007 .RadImageGallery_RightOutside .rigScrollNextIcon,
  .RadImageGallery_Office2007 .rigThumbnailsBoxVertical .rigScrollNextIcon {
    background-position: -96px -89px; }
  .RadImageGallery_Office2007 .rigCloseIcon {
    background-position: -79px -12px; }
  .RadImageGallery_Office2007 .rigActionButton:hover .rigCloseIcon {
    background-position: -101px -12px; }
  .RadImageGallery_Office2007 .rigDrawerIcon {
    background-position: -52px -60px; }
  .RadImageGallery_Office2007 .rigPlayIcon {
    background-position: 1px -1999px; }
  .RadImageGallery_Office2007 .rigPauseIcon {
    background-position: 1px -2019px; }
  .RadImageGallery_Office2007 .rigFullScrIcon {
    background-position: 1px -2099px; }
  .RadImageGallery_Office2007 .rigExtFullScrIcon {
    background-position: 1px -2119px; }
  .RadImageGallery_Office2007 .rigActionButton:hover .rigPlayIcon {
    background-position: -19px -1999px; }
  .RadImageGallery_Office2007 .rigActionButton:hover .rigPauseIcon {
    background-position: -19px -2019px; }
  .RadImageGallery_Office2007 .rigActionButton:hover .rigFullScrIcon {
    background-position: -19px -2099px; }
  .RadImageGallery_Office2007 .rigActionButton:hover .rigExtFullScrIcon {
    background-position: -19px -2119px; }
  .RadImageGallery_Office2007 .rigShowThumbnIcon {
    background-position: 0px -2159px; }
  .RadImageGallery_Office2007 .rigHideThumbnIcon {
    background-position: 0px -2179px; }
  .RadImageGallery_Office2007 .rigActionButton:hover .rigShowThumbnIcon {
    background-position: -20px -2159px; }
  .RadImageGallery_Office2007 .rigActionButton:hover .rigHideThumbnIcon {
    background-position: -20px -2179px; }
