.RadImageEditor_Office2007, .RadImageEditor_Office2007.rieDialogs .riePrintContent {
  border-color: #688caf;
  background-color: #d6e6f4; }
.RadImageEditor_Office2007 .rieStatusBarInfo .rieLabel {
  color: #688caf; }
.RadImageEditor_Office2007 .rieStatusBarInfo span {
  color: #2b4d6e; }
.RadImageEditor_Office2007 .rieContentArea {
  border-color: #688caf; }

/* ImageEditor Dialogs using RadDock as Wrapper */
.RadDock_Office2007.rieDialogs .rbPrimaryIcon, .RadImageEditor_Office2007 .rieResizeHandle, .RadImageEditor_Office2007 .rieBackgroundImg .rtbIcon {
  background-image: url('../Common/ImageEditor/rieToolsLight.png');
  _background-image: url('../Common/ImageEditor/rieToolsLightIE6.png'); }

.RadDock_Office2007.rieDialogs .rieThumbsBottomRow td, .RadDock_Office2007.rieDialogs .rieDialogsThumbsLeft, .RadDock_Office2007.rieDialogs .riePrintContent img {
  border-color: #305090; }

.RadDock_Office2007.rieDialogs .rieThumbsLink {
  border-color: #9ebfdb; }

.RadDock_Office2007.rieDialogs .rieActiveThumbsLink, .RadDock_Office2007.rieDialogs .rieThumbsLink:hover, .RadImageEditor_Office2007 .rieHighlightVertical, .RadImageEditor_Office2007 .rieHighlightHorizontal {
  border-color: #305090;
  background-color: #fffce8; }

.RadDock_Office2007.rieDialogs .rdContent {
  color: #000000; }

.rieBottomCell {
  border-color: #688caf; }

