.RadLightBox_Office2007 {
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  color: black; }
  .RadLightBox_Office2007 .rltbWrapper {
    background: white; }
  .RadLightBox_Office2007 .rltbDescriptionBox {
    color: #272722; }
  .RadLightBox_Office2007 .rltbPager {
    color: #888888; }
  .RadLightBox_Office2007 .rltbDescOverlayTop,
  .RadLightBox_Office2007 .rltbDescOverlayBottom {
    background-color: #688caf;
    background-color: rgba(104, 140, 175, 0.6);
    color: white; }
    .RadLightBox_Office2007 .rltbDescOverlayTop .rltbPager,
    .RadLightBox_Office2007 .rltbDescOverlayBottom .rltbPager {
      color: #b3b3b3; }
  .RadLightBox_Office2007 .rltbToolbar .rltbActionButton {
    background: #bfdbff; }
    .RadLightBox_Office2007 .rltbToolbar .rltbActionButton:hover {
      background: #ffe27b; }
  .RadLightBox_Office2007 .rltbIcon {
    background-image: url('Common/radActionsSprite.png'); }
  .RadLightBox_Office2007 .rltbMaximizeIcon {
    background-position: 0px -2100px; }
  .RadLightBox_Office2007 .rltbRestoreIcon {
    background-position: 0px -2120px; }
  .RadLightBox_Office2007 .rltbActionButton:hover .rltbMaximizeIcon {
    background-position: -20px -2100px; }
  .RadLightBox_Office2007 .rltbActionButton:hover .rltbRestoreIcon {
    background-position: -20px -2120px; }
  .RadLightBox_Office2007 .rltbClose,
  .RadLightBox_Office2007 .rltbCloseIcon,
  .RadLightBox_Office2007 .rltbPrevButton,
  .RadLightBox_Office2007 .rltbNextButton {
    background-image: url('LightBox/sprite.png'); }
  .RadLightBox_Office2007 .rltbClose {
    background-position: 0 -89px; }
  .RadLightBox_Office2007 .rltbCloseButton:hover .rltbCloseIcon {
    background-position: -40px 0; }
  .RadLightBox_Office2007 .rltbPrevButton {
    background-position: -40px -40px; }
  .RadLightBox_Office2007 .rltbNextButton {
    background-position: 0 -40px; }
