/*$main-sprite: skin-image-url( "Common", "radActionsSprite.png" );
$main-spriteIE6: skin-image-url( "Common", "radActionsSpriteIE6.png" );*/
.RadMap_Office2007 {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* Additional styles */
  /*Buttons*/
  /* Markers */
  /* Older IE Fix */ }
  .RadMap_Office2007 .k-header, .RadMap_Office2007 .k-widget, .RadMap_Office2007 .k-popup {
    color: #000000; }
  .RadMap_Office2007 .k-widget, .RadMap_Office2007 .k-header {
    border-color: #7793b9;
    background-color: #e8f0fc; }
  .RadMap_Office2007 .k-header, .RadMap_Office2007 .k-button {
    background-color: #e8f0fc;
    background-image: none, linear-gradient(to bottom, #e8f1fc 0, #d2e1f4 100%); }
  .RadMap_Office2007.k-widget.k-tooltip {
    background-color: #ffd969;
    border-color: #ffd969;
    background-image: none, linear-gradient(to bottom, #ffe977 0, #ffd969 100%);
    color: #282828; }
  .RadMap_Office2007 .k-tooltip-button {
    background-color: #576ebc; }
  .RadMap_Office2007 .k-tooltip-button:hover {
    background-color: #f9932e; }
  .RadMap_Office2007 .k-i-close:before, .RadMap_Office2007 .k-i-close:hover:before {
    color: #fff; }
  .RadMap_Office2007 .k-callout-n {
    border-bottom-color: #ffd969; }
  .RadMap_Office2007 .k-callout-e {
    border-left-color: #ffd969; }
  .RadMap_Office2007 .k-callout-s {
    border-top-color: #ffd969; }
  .RadMap_Office2007 .k-callout-w {
    border-right-color: #ffd969; }
  .RadMap_Office2007 .k-button {
    border-color: #7793b9;
    color: #576ebc;
    background-color: #e9f1fc;
    background-image: linear-gradient(#e8f1fc 0, #e9f1fc 50%, #d2e1f4 50%, #e9f1fc 100%); }
  .RadMap_Office2007 .k-button:hover {
    background-image: linear-gradient(#fffce9 0, #ffeeb8 50%, #ffd666 50%, #ffe18c 100%);
    color: #646246;
    background-color: #ffd666;
    border-color: #c2ae89; }
  .RadMap_Office2007 .k-button:active, .RadMap_Office2007 .k-button:focus {
    background-image: linear-gradient(#ebc59c 0, #fab065 50%, #f9932e 50%, #fde395 100%);
    color: #665347;
    background-color: #f9932e;
    border-color: #a59b85; }
  .RadMap_Office2007 div.k-navigator > .k-button .k-icon:before {
    color: #576ebc; }
  .RadMap_Office2007 div.k-navigator > .k-button:hover {
    background-image: none, linear-gradient(to bottom, #fefae5 0, #fcd873 100%);
    background-color: #ffd666;
    border-color: #c2ae89; }
  .RadMap_Office2007 div.k-navigator > .k-button:hover .k-icon:before {
    color: #646246; }
  .RadMap_Office2007 div.k-navigator > .k-button:active, .RadMap_Office2007 div.k-navigator > .k-button:focus {
    background-image: none, linear-gradient(to bottom, #e9c398 0, #f6983b 100%);
    background-color: #f9932e;
    border-color: #a59b85; }
  .RadMap_Office2007 div.k-navigator > .k-button:active .k-icon:before, .RadMap_Office2007 div.k-navigator > .k-button:focus .k-icon:before {
    color: #665347; }
  .RadMap_Office2007 .k-marker:before {
    color: #f9932e; }
  @media \0screen\,screen\9 {
    .RadMap_Office2007 .k-icon {
      background-image: url('Common/radActionsSprite.png'); } }

