.RadMediaPlayer_Office2007 {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: #000000; }
  .RadMediaPlayer_Office2007 .rmpToolbar {
    color: #00156e;
    background-image: -webkit-linear-gradient(top, rgba(222, 232, 245, 0.85) 0%, rgba(209, 223, 240, 0.85) 51%, rgba(199, 216, 237, 0.85) 51%, rgba(216, 232, 245, 0.85) 100%);
    background-image: -moz-linear-gradient(top, rgba(222, 232, 245, 0.85) 0%, rgba(209, 223, 240, 0.85) 51%, rgba(199, 216, 237, 0.85) 51%, rgba(216, 232, 245, 0.85) 100%);
    background-image: -ms-linear-gradient(top, rgba(222, 232, 245, 0.85) 0%, rgba(209, 223, 240, 0.85) 51%, rgba(199, 216, 237, 0.85) 51%, rgba(216, 232, 245, 0.85) 100%);
    background-image: -o-linear-gradient(top, rgba(222, 232, 245, 0.85) 0%, rgba(209, 223, 240, 0.85) 51%, rgba(199, 216, 237, 0.85) 51%, rgba(216, 232, 245, 0.85) 100%);
    background-image: linear-gradient(to bottom, rgba(222, 232, 245, 0.85) 0%, rgba(209, 223, 240, 0.85) 51%, rgba(199, 216, 237, 0.85) 51%, rgba(216, 232, 245, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9DEE8F5', endColorstr='#D9D8E8F5',GradientType=0 );
    border-color: #688caf;
    box-shadow: 0 0 0 1px #f6f7f9 inset; }
  .RadMediaPlayer_Office2007 .rmpToolbar div.rslTrack {
    background: #abc5eb; }
  .RadMediaPlayer_Office2007 div.rslHorizontal .rslTrack {
    height: 6px !important;
    border: 1px solid #7597c4;
    border-bottom-color: #84a9da;
    background-image: -webkit-linear-gradient(top, #90b6ea 0%, #dee2ec 100%);
    background-image: -moz-linear-gradient(top, #90b6ea 0%, #dee2ec 100%);
    background-image: -ms-linear-gradient(top, #90b6ea 0%, #dee2ec 100%);
    background-image: -o-linear-gradient(top, #90b6ea 0%, #dee2ec 100%);
    background-image: linear-gradient(to bottom, #90b6ea 0%, #dee2ec 100%); }
  .RadMediaPlayer_Office2007 div.rslVertical .rslTrack {
    width: 6px !important;
    border: 0 none;
    background-image: -webkit-linear-gradient(left, #90b6ea 0%, #dee2ec 100%);
    background-image: -moz-linear-gradient(left, #90b6ea 0%, #dee2ec 100%);
    background-image: -ms-linear-gradient(left, #90b6ea 0%, #dee2ec 100%);
    background-image: -o-linear-gradient(left, #90b6ea 0%, #dee2ec 100%);
    background-image: linear-gradient(to right, #90b6ea 0%, #dee2ec 100%); }
  .RadMediaPlayer_Office2007 div.rslHorizontal .rslSelectedregion {
    height: 4px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #40689e;
    background-image: none;
    background-color: #9cbdea; }
  .RadMediaPlayer_Office2007 .rmpLoadProgressBar {
    background-color: #81a1cd;
    background-image: -webkit-linear-gradient(top, #759acc 0%, #96adce 100%);
    background-image: -moz-linear-gradient(top, #759acc 0%, #96adce 100%);
    background-image: -ms-linear-gradient(top, #759acc 0%, #96adce 100%);
    background-image: -o-linear-gradient(top, #759acc 0%, #96adce 100%);
    background-image: linear-gradient(to bottom, #759acc 0%, #96adce 100%); }
  .RadMediaPlayer_Office2007 div.rslHorizontal a.rslDraghandle {
    width: 7px;
    height: 12px;
    margin-top: -4px; }
    .RadMediaPlayer_Office2007 div.rslHorizontal a.rslDraghandle span {
      width: 5px;
      height: 10px; }
  .RadMediaPlayer_Office2007 div.rslVertical a.rslDraghandle {
    width: 12px;
    height: 7px;
    margin-left: -4px; }
    .RadMediaPlayer_Office2007 div.rslVertical a.rslDraghandle span {
      width: 10px;
      height: 5px; }
  .RadMediaPlayer_Office2007 div.rslHorizontal a.rslDraghandle,
  .RadMediaPlayer_Office2007 div.rslVertical a.rslDraghandle {
    background-image: -webkit-linear-gradient(top, #f6f6e8 0%, #dee0c8 100%);
    background-image: -moz-linear-gradient(top, #f6f6e8 0%, #dee0c8 100%);
    background-image: -ms-linear-gradient(top, #f6f6e8 0%, #dee0c8 100%);
    background-image: -o-linear-gradient(top, #f6f6e8 0%, #dee0c8 100%);
    background-image: linear-gradient(to bottom, #f6f6e8 0%, #dee0c8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6e8', endColorstr='#dee0c8',GradientType=0 );
    border: 1px solid #416aa0; }
    .RadMediaPlayer_Office2007 div.rslHorizontal a.rslDraghandle span,
    .RadMediaPlayer_Office2007 div.rslVertical a.rslDraghandle span {
      border: 1px solid #ffffff;
      background: #9dbfec; }
    .RadMediaPlayer_Office2007 div.rslHorizontal a.rslDraghandle:hover span, .RadMediaPlayer_Office2007 div.rslHorizontal a.rslDraghandle:active span,
    .RadMediaPlayer_Office2007 div.rslVertical a.rslDraghandle:hover span,
    .RadMediaPlayer_Office2007 div.rslVertical a.rslDraghandle:active span {
      background: #f8d880; }
  .RadMediaPlayer_Office2007 div.rmpVolContrBar {
    border: 1px solid #688caf;
    box-shadow: 0 0 1px 1px #c6c6c6 inset;
    background-image: -webkit-linear-gradient(top, rgba(199, 216, 237, 0.85) 0%, rgba(222, 232, 245, 0.85) 100%);
    background-image: -moz-linear-gradient(top, rgba(199, 216, 237, 0.85) 0%, rgba(222, 232, 245, 0.85) 100%);
    background-image: -ms-linear-gradient(top, rgba(199, 216, 237, 0.85) 0%, rgba(222, 232, 245, 0.85) 100%);
    background-image: -o-linear-gradient(top, rgba(199, 216, 237, 0.85) 0%, rgba(222, 232, 245, 0.85) 100%);
    background-image: linear-gradient(to bottom, rgba(199, 216, 237, 0.85) 0%, rgba(222, 232, 245, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9C7D8ED', endColorstr='#D9DEE8F5',GradientType=0 ); }
  .RadMediaPlayer_Office2007 .rmpPlaylist {
    background: #d7e6f7; }
    .RadMediaPlayer_Office2007 .rmpPlaylist li a {
      background: #d7e6f7;
      color: #00156e; }
      .RadMediaPlayer_Office2007 .rmpPlaylist li a:hover {
        background: #a5bee1; }
    .RadMediaPlayer_Office2007 .rmpPlaylist li.rmpActive a {
      background: #e7e4c5; }
    .RadMediaPlayer_Office2007 .rmpPlaylist .rmpTitle {
      margin-right: 12px;
      font: normal 10px/17px "Segoe UI", Arial, sans-serif; }
    .RadMediaPlayer_Office2007 .rmpPlaylist .rmpPlaylistPrevButton,
    .RadMediaPlayer_Office2007 .rmpPlaylist .rmpPlaylistNextButton {
      width: 100%;
      height: 100%;
      background: #cde2fa;
      vertical-align: top; }
      .RadMediaPlayer_Office2007 .rmpPlaylist .rmpPlaylistPrevButton:hover,
      .RadMediaPlayer_Office2007 .rmpPlaylist .rmpPlaylistNextButton:hover {
        background: #bfdbff; }
    .RadMediaPlayer_Office2007 .rmpPlaylist .rmpIcon {
      margin: 0; }
    .RadMediaPlayer_Office2007 .rmpPlaylist .rmpPlaylistNextIcon,
    .RadMediaPlayer_Office2007 .rmpPlaylist .rmpPlaylistPrevIcon {
      margin: 2px; }
  .RadMediaPlayer_Office2007 .rmpPlaylistVertical li,
  .RadMediaPlayer_Office2007 .rmpPlaylistVerticalInside li {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #9eb6ce; }
  .RadMediaPlayer_Office2007 .rmpPlaylistVertical .rmpPlaylistPrevButtonWrap,
  .RadMediaPlayer_Office2007 .rmpPlaylistVerticalInside .rmpPlaylistPrevButtonWrap {
    border-bottom: 1px solid #9eb6ce; }
  .RadMediaPlayer_Office2007 .rmpPlaylistVertical .rmpPlaylistNextButtonWrap,
  .RadMediaPlayer_Office2007 .rmpPlaylistVerticalInside .rmpPlaylistNextButtonWrap {
    border-top: 1px solid #9eb6ce; }
  .RadMediaPlayer_Office2007 .rmpPlaylistHorizontal li {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #9eb6ce; }
    .RadMediaPlayer_Office2007 .rmpPlaylistHorizontal li .rmpTitle {
      padding-top: 7px;
      max-height: 45px;
      line-height: 15px; }
  .RadMediaPlayer_Office2007 .rmpPlaylistHorizontal .rmpPlaylistPrevButtonWrap {
    border-right: 1px solid #9eb6ce; }
  .RadMediaPlayer_Office2007 .rmpPlaylistHorizontal .rmpPlaylistNextButtonWrap {
    border-left: 1px solid #9eb6ce; }
  .RadMediaPlayer_Office2007 .rmpBanner {
    border: 1px solid #9dbfec; }
    .RadMediaPlayer_Office2007 .rmpBanner .rmpActionButton {
      background: #9dbfec; }
  .RadMediaPlayer_Office2007 .rmpBigPlayButton,
  .RadMediaPlayer_Office2007 .rmpBigPauseButton {
    background: rgba(191, 219, 255, 0.4);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66BFDBFF', endColorstr='#66BFDBFF',GradientType=0 ); }
  .RadMediaPlayer_Office2007 .rmpIcon {
    background-image: url('Common/radActionsSprite.png'); }
  .RadMediaPlayer_Office2007 .rmpToolTip,
  .RadMediaPlayer_Office2007 .rmpBigPlayIcon,
  .RadMediaPlayer_Office2007 .rmpBigPauseIcon {
    background-image: url('MediaPlayer/sprite.png'); }
  .RadMediaPlayer_Office2007 .rmpBigPlayIcon {
    background-position: 6px -108px; }
  .RadMediaPlayer_Office2007 .rmpBigPauseIcon {
    background-position: -122px 4px; }
  .RadMediaPlayer_Office2007 .rmpToolTip {
    background-position: -123px -241px; }
  .RadMediaPlayer_Office2007 .rmpPlayIcon {
    background-position: 0px -1999px; }
  .RadMediaPlayer_Office2007 .rmpPauseIcon {
    background-position: 0px -2019px; }
  .RadMediaPlayer_Office2007 .rmpVolumeIcon {
    background-position: 1px -2039px; }
  .RadMediaPlayer_Office2007 .rmpMuteIcon {
    background-position: 1px -2059px; }
  .RadMediaPlayer_Office2007 .rmpHDIcon {
    background-position: 0px -2079px; }
  .RadMediaPlayer_Office2007 .rmpFullScrIcon {
    background-position: 0px -2099px; }
  .RadMediaPlayer_Office2007 .rmpExtFullScrIcon {
    background-position: 0px -2119px; }
  .RadMediaPlayer_Office2007 .rmpShareIcon {
    background-position: 0px -2139px; }
  .RadMediaPlayer_Office2007 .rmpClosePlaylistIcon {
    background-position: 0px -2220px; }
  .RadMediaPlayer_Office2007 .rmpOpenPlaylistIcon {
    background-position: 0px -2200px; }
  .RadMediaPlayer_Office2007 .rmpPlaylistVertical .rmpPlaylistPrevIcon,
  .RadMediaPlayer_Office2007 .rmpPlaylistVerticalInside .rmpPlaylistPrevIcon {
    background-position: 0px -2240px; }
  .RadMediaPlayer_Office2007 .rmpPlaylistVertical .rmpPlaylistNextIcon,
  .RadMediaPlayer_Office2007 .rmpPlaylistVerticalInside .rmpPlaylistNextIcon {
    background-position: 0px -2260px; }
  .RadMediaPlayer_Office2007 .rmpPlaylistHorizontal .rmpPlaylistPrevIcon {
    background-position: 0px -2280px; }
  .RadMediaPlayer_Office2007 .rmpPlaylistHorizontal .rmpPlaylistNextIcon {
    background-position: 0px -2300px; }
  .RadMediaPlayer_Office2007 .rmpActionButton:hover .rmpPlayIcon {
    background-position: -20px -1999px; }
  .RadMediaPlayer_Office2007 .rmpActionButton:hover .rmpPauseIcon {
    background-position: -20px -2019px; }
  .RadMediaPlayer_Office2007 .rmpVolContr:hover .rmpVolumeIcon {
    background-position: -19px -2039px; }
  .RadMediaPlayer_Office2007 .rmpActionButton:hover .rmpMuteIcon {
    background-position: -19px -2059px; }
  .RadMediaPlayer_Office2007 .rmpHDActiveIcon,
  .RadMediaPlayer_Office2007 .rmpActionButton:hover .rmpHDIcon {
    background-position: -34px -2079px; }
  .RadMediaPlayer_Office2007 .rmpActionButton:hover .rmpFullScrIcon {
    background-position: -20px -2099px; }
  .RadMediaPlayer_Office2007 .rmpActionButton:hover .rmpExtFullScrIcon {
    background-position: -20px -2119px; }
  .RadMediaPlayer_Office2007 .rmpPlaylistVertical .rmpActionButton:hover .rmpPlaylistPrevIcon,
  .RadMediaPlayer_Office2007 .rmpPlaylistVerticalInside .rmpActionButton:hover .rmpPlaylistPrevIcon {
    background-position: -20px -2240px; }
  .RadMediaPlayer_Office2007 .rmpPlaylistVertical .rmpActionButton:hover .rmpPlaylistNextIcon,
  .RadMediaPlayer_Office2007 .rmpPlaylistVerticalInside .rmpActionButton:hover .rmpPlaylistNextIcon {
    background-position: -20px -2260px; }
  .RadMediaPlayer_Office2007 .rmpPlaylistHorizontal .rmpActionButton:hover .rmpPlaylistPrevIcon {
    background-position: -20px -2280px; }
  .RadMediaPlayer_Office2007 .rmpPlaylistHorizontal .rmpActionButton:hover .rmpPlaylistNextIcon {
    background-position: -20px -2300px; }
  .RadMediaPlayer_Office2007 .rmpCloseBannerIcon {
    background-position: 0px -760px; }
  .RadMediaPlayer_Office2007 .rmpCloseBannerIcon:hover {
    background-position: -20px -760px; }
  .RadMediaPlayer_Office2007 .rmpSubtitlesIcon {
    background-position: 0px -2320px; }
  .RadMediaPlayer_Office2007 .rmpSubtitlesActiveIcon,
  .RadMediaPlayer_Office2007 .rmpActionButton:hover .rmpSubtitlesIcon {
    background-position: -20px -2320px; }
