/* <RadMenu / Office2007> */
.RadMenu_Office2007 .rmRootGroup,
.RadMenu_Office2007 a.rmLink,
.RadMenu_Office2007 .rmText,
.RadMenu_Office2007 .rmLeftArrow,
.RadMenu_Office2007 .rmRightArrow,
.RadMenu_Office2007 .rmTopArrow,
.RadMenu_Office2007 .rmBottomArrow {
  background-image: url('Menu/rmSprite.png');
  background-color: transparent; }

.RadMenu_Office2007 .rmRootGroup {
  border: 1px solid #688caf;
  background-repeat: repeat-x;
  background-position: 0 -408px;
  background-color: #BBD9FF; }

/* <Root items> */
.RadMenu_Office2007,
.RadMenu_Office2007 a.rmLink {
  font: normal 12px/23px "Segoe UI", Arial, sans-serif;
  color: #00156e;
  text-decoration: none; }

.RadMenu_Office2007 a.rmLink,
.RadMenu_Office2007 .rmText {
  background-position: 0 1050px;
  background-repeat: no-repeat; }

.RadMenu_Office2007 a.rmLink:hover,
.RadMenu_Office2007 a.rmFocused,
.RadMenu_Office2007 a.rmSelected {
  color: #000;
  background-position: 0 -72px; }

.RadMenu_Office2007 a.rmLink:hover .rmText,
.RadMenu_Office2007 a.rmFocused .rmText,
.RadMenu_Office2007 a.rmSelected .rmText {
  background-position: 100% -96px; }

.RadMenu_Office2007 a.rmExpanded,
.RadMenu_Office2007 a.rmExpanded:hover {
  color: #000;
  background-position: 0 -120px; }

.RadMenu_Office2007 a.rmExpanded .rmText,
.RadMenu_Office2007 a.rmExpanded:hover .rmText {
  background-position: 100% -144px; }

.RadMenu_Office2007 a.rmDisabled,
.RadMenu_Office2007 a.rmDisabled:hover {
  color: #8d8d8d; }

.RadMenu_Office2007 a.rmDisabled:hover,
.RadMenu_Office2007 a.rmDisabled:hover .rmText {
  background: none; }

/* </Root items> */
/* <Submenu items> */
.RadMenu_Office2007 .rmGroup,
.RadMenu_Office2007 .rmMultiColumn,
.RadMenu_Office2007 .rmGroup .rmVertical {
  border: 1px solid #868686;
  background: white url('Menu/rmVSprite.png') repeat-y -1px 0; }

.RadMenu_Office2007 .rmPopup {
  background: url('Menu/rmVSprite.png') repeat-y -1px 0; }

.RadMenu_Office2007 .rmContentTemplate {
  background: #fff; }

.RadMenu_Office2007 .rmTopFix,
.RadMenu_Office2007 .rmBottomFix,
.RadMenu_Office2007 .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Office2007 .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_Office2007 .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_Office2007_Context.rmRoundedCorners .rmGroup .rmItem {
  background-image: url('Menu/rmVSprite.png');
  background-color: #fff;
  background-repeat: repeat-y;
  background-position: -2px 0; }

.RadMenu_Office2007 li.rmTopFix,
.RadMenu_Office2007 li.rmBottomFix {
  background-position: -5px 0; }

.RadMenu_Office2007 .rmPopup .rmTopFix,
.RadMenu_Office2007 .rmPopup .rmBottomFix {
  background-image: none; }

.RadMenu_Office2007 .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Office2007 .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Office2007 .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Office2007 .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Office2007 .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_Office2007_Context .rmHorizontal.rmGroup,
.RadMenu_Office2007_Context .rmHorizontal .rmGroup,
.RadMenu_Office2007_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Office2007_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Office2007_Context.rmRoundedCorners .rmScrollWrap .rmVertical {
  background-image: none; }

.RadMenu_Office2007 .rmScrollWrap {
  margin-bottom: -1px; }

.RadMenu_Office2007 .rmRoundedCorners .rmGroupColumn {
  background-color: #fff; }

.RadMenu_Office2007 .rmBottomLeft,
.RadMenu_Office2007 .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Office2007_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Office2007_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Office2007 .rmRoundedCorners ul.rmGroup,
.RadMenu_Office2007 .rmRoundedCorners .rmMultiColumn {
  background-image: url('Menu/rmRoundedLeft.png');
  background-color: transparent;
  background-repeat: no-repeat; }

.RadMenu_Office2007 .rmPopup .rmBottomLeft {
  background-image: url('Menu/rmRoundedLeft.png'); }

.RadMenu_Office2007 .rmTopRight,
.RadMenu_Office2007 .rmBottomRight {
  background-image: url('Menu/rmRoundedRight.png');
  background-color: transparent;
  background-repeat: no-repeat; }

.RadMenu_Office2007 .rmTopFix,
.RadMenu_Office2007 .rmBottomFix,
.RadMenu_Office2007 .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Office2007_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Office2007 .rmGroup .rmFirst {
  border-color: #868686; }

.RadMenu_Office2007 .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Office2007 .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_Office2007_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Office2007_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix {
  background: #FFF; }

.RadMenu_Office2007 .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Office2007 .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Office2007_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Office2007_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow {
  background-color: #FFF;
  border: 0; }

.RadMenu_Office2007 .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Office2007 .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Office2007_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Office2007_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow {
  background-color: #FFF; }

.RadMenu_Office2007 .rmSlide .rmScrollWrap {
  background-image: none; }

.RadMenu_Office2007 .rmRootGroup .rmHorizontal {
  background-image: none; }

.RadMenu_Office2007 .rmScrollWrap .rmVertical {
  border: 0; }

.RadMenu_Office2007 .rmGroup .rmFirst,
.RadMenu_Office2007 .rmGroup .rmLast {
  background: none; }

.RadMenu_Office2007 .rmGroup .rmLast {
  padding-bottom: 1px; }

.RadMenu_Office2007 .rmGroup a.rmLink:hover,
.RadMenu_Office2007 .rmGroup a.rmFocused,
.RadMenu_Office2007 .rmGroup a.rmSelected,
.RadMenu_Office2007 .rmGroup a.rmExpanded {
  background-position: 0 -168px; }

.RadMenu_Office2007 .rmGroup a.rmLink:hover .rmText,
.RadMenu_Office2007 .rmGroup a.rmFocused .rmText,
.RadMenu_Office2007 .rmGroup a.rmSelected .rmText,
.RadMenu_Office2007 .rmGroup a.rmExpanded .rmText {
  background-position: 100% -192px; }

/* <expand arrows> */
.RadMenu_Office2007 .rmVertical .rmExpandRight,
.RadMenu_Office2007_Context .rmGroup .rmExpandRight,
.RadMenu_Office2007 .rmGroup .rmExpandDown {
  background-position: 100% -216px; }

.RadMenu_Office2007 .rmVertical a.rmLink.rmRootLink:hover .rmExpandRight,
.RadMenu_Office2007 .rmVertical a.rmRootLink.rmSelected .rmExpandRight,
.RadMenu_Office2007 .rmVertical a.rmRootLink.rmExpanded .rmExpandRight,
.RadMenu_Office2007_rtl .rmVertical a.rmLink.rmRootLink:hover .rmExpandLeft,
.RadMenu_Office2007_rtl .rmVertical a.rmRootLink.rmSelected .rmExpandLeft,
.RadMenu_Office2007_rtl .rmVertical a.rmRootLink.rmExpanded .rmExpandLeft {
  background-image: url('Menu/rmRootExpand.png');
  background-position: 100% -2px; }

.RadMenu_Office2007_rtl .rmVertical a.rmLink.rmRootLink:hover .rmExpandLeft {
  background-position: 0 -2px; }

.RadMenu_Office2007_rtl .rmVertical a.rmLink.rmRootLink.rmSelected .rmExpandLeft,
.RadMenu_Office2007_rtl .rmVertical a.rmLink.rmRootLink.rmExpanded .rmExpandLeft {
  background-position: 0 -29px; }

.RadMenu_Office2007 .rmVertical a.rmLink.rmExpanded.rmRootLink .rmExpandRight,
.RadMenu_Office2007 .rmVertical a.rmLink.rmExpanded.rmRootLink:hover .rmExpandRight {
  background-position: 100% -29px; }

.RadMenu_Office2007 .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Office2007 .rmVertical a.rmFocused .rmExpandRight,
.RadMenu_Office2007 .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Office2007 .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Office2007 .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_Office2007 .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_Office2007 .rmVertical a.rmExpanded .rmExpandLeft,
.RadMenu_Office2007 .rmVertical a.rmSelected .rmExpandLeft {
  background-image: url('Menu/rmSprite.png'); }

.RadMenu_Office2007 .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Office2007 .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Office2007 .rmVertical a.rmFocused .rmExpandRight {
  background-position: 100% -240px; }

.RadMenu_Office2007 .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Office2007 .rmVertical a.rmExpanded:hover .rmExpandRight {
  background-position: 100% -144px; }

.RadMenu_Office2007 .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_Office2007 .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_Office2007 .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_Office2007 .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_Office2007 .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_Office2007 .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_Office2007 .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_Office2007 .rmGroup a.rmExpanded .rmExpandDown {
  background-image: url('Menu/rmSprite.png');
  background-position: 100% -240px; }

.RadMenu_Office2007 .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Office2007_Context .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Office2007_Context .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_Office2007 .rmVertical .rmDisabled.rmLink.rmRootLink:hover .rmExpandRight {
  background-image: url('Menu/rmSprite.png');
  background-position: 100% -216px; }

.RadMenu_Office2007 .rmVertical .rmDisabled.rmLink.rmRootLink:hover .rmExpandLeft {
  background-image: url('Menu/rmSprite.png');
  background-position: 0 -312px; }

/* </expand arrows> */
/* </RadMenu / Office2007> */
.RadMenu_Office2007 .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandTop,
.RadMenu_Office2007 .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandDown,
.RadMenu_Office2007 .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandLeft,
.RadMenu_Office2007 .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandRight {
  padding-right: 24px; }
.RadMenu_Office2007 .rmHorizontal .rmRootLink .rmToggle {
  margin-left: -24px; }
.RadMenu_Office2007 .rmHorizontal .rmRootLink .rmIcon {
  background-image: url('Menu/rmSprite.png');
  background-position: 50% -388px; }
  @media screen\9 {
    .RadMenu_Office2007 .rmHorizontal .rmRootLink .rmIcon {
      background-position: -243px -388px; } }

/* </Submenu items> */
/* <Submenu offsets (Office2007 - specific, overlapping submenus)> */
.RadMenu_Office2007 .rmSlide {
  margin-top: -1px; }

/* </Submenu offsets> */
/* <Scrolling arrows> */
.RadMenu_Office2007 .rmLeftArrow,
.RadMenu_Office2007 .rmRightArrow {
  background-color: #f6f6e8; }

/* </Submenu offsets> */
/* <Scrolling arrows> */
.RadMenu_Office2007 .rmLeftArrow,
.RadMenu_Office2007 .rmRightArrow {
  background-color: #E0E5F5; }

.RadMenu_Office2007 .rmLeftArrow {
  background-position: -8px -312px;
  border-right: 1px solid #B7BDCD; }

.RadMenu_Office2007 .rmRightArrow {
  background-position: -482px -216px;
  border-left: 1px solid #B7BDCD; }

.RadMenu_Office2007 .rmTopArrow,
.RadMenu_Office2007 .rmBottomArrow,
.RadMenu_Office2007 .rmGroup .rmLeftArrow,
.RadMenu_Office2007 .rmGroup .rmRightArrow {
  background-color: #f0f0f0; }

.RadMenu_Office2007 .rmTopArrow {
  border-bottom: 1px solid #dcdcdc;
  background-position: 50% -367px; }

.RadMenu_Office2007 .rmBottomArrow {
  border-top: 1px solid #dcdcdc;
  background-position: 50% -391px; }

/* </Scrolling arrows> */
/* <Separators> */
.RadMenu_Office2007 .rmSeparator .rmText {
  border-color: #80ace6 #fff #fff #80ace6; }

.RadMenu_Office2007 .rmGroup .rmSeparator .rmText {
  border-color: #c5c5c5 #fff #fff #c5c5c5; }

/* </Separators> */
/* <rtl> */
.RadMenu_Office2007_rtl .rmBottomLeft,
.RadMenu_Office2007_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Office2007_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Office2007 .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Office2007 .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Office2007_Context_rtl ul.rmGroup,
.RadMenu_Office2007_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Office2007 .rmRoundedCorners .rmPopup {
  background-image: url('Menu/rmRoundedLeft_rtl.png');
  background-repeat: no-repeat; }

.RadMenu_Office2007_rtl .rmTopRight,
.RadMenu_Office2007_rtl .rmBottomRight {
  background-image: url('Menu/rmRoundedRight_rtl.png'); }

.RadMenu_Office2007_rtl .rmContentTemplate .rmTopRight,
.RadMenu_Office2007_rtl .rmContentTemplate .rmBottomRight {
  background-image: url('Menu/rmRoundedRight.png'); }

.RadMenu_Office2007_rtl li.rmTopFix,
.RadMenu_Office2007_rtl li.rmBottomFix,
.RadMenu_Office2007_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Office2007_Context_rtl .rmGroup .rmItem {
  background-position: 101% 0; }

.RadMenu_Office2007_rtl .rmGroup,
.RadMenu_Office2007_rtl .rmMultiColumn,
.RadMenu_Office2007_rtl .rmGroup .rmVertical {
  background-position: 101% 0; }

.RadMenu_Office2007_rtl a.rmLink:hover,
.RadMenu_Office2007_rtl a.rmFocused,
.RadMenu_Office2007_rtl a.rmSelected {
  background-position: 100% -96px; }

.RadMenu_Office2007_rtl .rmHorizontal .rmLink.rmRootLink.rmSelected,
.RadMenu_Office2007_rtl .rmHorizontal .rmLink.rmRootLink.rmExpanded {
  background-position: 100% -144px; }

.RadMenu_Office2007_rtl a.rmLink:hover .rmText,
.RadMenu_Office2007_rtl a.rmFocused .rmText,
.RadMenu_Office2007_rtl a.rmSelected .rmText {
  background-position: 0 -72px; }

.RadMenu_Office2007_rtl .rmVertical a.rmLink:hover,
.RadMenu_Office2007_rtl .rmVertical a.rmFocused,
.RadMenu_Office2007_rtl .rmVertical a.rmSelected,
.RadMenu_Office2007_rtl .rmVertical a.rmExpanded {
  background-position: 100% -96px; }

.RadMenu_Office2007_rtl .rmVertical a.rmLink.rmRootLink.rmSelected,
.RadMenu_Office2007_rtl .rmVertical a.rmLink.rmRootLink.rmExpanded {
  background-position: 100% -144px; }

.RadMenu_Office2007_rtl .rmRootLink.rmSelected .rmText,
.RadMenu_Office2007_rtl .rmRootLink.rmSelected:hover .rmText,
.RadMenu_Office2007_rtl .rmRootLink.rmExpanded .rmText,
.RadMenu_Office2007_rtl .rmRootLink.rmExpanded:hover .rmText {
  background-position: 0 -120px; }

.RadMenu_Office2007_rtl a.rmLink:hover .rmExpandLeft,
.RadMenu_Office2007_rtl a.rmSelected .rmExpandLeft,
.RadMenu_Office2007_rtl a.rmFocused .rmExpandLeft,
.RadMenu_Office2007_rtl a.rmExpanded .rmExpandLeft {
  background-position: 0 -336px; }

.RadMenu_Office2007_rtl .rmRootGroup .rmGroup a.rmLink:hover,
.RadMenu_Office2007_rtl .rmRootGroup .rmGroup a.rmFocused,
.RadMenu_Office2007_rtl .rmRootGroup .rmGroup a.rmSelected,
.RadMenu_Office2007_rtl .rmRootGroup .rmGroup a.rmExpanded {
  background-position: 100% -264px; }

.RadMenu_Office2007_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_Office2007_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_Office2007_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_Office2007_rtl .rmGroup a.rmExpanded .rmText {
  background-position: 0 -288px; }

.RadMenu_Office2007_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_Office2007_rtl .rmRootGroup .rmExpandLeft,
.RadMenu_Office2007_rtl .rmGroup .rmExpandDown {
  background-position: 0 -312px; }

.RadMenu_Office2007_rtl .rmItem .rmLink.rmRootLink,
.RadMenu_Office2007_rtl .rmGroup.rmVertical .rmLink,
.RadMenu_Office2007_rtl .rmGroup .rmVertical .rmLink {
  margin-left: 3px; }

@media screen\9 {
  .RadMenu_Office2007_rtl .rmHorizontal .rmItem .rmLink {
    margin-left: 3px; } }
.RadMenu_Office2007_rtl .rmItem .rmText {
  margin-left: -3px; }

.RadMenu_Office2007_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandTop,
.RadMenu_Office2007_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandDown,
.RadMenu_Office2007_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandLeft,
.RadMenu_Office2007_rtl .rmToggleHandles.rmHorizontal .rmRootLink .rmExpandRight {
  padding-right: 0px;
  padding-left: 24px; }

.RadMenu_Office2007_rtl .rmHorizontal .rmRootLink .rmToggle {
  margin-right: -24px;
  margin-left: -1px; }

.RadMenu_Office2007_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_Office2007_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_Office2007_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_Office2007_rtl .rmGroup a.rmExpanded .rmExpandLeft,
.RadMenu_Office2007_rtl .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_Office2007_rtl .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_Office2007_rtl .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_Office2007_rtl .rmGroup a.rmExpanded .rmExpandDown {
  background-image: url('Menu/rmSprite.png');
  background-position: 0 -336px; }

.RadMenu_Office2007_Context_rtl .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_Office2007_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft {
  background-image: url('Menu/rmSprite.png');
  background-position: 0 -312px; }

/* </rtl> */
