.RadUploadProgressArea_Office2007 {
  color: black;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadUploadProgressArea_Office2007 .ruProgressHeader {
    background-image: -webkit-linear-gradient(top, #dee8f5 0%, #c3d8f1 100%);
    background-image: -moz-linear-gradient(top, #dee8f5 0%, #c3d8f1 100%);
    background-image: -ms-linear-gradient(top, #dee8f5 0%, #c3d8f1 100%);
    background-image: -o-linear-gradient(top, #dee8f5 0%, #c3d8f1 100%);
    background-image: linear-gradient(top, #dee8f5 0%, #c3d8f1 100%); }
  .RadUploadProgressArea_Office2007 .ruActions {
    border-color: #abc1de;
    color: black;
    background-color: #bcd9ff; }
  .RadUploadProgressArea_Office2007 .ruButton {
    border-color: #a7bedb;
    color: #00156e;
    background-color: #e8f1fc;
    background-image: -webkit-linear-gradient(top, #e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%);
    background-image: -moz-linear-gradient(top, #e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%);
    background-image: -ms-linear-gradient(top, #e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%);
    background-image: -o-linear-gradient(top, #e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%);
    background-image: linear-gradient(top, #e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%);
    border-radius: 3px;
    font-size: 12px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadUploadProgressArea_Office2007 .ruButtonHover {
    border-color: #c6ba9d;
    color: black;
    background-color: #ffe18a;
    background-image: -webkit-linear-gradient(top, #fffce8 0%, #ffedb3 50%, #ffd563 50%, #ffe18a 100%);
    background-image: -moz-linear-gradient(top, #fffce8 0%, #ffedb3 50%, #ffd563 50%, #ffe18a 100%);
    background-image: -ms-linear-gradient(top, #fffce8 0%, #ffedb3 50%, #ffd563 50%, #ffe18a 100%);
    background-image: -o-linear-gradient(top, #fffce8 0%, #ffedb3 50%, #ffd563 50%, #ffe18a 100%);
    background-image: linear-gradient(top, #fffce8 0%, #ffedb3 50%, #ffd563 50%, #ffe18a 100%); }
  .RadUploadProgressArea_Office2007 .ruProgress {
    border-color: #9ebfdb;
    color: #3e69a3;
    background-color: #ffffff; }
  .RadUploadProgressArea_Office2007 .ruCurrentFile {
    color: #3e69a3; }
  .RadUploadProgressArea_Office2007 .ruBar {
    border-color: #abc1de; }
    .RadUploadProgressArea_Office2007 .ruBar div {
      border-color: #e99d4a;
      background-image: url('Upload/ruProgress.gif'); }
