.RadRibbonBar_Office2007 {
  font: 11px "Segoe UI", Arial, sans-serif; }
  .RadRibbonBar_Office2007 .rrbContentWrapIn {
    border-color: #8db2e3;
    background-color: #c8d9ed;
    background-image: url('RibbonBar/rrbGradients.png'); }

.RadRibbonBar_Office2007 .rrbDecoration,
.RadRibbonBar_Office2007 .rrbDecoration .rrbButtonMid,
.RadRibbonBar_Office2007 .rrbButtonArea .rrbCollapsedGroup,
.RadRibbonBar_Office2007 .rrbCollapsedGroup .rrbButtonMid {
  background-color: #c8d9ed;
  border-color: #8db2e3; }

.RadRibbonBar_Office2007 .rrbTabs {
  border-bottom-color: #8db2e3; }
.RadRibbonBar_Office2007 .rrbApplicationTab .rrbTabLabel {
  border-color: #a7bedb;
  color: #00156e;
  background-color: #e8f1fc; }
.RadRibbonBar_Office2007 .rrbHeaderBar {
  border-color: #abc1de;
  background-color: #c3d8f1; }
.RadRibbonBar_Office2007 .rrbContextualTab .rrbContextualTabLabel {
  color: #ffffff; }
.RadRibbonBar_Office2007 .rrbTab .rrbTabLabel {
  border-color: transparent;
  color: #00156e;
  border-radius: 5px 5px 0 0; }
.RadRibbonBar_Office2007 .rrbHoveredTab .rrbTabLabel {
  border-color: #8db2e3;
  background-color: #dbe6f4;
  background-image: linear-gradient(#f2f8fe, #dbe6f4); }
.RadRibbonBar_Office2007 .rrbSelectedTab .rrbTabLabel {
  border-color: #8db2e3;
  background: #dbe6f4; }
.RadRibbonBar_Office2007 .rrbMenu .rrbMenuLabel {
  color: #333333;
  background-color: #c3d8f1; }
.RadRibbonBar_Office2007 .rrbToolTip {
  border-color: #688caf;
  border-radius: 3px;
  color: #00156e;
  background-color: #d6e5f3; }
.RadRibbonBar_Office2007 .rrbToggleHandle {
  background-position: -2px -622px; }
.RadRibbonBar_Office2007.rrbMinimized .rrbToggleHandle, .RadRibbonBar_Office2007.rrbExtendedChromeMinimized .rrbToggleHandle {
  background-position: -2px -662px; }
.RadRibbonBar_Office2007 .rrbButtonArea {
  background-color: #c8d9ed;
  background-image: url('RibbonBar/rrbGradients.png'); }
.RadRibbonBar_Office2007 .rrbResizeHandle {
  background-position: -5px -885px; }
.RadRibbonBar_Office2007 .rrbGroupTitle {
  color: #15428b;
  background-color: #c0d8ef; }
.RadRibbonBar_Office2007 .rrbGroupLauncher {
  background-position: -6px -1926px; }
.RadRibbonBar_Office2007 .rrbButtonGroupIn {
  border-color: #8db2e3;
  border-radius: 3px;
  background-color: #c8d9ed;
  background-image: url('RibbonBar/rrbGradients.png');
  background-position: 0 0; }
.RadRibbonBar_Office2007 .rrbButtonGroupHover .rrbButtonGroupIn {
  background-color: #b8c9dd; }
.RadRibbonBar_Office2007 .rrbCollapsedGroup .rrbGroupToggleIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Office2007 .rrbCollapsedGroup .rrbGroupIcon {
  border-color: #a7bedb; }

.RadRibbonBar_Office2007 .rrbQatButton, .RadRibbonBar_Office2007 .rrbButtonOut, .RadRibbonBar_Office2007 .rrbSplitButton:hover .rrbButtonArrow, .RadRibbonBar_Office2007 .rrbButtonStripPart, .RadRibbonBar_Office2007 .rrbComboBox .rrbActionButton,
.RadRibbonBar_Office2007 .rrbDropDown .rrbActionButton,
.RadRibbonBar_Office2007 .rrbNumericTextBox .rrbActionButton,
.RadRibbonBar_Office2007 .rrbColorPicker .rrbActionButton, .RadRibbonBar_Office2007 .rrbDropDown .rrbDDInner, .RadRibbonBar_Office2007 .rrbColorPicker .rrbCPInner, .RadRibbonBar_Office2007 .rrbGalleryAction {
  background-image: url('Common/radGradientButtonSprite.png');
  border-color: #a7bedb;
  color: #00156e;
  background-color: #e8f1fc;
  background-image: linear-gradient(#e8f1fc, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc); }

.RadRibbonBar_Office2007 .rrbQatButton, .RadRibbonBar_Office2007 .rrbButtonOut {
  border-color: transparent;
  background-color: transparent; }

.RadRibbonBar_Office2007 .rrbQatButton:hover, .RadRibbonBar_Office2007 .rrbButtonOut:hover, .RadRibbonBar_Office2007 .rrbButtonOut.rrbButtonHovered, .RadRibbonBar_Office2007 .rrbSplitButton .rrbButtonArrow:hover, .RadRibbonBar_Office2007 .rrbButtonStripPart:hover, .RadRibbonBar_Office2007 .rrbComboBox .rrbActionButton:hover,
.RadRibbonBar_Office2007 .rrbDropDown .rrbActionButton:hover,
.RadRibbonBar_Office2007 .rrbNumericTextBox .rrbActionButton:hover,
.RadRibbonBar_Office2007 .rrbColorPicker .rrbActionButton:hover, .RadRibbonBar_Office2007 .rrbDropDown .rrbDDInner:hover, .RadRibbonBar_Office2007 .rrbColorPicker .rrbCPInner:hover, .RadRibbonBar_Office2007 .rrbGalleryAction:hover, .RadRibbonBar_Office2007 .rrbGalleryItemHovered, .rrbSlide_Office2007 .rrbGalleryItemHovered {
  border-color: #c6ba9d;
  color: #000000;
  background-color: #ffe18a;
  background-image: linear-gradient(#fffce8, #ffedb3 50%, #ffd563 50%, #ffe18a); }

.RadRibbonBar_Office2007 .rrbQatButton:active, .RadRibbonBar_Office2007 .rrbButtonOut.rrbButtonClicked, .RadRibbonBar_Office2007 .rrbButtonOut.rrbButtonPressed, .RadRibbonBar_Office2007 .rrbButtonOut.rrbToggled, .RadRibbonBar_Office2007 .rrbExpanded .rrbSplitButton .rrbButtonArrow,
.RadRibbonBar_Office2007 .rrbButtonClicked .rrbSplitButton .rrbButtonArrow, .RadRibbonBar_Office2007 .rrbButtonStripPart:active,
.RadRibbonBar_Office2007 .rrbButtonStripPart.rrbButtonClicked,
.RadRibbonBar_Office2007 .rrbButtonStripPart.rrbButtonPressed, .RadRibbonBar_Office2007 .rrbComboBox .rrbActionButton:active,
.RadRibbonBar_Office2007 .rrbDropDown .rrbActionButton:active,
.RadRibbonBar_Office2007 .rrbNumericTextBox .rrbActionButton:active,
.RadRibbonBar_Office2007 .rrbColorPicker .rrbActionButton:active, .RadRibbonBar_Office2007 .rrbDropDown .rrbDDInner:active, .RadRibbonBar_Office2007 .rrbColorPicker .rrbCPInner:active, .RadRibbonBar_Office2007 .rrbGalleryAction:active, .RadRibbonBar_Office2007 .rrbGalleryItemSelected, .rrbSlide_Office2007 .rrbGalleryItemSelected {
  border-color: #c3bdae;
  color: #000000;
  background-color: #fde292;
  background-image: linear-gradient(#ebc59b, #faad60 50%, #f99631 50%, #fde292); }

.RadRibbonBar_Office2007 .rrbMenu, .RadRibbonBar_Office2007 .rrbMenuGroupMid, .rrbDropDownSlide_Office2007 .rrbPopup, .rrbSlide_Office2007 .rrbPopup, .rrbPopup_Office2007, .rrbPopup_Office2007 .rrbPopup {
  border-color: #9eb6ce;
  color: #00156e;
  background-color: #ffffff; }

.RadRibbonBar_Office2007 .rrbMenu, .RadRibbonBar_Office2007 .rrbMenuGroupMid, .rrbDropDownSlide_Office2007 .rrbPopup, .rrbSlide_Office2007 .rrbPopup, .rrbPopup_Office2007, .rrbPopup_Office2007 .rrbPopup {
  border-color: #9eb6ce;
  color: #00156e;
  background-color: #ffffff;
  border-color: #8db2e3;
  background-color: #f0f9ff; }

.RadRibbonBar_Office2007 .rrbMenu .rrbMenuItem, .RadRibbonBar_Office2007 .rrbMenuGroupOut .rrbButtonOut, .rrbPopup_Office2007 .rrbMenuItem .rrbMIInner,
.rrbPopup_Office2007 .rrbMenuItem .rrbMIToggle {
  color: #00156e;
  background-image: url('Common/radGradientListSprite.png');
  background-repeat: repeat-x;
  background-position: 0 0; }

.RadRibbonBar_Office2007 .rrbMenu .rrbMenuItem:hover,
.RadRibbonBar_Office2007 .rrbMenu .rrbMenuItemHovered, .RadRibbonBar_Office2007 .rrbMenuGroupOut .rrbButtonOut:hover, .rrbPopup_Office2007 .rrbMIHovered > .rrbMIInner, .rrbPopup_Office2007 .rrbMIHovered > .rrbMIInner .rrbMIToggle, .rrbPopup_Office2007 .rrbMIExpanded > .rrbMIInner {
  background-position: 0 -1000px\9;
  border-color: #ffd563;
  color: #00156e;
  background-color: #ffd563;
  background-image: linear-gradient(#ffd563, #ffd563); }

.RadRibbonBar_Office2007 .rrbMenuGroupOut .rrbButtonOut.rrbExpanded,
.RadRibbonBar_Office2007 .rrbMenuGroupOut .rrbButtonOut.rrbButtonClicked, .rrbPopup_Office2007 .rrbMIExpanded > .rrbMIInner .rrbMIToggle {
  background-position: 0 -2000px\9;
  border-color: #f99631;
  color: #000000;
  background-color: #f99631;
  background-image: linear-gradient(#faad60, #f99631); }

.RadRibbonBar_Office2007 .rrbIcon,
.RadRibbonBar_Office2007 .rrbToggleHandle,
.RadRibbonBar_Office2007 .rrbResizeHandle,
.RadRibbonBar_Office2007 .rrbGroupLauncher,
.RadRibbonBar_Office2007 .rrbGroupToggleIcon {
  background-image: url('Common/radActionsSprite.png'); }
.RadRibbonBar_Office2007 .rrbButtonOut {
  border-radius: 3px; }
  .RadRibbonBar_Office2007 .rrbButtonOut .rrbIcon {
    background-position: -2px -422px; }
.RadRibbonBar_Office2007 .rrbMenuGroupMid {
  box-shadow: 3px 2px 3px #888; }
.RadRibbonBar_Office2007 .rrbComboBox .rrbCBInner {
  border-color: #abc1de;
  background-color: #ffffff; }
.RadRibbonBar_Office2007 .rrbComboBox .rrbCBInput {
  color: #333333; }
.RadRibbonBar_Office2007 .rrbComboBox .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Office2007 .rrbDropDown .rrbActionButton,
.RadRibbonBar_Office2007 .rrbDropDown .rrbActionButton:hover {
  background: none; }
.RadRibbonBar_Office2007 .rrbDropDown .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Office2007 .rrbNumericTextBox .rrbNTBInner {
  border-color: #abc1de;
  background-color: #ffffff; }
.RadRibbonBar_Office2007 .rrbNumericTextBox .rrbNTBInput {
  color: #333333; }
.RadRibbonBar_Office2007 .rrbNumericTextBox .rrbActionButtonUp .rrbIcon {
  background-position: -2px -402px; }
.RadRibbonBar_Office2007 .rrbNumericTextBox .rrbActionButtonDown .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Office2007 .rrbColorPicker .rrbActionButton,
.RadRibbonBar_Office2007 .rrbColorPicker .rrbActionButton:hover {
  background: none; }
.RadRibbonBar_Office2007 .rrbColorPicker .rrbIcon {
  background-position: -2px -422px; }
.RadRibbonBar_Office2007 .rrbGallery {
  border-color: #a7bedb;
  background-color: #ffffff; }
.RadRibbonBar_Office2007 .rrbGalleryActionUp .rrbIcon {
  background-position: -2px -2px; }
.RadRibbonBar_Office2007 .rrbGalleryActionDown .rrbIcon {
  background-position: -2px -22px; }
.RadRibbonBar_Office2007 .rrbGalleryActionExpand .rrbIcon {
  background-position: -2px -182px; }
.RadRibbonBar_Office2007 .rrbCategoryTitle {
  color: #333333;
  background-color: #c3d8f1; }
.RadRibbonBar_Office2007 .rrbGalleryItemInner {
  color: #000000;
  background-color: #ffffff; }

.rrbDropDownSlide_Office2007 .rrbPopup {
  font: 11px "Segoe UI", Arial, Helvetica, sans-serif; }
.rrbDropDownSlide_Office2007 .rrbListItem:hover {
  color: #00156e;
  background-color: #ffe27b; }

.rrbSlide_Office2007 .rrbPopup {
  font: 11px "Segoe UI", Arial, Helvetica, sans-serif; }
.rrbSlide_Office2007 .rrbGallery {
  background-color: #ffffff; }
.rrbSlide_Office2007 .rrbCategoryTitle {
  color: #333333;
  background-color: #c3d8f1; }
.rrbSlide_Office2007 .rrbGalleryItemInner {
  color: #000000;
  background-color: #ffffff; }

.rrbPopup_Office2007 {
  font: 11px "Segoe UI", Arial, Helvetica, sans-serif; }
  .rrbPopup_Office2007 .rrbHeaderBar {
    border-color: #a7bedb;
    color: #00156e;
    background-color: #e8f1fc;
    background-image: linear-gradient(#e8f1fc, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc); }
  .rrbPopup_Office2007 .rrbMenuItem .rrbMIToggle .rrbIcon {
    background-image: url('Common/radActionsSprite.png'); }
  .rrbPopup_Office2007 .rrbDisabled > .rrbMIInner {
    color: #8d8d8d; }
  .rrbPopup_Office2007 .rrbHeader {
    border-color: #c5c5c5;
    background: #ebebeb; }
  .rrbPopup_Office2007 .rrbAuxiliaryPane {
    background: #eeeeee;
    border-color: #8a8a8a; }
  .rrbPopup_Office2007 .rrbFooterPane {
    border-color: #c5c5c5;
    background: #ebebeb; }
