.RadRotator_Office2007 {
  /*================== The list ========================*/
  /* For vertical carousel, not set, width defaults to auto */
  /* Note if you explicitly set width to auto, this might cause */
  /* problems with Safari */
  /* When LoadOnDemand */ }
  .RadRotator_Office2007 .rrClipRegion {
    border-color: #abc1de; }
  .RadRotator_Office2007 .rrButton {
    background-image: url('Rotator/RotatorButtons.gif');
    background-repeat: no-repeat; }
  .RadRotator_Office2007 .rrLoadingSign {
    background: url('Common/loading_small.gif') no-repeat center; }
