.RadSearchBox_Office2007 {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSearchBox_Office2007 .rsbInner {
    border-radius: 3px;
    border-color: #abc1de;
    color: #333333;
    background-color: #ffffff; }
  .RadSearchBox_Office2007 .rsbEmptyMessage {
    color: #8d8d8d; }
  .RadSearchBox_Office2007 .rsbButton {
    border-radius: 2px;
    background-image: url('Common/radGradientButtonSprite.png');
    background-image: linear-gradient(transparent, transparent); }
    .RadSearchBox_Office2007 .rsbButton:hover {
      border-color: #c6ba9d;
      color: #000000;
      background-color: #ffe18a;
      background-image: linear-gradient(#fffce8, #ffedb3 50%, #ffd563 50%, #ffe18a); }
    .RadSearchBox_Office2007 .rsbButton:focus {
      border-color: #c3bdae;
      color: #000000;
      background-color: #fde292;
      background-image: linear-gradient(#ebc59b, #faad60 50%, #f99631 50%, #fde292); }
  .RadSearchBox_Office2007 .rsbButtonSearch {
    border-radius: 0 3px 3px 0; }
    .RadSearchBox_Office2007 .rsbButtonSearch .rsbIcon {
      background-image: url('Common/radActionsSprite.png');
      background-position: -2px -1882px; }
  .RadSearchBox_Office2007 .rsbSCInner {
    border-radius: 3px 0 0 3px;
    background-image: url('Common/radGradientButtonSprite.png');
    border-color: #a7bedb;
    color: #00156e;
    background-color: #e8f1fc;
    background-image: linear-gradient(#e8f1fc, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc); }
  .RadSearchBox_Office2007 .rsbSCIcon {
    background-image: url('Common/radActionsSprite.png');
    background-position: -2px -422px; }
  .RadSearchBox_Office2007 .rsbSCHovered {
    border-color: #c6ba9d;
    color: #000000;
    background-color: #ffe18a;
    background-image: linear-gradient(#fffce8, #ffedb3 50%, #ffd563 50%, #ffe18a); }
  .RadSearchBox_Office2007 .rsbSCFocused {
    border-color: #c3bdae;
    color: #000000;
    background-color: #fde292;
    background-image: linear-gradient(#ebc59b, #faad60 50%, #f99631 50%, #fde292); }
  .RadSearchBox_Office2007 .rsbSCDisabled {
    border-color: #9ebfdb;
    color: #8d8d8d;
    background-color: #e8f1fc;
    background-image: linear-gradient(#e8f1fc, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc); }
  .RadSearchBox_Office2007 .rsbLoadingIcon {
    background-image: url('Common/loading_small.gif'); }

.rsbPopup_Office2007 {
  border-color: #688caf;
  color: #333333;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .rsbPopup_Office2007 .rsbShowAll {
    border-color: #688caf;
    color: #333333;
    background-color: #c3d8f1; }
  .rsbPopup_Office2007 .rsbListItemHovered {
    color: #00156e;
    background-color: #ffe27b; }
  .rsbPopup_Office2007 .rsbListItemSelected {
    color: #000000;
    background-color: #fcc365; }
  .rsbPopup_Office2007 .rsbListItemLoading {
    color: #00156e;
    background-color: #ffe27b; }
