.RadSiteMap_Office2007 {
  color: #333333;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSiteMap_Office2007 .rsmManyLevels > .rsmItem > .rsmLink {
    border-color: #688caf; }
  .RadSiteMap_Office2007 .rsmTwoLevels > .rsmItem > .rsmLink, .RadSiteMap_Office2007 .rsmThreeLevels > .rsmItem > .rsmLink, .RadSiteMap_Office2007 .rsmManyLevels .rsmLevel1 > .rsmItem > .rsmLink {
    border-color: #688caf; }
  .RadSiteMap_Office2007 .rsmOneLevel .rsmLink, .RadSiteMap_Office2007 .rsmTwoLevels .rsmLevel1 .rsmLink, .RadSiteMap_Office2007 .rsmThreeLevels .rsmLevel1 .rsmLink, .RadSiteMap_Office2007 .rsmManyLevels .rsmLevel2 .rsmLink {
    border-radius: 4px; }
    .RadSiteMap_Office2007 .rsmOneLevel .rsmLink:hover, .RadSiteMap_Office2007 .rsmTwoLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Office2007 .rsmThreeLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Office2007 .rsmManyLevels .rsmLevel2 .rsmLink:hover {
      color: #00156e;
      background-color: #ffd563;
      background-image: linear-gradient(#ffd563, #ffd563); }
  * + html .RadSiteMap_Office2007 .rsmLink {
    color: #333333; }
  .RadSiteMap_Office2007 .rsmLevel .rsmNodeLines .rsmItem {
    background-image: url('SiteMap/NodeLines.png'); }
