.RadSocialShare_Office2007 {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid #abc1de;
  background-color: white; }
  .RadSocialShare_Office2007 .sshLinkItem .sshText {
    color: black; }
  .RadSocialShare_Office2007 .sshLinkItem:hover .sshText {
    color: black; }

.RadComboBoxDropDown_Office2007 .rcbItem .sshLinkItem .sshText {
  color: black; }

.RadComboBoxDropDown_Office2007 .rcbHovered .sshLinkItem .sshText {
  color: black; }

