.RadSplitter_Office2007 {
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /* Borders */
  /* When ShowContentDuringLoad="false" */
  /* RadSplitBar/RadSlidingPane resize elements */
  /* RadSlidingPane tab */
  /* RadSlidingPane tab */
  /* RadSplitBar buttons */
  /* RadSlidingPane buttons */
  /* RadSlidingPane header */
  /* RadSlidingPane header elements */
  /* RadSlidingPane title text */ }
  .RadSplitter_Office2007,
  .RadSplitter_Office2007 .rspPane,
  .RadSplitter_Office2007 .rspResizeBar,
  .RadSplitter_Office2007 .rspSlideContainerResize,
  .RadSplitter_Office2007 .rspPaneHorizontal,
  .RadSplitter_Office2007 .rspResizeBarHorizontal,
  .RadSplitter_Office2007 .rspSlideContainerResizeHorizontal {
    border-color: #abc1de; }
  .RadSplitter_Office2007 .rspLoading {
    background-image: url('Common/loading.gif'); }
  .RadSplitter_Office2007 .rspPaneTabContainer {
    border-color: #abc1de; }
  .RadSplitter_Office2007 .rspResizeBar,
  .RadSplitter_Office2007 .rspSlideContainerResize,
  .RadSplitter_Office2007 .rspResizeBarOver,
  .RadSplitter_Office2007 .rspSlideContainerResizeOver {
    background-image: url('Splitter/ResizeBarVerticalSprites.gif');
    background-color: white;
    border-right-color: #abc1de; }
  .RadSplitter_Office2007 .rspResizeBarOver,
  .RadSplitter_Office2007 .rspSlideContainerResizeOver {
    background: #dee8f5 none;
    /*-4px 0*/ }
  .RadSplitter_Office2007 .rspResizeBarHorizontal,
  .RadSplitter_Office2007 .rspSlideContainerResizeHorizontal,
  .RadSplitter_Office2007 .rspResizeBarOverHorizontal,
  .RadSplitter_Office2007 .rspSlideContainerResizeOverHorizontal {
    background-image: url('Splitter/ResizeBarHorizontalSprites.gif');
    background-color: white;
    border-bottom-color: #abc1de; }
  .RadSplitter_Office2007 .rspResizeBarOverHorizontal,
  .RadSplitter_Office2007 .rspSlideContainerResizeOverHorizontal {
    background: #dee8f5 none;
    /*0 -4px;*/ }
  .RadSplitter_Office2007 .rspPaneTabContainer,
  .RadSplitter_Office2007 .rspSlideHeaderDockIcon,
  .RadSplitter_Office2007 .rspSlideHeaderUndockIcon,
  .RadSplitter_Office2007 .rspSlideHeaderCollapseIcon,
  .RadSplitter_Office2007 .rspCollapseBarExpand,
  .RadSplitter_Office2007 .rspCollapseBarCollapse,
  .RadSplitter_Office2007 .rspCollapseBarHorizontalExpand,
  .RadSplitter_Office2007 .rspCollapseBarHorizontalCollapse {
    background-image: url('Splitter/ExpandCollapseBarsCommands.gif'); }
  .RadSplitter_Office2007 .rspSlideHeader,
  .RadSplitter_Office2007 .rspSlideTitleContainer,
  .RadSplitter_Office2007 .rspBottom .rspPaneTabContainer,
  .RadSplitter_Office2007 .rspTop .rspPaneTabContainer {
    background-image: url('Splitter/slideTitleContainerBgr.gif');
    background-repeat: repeat-x; }
  .RadSplitter_Office2007 .rspBottom .rspPaneTabContainer,
  .RadSplitter_Office2007 .rspTop .rspPaneTabContainer {
    background-position: 0 -1px; }
  .RadSplitter_Office2007 .rspSlideTitleContainer,
  .RadSplitter_Office2007 .rspSlideHeaderIconWrapper {
    border-bottom: 1px solid #abc1de; }
  .RadSplitter_Office2007 .rspSlideTitle,
  .RadSplitter_Office2007 .rspPaneTabText {
    font: normal 10px "Segoe UI", Arial, Sans-serif;
    color: black; }
  .RadSplitter_Office2007 .rspSlideTitle {
    font-size: 12px; }

