.RadTagCloud_Office2007 {
  background-color: white;
  border: 1px dotted #abc1de;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /* Loading image */ }
  .RadTagCloud_Office2007 .rtcTagList .rtcTagItem {
    color: #666666; }
  .RadTagCloud_Office2007 .rtcTagList .rtcTagItem:hover {
    color: black; }
  .RadTagCloud_Office2007 .rtcTagList .rtcTagItem a {
    color: black; }
  .RadTagCloud_Office2007 .rtcTagList .rtcTagItem a:hover {
    color: black;
    background: #ffe27b; }
  .RadTagCloud_Office2007.rtcLoading {
    background-image: url('Common/loading_small.gif'); }

