.RadToolTip_Office2007 {
  /* overwrite shadow callouts because of the shadow depth */ }
  .RadToolTip_Office2007.rtLoading {
    background: url('Common/loading.gif') no-repeat center; }
  .RadToolTip_Office2007 .rtWrapper .rtWrapperTopLeft,
  .RadToolTip_Office2007 .rtWrapper .rtWrapperTopRight,
  .RadToolTip_Office2007 .rtWrapper .rtWrapperBottomLeft,
  .RadToolTip_Office2007 .rtWrapper .rtWrapperBottomRight,
  .RadToolTip_Office2007 .rtWrapper .rtWrapperTopCenter,
  .RadToolTip_Office2007 .rtWrapper .rtWrapperBottomCenter,
  .RadToolTip_Office2007 table.rtShadow .rtWrapperTopLeft,
  .RadToolTip_Office2007 table.rtShadow .rtWrapperTopRight,
  .RadToolTip_Office2007 table.rtShadow .rtWrapperBottomLeft,
  .RadToolTip_Office2007 table.rtShadow .rtWrapperBottomRight,
  .RadToolTip_Office2007 table.rtShadow .rtWrapperTopCenter,
  .RadToolTip_Office2007 table.rtShadow .rtWrapperBottomCenter,
  .RadToolTip_Office2007 .rtCloseButton {
    background-image: url('ToolTip/ToolTipSprites.png'); }
  .RadToolTip_Office2007 .rtWrapper .rtWrapperLeftMiddle,
  .RadToolTip_Office2007 .rtWrapper .rtWrapperRightMiddle,
  .RadToolTip_Office2007 table.rtShadow .rtWrapperLeftMiddle,
  .RadToolTip_Office2007 table.rtShadow .rtWrapperRightMiddle {
    background-image: url('ToolTip/ToolTipVerticalSprites.png'); }
  .RadToolTip_Office2007 .rtWrapper .rtWrapperContent {
    background-color: #d7e3f2;
    color: black; }
  .RadToolTip_Office2007 .rtTitlebar {
    color: black; }
  .RadToolTip_Office2007 .rtCallout {
    background-image: url('ToolTip/Callouts.gif'); }
  .RadToolTip_Office2007.rtShadow div.rtCalloutTopLeft, .RadToolTip_Office2007.rtShadow div.rtCalloutTopRight, .RadToolTip_Office2007.rtShadow div.rtCalloutTopCenter {
    margin-top: -5px; }
  .RadToolTip_Office2007.rtShadow div.rtCalloutMiddleRight {
    margin-left: -6px; }
  .RadToolTip_Office2007.rtShadow div.rtCalloutMiddleLeft {
    margin-left: -5px; }
  .RadToolTip_Office2007.rtShadow div.rtCalloutBottomRight, .RadToolTip_Office2007.rtShadow div.rtCalloutBottomCenter, .RadToolTip_Office2007.rtShadow div.rtCalloutBottomLeft {
    margin-top: -6px; }

