.RadWizard_Office2007 {
  color: #000000;
  background-color: #fff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
.RadWizard_Office2007 .rwzButton {
  background-color: #c5c5c5;
  background-image: url('Common/radGradientButtonSprite.png');
  border-radius: 0.25em;
  border-color: #a7bedb;
  color: #00156e;
  background-color: #e8f1fc;
  background-image: linear-gradient(#e8f1fc, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc); }
  .RadWizard_Office2007 .rwzButton.rwzHovered {
    background-color: #c6c6c6;
    border-color: #c6ba9d;
    color: #000000;
    background-color: #ffe18a;
    background-image: linear-gradient(#fffce8, #ffedb3 50%, #ffd563 50%, #ffe18a); }
  .RadWizard_Office2007 .rwzButton.rwzClicked {
    border-color: #c3bdae;
    color: #000000;
    background-color: #fde292;
    background-image: linear-gradient(#ebc59b, #faad60 50%, #f99631 50%, #fde292); }
  .RadWizard_Office2007 .rwzButton.rwzDisabled {
    border-color: #9ebfdb;
    color: #8d8d8d;
    background-color: #e8f1fc;
    background-image: linear-gradient(#e8f1fc, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc); }
.RadWizard_Office2007 .rwzBreadCrumb {
  color: #00156e; }
  .RadWizard_Office2007 .rwzBreadCrumb .rwzLI {
    border-color: #a7bedb; }
  .RadWizard_Office2007 .rwzBreadCrumb .rwzLink {
    background: url('Wizard/rwzTab.png') repeat-x 0 50%; }
    @media screen\9 {
      .RadWizard_Office2007 .rwzBreadCrumb .rwzLink {
        color: #000000; } }
  .RadWizard_Office2007 .rwzBreadCrumb .rwzCallout {
    background: url('Wizard/rwzCallout.png') no-repeat 100% 50%; }
  .RadWizard_Office2007 .rwzBreadCrumb .rwzHovered {
    color: #000000;
    border-color: #b89f73; }
    .RadWizard_Office2007 .rwzBreadCrumb .rwzHovered .rwzLink {
      background-image: url('Wizard/rwzTabHover.png'); }
    .RadWizard_Office2007 .rwzBreadCrumb .rwzHovered .rwzCallout {
      background-image: url('Wizard/rwzCalloutHover.png'); }
  .RadWizard_Office2007 .rwzBreadCrumb .rwzSelected {
    color: #000000;
    border-color: #8e8165; }
    .RadWizard_Office2007 .rwzBreadCrumb .rwzSelected .rwzLink {
      background-image: url('Wizard/rwzTabSelect.png'); }
    .RadWizard_Office2007 .rwzBreadCrumb .rwzSelected .rwzCallout {
      background-image: url('Wizard/rwzCalloutSelect.png'); }
  .RadWizard_Office2007 .rwzBreadCrumb .rwzDisabled {
    color: #8d8d8d;
    border-color: #9ebfdb; }
    .RadWizard_Office2007 .rwzBreadCrumb .rwzDisabled .rwzLink {
      background-image: url('Wizard/rwzTabDisable.png'); }
    .RadWizard_Office2007 .rwzBreadCrumb .rwzDisabled .rwzCallout {
      background-image: url('Wizard/rwzCalloutDisable.png'); }
.RadWizard_Office2007 .rwzProgressBar {
  border-color: #d0d7e5;
  background-color: #fdfefe;
  border-radius: 0.25em; }
.RadWizard_Office2007 .rwzProgress {
  background-color: #fcc469;
  border-radius: 0.16667em 0em 0em 0.16667em; }

.RadWizard_Office2007.rwzHorizontal .rwzFirst {
  border-radius: 0.33333em 0em 0em 0.33333em; }
  .RadWizard_Office2007.rwzHorizontal .rwzFirst .rwzLink {
    border-radius: 0.25em 0em 0em 0.25em; }
.RadWizard_Office2007.rwzHorizontal .rwzLast {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Office2007.rwzHorizontal .rwzLast .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }
.RadWizard_Office2007.rwzHorizontal .rwzFirst.rwzLast {
  border-radius: 0.33333em; }
  .RadWizard_Office2007.rwzHorizontal .rwzFirst.rwzLast .rwzLink {
    border-radius: 0.25em; }
.RadWizard_Office2007.rwzHorizontal .rwzProgressBar {
  background-image: linear-gradient(#d6e6f4, #fdfefe); }
.RadWizard_Office2007.rwzHorizontal .rwzProgress {
  background-image: linear-gradient(#fee1b2, #fcc469); }

.RadWizard_Office2007.rwzVertical .rwzFirst {
  border-radius: 0.33333em 0.33333em 0em 0em; }
  .RadWizard_Office2007.rwzVertical .rwzFirst .rwzLink {
    border-radius: 0.25em 0.25em 0em 0em; }
.RadWizard_Office2007.rwzVertical .rwzLast {
  border-radius: 0em 0em 0.33333em 0.33333em; }
  .RadWizard_Office2007.rwzVertical .rwzLast .rwzLink {
    border-radius: 0em 0em 0.25em 0.25em; }
.RadWizard_Office2007.rwzVertical .rwzSelected,
.RadWizard_Office2007.rwzVertical .rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.RadWizard_Office2007.rwzVertical .rwzFirst.rwzLast.rwzSelected, .RadWizard_Office2007.rwzVertical .rwzFirst.rwzLast.rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.RadWizard_Office2007.rwzVertical .rwzProgressBar {
  background-image: linear-gradient(90deg, #d6e6f4, #fdfefe); }
.RadWizard_Office2007.rwzVertical .rwzProgress {
  background-image: linear-gradient(90deg, #fee1b2, #fcc469); }

.RadWizard_Office2007.rwzRightBreadCrumb .rwzBreadCrumb .rwzCallout,
.RadWizard_Office2007.RadWizard_rtl .rwzBreadCrumb .rwzCallout {
  background: url('Wizard/rwzCalloutRtl.png') no-repeat 0 50%; }
.RadWizard_Office2007.rwzRightBreadCrumb .rwzBreadCrumb .rwzHovered .rwzCallout,
.RadWizard_Office2007.RadWizard_rtl .rwzBreadCrumb .rwzHovered .rwzCallout {
  background-image: url('Wizard/rwzCalloutHoverRtl.png'); }
.RadWizard_Office2007.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzCallout,
.RadWizard_Office2007.RadWizard_rtl .rwzBreadCrumb .rwzSelected .rwzCallout {
  background-image: url('Wizard/rwzCalloutSelectRtl.png'); }
.RadWizard_Office2007.rwzRightBreadCrumb .rwzBreadCrumb .rwzDisabled .rwzCallout,
.RadWizard_Office2007.RadWizard_rtl .rwzBreadCrumb .rwzDisabled .rwzCallout {
  background-image: url('Wizard/rwzCalloutDisableRtl.png'); }

.RadWizard_Office2007.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzFirst,
.RadWizard_Office2007.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzFirst {
  border-radius: 0em 0.33333em 0em 0em; }
  .RadWizard_Office2007.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzFirst .rwzLink,
  .RadWizard_Office2007.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzFirst .rwzLink {
    border-radius: 0em 0.25em 0em 0em; }
.RadWizard_Office2007.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzLast,
.RadWizard_Office2007.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzLast {
  border-radius: 0em 0em 0.33333em 0em; }
  .RadWizard_Office2007.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzLast .rwzLink,
  .RadWizard_Office2007.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzLast .rwzLink {
    border-radius: 0em 0em 0.25em 0em; }
.RadWizard_Office2007.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast,
.RadWizard_Office2007.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Office2007.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast .rwzLink,
  .RadWizard_Office2007.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }

.RadWizard_Office2007.RadWizard_rtl.rwzHorizontal .rwzFirst {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Office2007.RadWizard_rtl.rwzHorizontal .rwzFirst .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }
.RadWizard_Office2007.RadWizard_rtl.rwzHorizontal .rwzLast {
  border-radius: 0.33333em 0em 0em 0.33333em; }
  .RadWizard_Office2007.RadWizard_rtl.rwzHorizontal .rwzLast .rwzLink {
    border-radius: 0.25em 0em 0em 0.25em; }
