.RadSiteMap_Sunset {
  color: #333333;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSiteMap_Sunset .rsmManyLevels > .rsmItem > .rsmLink {
    border-color: #71250a; }
  .RadSiteMap_Sunset .rsmTwoLevels > .rsmItem > .rsmLink, .RadSiteMap_Sunset .rsmThreeLevels > .rsmItem > .rsmLink, .RadSiteMap_Sunset .rsmManyLevels .rsmLevel1 > .rsmItem > .rsmLink {
    border-color: #71250a; }
  .RadSiteMap_Sunset .rsmOneLevel .rsmLink, .RadSiteMap_Sunset .rsmTwoLevels .rsmLevel1 .rsmLink, .RadSiteMap_Sunset .rsmThreeLevels .rsmLevel1 .rsmLink, .RadSiteMap_Sunset .rsmManyLevels .rsmLevel2 .rsmLink {
    border-radius: 4px; }
    .RadSiteMap_Sunset .rsmOneLevel .rsmLink:hover, .RadSiteMap_Sunset .rsmTwoLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Sunset .rsmThreeLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Sunset .rsmManyLevels .rsmLevel2 .rsmLink:hover {
      color: #863d02;
      background-color: #f1d121;
      background-image: linear-gradient(#faef93, #f1d121); }
  * + html .RadSiteMap_Sunset .rsmLink {
    color: #333333; }
