.RadWizard_Sunset {
  color: #272722;
  background: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
.RadWizard_Sunset .rwzButton {
  border-radius: 0.25em;
  background-color: #c5c5c5;
  background-image: url('Common/radGradientButtonSprite.png');
  border-color: #938879;
  color: #3d1400;
  background-color: #ded7c6;
  background-image: linear-gradient(#f1eadf, #ded7c6); }
  .RadWizard_Sunset .rwzButton.rwzHovered {
    background-color: #c6c6c6;
    border-color: #bd8b2b;
    color: #3d1400;
    background-color: #f8e360;
    background-image: linear-gradient(#fbf4c5, #f2dc5e 50%, #f4bf2e 50%, #f8e360); }
  .RadWizard_Sunset .rwzButton.rwzClicked {
    border-color: #ae5403;
    color: #3d1400;
    background-color: #e88d49;
    background-image: linear-gradient(#f3bc8b, #d66b1e 50%, #bd5006 50%, #e88d49); }
  .RadWizard_Sunset .rwzButton.rwzDisabled {
    border-color: #b0b0b0;
    color: #777777;
    background-color: #ded7c6;
    background-image: linear-gradient(#f1eadf, #ded7c6); }
.RadWizard_Sunset .rwzBreadCrumb {
  color: #3d1400; }
  .RadWizard_Sunset .rwzBreadCrumb .rwzLI {
    border-color: #938879; }
  .RadWizard_Sunset .rwzBreadCrumb .rwzLink {
    border: 1px solid #fcfaf7;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: url('Wizard/rwzTab.png') repeat-x 0 50%; }
    @media screen\9 {
      .RadWizard_Sunset .rwzBreadCrumb .rwzLink {
        color: #272722; } }
  .RadWizard_Sunset .rwzBreadCrumb .rwzCallout {
    top: -1px;
    bottom: -1px;
    background: url('Wizard/rwzCallout.png') no-repeat 100% 50%; }
  .RadWizard_Sunset .rwzBreadCrumb .rwzHovered {
    color: #3d1400;
    border-color: #bd8b2b; }
    .RadWizard_Sunset .rwzBreadCrumb .rwzHovered .rwzLink {
      *border-color: #fffdf1;
      border-color: rgba(255, 255, 255, 0.5);
      background-image: url('Wizard/rwzTabHover.png'); }
    .RadWizard_Sunset .rwzBreadCrumb .rwzHovered .rwzCallout {
      background-image: url('Wizard/rwzCalloutHover.png'); }
  .RadWizard_Sunset .rwzBreadCrumb .rwzSelected {
    color: #3d1400;
    border-color: #ae5403; }
    .RadWizard_Sunset .rwzBreadCrumb .rwzSelected .rwzLink {
      *border-color: #fcdcbc;
      border-color: rgba(255, 255, 255, 0.2);
      background-image: url('Wizard/rwzTabSelect.png'); }
    .RadWizard_Sunset .rwzBreadCrumb .rwzSelected .rwzCallout {
      background-image: url('Wizard/rwzCalloutSelect.png'); }
  .RadWizard_Sunset .rwzBreadCrumb .rwzDisabled {
    color: #777777;
    border-color: #938879; }
    .RadWizard_Sunset .rwzBreadCrumb .rwzDisabled .rwzLink {
      *border-color: #fcfaf7;
      border-color: rgba(255, 255, 255, 0.5);
      background: url('Wizard/rwzTab.png') repeat-x 0 50%; }
    .RadWizard_Sunset .rwzBreadCrumb .rwzDisabled .rwzCallout {
      background-image: url('Wizard/rwzCallout.png'); }
.RadWizard_Sunset .rwzProgressBar {
  border-radius: 0.25em;
  border-color: #cabaab;
  background-color: #f6f4ef; }
.RadWizard_Sunset .rwzProgress {
  border-radius: 0.16667em 0em 0em 0.16667em;
  background-color: #e38242; }

.RadWizard_Sunset.rwzHorizontal .rwzFirst {
  border-radius: 0.33333em 0em 0em 0.33333em; }
  .RadWizard_Sunset.rwzHorizontal .rwzFirst .rwzLink {
    border-radius: 0.25em 0em 0em 0.25em; }
.RadWizard_Sunset.rwzHorizontal .rwzLast {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Sunset.rwzHorizontal .rwzLast .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }
.RadWizard_Sunset.rwzHorizontal .rwzFirst.rwzLast {
  border-radius: 0.33333em; }
  .RadWizard_Sunset.rwzHorizontal .rwzFirst.rwzLast .rwzLink {
    border-radius: 0.25em; }
.RadWizard_Sunset.rwzHorizontal .rwzProgressBar {
  background-image: linear-gradient(#e1dac7, #f6f4ef); }
.RadWizard_Sunset.rwzHorizontal .rwzProgress {
  background-image: linear-gradient(#eeb38b, #e38242); }

.RadWizard_Sunset.rwzVertical .rwzFirst {
  border-radius: 0.33333em 0.33333em 0em 0em; }
  .RadWizard_Sunset.rwzVertical .rwzFirst .rwzLink {
    border-radius: 0.25em 0.25em 0em 0em; }
.RadWizard_Sunset.rwzVertical .rwzLast {
  border-radius: 0em 0em 0.33333em 0.33333em; }
  .RadWizard_Sunset.rwzVertical .rwzLast .rwzLink {
    border-radius: 0em 0em 0.25em 0.25em; }
.RadWizard_Sunset.rwzVertical .rwzSelected,
.RadWizard_Sunset.rwzVertical .rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.RadWizard_Sunset.rwzVertical .rwzFirst.rwzLast.rwzSelected, .RadWizard_Sunset.rwzVertical .rwzFirst.rwzLast.rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.RadWizard_Sunset.rwzVertical .rwzProgressBar {
  background-image: linear-gradient(90deg, #e1dac7, #f6f4ef); }
.RadWizard_Sunset.rwzVertical .rwzProgress {
  background-image: linear-gradient(90deg, #eeb38b, #e38242); }

.RadWizard_Sunset.rwzRightBreadCrumb .rwzBreadCrumb .rwzCallout,
.RadWizard_Sunset.RadWizard_rtl .rwzBreadCrumb .rwzCallout {
  background: url('Wizard/rwzCalloutRtl.png') no-repeat 0 50%; }
.RadWizard_Sunset.rwzRightBreadCrumb .rwzBreadCrumb .rwzHovered .rwzCallout,
.RadWizard_Sunset.RadWizard_rtl .rwzBreadCrumb .rwzHovered .rwzCallout {
  background-image: url('Wizard/rwzCalloutHoverRtl.png'); }
.RadWizard_Sunset.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzCallout,
.RadWizard_Sunset.RadWizard_rtl .rwzBreadCrumb .rwzSelected .rwzCallout {
  background-image: url('Wizard/rwzCalloutSelectRtl.png'); }

.RadWizard_Sunset.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzFirst,
.RadWizard_Sunset.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzFirst {
  border-radius: 0em 0.33333em 0em 0em; }
  .RadWizard_Sunset.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzFirst .rwzLink,
  .RadWizard_Sunset.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzFirst .rwzLink {
    border-radius: 0em 0.25em 0em 0em; }
.RadWizard_Sunset.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzLast,
.RadWizard_Sunset.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzLast {
  border-radius: 0em 0em 0.33333em 0em; }
  .RadWizard_Sunset.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected.rwzLast .rwzLink,
  .RadWizard_Sunset.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected.rwzLast .rwzLink {
    border-radius: 0em 0em 0.25em 0em; }
.RadWizard_Sunset.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast,
.RadWizard_Sunset.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Sunset.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast .rwzLink,
  .RadWizard_Sunset.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzSelected .rwzFirst.rwzLast .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }

.RadWizard_Sunset.RadWizard_rtl.rwzHorizontal .rwzFirst {
  border-radius: 0em 0.33333em 0.33333em 0em; }
  .RadWizard_Sunset.RadWizard_rtl.rwzHorizontal .rwzFirst .rwzLink {
    border-radius: 0em 0.25em 0.25em 0em; }
.RadWizard_Sunset.RadWizard_rtl.rwzHorizontal .rwzLast {
  border-radius: 0.33333em 0em 0em 0.33333em; }
  .RadWizard_Sunset.RadWizard_rtl.rwzHorizontal .rwzLast .rwzLink {
    border-radius: 0.25em 0em 0em 0.25em; }
